[2018-02-16 21:42] wyattjoh commented on #1022
From my read of this warning, it's coming from an external package.

My best guess at a direction to take is to remove all `console.log` statements at build in production mode. Feel free to take a stab at if you like @nikoferro =D

[2018-02-16 22:09] DHorse2 opened #1375 "Re your development team performance..."
As an observer (commenter, evaluator) doing this on a time available basis (30 min / week),
### Expected behavior
Measurable, observable improvement in features and bug issues.
Ownership.
Clear communications.
### Actual behavior
I don't see any problems so far.
### Steps to reproduce behavior
Compliment staff on doing a good job.

Good job.
This issue is closed.

[2018-02-16 22:24] kitwestneat opened #1376 "Signing up via Facebook silently fails if user with same name already exists"
When a user signs up to Talk via Facebook, a new user is created with the username in the format <Firstname>_<Lastname>. If a user already exists with that username, the sign up will silently fail, with only a error message in the browser console.

[2018-02-16 22:25] kitwestneat commented on #1376
One possible solution might be to add a random number to the autogenerated name if there is collision.

[2018-02-16 22:32] kgardnr commented on #1375
Thank you for the kind feedback @DHorse2! Have a great weekend!

[2018-02-16 22:32] #1375 closed, assigned to nobody

[2018-02-18 19:16] shyam528 opened #1379 "TALK_ROOT_URL must be provided"
Have  set the  TALK_ROOT_URL from terminal, still getting error  TALK_ROOT_URL must be provided

### Expected behavior

### Actual behavior

### Steps to reproduce behavior

[2018-02-19 03:33] tomasdev commented on #1370
@wyattjoh I would love to help, how can I?

[2018-02-19 20:44] jheasly opened #1385 "View Context link doesn't work on Comments held in Reported because of Trust"
### Expected behavior
In cases where a comment lands in `Reported` because of a low `Trust` score, the `View Context` link should either **1.)** take you to the spot in the comment tree the comment would appear, or **2.)** the `View Context` link should be disappeared (because there is no context to see as the comment hasn't been posted yet).

### Actual behavior
Clicking the `View Context` link j

[2018-02-19 22:00] jheasly commented on #1385
Also, we do have comments hidden by default, but this doesn't seem to cause any problems w/ the `View Context` link on flagged/reported comments.

[2018-02-20 15:58] leeeandroo opened #1386 "Live updates on version 4.2.1"
### Expected behavior
When one user send a comment, all users with the page opened in the same story show a live update message that there is a new comment.

### Actual behavior
On this new version, there is no notification on embed stream. On `4.2.0` It works.

### Steps to reproduce behavior
- Run talk on version `4.2.1`
- Open two different browsers with the same story opened
- Send a comment
-

[2018-02-20 16:05] kgardnr commented on #1379
Hey @shyam528! Do you have a .env file set up with the required configuration set: https://coralproject.github.io/talk/configuration/

[2018-02-20 16:08] kgardnr commented on #1385
This is an interesting edge case - thank you for finding this @jheasly! We will discuss with the team and get back to you on this.

[2018-02-20 16:09] shyam528 commented on #1379
Yeah, it's working now..

On 20-Feb-2018 9:35 PM, "Kim Gardner" <notifications@github.com> wrote:

[2018-02-20 16:15] kgardnr commented on #1386
Thanks for reporting this @leeeandroo, we are reviewing now!

[2018-02-20 16:18] kgardnr commented on #1379
Ok great! Thanks @shyam528! Welcome aboard!

If you're interested in using Talk for a specific newsroom, let us know cause we can help you with integration and training. And same if you're looking to contribute as a developer. We're here for you!

[2018-02-20 16:18] #1379 closed, assigned to nobody

[2018-02-20 16:48] kgardnr commented on #1386
This is a bug @leeeandroo, we have a hotfix (4.2.2) going out shortly. Thanks so much for reporting this!

[2018-02-20 16:48] #1386 closed, assigned to nobody

[2018-02-20 19:10] kgardnr commented on #1347
Hey @KaivG, have you been able to get Talk up and running?

[2018-02-20 20:34] aguilarm opened #1389 "Add WYSIWYG/Rich Text Editor for Comments"
Hi!  I'm most likely going to use Coral Talk to replace an existing Drupal commenting system, and one thing I'm interested in adding is a WYSIWYG editor of some sort.  Drupal uses CKEditor, so I've had a go at adding that to Talk.

I've forked talk and [made a branch here](https://github.com/favish/talk/tree/ckeditor).

I noticed that this is already on your roadmap.  I'd like to get feedback on t

[2018-02-20 22:12] okbel commented on #1389
Hey Mika! Woah! It feels good to replace Drupal right? haha :)
I'm currently working on this one -  https://www.pivotaltracker.com/story/show/150495261

There are a couple of constraints:
- It needs to be a plugin (So we can choose whether to turn it on or off)
- The editor has to be lightweight (Mobile is key for us)
- We can consider HTML/Markup/other options but as long as it's a safe option

I

[2018-02-21 15:23] aguilarm commented on #1389
@okbel

Cool, noticed your [pull request](https://github.com/coralproject/talk/pull/1391) creating a slot to replace the textarea, that looks great!

I can most likely use that to add in CKEditor or try out pell.  I suppose I can come back to this once that  PR has been merged and adjust my implementation to a plugin now that the slot will be in core.

[2018-02-21 15:28] okbel commented on #1389
Sure! Feel free to come back or pull that branch and try making it with CKEditor.

Thanks for your interest on making Talk awesome (:

[2018-02-21 15:28] #1389 closed, assigned to nobody

[2018-02-21 23:32] kardamom opened #1392 "Creating users via CLI?"
I see the ability to create a new user via bin/cli-users was removed as part of this commit: https://github.com/coralproject/talk/commit/62603395089af8859c9c3b89837811270b0beebe

Is there another way I can create a user outside the web client?

The trouble is I've integrated my own auth system, which uses my integer ids as talk profile ids, rather than email addresses. This is fine for non-admin u

[2018-02-21 23:56] kgardnr commented on #1392
Hey @kardamom, thanks for writing! You can create users via your own Sign Up flow on the stream, and then change their role to an Admin by using:

`bin/cli users set-role <USERID> ADMIN`

You can find the USERID by using:

`bin/cli users list`

Let me know if that helps!

Also we'd love to know where you're using Talk!

[2018-02-22 00:05] kardamom commented on #1392
Thanks @kgardnr - I've managed to do that, but as it stands I don't pass the email address to talk when I create a user in my plugin. And that address is required to login to the moderation console. I could of course rewrite my code to use email rather than an internal id as the talk profile id, but I'd rather not have to.

I'm using Talk for a so-far stealth startup :) I was planning on writing u

[2018-02-22 00:30] kardamom commented on #1392
I realise that if I manage to do what I want - create an admin user with an email address in the talk db, but leave my own users identified by my own ids - that the admin user then won't be able to login to my site and be automatically logged in to talk, but that's fine by me - I'm happy having moderators in a separate system.

[2018-02-22 01:27] kgardnr commented on #1392
Ohhhh hmm... could you show me where your stream is embedded so I can take a look?

[2018-02-22 01:40] kardamom commented on #1392
Is that a bad 'hmm'?

I can't show you, sorry - the site is in development, pre-beta, locked down.

I could share my plugin code if that helps.

I'm considering propagating the email address. Though that'll entail more work to keep each address in sync if they're changed on my site.

[2018-02-22 01:42] kgardnr commented on #1392
Ha, no just a thinking "hmm".

Yeah we would definitely recommend using email addresses then - it's a key part of Talk currently.

[2018-02-22 15:02] nikoferro commented on #1022
@wyattjoh sorry for the late reply, been disconnected the last few days. I ll take a shot at this one!

[2018-02-22 19:22] meddy opened #1393 "Error On Logout When Auth Token Is Passed Into Render Config"
### Expected behavior
If you pass an auth token into the stream embed render function you should be able to programmatically logout afterwards.

[code]

### Actual behavior
When you logout the comment stream crashes with an auth error "token has been revoked."

I think the issue is [this line](https://github.com/coralproject/talk/blob/master/client/coral-framework/services/bootstrap.js#L39). If th

[2018-02-22 23:00] wyattjoh commented on #1393
Thanks for reporting the issue!

Tracking here: https://www.pivotaltracker.com/story/show/155451710

[2018-02-23 08:34] leeeandroo opened #1396 "Feature Idea: Live updates in premod and for comment owner"
As a commenter, I'd like to have live updates if my comment was approved by moderation.
We are using our moderation API, then on `post` from `createComment`, we approve/reject comment according of the API response.

### Expected behavior
When I send my comment it will start by PREMOD. Then the application ask API and setStatus to `ACCEPTED` or `REJECTED` using the response from an external API. If

[2018-02-23 19:20] #1022 closed, assigned to nobody

[2018-02-23 20:07] #1392 closed, assigned to nobody

[2018-02-23 20:08] kgardnr commented on #1372
Added via #1373. Great work @kitwestneat!

[2018-02-23 20:08] #1372 closed, assigned to nobody

[2018-02-23 20:08] #1347 closed, assigned to nobody

[2018-02-23 20:09] kgardnr commented on #1263
Hey @jonwinton are you still experiencing this issue?

[2018-02-23 20:17] kgardnr commented on #1049
This is fixed

[2018-02-23 20:17] #1049 closed, assigned to nobody

[2018-02-23 20:18] kgardnr commented on #1051
This is fixed!

[2018-02-23 20:18] #1051 closed, assigned to nobody

[2018-02-23 22:31] kgardnr commented on #1370
Hey @tomasdev, wanna take a look at some of our new docs? We would love if you could let us know what's missing!

Currently in an open PR, you can view the Plugin/Server API docs here: https://github.com/coralproject/talk/blob/627170a970bd3c5f2bc0c9a91a66d3b4248226ad/docs/source/reference/server.md

PR is here: https://github.com/coralproject/talk/pull/1399

[2018-02-23 22:35] kgardnr commented on #1396
Hey @leeeandroo, we don't have any plans currently to allow commenters to see if their comment was approved or rejected in real-time.

Good point on making pre-mod approved comments update the stream in real-time. I'll bring this up with the team!

[2018-02-24 06:32] tomasdev commented on #1370
@kgardnr you are AWESOME pal!

This is extremely useful, seriously good work. It really did help me and I've added some questions to the open PR (inside the server.md file) and would add anything else that occurs to me. Let me know if that's not the best place to suggest.

Update: also noticed there's no `client.js` counterpart for the new docs... (`slots, mutations, fragments` are all key pieces

[2018-02-26 18:29] aguilarm opened #1404 "TRUST_THRESHOLD Configuration"
### Expected behavior
I think the Trust concept is cool, but I would expect it to be either disabled by default or available for configuration in the Talk Admin interface.  It does not seem to be something that a sysadmin should be concerned with.  If enabled by default, settings and behavior of feature should be discoverable by moderators.  This could be either in **Configure**>**Moderation Setti

[2018-02-26 18:32] kgardnr commented on #1404
Hey @aguilarm - yep, we do want to get to this in the future for sure - it's just about finding the time to prioritize it.

If this is something you need, we would *love* if you decided to contribute it. If you wanted to propose a solution, our team and chime in with any feedback, and then you can be off to the races :)

[2018-02-26 19:30] aguilarm commented on #1404
@kgardnr

Cool, I think we're mostly going to be banning users instead of moderating individual comments so this is not immediately pressing.  Noticed the behavior when we were poking around and didn't see an issue on the repo yet.

I may come back to this if it becomes an issue for moderators when we start using Talk in the wild.

I would suggest disabling this feature by default until it is more

[2018-02-26 20:19] kgardnr commented on #1404
Make sure you read the Docs and especially the Product Guide, when you're getting acquainted with the full suite of Talk features - https://coralproject.github.io/talk/how-talk-works/

A lot of the parts we have built into core (vs making it easily swappable, like in our non-default plugins and recipes - https://coralproject.github.io/talk/additional-plugins/), is because we have done copious amou

[2018-02-26 20:21] kgardnr commented on #1404
You can also follow our product backlog on Pivotal - https://www.pivotaltracker.com/n/projects/1863625

This is where we plan our sprintly product work and manage our roadmap.

[2018-02-26 22:02] alinhle commented on #1393
@meddy Good job, thanks for this accurate bug report! I opened up a PR to fix this #1405

[2018-02-26 22:16] aguilarm commented on #1404
@kgardnr

Ahh, [found the task in pivotal](https://www.pivotaltracker.com/story/show/147300991) and the [trust docs](https://coralproject.github.io/talk/trust/).

With all that considered, popping this configuration into the admin ui and [this task to show karma in the moderation ui](https://www.pivotaltracker.com/story/show/154483779) would take care of all of my concerns.

If it works better for

[2018-02-26 22:22] kgardnr commented on #1404
Cool, thanks for the feedback! Keep us posted as you roll out Talk, we love to see how people are using it! <3

[2018-02-26 22:22] #1404 closed, assigned to nobody

[2018-02-27 20:30] #1393 closed, assigned to nobody

[2018-03-02 19:39] acheraime opened #1414 "Talk 4.2.2 GraphQl error with TALK_PLUGINS_JSON"
I'm about to register a few plugins on 4.2.2. The client page will keep spinning with a GraphQL error even with an empty object passed to TALK_PLUGINS_JSON.
Here's a snippet of my docker-compose.yml
[code]

[2018-03-02 19:44] kgardnr commented on #1414
Hey @acheraime! Thanks for writing in. Can you share what your `plugins.json` file looks like?

[2018-03-02 19:56] acheraime commented on #1414
@kgardnr Thanks for your quick reply. See my plugins.json in attachment.
[plugins.js.txt](https://github.com/coralproject/talk/files/1776405/plugins.js.txt)
mybad! I don't have a plugins.json. My plugins are register via the TALK_PLUGINS_JSON env variable in my docker-compose.yml file.

[2018-03-02 20:48] kgardnr commented on #1414
Oh great, thanks for sharing that with me.

Since you're using custom plugins, you'll need to go the Onbuild route, documented here: https://coralproject.github.io/talk/installation-from-docker/#onbuild

I'll explain the steps below for you.

Within the directory you have talk, create a new folder called `talk`. In that folder created a `plugins.json` that looks like this:

[code]

You'll also nee

[2018-03-03 04:44] tc-mccarthy opened #1416 "tokenUserNotFound hook isn't firing"
### Expected behavior
I have created a plugin with the following structure:
[code]

#### index.js
[code]

#### notfound.js
[code]

when firing `embed.login(<token>)` I expect my node console to light up with a "NOT FOUND" so that I can move on to enhancing this process to create the user based on the login information in my website's database.

### Actual behavior
express is returning a 204 and th

[2018-03-03 18:31] tc-mccarthy commented on #1416
I figured it out. The issue was that my token wasn't verifying correctly and so it was never bubbling up to the Passport JWT strategy.

When generating your own token, [your payload needs to include](https://tools.ietf.org/html/rfc7519#section-4.1.3):

[code]

[2018-03-03 18:31] #1416 closed, assigned to nobody

[2018-03-04 00:22] jmuzsik commented on #1034
Hi! I'd be willing to do this

[2018-03-04 14:41] kitwestneat opened #1417 "if an error occurs while scraping, an asset should be rescraped at a later date"
As an admin, I don't want talk to use invalid asset data.

The current behavior is that if Talk is triggered on a post that is not yet public, the asset gets added with the title Page Not Found. It does not seem to be rescraped by Talk until a refresh is manually triggered.

The behavior I expect is that Talk would not set the asset data if the scrape results in an error. Alternatively, if there w

[2018-03-05 14:28] acheraime commented on #1414
Thank you. I've followed all the steps above. When I do docker-compose up  it fails with below error.

[code]

Thank you so much for your help.

[2018-03-05 14:56] kgardnr commented on #1414
Thanks @acheraime. I think we should do a dev session with you and your team to get you up and running.

Can you send an email to support@coralproject.net and I'll get that going?

[2018-03-05 14:57] kgardnr commented on #1414
Actually Jeff from our team is going to reach out to your colleague Eli.

[2018-03-05 14:58] acheraime commented on #1414
Jeff can reach out to me directly.

[2018-03-05 15:02] kgardnr commented on #1414
Sounds good - also, what's your timeline for launching Talk?

[2018-03-05 15:05] acheraime commented on #1414
I was able to fix the issue. I had to remove the -TALk_PLUGINS_JSON  from my docker compose environment hash.
I think we should launch by the end of this month.

[2018-03-05 15:10] kgardnr commented on #1414
Ah, nice one!

And end of the month sounds great - Jeff can schedule a session with our team and yours, so we can make sure you have everything you need! Looking forward to it!

[2018-03-05 15:10] #1414 closed, assigned to nobody

[2018-03-05 16:31] wyattjoh commented on #1417
While we currently don't have an exposed API for triggering a rescrape, it would be simple enough to add the following plugin (roughly sketched):

[code]

[2018-03-05 19:03] kgardnr commented on #1417
Hey @kitwestneat, we're adding this to core as well - wanna take a look? https://github.com/coralproject/talk/pull/1418/files

[2018-03-05 21:28] #1370 closed, assigned to nobody

[2018-03-07 21:44] kitwestneat commented on #1417
That looks like it could work. Ideally we'd have it be a server to server call. Is there a good/recommended way to do that?

[2018-03-07 21:45] wyattjoh commented on #1417
Of course! You can generate a token using the cli, and then use that token to issue the graph call to the server (via cURL or other).

[2018-03-08 22:32] kitwestneat commented on #1417
ok great, it seems to be working. just out of curiosity, do you know if there are other Talk installations using wordpress? I'm surprised this hasn't been an issue for other folks.

[2018-03-08 22:38] kitwestneat commented on #1376
I had a patch to fix the error message part of this bug, but the auth system keeps changing too fast, so I'll put that on hold.

I'll work on adding a random number because this seems like a pretty bad bug actually. It makes it impossible for two people with the same name to sign up using FB or Google.

[2018-03-08 23:23] kitwestneat opened #1426 "Event service no longer exists, not sure how to trigger on events now"
We have a plugin that relies on the USER_NEW event, but it looks like events are completely gone in master. Is there a replacement planned, or any alternate method to trigger when a new user is created?

[2018-03-08 23:25] kgardnr commented on #1426
Hey @kitwestneat are you pulling directly from master and running that in production?

[2018-03-08 23:27] kgardnr commented on #1426
We will be making changes to the event service with 4.3.0 which will add notifications. Here's the PR you can review: https://github.com/coralproject/talk/pull/1350

If you're running off master, you might get breaking changes, as we push new code there nearly hourly some days :)

We recommend you use the releases which are tested and documented.

[2018-03-08 23:27] kitwestneat commented on #1426
we aren't running it on master, but we are developing against it. I'll check out the PR, thanks!

[2018-03-08 23:30] kgardnr commented on #1426
Gotcha! Ok, great - let us know if you have any questions!

[2018-03-09 15:07] kitwestneat commented on #1426
It looks like the user creation event is not part of the pubsub subscription endpoints. Are there plans to add that functionality back in through some other method?

[2018-03-09 21:11] smarkwell opened #1429 "DockerHub coralproject/talk has a broken link to install instructions."
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

Docker documentation on DockerHub should be accurate

#### Actual outcome:

The link to INSTALL.md is broken and not in GitHub
This should either be pointed to existing documentation such as https://coralproject.github.io/talk/installation-from-docker/ or new documentation

#### How to reproduce the issue:

[2018-03-09 21:22] wyattjoh commented on #1429
It should be updated! We've just recently been moving our docs, see https://docs.coralproject.net/talk/installation-from-docker/.

[2018-03-09 21:22] #1429 closed, assigned to nobody

[2018-03-12 23:02] wyattjoh commented on #1426
The subscription should be available with the referenced PR. An example of how to plugin to that is also provided in the PR details @kitwestneat 😄

[2018-03-13 16:22] kitwestneat commented on #1426
great, thanks!

[2018-03-13 16:22] #1426 closed, assigned to wyattjoh

[2018-03-13 20:19] acheraime opened #1444 "New custom build will fail with slack-notification plugin"
#### Do you want to request a **feature** or report a **bug**?
No

#### Intended outcome:
Custom build with additional plugins

#### Actual outcome:
build will fail  with below error
[code]

#### How to reproduce the issue:
Build talk from scratch make sure to delete any cached image. Try with slack-notification plugin included.

#### Version and environment
Unbuntu xenial, CentOS 7
talk latest

[2018-03-13 22:00] wyattjoh commented on #1444
Great catch! Will address shortly.

[2018-03-13 23:10] #1444 closed, assigned to nobody

[2018-03-14 00:58] wyattjoh commented on #1417
There are, but we don't have any metrics.

[2018-03-14 00:58] #1417 closed, assigned to nobody

[2018-03-21 03:07] ollyd opened #1459 "Story title never gets assigned for posted comments"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

When moderating comments in the admin console, I expect to be able to see the story headline from which the comment was posted. This should come from the `asset_title`, but that variable never gets assigned.

#### Actual outcome:

Until recently, the 'Story' field remained blank, but with a recent change it

[2018-03-21 20:46] wyattjoh commented on #1459
I wasn't able to replicate the error on master right now. Check your server logs to see if you have any errors related to asset scraping, and that the URL is publicly accessible.

[2018-03-22 16:30] TBeijen opened #1472 "Crash on double embed.logout(), resulting from DELETE /api/v1/auth without authorization header"
Talk version: 4.2.2
Steps to reproduce: Calling ``embed.logout()`` twice.

----

When calling ``.logout()`` twice on the object returned by ``Coral.Talk.render()``, the application crashes

First call issues a request to backend that translates to (copied as curl, irrelevant headers removed for readability):

[code]

Backend request from second ``.logout()`` has no Authorization header:
[code]

An

[2018-03-22 17:55] kgardnr commented on #1472
This will be fixed in 4.3.0. 🎉

[2018-03-22 17:55] #1472 closed, assigned to nobody

[2018-03-23 00:33] ollyd commented on #1459
Yeah you're right, it turns out that we need to use a proxy for the scraper to access our site. Happy to close this.

Out of curiosity, do you know the rationale for using a scraper to get the title?

[2018-03-23 17:09] wyattjoh commented on #1459
A scraper lowers the burden for adopting the system, as most newsrooms don't have full control over their CMS, they can't push in asset metadata. Good to know you found the issue though!

[2018-03-23 17:09] #1459 closed, assigned to nobody

[2018-03-23 19:34] icco opened #1480 "Set a useragent on story metadata grabber"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

Search our logs for requests made by coral talk to get metadata of stories. I'd expect to be able to find something like Coral Talk in the useragent string of requests made.

#### Actual outcome:

We don't collect IPs (for a variety of reasons), so UserAgent is the only piece of data I have to search for T

[2018-03-23 19:44] icco commented on #1480
Right now the useragent is `"https://github.com/blakeembrey/popsicle"`, as talk is using an old version of metascraper which still does the scraping:  https://github.com/microlinkhq/metascraper/blob/1.0.7/lib/index.js#L26-L32

The current docs (https://metascraper.js.org/#/?id=usage) suggest you scrape yourself, thus being able to set the user-agent when you scrape at https://github.com/coralproje

[2018-03-23 20:13] icco commented on #1480
Also, is there a way to force coral to rescrape all of our stories?

![screen shot 2018-03-23 at 3 59 39 pm](https://user-images.githubusercontent.com/20201/37851414-22825326-2eb5-11e8-93d5-08a81dea5d0c.png)

We have this currently on one of our dev servers because of an auth issue.

[2018-03-23 21:29] wyattjoh commented on #1480
Love. This. Idea.

I'm prepping a PR to resolve this, and upgrading our metascraper!

[2018-03-23 22:06] wyattjoh commented on #1480
If you want to force a scrape now, you can run `./bin/cli assets refresh 1yr` to force the re-scrape. Checkout the scraper PR #1481 that should make your suggested improvements!

[2018-03-27 16:17] DHorse2 commented on #1250
@ehalferty your enhancement is perfectly acceptable and addresses the largest complaint in the community. Please allow me to provide some technical feedback on the issue directly related to user experience.

In short this solution:
If CommentNesting > MaxNesting Then Dispaly RespondingTo

This addresses user confusion over who a reply is addressed to when nesting is no longer a visual clue. Howeve

[2018-03-27 16:22] DHorse2 commented on #1250
**ignore this note** **(off topic)**
I had some problems with the comment software writing the above.  The comment did not actually post though it showed on this page. Also, note the problem I had above adding and removing bullets when I pasted text and re-added the bullets trying different formats. I used the text edit control not Markdown.

[2018-03-29 12:28] davisshaver opened #1497 "JS error encountered during 4.3.0 upgrade"
## Bug report
Upgrade repo to `v4.3.0`.

In local and [staging](talk-staging.phillypublishing.com) environments, receive this error after successful login:
[code]
![screen shot 2018-03-29 at 8 27 44 am](https://user-images.githubusercontent.com/1636964/38088808-2902929a-332b-11e8-8376-2b61089d4d98.png)

[2018-03-30 15:49] losowsky opened #1499 "Docs change required around notifications"
Need to make this change to docs:

#### Do you want to request a **feature** or report a **bug**?

[2018-04-02 17:43] #1480 closed, assigned to nobody

[2018-04-02 18:41] wyattjoh commented on #1497
Can you try compiling for your local staging/development environment with `yarn watch:client` so that the stacktrace can contain some more useful filenames? That way we can see where the issue is happening.

[2018-04-03 16:52] kitwestneat opened #1505 "cli assets refresh doesn't call scraper.create with correct # of arguments"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:
When I run `cli assets refresh 0` I'd like the assets to be rescraped.

#### Actual outcome:
When I try to queue assets for rescraping by running `cli assets refresh 0`, I get a TypeError:
[code]

The issue seems to stem from a change made in commit 435067f619, which added a ctx parameter to services/scraper

[2018-04-04 20:10] icco opened #1508 "Feature Idea: Add prometheus metrics"
#### Do you want to request a **feature** or report a **bug**?

Feature

#### Intended outcome:

I'm trying to get metrics about how our system is performing. Things like comments per minute, requests per second, request latency, request error counts. Total comments. Stuff like that.

#### Actual outcome:

There is no metrics system implemented.

#### How to reproduce the issue:

#### Version and

[2018-04-05 16:00] wyattjoh commented on #1508
We definitely have this on our roadmap! Already a Prometheus fan, so this seems achievable.

[2018-04-05 16:05] icco commented on #1508
Awesome, we're rolling it out across our infra, so if it just showed up, that'd be awesome :D

[2018-04-05 20:57] davisshaver commented on #1497
Yes, here is a new stack trace.

[code]

I tried to debug in `valueToObjectRepresentation()`.  Not sure how helpful this screenshot will be.

![screen shot 2018-04-05 at 4 53 38 pm](https://user-images.githubusercontent.com/1636964/38391534-7b7e9d1c-38f2-11e8-9dc5-2d6330d236d4.png)

[2018-04-09 15:11] #1505 closed, assigned to nobody

[2018-04-10 02:45] larrylizhao opened #1514 "Adding more admin accounts for moderation"
#### Do you want to request a **feature** or report a **bug**?
Feature

#### Intended outcome:
To have more than one admin accounts for moderation.

#### Actual outcome:
Currently I can only have one account to login and do the moderation. In the login page, can not find the entry to register another account.
<img width="1280" alt="talk admin" src="https://user-images.githubusercontent.com/9674627

[2018-04-11 21:31] cecilebertin opened #1520 "Talk iframe not displayed when cookies disabled in Firefox"
#### Do you want to request a **feature** or report a **bug**?

Report a bug

#### Intended outcome:

I was trying to find out, why we have so little comments on https://internethealthreport.org/2018/

The comment section should still show when disabling cookies.
<img width="360" alt="capture d ecran 2018-04-11 a 14 21 47" src="https://user-images.githubusercontent.com/21285660/38643977-e40b6536-3

[2018-04-11 21:33] cadecairos commented on #1520
Here's the JS error thrown in console when cookies are disabled in Firefox:

[code]

[2018-04-12 14:16] cristiandean opened #1524 "Extra user information in each comment"
Hello

 I am creating a plugin and I want get more  informations about the user in each comment. Today I have only {id, username}. I wold like have user.profiles.metadata.displayName that was created by my plugin.

Thanks in advance

[2018-04-12 17:02] wyattjoh commented on #1524
If you include the `displayName` into the comment, you can also override the resolver for the username to have it substitute in the `displayName`:

[code]

See our [server side plugin api](https://docs.coralproject.net/talk/api/server/#resolvers) for other features like that. If you want to include more information in the graph request, that's a different story.

[2018-04-12 17:13] cristiandean commented on #1524
It's work! Thank you!

[2018-04-12 17:52] #1524 closed, assigned to nobody

[2018-04-12 18:59] wyattjoh commented on #1520
Thanks for the report @cecilebertin! We have a fix in the works that'll be merged and released soon!

[2018-04-12 19:50] #1520 closed, assigned to nobody

[2018-04-12 20:16] wyattjoh commented on #1520
The issue should be resolved in our latest release https://github.com/coralproject/talk/releases/tag/v4.3.2

[2018-04-13 13:56] LEAFERx opened #1527 "How to install and configure talk remotely"
My server doesn't have GUI desktop so I can't install it directly with my server
But I can't install using ip:3000 because it request 127.0.0.1 files
How can I install and configure talk remotely?

[2018-04-13 15:03] LEAFERx commented on #1527
Solved by change the environment TALK_ROOT_URL. Sorry for my carelessness.

[2018-04-13 15:03] #1527 closed, assigned to nobody

[2018-04-16 20:30] icco opened #1529 "Add author_id index?"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

I was looking at the mongodb atlas and it suggested adding an index, I normally expect to see no indexes suggested.

#### Actual outcome:

This list of recommended indexes.

<img width="1135" alt="screen shot 2018-04-16 at 12 57 42 pm" src="https://user-images.githubusercontent.com/20201/38833396-60e3a4da-

[2018-04-17 18:30] wyattjoh commented on #1529
Great point! We do create indexes in Talk, but as we aren't database admins, it would be premature of us to add indexes where we haven't verified the gain for the end user.

Given your details, we're happy to add the index 😄.

Expect a PR to land soon to add the index, feel free to accept Atlas's suggested index create step.

[2018-04-18 09:48] hellp opened #1534 "Feature Idea: Remove comments"
# Feature Idea: Remove comments

## Use case

- As a normal user (commenter) I want to remove my own comments.
- As a moderator I want to remove user comments while still keeping them in the stream as an "anchor" for replies etc.

While this looks like 2 use-cases, from our point of view it is one. We want a feature where *removing* an *accepted* comment keeps it visible in the stream while overwr

[2018-04-18 20:32] #1529 closed, assigned to nobody

[2018-04-24 12:54] hellp opened #1540 "Feature Idea: (temporarily) disable commenting site-wide (read-only switch)"
- As an admin I want a switch in the settings interface that disables commenting on the whole site, i.e. existing comments will remain readable but writing new comments (also replies) would not be allowed.
- Additionally I want to provide a short text that will appear instead of the comment input field. (E.g. "Commenting has been temporarily disabled.")

Use cases:

- technical issues in the autom

[2018-04-25 19:24] kgardnr commented on #1508
As a sidebar this would be an awesome plugin - maybe there is an existing npm package or other library we could hook into?

[2018-04-25 19:33] kgardnr commented on #1497
Are you still seeing this @davisshaver?

[2018-04-25 19:34] #1263 closed, assigned to nobody

[2018-04-25 19:34] kgardnr commented on #1034
Fixed

[2018-04-25 19:34] #1034 closed, assigned to nobody

[2018-04-25 19:36] kgardnr commented on #1253
We've added support for this as an env variable, closing this ticket!

[2018-04-25 19:36] #1253 closed, assigned to nobody

[2018-04-25 19:37] kgardnr commented on #1514
Hi @larrylizhao! Apologies for delay here.

We don't currently have a way to invite more admins - but what you can do is have them sign up for accounts on the stream and then upgrade their role in the Community tab.

[2018-04-25 19:37] #1514 closed, assigned to nobody

[2018-04-25 19:40] kgardnr commented on #1534
Thank you for this detailed feature suggestion @hellp! I will review with the team and get back to you.

[2018-04-25 19:42] kgardnr commented on #1540
Same here @hellp! Will get back to you on this.

[2018-04-25 20:45] kgardnr commented on #1534
Hey @hellp! Got feedback from our team - we think this is a great idea to introduce into core. Here is how we think we would approach this - broken into 4 stories - 2 based on above and 2 additional enhancements:

**DELETE MY COMMENT** | As a commenter, I want to delete my comment so that it doesn't show publicly anymore

    - Creates a tombstone
    - The Delete button is probably in the Edit bu

[2018-04-25 22:32] losowsky commented on #1540
Thanks @hellp! We think this would be a good thing to add to core. We'd suggest adding another text box, like the "closed comments message" for after the time limit expires on keeping comments open, for writing the message.

Let us know what you need from us!

[2018-04-26 09:18] larrylizhao commented on #1041
Hi @wyattjoh
I'm a developer from WSJ and we are developing the CN version of WSJ.
So I'm following the instructions in the doc to get talk in Chinese, but after the image built and run, it's still in English.
My Dockerfile is as follows:

FROM coralproject/talk:4.3.2

COPY . /usr/src/app
ENV TALK_DISABLE_EMBED_POLYFILL TRUE
ARG TALK_DEFAULT_LANG=zh_CN
\# Also tried
\# ENV TALK_DEFAULT_LANG=zh_CN

[2018-04-26 14:40] hellp commented on #1534
The tombstone templates would be configured/stored in `<root>/config.js` for now, right? I.e. configurable per instance, but static.

[2018-04-26 14:52] hellp commented on #1534
When keeping the original comment available for moderators to read, where would we store both texts?

We thought of this approach: copy `comment.body` to `comment.metadata.removed_body` and then replace `comment.body` with the tombstone template. We feel that it's more "secure" from a privacy POV to get the offensive text out of `comment.body` forever.

- Or would we rather add a distinct new fiel

[2018-04-27 01:56] larrylizhao commented on #1514
@kgardnr I see, I'll try to do it that way, thanks!

[2018-04-29 13:59] davisshaver commented on #1497
Yes I am... I have tried to debug/merge a few times now but currently still stuck on `v4.2.2`. Any advice on further debugging? I guess it may be something particular to my database....

[2018-04-30 18:22] cristiandean opened #1553 "Is Category Moderation Possible?"
Hello, I would like to know if there is a possibility of filtering comments by assets categories in the Coral Talk administration. Is there any feature that allows you to add a certain moderator to moderation of comments only from a particular category? Like for example:

Comments of ** sports ** are moderated by ** Moderator 1 **.
Comments for ** entertainment ** are moderated by ** Moderator 2 *

[2018-04-30 19:19] wyattjoh commented on #1041
It may be the case that your web browser is still sending the wrong language to Talk, as it will try to get the browsers current language when you load the page.

[2018-04-30 19:20] wyattjoh commented on #1553
We've discussed it as a feature, but we haven't planned the feature yet.

[2018-04-30 19:40] wyattjoh commented on #1534
We've implemented a piece of this in our GDPR feature for deleting the users whole accounts: https://github.com/coralproject/talk/pull/1536 but we don't preserve any of the data in a `removed...` field, instead we purge all the associated data permanently. This to us represents the safest from a privacy standpoint.

I also feel that the rejecting feature best suits the needs for moderators to remo

[2018-04-30 20:01] #1499 closed, assigned to nobody

[2018-05-01 19:55] icco opened #1558 "Cannot read property 'hget' of undefined"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

Our organization name should have changed

#### Actual outcome:

#### How to reproduce the issue:

[code]

#### Version and environment

We're using 4.3.2.

Our dockerfile is

[code]

And we're running in ECS.

Our redis is 3.2.10 on Elasticache

Mongodb is 3.4.14 on mongo atlas

[2018-05-02 12:35] hellp commented on #1534
@wyattjoh
Sorry, I don't get this part.

You think that Reject should remain the only possibility for moderators to remove user comments? What about the remove-with-a-note feature? (Maybe it's just my confusion with all the remove/delete/reject terminology.)

[2018-05-02 16:22] kgardnr commented on #1558
Nat, can you test this PR and let us know if it solves your issue? Thank you!! https://github.com/coralproject/talk/pull/1559

@icco

[2018-05-02 17:35] wyattjoh commented on #1534
In Talk, there are two ways that prevent comments from being visible to normal users:

1. **Rejecting** a comment
2. **Deleting** a comment

Rejecting a comment rather than deleting it has some advantages:

- We retain the user details on who wrote the comment
- We retain the comment text
- We hide all replies to the rejected comment, which often times will devolve and lose context as a conversati

[2018-05-02 18:54] tcmal commented on #1534
So if the comment is deleted because someone deleted their accuont, that should probably be a different state than a user deleted comment as the original body isn't available at all anymore.

[2018-05-02 19:11] tcmal commented on #1011
Model RecruitmentKey:
  - Hash
    - Random hex, 32 long.
  - Role targeted
  - Email
  - Username

Routes:
  - GET `/recruit/:key`
    - Enter Password & double check email+role
    - Submits to `/api/v1/recruit/:key`
  - POST `/api/v1/recruit/:key`
    - Email auto-confirmed, redundant.
    - Whoever created the link gets an email
    - Redirects to `/admin`

Views:
  - Using Recruitment key vie

[2018-05-02 19:13] wyattjoh commented on #1534
Exactly @tcmal, we're in the process of exploring that, as there's still lots of questions to answer for if a user deletes their own comment:

- Do we keep the reference to the user to show that it was them who authored it?
- Do we show replies to the deleted comment?

It really depends on the use case, but we can update this ticket as we explore the feature.

[2018-05-02 19:27] kgardnr commented on #1497
@davisshaver can you explain a little about your setup? E.g. environment, are you using docker, what plugins do you have enabled, are you using our auth or a custom one? also for upgrading, which version did you upgrade from, and did you read the migration instructions and run the migrations?

Sorry you're still dealing with this - more info will help us help you track this down tho!! :) Thank you

[2018-05-02 20:03] kgardnr commented on #1011
Thanks @tcmal! Our team is just wrapping up GDPR support, but we will get back to you on this by next week!

[2018-05-02 21:00] wyattjoh commented on #1376
Fixed in #1427

[2018-05-02 21:00] #1376 closed, assigned to nobody

[2018-05-03 14:25] wyattjoh commented on #1168
We added support for this in https://github.com/coralproject/talk/commit/a43c173a125423557f93ee51a1891b7ea4d7700a where any variable `TALK_CLIENT_*` is made available via the `staticConfigSelector`

[2018-05-03 14:25] #1168 closed, assigned to nobody

[2018-05-03 20:45] #1558 closed, assigned to nobody

[2018-05-03 20:46] kgardnr commented on #1558
@icco fixed for ya!!

[2018-05-03 21:11] icco commented on #1558
Sorry didn't have a chance to test! But yes, this looks great, thank you!

[2018-05-03 21:13] kgardnr commented on #1558
No worries! We actually found a small bug and fixed that anyway :) Thanks Nat!!

[2018-05-04 09:44] davisshaver commented on #1497
Thanks @kgardnr! Typing everything up in response to this helped me check some additional assumptions... like whether I needed to run `npm update` rather than just `npm install` 😅 . I'm pretty sure this bug was the root of my issues: https://github.com/apollographql/react-apollo/issues/412 I am now upgraded successfully! Thanks again to you and @wyattjoh, cheers!

[2018-05-04 12:02] davisshaver opened #1567 "[RFC] [WIP] WordPress single sign-on integration"
Exploring use of `auth_token` in the [WP Plugin](https://github.com/coralproject/talk-wp-plugin).

...

Any ideas or tips appreciated!

[2018-05-04 12:04] davisshaver commented on #1416
@tc-mccarthy I'm running into something similar https://github.com/coralproject/talk/issues/1567. Any tips for how you validated the token? I can't find where to start tracking the bubble up.

[2018-05-04 12:30] #1497 closed, assigned to nobody

[2018-05-04 15:44] wyattjoh commented on #1567
My best recommendation for you is to first use Talk's default login from the admin, and grab the token from localStorage after you login, and head over to https://jwt.io and drop that token in there. From there, you can see lots of fields lile the `iss`, `aud`, and otherwise. You'll also see the signing method used, and can verify that the secret you've passed to your custom PHP JWT generator can

[2018-05-04 15:44] wyattjoh commented on #1567
It's likely that the token isn't validating correctly, hence why the `tokenUserNotFound` hook isn't firing.

[2018-05-06 11:47] unnisathyarajan opened #1574 "Talk integration with Firebase"
Is Integration with an existing Firebase for authentication possible?

[2018-05-06 17:09] wyattjoh commented on #1574
We currently don't have an integration with Firebase no, but you can feel free to implement one yourself with our [Integrating Authentication](https://docs.coralproject.net/talk/integrating/authentication/) docs.

[2018-05-06 17:09] #1574 closed, assigned to nobody

[2018-05-06 17:45] kgardnr commented on #1574
Also if you want to submit this as a new auth plugin, we would be happy to
review it and share it with the Talk community! Several folks have asked
about integrating with Firebase.

Thanks Unni!
On Sun, May 6, 2018 at 1:09 PM Wyatt Johnson <notifications@github.com>
wrote:

[2018-05-06 18:09] mkonikov opened #1575 "Feature Idea: Moderator notes on users"
Our moderators would like the ability to be able to write internal notes about different users so they can refer back to them and gain some context when reviewing future comments.

The `userProfile` slot seems to be the best option for that.

Any thoughts on best way to implement or if this is something other Talk users would appreciate?

[2018-05-07 16:54] angelo-hub opened #1578 "Feature Idea: Configurable promise module"
#### **feature**

#### Intended outcome:
As a developer, it would be great if I could configure the promise library used within the project either by using something like [optional-require](https://www.npmjs.com/package/optional-require) and configurable through the configuration YAML files. It would be great if I could choose to use [bluebird](https://www.npmjs.com/package/bluebird) as the projec

[2018-05-07 21:23] wyattjoh commented on #1578
Thanks for the feature request @AngefloMusic!

We currently want to keep all of our codebase as close to the living standard as possible rather than swapping out what we get for free with ES6 with a third party library. You can feel free to use bluebird in your plugins or externally, but we won't be supporting this in core within the foreseeable future.

[2018-05-07 21:23] #1578 closed, assigned to nobody

[2018-05-07 22:38] kgardnr commented on #1575
@mkonikov - thanks! I think this would be a great addition to add to core, and other newsrooms have requested it.

I'll ask @IAmSamHankins to give some input here on placement and UX - probably the user drawer would be the best place.

[2018-05-07 22:58] theysamtheirs commented on #1575
hi @mkonikov -- this is definitely something we've had requested and something we've been considering. totally agree with that place being in the `userProfile` user drawer.

initial thoughts would be that it could be another tab (after `all` `rejected` and `account history`) that gives the moderators to enter notes at the top (as if it's own comment stream on that user) and lists the notes in reve

[2018-05-09 15:19] icco opened #1597 "Change output of Assets List"
#### Do you want to request a **feature** or report a **bug**?

A bug?

#### Intended outcome:

`cli assets list > posts.txt` or `cli assets list | grep 'Study Finds'`

I wanted to find posts, but the format of the output is really hard to read.

I would love to be able supply `--format=csv` or `--format=json` so I can operate on the output with normal text tools or something like `jq`.

#### Actu

[2018-05-09 20:51] #1597 closed, assigned to nobody

[2018-05-09 20:53] icco commented on #1597
<3 ty

[2018-05-10 12:57] cristiandean opened #1602 "Scraper without external access"
Hello,

We have a Talk Application running in a server without external access and can't use a proxy to access our website. What do we can do to save the metadata without use the Talk scraper? Is there some way to pass metadata as params?

If this possibility doesn't exist, can I disable the scraper and take the Stream by asset URL?

Thank you!

[2018-05-10 20:27] thor27 opened #1605 "Creating middleware for default routes [question]"
Hi!

I'm developing a plugin that needs to create a middleware on /api/v1/graph/ql
But since all default routes are inserted after the plugins we can't do that.

We moved up plugin insertion (lines 136-137 to line 108) on **/routes/index.js** to acomplish that:

[code]

What do you think about this change?

[2018-05-11 01:06] mkonikov commented on #1602
To answer the latter question, you could disable the scraper running it with `yarn start --disabled-jobs scraper` (More here: https://github.com/coralproject/talk/pull/1439)

[2018-05-11 01:07] cristiandean commented on #1602
Thank you!

[2018-05-11 01:07] #1602 closed, assigned to nobody

[2018-05-11 10:30] mlapierre opened #1609 "Deploy to Heroku fails unless you delete a lockfile"
#### Do you want to request a **feature** or report a **bug**?
I wasn't able to try Talk via the Deploy to Heroku button without making changes

#### Intended outcome:
One click and Talk is deployed to Heroku

(incidentally, I'm not sure "just one click" is helpful. Perhaps it was at one point, but now you have to give the app a name, copy the name into another field, and then deploy. That's ok an

[2018-05-11 15:37] #1609 closed, assigned to nobody

[2018-05-14 13:54] cristiandean opened #1615 "[Question] Disable websocket support"
Our website has huge daily access and keeping websocket enabled is becoming too network intensive. We would like to be able to disable websocket for at least a first version in production.

As for now we can't do that. What do you think about having an option to completelly disable websocket on client and server? We can send a pull request with this feature if you think that this behaviour would b

[2018-05-14 17:26] wyattjoh commented on #1615
Without websockets, a refresh would be required to load any new content. It's something we can certainly explore for sure though.

[2018-05-14 17:30] cristiandean commented on #1615
Yes, we are going to lose freshness in favor of network stability for a first moment. A pull request for that is valid?

[2018-05-14 17:34] wyattjoh commented on #1615
I'm worried that a PR might get too big if it were to disable websockets. Our code is quite tightly coupled to the fact that subscriptions "just work". A PR would we welcome, but would likely consume quite a bit of time to write + review (just a fair warning ;))

[2018-05-14 18:13] leeeandroo opened #1619 "[Question] Confirm email from external providers"
On the last release 4.0.0, now Talk ask for email and password and create a local provider to external users.

If it's enabled, Talk send the confirmation email to the user.
I'd like to know if you are planning to block user to do actions on Talk until confirm email if its enabled on Admin.

Are you interested on a PR of it?

Thanks,

[2018-05-14 18:43] kgardnr commented on #1619
Hey @leeeandroo we should already support this - and it's enabled if the org selects "Require Email Confirmation" in the Config - are you seeing different behavior?

[2018-05-14 19:22] leeeandroo commented on #1619
@kgardnr on my tests I'm receiving the confirmation email and all the flow is working - remove confirmation when after changed email, confirm the new one - but I can comment before confirm my new email.

I only see the validation if email is confirmed when I try to login with local provider.

Am I missing something?

Thanks

[2018-05-14 19:25] kgardnr commented on #1619
So you have "Require Email Confirmation" turned on; this is worked as expected with local accounts (can't comment, react until you verify), but not external (can comment, react even though not verified).

Is that correct?

[2018-05-14 19:28] leeeandroo commented on #1619
Exactly.

My idea is to show a message like when user is banned and block all the actions. On this restricted message, we can show a button to user request confirmation email again like on login attempt.

[2018-05-14 19:35] kgardnr commented on #1619
Yes! This makes sense then - external accounts should function like local ones. This was probably an oversight on our part. We would love if you would contribute this, @leeeandroo! Thank you!~

[2018-05-14 22:44] kgardnr commented on #1619
Hey @leeeandroo! Actually hold on this, talked with the team and there are some requirements we need to solve in order to complete this.

So let's leave it as-is for now. We will circle back in near future!

[2018-05-16 15:50] icco opened #1626 "Bug: Akismet plugin failing"
#### Do you want to request a **feature** or report a **bug**?

Bug!

#### Intended outcome:

We were trying to implement the talk akismet plugin. We should see reports of comments sent to Akismet.

#### Actual outcome:

So in prod, running 4.4.0, we weren't seeing any comments in the akismet dashboard. I reached out to the Akismet team, and they said they weren't seeing any requests land for our

[2018-05-16 15:54] icco commented on #1626
Note, I looked around at all the other Talk plugins and couldn't find another that was a `pre` hook that accessed request data, nor could I really figure out how that data would get there. I would love to know more about how to write plugins like this that have access to request data in the https://docs.coralproject.net/talk/plugin-recipes/ docs

[2018-05-16 21:58] kgardnr commented on #1626
@icco If you wanna check Toxic Comments that would be a somewhat similar type plugin to Akismet with pre hooks: https://github.com/coralproject/talk/tree/master/plugins/talk-plugin-toxic-comments/server

We've got this logged as a bug too and will take a look

[2018-05-16 22:25] icco commented on #1626
Thanks @kgardnr. From what I could tell, that plugin doesn't get request data at all, and it's func signature is different, which is why I avoided it.

[2018-05-22 16:59] emilyyount opened #1639 "Module build failed: BrowserslistError: Unknown browser query `dead`"
#### Do you want to request a **feature** or report a **bug**?
Report a bug

#### Intended outcome:
Run `yarn build` during an initial install.

#### Actual outcome:
Process fails after repeating this error multiple times.

`Module build failed: BrowserslistError: Unknown browser query `dead`
    at error (/Users/emilyyount/Code/feature-talk-test-2018-05/talk/node_modules/browserslist/index.js:37:

[2018-05-22 17:08] kgardnr commented on #1639
Hey Emily! Welcome to Talk!

Which version of Talk are you using?

Can you try deleting the node_modules folder and running `yarn build` again?

If you keep running into issues, someone from our team can jump on a call with you.

[2018-05-22 17:12] kgardnr commented on #1639
PS I put your stacktrace here so we can keep the ticket conversation readable: https://gist.github.com/kgardnr/bd1e2a923cb467cf55742071389e98bf

[2018-05-22 17:58] emilyyount commented on #1639
@kgardnr Thanks!

I ran these commands from your [install from source page](https://docs.coralproject.net/talk/installation-from-source/). I'm not sure what version of Talk that pulls.

`curl -sLo talk.tar.gz https://github.com/coralproject/talk/archive/master.tar.gz
mkdir -p talk`
`tar xzf talk.tar.gz -C talk --strip-components 1`
`cd talk`

I deleted the node_modules folder and ran `yarn build`

[2018-05-22 18:42] kgardnr commented on #1639
Can you try skipping that step and continuing with setting up Mongo, Redis and your .env file.

And then you can run

```yarn && yarn watch```

[2018-05-22 18:50] emilyyount commented on #1639
@kgardnr: I skipped that step and ran `docker run -p 127.0.0.1:6379:6379 -d redis`. That seemed to work, but then I don't see a .env file to edit. I have my hidden files visible (we use docker for other things), but I don't see the file in this instance.

[2018-05-22 18:55] kgardnr commented on #1639
Are you setting this up to test it out or as the first step to launch it on Texas Tribune?

[2018-05-22 18:56] emilyyount commented on #1639
To test it out on a stand alone page.

[2018-05-22 18:57] kgardnr commented on #1639
Great! The simplest thing to do is go to the readme here: https://github.com/coralproject/talk

And click on the Heroku one-click install - you'll have it up and running in just a few minutes! You will need a heroku account which is free.

[2018-05-22 19:04] emilyyount commented on #1639
Okay. I will give that a try.

[2018-05-24 16:46] mkonikov opened #1647 "[Question] Comment Body in notification"
Is there a specific reason notifications do not include the body of the comments?

https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-notifications-category-reply/index.js#L101
Shouldn't be hard to throw up a PR to add but wondering if there's a specific reason it does not.

[2018-05-24 17:00] kgardnr commented on #1647
We made this decision based on data privacy and based on safeguarding from harassment. If in the future a commenter decides to remove their comments from the site, we don't want that data to live in someone's email. And if someone is being harrassed through comment replies, before a moderator is able to delete the comment etc, we don't want awful comments to live in that commenters inbox for all t

[2018-05-24 17:00] #1647 closed, assigned to nobody

[2018-05-24 17:15] wyattjoh commented on #1626
Fixed in #1638

[2018-05-24 17:15] #1626 closed, assigned to nobody

[2018-05-24 18:28] #1012 closed, assigned to nobody

[2018-05-24 18:33] #1039 closed, assigned to nobody

[2018-05-25 04:55] clintabrown opened #1652 "Feature idea: user can view all their comments in My Profile"
#### Do you want to request a **feature** or report a **bug**?

Feature

#### Intended outcome:

Currently, the My Profile tab only displays Accepted comments to users.

It would be beneficial for users to be able to view all comments they've posted along with their current status (in particular when pre-moderation is enabled).

From a configuration perspective, this could take the form of a new e

[2018-05-25 15:56] #1540 closed, assigned to nobody

[2018-05-25 19:15] kgardnr commented on #1652
Hey Clint, thanks for writing in!

We decided explicitly not to include this, because it could be abused to try and game the system - if people know which comments were rejected or withheld by certain tools.

I think the idea of showing Pre-mod is interesting, I can bring this up with our team.

Note that if you enable the feature Download My Comments, commenters can download all their comments re

[2018-05-27 20:44] nevernervous opened #1659 "Network error: Network_request failed with status 403 - "Forbidden""
I would like to use Talk project.
I installed it on my server and added embed code to my page.
But when load page, it shows 403 error.
This is my test url.
http://qwikleads.com/test2

Please help me.
Regards

[2018-05-28 00:49] clintabrown commented on #1652
Thanks @kgardnr - will wait to hear back on opinion re: pre-mod inclusion.

[2018-05-28 15:37] wyattjoh commented on #1659
If you take a look at the network tab on that site, you can see that it's not actually hitting Talk, it's hitting some other service that's asking for a recaptcha. I'd take a look at why that's happening, as that's unrelated to Talk.

[2018-05-28 18:09] nevernervous commented on #1659
Thanks, @wyattjoh
I have another issue.
This is my docker file.

 version: '2'
services:
  talk:
    image: coralproject/talk:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
    environment:
      - NODE_ENV=development
      - TALK_MONGO_URL=mongodb://mongo/talk
      - TALK_REDIS_URL=redis://redis
      - TALK_ROOT_URL=http://127.0.0.1:3000 (

[2018-05-28 19:36] wyattjoh commented on #1659
What do the logs say when you run `docker-compose logs talk`?

[2018-05-28 20:13] nevernervous commented on #1659
Here are the logs.

talk_1   | Error: Cannot find module 'nunjucks'
talk_1   |     at Function.Module._resolveFilename (module.js:547:15)
talk_1   |     at Function.Module._load (module.js:474:25)
talk_1   |     at Module.require (module.js:596:17)
talk_1   |     at require (internal/module.js:11:18)
talk_1   |     at Object.<anonymous> (/usr/src/app/app.js:2:18)
talk_1   |     at Module._compile

[2018-05-29 15:34] wyattjoh commented on #1659
This was a bug that was resolved in #1660, try pulling the docker image again and re-trying. For more reliable releases, set your tag to something other than `latest`.

[2018-05-31 01:39] clintabrown opened #1669 "Feature idea: view or sort stories in admin by number of pending comments received"
#### Do you want to request a **feature** or report a **bug**?

Feature

#### Intended outcome:

Moderators wish to be able to view which stories are receiving a large amount of new comments (mainly PREMOD but possibly also SYSTEM_WITHHELD status) so more attention can be paid to them.

This could take the form of -

- In Stories the total for each status type is displayed alongside the story
- In

[2018-06-01 09:56] davisshaver commented on #1567
Thanks for the help @wyattjoh, I got around to this again today and wanted to share some notes. I grabbed the token from my localStorage as suggested, but I was not able to get it to verify with the environment secret. I was just wondering if you had any ideas why this might be..

Here is example from staging environment:

token: ```eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4ZDIwNjYyYy1mYTRl

[2018-06-01 13:05] Prabhagar06 commented on #1639
Hi @emilyyount , Did you found any solution to solve this issue? because i am also getting same issue :)

[2018-06-01 15:54] emilyyount commented on #1639
@Prabhagar06 I didn't, but the one-click-install ended up being a good solution for me because I was only trying to take Talk for a test spin.

https://github.com/coralproject/talk#try-talk

[2018-06-01 16:39] davisshaver commented on #1567
@wyattjoh Sorry this was my mistake. I hadn't been using the site you recommended. I was using https://www.jsonwebtoken.io/. This service gives different results than jwt.io.

[2018-06-01 18:10] wyattjoh commented on #1567
Hi @davisshaver! Check out our updated documentation on JWT's, and ensure the JWT you generate matches the configuration given to Talk: https://docs.coralproject.net/talk/integrating/authentication/#create-jwt-token

It's also important to note that users that already exist in the database, will not trigger the `tokenUserNotFound` hook.

[2018-06-01 18:19] wyattjoh commented on #1639
Hey @emilyyount + @Prabhagar06!

Could you try updating your versions of Node + Yarn? I just did a clean install with:

Node v8.11.2
Yarn v1.7.0
Mac OS: 10.13.4

And I did not experience the issue described.

[2018-06-02 23:19] midnightfreddie commented on #1229
@gakhov Thanks that helped me. Agreed, a 404 response would have saved me a lot of time as I was focusing on the request headers and not the url. I have Talk 4.4.2 and `TALK_ROOT_URL=https://<domain-name>/coraltalk/` with nginx as the gateway routing /coraltalk/ to / on the back end. But the websocket endpoint is unintuitively at /coraltalk/api/v1/live on the back end whereas the other REST reques

[2018-06-05 04:13] lytvynenko opened #1679 "Feature idea: Implement http proxy support for the scraper"
#### Add optional http proxy agent to scraper's fetch configuration.

fetch-node module doesn't support http proxies out of the box. The recommended solution is provide http proxy adapter as an agent. (https://github.com/bitinn/node-fetch/issues/79).

That shouldn't be a major change. Effectively we'll just introduce one extra dependency `https-proxy-agent` (https://github.com/TooTallNate/node-htt

[2018-06-05 16:04] wyattjoh commented on #1679
This was actually implemented in #1674!

[2018-06-05 16:04] #1679 closed, assigned to nobody

[2018-06-06 09:26] smic1909 opened #1682 "Version 4.4.2 is deplayed at version 4.4.3"
Running the following standard docker-compose file will show that version 4.4.2 is deplayed (http://127.0.0.1:3000/admin/install top right) although version 4.4.3 is running.

[code]

[2018-06-06 09:43] smic1909 opened #1683 "Why do you tag user-detail branch?"
This is a general question:

I saw that you are tagging the `user-detail` branch and I am wondering why. Basically the `master` branch should be tagged. Maybe you can shed some light into the dark.

[2018-06-06 11:36] kgardnr commented on #1683
Hey @smic1909 can you explain more? I don't understand your question.

[2018-06-06 11:37] kgardnr commented on #1682
This was a mistake on our part and will be corrected in 4.5.0.

[2018-06-06 11:37] #1682 closed, assigned to nobody

[2018-06-06 14:53] smic1909 commented on #1683
Sry, my fault. The app I used mixed somehow branch names. All fine.

[2018-06-06 14:53] #1683 closed, assigned to nobody

[2018-06-06 14:54] kgardnr commented on #1683
No worries @smic1909! 👍

[2018-06-09 01:39] hminaeeBrunswicknews opened #1684 "Coral talk does not load in my webpage"
Hello,

Hope all is well.
In our company we are trying to add talk commenting to our website.
After installation here is the snippet we got from configuration to add in our webpage:

Use this one instead. It uses docker

<script src="http://someurl.compute-1s.com:3000/static/embed.js" async onload=" Coral.Talk.render(document.getElementById('coral_talk_stream'), { talk: 'http://ec2-34-227-57-44.co

[2018-06-09 05:58] icco opened #1685 "Deploy to heroku button broken"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

Click the run on heroku button in your readme, and get a working build on heroku.

#### Actual outcome:

The following errors occurred:

[code]

#### How to reproduce the issue:

Click the button in the readme, then fill in the app name, change the root url to match and change `NPM_CONFIG_PRODUCTION` to tr

[2018-06-11 15:43] kgardnr commented on #1685
Hey @icco! Thanks for logging this.

Are you setting the Mailgun SMTP info? Or trying to?

[2018-06-11 15:48] icco commented on #1685
![pageshot of create new app heroku 2018-06-01-1148 03](https://user-images.githubusercontent.com/20201/41242369-524f821c-6d6d-11e8-8628-4f6dfe419848.png)

This is what I see in the create page, so I don't think that's an option.

[2018-06-11 15:55] kgardnr commented on #1685
Ok thanks! We are looking into this. Thanks for catching it!

[2018-06-13 14:55] pwats opened #1689 "Grammatical error"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

Read the initial message indication there are no comments yet ("There are no comments yet, why don’t you write one?")

#### Actual outcome:

It should be 2 sentences instead of one. The correct message should read: "There are no comments yet. Why don’t you write one?"

#### How to reproduce the issue:

Go

[2018-06-13 15:35] kgardnr commented on #1689
Fixed in #1687 which will be released in 4.5.0

[2018-06-13 15:35] #1689 closed, assigned to nobody

[2018-06-14 07:07] smic1909 opened #1690 "cli-plugins create seems to be broken"
Running `cli-plugins create` seems to be broken on master.

[code]

[2018-06-14 07:13] smic1909 commented on #1690
Running `yarn install` fixed the problem.

[2018-06-14 07:13] #1690 closed, assigned to nobody

[2018-06-14 07:21] smic1909 opened #1691 "plugins.json is not create in cli-plugins create command"
`cli-plugins create` does not create `plugins.json` if not exist.

[code]

[2018-06-15 09:17] nevernervous opened #1693 "Can't find Sign in option when install Talk from source"
I saw that talk-plugin-auth is default plugin.
When I install Talk from docker I can use the sign-in feature but when tried with source code, I can't find it.

[2018-06-15 10:37] kgardnr commented on #1693
Can you:

- check the logs?
- check the console and network when you load the page?
- make sure you have `talk-plugin-auth` enabled in your plugins.json or that it is in the plugins.default.json if you're using that?

Question - is there any reason you don't want to continue using the Docker route? It's the one we recommend for production installs anyway, and you say it's working. I'm not sure why

[2018-06-15 11:16] nevernervous commented on #1693
There are any errors on the console.
And talk-plugin-auth is in plugins.default.json.
I want to add talk-plugin-akismet and talk-plugin-slack-notifications.

[2018-06-15 11:18] kgardnr commented on #1693
Anything from the logs? Can you send a screenshot of what you're seeing?

[2018-06-15 11:22] nevernervous commented on #1693
![image](https://user-images.githubusercontent.com/31775195/41465602-66530ff6-70d1-11e8-8cf8-524f4be88849.png)

[2018-06-15 11:24] nevernervous commented on #1693
I can see the `Sign In to comment ` button when using docker.
![image](https://user-images.githubusercontent.com/31775195/41465671-aa1a2936-70d1-11e8-9727-6cf8f74b2778.png)

[2018-06-18 12:05] kgardnr commented on #1685
Hey @icco thanks for reporting this - we've decided to deprecate support for Heroku one-click, so I'll close this ticket. Thank you!!

[2018-06-18 12:05] #1685 closed, assigned to nobody

[2018-06-19 15:25] wyattjoh commented on #1693
Try the following:

[code]

And start your server again. It was likely a plugin configuration error.

[2018-06-20 09:50] smic1909 opened #1700 "tokenUserNotFoundHooks implementation"
I am trying to get a self made plugin running. I checked the [documentation](https://docs.coralproject.net/talk/api/server/#tokenusernotfound) how to implement a `tokenUserNotFound` plugin. I created a new plugin via `./cli-plugins create`.

The index.js looks like this
[code]

In the `server/notfound.js` looks like this:
[code]

Checking the `services/users.js`, the created plugin should get load

[2018-06-20 15:37] wyattjoh commented on #1700
When you set `DEBUG=talk*`, do you see your plugin listed? Is your plugin name listed in your `plugins.json` under the `server` field?

[2018-06-20 19:24] smic1909 commented on #1700
File: `plugins.json`
[code]

The plugin `talk-plugin-sso` is listed in the log output.
[code]

[2018-06-20 19:29] smic1909 commented on #1700
Could it be that the code is not getting loaded if the JWT settings are not correct or if the JWT token does not contain all necessary data. I tried it for testing purpose with an invalid token.

[2018-06-20 19:41] wyattjoh commented on #1700
Ah, I think I got the issue.

So first of all, the plugin for the `tokenUserNotFound` hook is only ran on the first hit of the `tokenUserNotFound` condition, found:

https://github.com/coralproject/talk/blob/0aee78ac5fb68bc4b1d1aec3a859c0cf1296af2d/services/users.js#L706-L711

But the call to `findOrCreateByIDToken` is only called if the JWT was valid in the first place.

Double check this documen

[2018-06-20 19:53] smic1909 commented on #1700
Some more log output:
[code]

The embedded code looks like this:
[code]

[2018-06-20 20:11] smic1909 commented on #1700
Used some valid tokens created with your `talk-token-example` project. Looks good :)

[2018-06-20 20:11] #1700 closed, assigned to nobody

[2018-06-21 16:49] #1691 closed, assigned to nobody

[2018-06-21 18:24] smic1909 opened #1703 "Error: Cannot return null for non-nullable field UsernameStatus.status."
As a followup to https://github.com/coralproject/talk/issues/1700, I am getting the following error now:

[code]

My `notfound.js` looks like this:
[code]

The log output `Return User with id ef0e3314-0296-489b-addd-23b161920700` is printed, so I would assume a user has been created.
Running the following code in `GraphiQL`
[code]

returns
[code]
which looks like the user has not been created. Any

[2018-06-21 19:04] wyattjoh commented on #1703
There are a few issues here.

If you are creating a user, you can take a look at:

https://github.com/coralproject/talk/blob/c1d547e1b122aa5604f838239646733d9c9dc6fa/services/users.js#L487-L521

For how to create the user with the correct properties.

Also, the `user` graph endpoint is protected by default, and requires an administrative token to use.

[2018-06-21 19:22] smic1909 commented on #1703
I will give it a try but the code I used was suggested in [tokenUserNotFound](https://docs.coralproject.net/talk/api/server/#tokenusernotfound) docs.

[2018-06-22 11:37] smic1909 commented on #1703
In order to call the `findOrCreateExternalUser` function, the `ctx` needs to be present. Do you see any side effect if I just pass the `ctx` to the function (next to `jwt` and `token`) or is it possible to load/inject the `ctx` as an `require` option.

[2018-06-22 15:09] smic1909 commented on #1703
I skipped submitted the `ctx` for the moment while I did a `null` check in the `findOrCreateExternalUser` method. A user has been created but at the time I would like to create a comment, I am getting the message `You are not authorized to perform this action.` displayed as a small popup on the bottom of the page. Is the message connected to the skipped `ctx.pubsub.publish('userCreated', user);` c

[2018-06-22 20:00] wyattjoh commented on #1703
You aren't able to create a comment because the username is `UNSET`. The integration is a bit tricky (we're working on it ;)), but you might be better off instead just replicating the contents of the `findOrCreateExternalUser` whilst setting the `status.username.status = SET`.

[2018-06-25 12:36] smic1909 commented on #1703
Setting [this line](https://github.com/coralproject/talk/blob/master/services/users.js#L512) from `UNSET` to `SET` fixed the problem. However, do you expect some side effect changing this line? We will not support Facebook/Amazon Login (which code is using this method as well) but only our internal SSO.
Is there a timeline when you will fix this issue?
P.S: How can I delete a created user? In the

[2018-06-26 08:47] davisshaver commented on #1685
Hey 👋, saw that this was dropped in 4.5.0 and was wondering if the team could share a little context on the decision to remove the Heroku button? It’s a nice feature for devs new to project, maybe I can help out with a PR to get it working again?

[2018-06-26 11:14] IvanDreamer opened #1707 "Refresh JWT token to get an access to GQL APIs."
Hello!

Does anyone know how to refresh JWT token after it was issued from the "cli"?

For example I generate a token with
`./bin/cli token create ${USER_ID} example-token`
but after some time it will expire and I need to get a new one without generating it again by hand.

[2018-06-26 15:03] kgardnr commented on #1685
Hey @davisshaver! Yeah, we just haven't been able to support it properly. But if you would like to submit a PR to fix it, we could add it back in our docs for others to use perhaps. Thank you!

[2018-06-26 15:28] wyattjoh commented on #1707
Tokens issued by the CLI should not have an expiry associated with them. When you paste the token into https://jwt.io/ does it have an exp claim?

[2018-06-26 18:42] IvanDreamer commented on #1707
@wyattjoh thank you for your reply!

In theory it would be perfect, but in practice it expires in 12h (I think). I need to check tomorrow morning.

I did it, and it does not have that claim.

Today my token works (I generated the forth one  a few hours ago), but I can send tomorrow what failed response says.

[2018-06-28 09:23] leeeandroo opened #1711 "[Admin] Jumping queue when do actions"
#### Do you want to request a **feature** or report a **bug**?
BUG

#### Intended outcome:
As a moderator, I'd like to moderate comments and maintain the vertical position on the queue, to not lost which comment I'm working on.

#### Actual outcome:
When moderators are approving and rejecting comments, sometimes they lost the position of the comment. At some circumstances, if you click on `approve

[2018-06-30 21:41] jvert opened #1720 "supplying asset_id to Coral.Talk.render() just hangs"
We have a bunch of existing assets we want to hang Talk comments on. Rather than relying on a canonical URL, I thought we could use the existing asset IDs (guid) and then we would not have to worry about future changes to URLs or having to do our own mapping between our IDs and Talk's asset IDs. After reading https://docs.coralproject.net/talk/integrating/asset-management/ I think the best way to

[2018-06-30 23:03] wyattjoh commented on #1720
You should install and use https://github.com/coralproject/talk-plugin-custom-asset-id plugin which will enable the behavior you're looking for 😄

[2018-07-01 17:33] jvert commented on #1720
Great, that works perfectly! Thanks for the quick response!

Maybe worth a mention in the official docs.

[2018-07-01 17:33] #1720 closed, assigned to nobody

[2018-07-02 06:38] IvanDreamer commented on #1707
@wyattjoh Thank you for your patience. Even after 6 days my token is still alive. But it was not before. The only difference was I had a different version of Talk. When I opened the request I updated it to the latest. Maybe that was the issue.

I think now we can close it. **And thank you for your help!** 👍

[2018-07-02 15:35] smic1909 commented on #1703
Any suggestions @wyattjoh ?

[2018-07-03 14:56] wyattjoh commented on #1707
Not a problem!

[2018-07-03 14:56] #1707 closed, assigned to nobody

[2018-07-03 14:58] wyattjoh commented on #1703
We currently use that method for creating users via our social based auth methods. I'd recommend just copying that function into your plugin as is in order to implement your specific authentication situation. Lots of organizations have different requirements in terms of how the user is created, so it really depends on your implementation.

We don't have plans currently to address this issue as we'

[2018-07-03 15:53] activeoblique opened #1723 "SSO implementation: tokenUserNotFound not working"
After reading the [documentation](https://docs.coralproject.net/talk/integrating/authentication/), I have been having trouble with the tokenUserNotFound plugin. Upon login, I generate a token for users and store it in my local database.
<img width="656" alt="screen shot 2018-07-03 at 10 59 07 am" src="https://user-images.githubusercontent.com/30766679/42229282-afb4d8be-7f18-11e8-8297-b1ba59fb6a32.

[2018-07-03 16:04] wyattjoh commented on #1723
The only situation that `tokenUserNotFound` wouldn't trigger would be:

1. The token is not signed correctly (using the wrong secret)
2. The token is invalid (does not contain the correct or matching claims, check [here](https://docs.coralproject.net/talk/integrating/authentication/#create-jwt-token) for that)
3. The referenced User already exists

From what it looks like, you're setting `exp` to

[2018-07-03 22:18] lytvynenko opened #1728 "Unable to refresh JWT token using login() method"
In our integration we have to use short live 10 min expiry JWT token.  Auth library provides a callback for token refresh event in which we are calling `embed.login(token)` method ( `embed = Coral.Talk.render...`)

#### Do you want to request a **feature** or report a **bug**?
**Bug**

#### Intended outcome:
The `embed.login(token)` call supposed to update authorization header for consecutive API

[2018-07-04 09:03] activeoblique commented on #1723
I changed my token setup to (imported all the settings from talk-token-example config.js file, so values should be same):
<img width="743" alt="screen shot 2018-07-04 at 4 55 10 pm" src="https://user-images.githubusercontent.com/30766679/42267252-15a4bab2-7fab-11e8-91d2-f2d51710a6e2.png">

However, logs are still hanging on "token sent via onConnect ..." and the hook never fires. I have changed my

[2018-07-04 13:50] smontlouis opened #1729 "Error: only one instance of babel-polyfill is allowed"
#### Intended outcome:
Everything should work fine.

#### Actual outcome:
`Error: only one instance of babel-polyfill` is allowed in embed.js

#### How to reproduce the issue:
In my react app:
[code]
In my docker-compose.yml I have:
[code]

In doubt I've done this too:
`docker build -t my-awesome-talk-image --build-arg TALK_WHITELISTED_LANGUAGES=fr --build-arg TALK_DISABLE_EMBED_POLYFILL=TRUE .`

[2018-07-04 15:14] hminaeeBrunswicknews commented on #1729
Why dont you import your coral code like this:

`import {Coral} from '../../../../common-widget/Coral';`

then:

`
    componentDidMount() {

        Coral.Talk.render(document.getElementById("your id"), {
            talk: 'talk url:3000/'
        });
    }`

[2018-07-04 16:01] smontlouis commented on #1729
Yeah good catch 😄!

But I'm still having the same issue.

I've done this :
In my HTML.js:
`<script async src="http://127.0.0.1:3000/static/embed.js" />`

In my Component:
[code]

[2018-07-04 16:07] smontlouis commented on #1729
![image](https://user-images.githubusercontent.com/3509412/42287046-2535278c-7fb5-11e8-9511-e00fbee9d240.png)

Disabling my local babel-polyfill, now I have this error :/

[2018-07-04 16:13] hminaeeBrunswicknews commented on #1729
So I think you do not need this anymore in your html:

`<script async src="http://127.0.0.1:3000/static/embed.js" />`

if you import it like this:

`import {Coral} from '../../../../common-widget/Coral';`

Create a file in a folder and import it as above and let me know if that fixed your issue

[2018-07-04 16:25] wyattjoh commented on #1729
Instead of mounting the component as the widget, we still recommend using the dynamic binding method, as it's best supported at the moment.

If you want to prevent duplicate polyfills from causing errors, refer to the [TALK_DISABLE_EMBED_POLYFILL](https://docs.coralproject.net/talk/advanced-configuration/#talk-disable-embed-polyfill) variable that you can use to prevent the polyfill from being inj

[2018-07-04 16:29] wyattjoh commented on #1723
Can you copy/paste the generated JWT's that you are generating here with your example values?

It's also important to note that the `subject` of the token is the users foreign ID.

[2018-07-04 16:38] smontlouis commented on #1729
@wyattjoh in my docker-compose.yml, I have the following:

[code]

But still got that error

[2018-07-04 17:00] wyattjoh commented on #1729
Your Talk image should be built with that environment variable set, via a build argument:

[code]

As that variable needs to be available at build time, not runtime. This is pending the merge of #1732, and will be included in the next release.

[2018-07-04 17:18] hminaeeBrunswicknews commented on #1729
Thanks @wyattjoh,

can you explain what you mean by loading it dynamically? you mean through <script> tags loading it from the server? What could be the possible issues? ( I am asking because I am using it the other way and wanna make sure how my product will be affected)

[2018-07-04 17:28] activeoblique commented on #1723
generated 1: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySUQiOiIxIiwiaWF0IjoxNTMwNzI0NTAyLCJleHAiOjE1NTIzMjQ1MDIsImF1ZCI6InRhbGsiLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjMwMDAifQ.jKn98FEIzuafldEqz0i6rYin6Mf9p-y3idBuI1LMOHY`

generated 2:
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySUQiOiIxIiwiaWF0IjoxNTMwNzI0NzA4LCJleHAiOjE1NTIzMjQ3MDgsImF1ZCI6InRhbGsiLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjMwMDAifQ.fZaS5t

[2018-07-04 17:31] smontlouis commented on #1729
@wyattjoh thank you.

I'm kind of noob with all that docker stuff. Is there a way to add this myself to my image ?

[2018-07-04 17:50] wyattjoh commented on #1729
You should build your own image @bulby97 with the `--build-arg TALK_DISABLE_EMBED_POLYFILL=TRUE` flag and it should work as intended.

As we don't support it directly, we can't ensure forwards compatibility @hminaeeBrunswicknews. You can feel free to continue as you have, just know that upgrades in the future may require work to adapt to the way you're importing the embed now.

[2018-07-04 17:57] wyattjoh commented on #1723
I'd recommend setting the `subject` option in the `jwt.sign` to the user ID rather than adding a new `userID` claim as the above generated tokens have.

Note that if the user lookup was successful, as in, the user indicated by the id already exists in the database, then Talk won't ever fire the `tokenUserNotFound` hook, as, the user was found.

## Configuration

Those tokens look correct to me. En

[2018-07-04 17:57] smontlouis commented on #1729
OK it worked ! Thank you !
Now I got this error :
![image](https://user-images.githubusercontent.com/3509412/42290227-3c50971c-7fc4-11e8-891a-07b4ab81ea62.png)

In my container I see the following:
[code]

[2018-07-04 17:58] hminaeeBrunswicknews commented on #1729
Did you white list your site url? (in admin setting)

[2018-07-04 18:03] smontlouis commented on #1729
@hminaeeBrunswicknews yep, aif.local:3002
![image](https://user-images.githubusercontent.com/3509412/42290383-3846bb3c-7fc5-11e8-99c7-e59712af9524.png)

![image](https://user-images.githubusercontent.com/3509412/42290388-41dc049a-7fc5-11e8-94b1-ee08b5ffc50d.png)

[2018-07-04 18:57] activeoblique commented on #1723
I changed the `subject` to have the value `user._id` from the local database. I checked that the root url and the secrets are correct.

I don't see that line, but I checked that my plugin is under the `server` clause in the `plugins.default.json` (there is no `plugins.json` in the Coral docker container). These are the logs from Docker after I log into the Coral embed:
<img width="708" alt="screen

[2018-07-04 19:04] smontlouis commented on #1729
Ok just figured out that you use canonical url for asset_url default, and mine was using 0.0.0.0 as host variable.

[2018-07-04 19:05] #1729 closed, assigned to nobody

[2018-07-06 01:39] clintabrown commented on #1669
Hi @kgardnr - any update on thoughts around this feature?

[2018-07-06 13:32] kgardnr commented on #1669
Hey @clintabrown! Yes, we think being able to sort Stories by most comments would be a great addition. Do you want to suggest how you might implement this, and we can give some feedback for you?

[2018-07-06 13:33] kgardnr commented on #1711
Hey @leeeandroo, we have this in our backlog but it hasn't been prioritized: https://www.pivotaltracker.com/story/show/154368509

If you'd like to take this on, that would be great!

[2018-07-06 21:18] #1703 closed, assigned to nobody

[2018-07-09 12:37] IvanDreamer opened #1738 "How to write a hook for "Respect" action."
Hello!

I was adapting  "slack" notification plugging for my notification service. I made it work, but now I cannot figure out how to catch respect action in the same manner.

[code]
Could someone give an advise what would be an analog of "createComment" for respect Action?

[2018-07-09 13:46] IvanDreamer commented on #1738
Fuh, I've found it.

It's described here:

https://github.com/coralproject/talk/blob/66445aae59c980d38b9ac732f94f2cf43fb3b94e/plugin-api/beta/server/getReactionConfig.js#L125-L130

[2018-07-10 17:44] kgardnr commented on #1738
Awesome! If you want to contribute that plugin back to the community, let us know and we'll add it to our plugin directory: https://docs.coralproject.net/talk/plugins-directory/

[2018-07-10 17:44] #1738 closed, assigned to nobody

[2018-07-10 17:45] #1693 closed, assigned to nobody

[2018-07-11 21:16] cristiandean commented on #1615
Hello, I'm working on this PR and I came across a question.
I would like to use this setting to disable the websocket in the application client, more precisely in this section:

[code]

My question is, what is the best way to get this setting? More precisely in the file **client/coral-framework/services/client.js**.

[2018-07-26 15:22] cw00dw0rd commented on #1684
Hello,
I too am trying to implement Coral Talk into our React app but using the Script tag doesn't work. It does work properly with a simple Node/Express page but not in our [actual site](https://github.com/focallocal/fl-maps) . I have attempted to implement it as the OP has but it reports Coral is undefined. Is there a more programmatic way Talk could be implemented into React that wouldn't requi

[2018-07-26 19:50] wyattjoh commented on #1684
We don't currently provide support related to running Talk in a SPA, but.....

- If you're using this in your JS, ensure you've removed the `async` tag from the `embed.js` (As we do recommend using the `embed.js` even if you're integrating it into a SPA) which should allow the library to load before your React code tries to use it.
- Instead of binding it to an element on the page by `id`, you can

[2018-07-27 14:35] daviddamaschk commented on #1684
Can you give us a concrete example? I am also trying to integrate Talk into React App.

[2018-07-27 18:49] tkleandro opened #1763 "The assetMetrics not working in GraphQL"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:

In version 4.5 the assetMetrics in GraphQL it's not working anymore, works fine in version 3.5.

#### Actual outcome:

The message was returned from GraphQL:
Cannot query field "assetMetrics" on type "RootQuery". Did you mean "assets"?

#### How to reproduce the issue:

Run the query:
{"query": "query Coral

[2018-07-27 19:19] wyattjoh commented on #1763
In 3.5.1, we included a dashboard that showed some details on assets/comments and their current counts/metrics. In 3.8.1, we removed the dashboard, and as such, deprecated those GraphQL edges.

If you would like to restore the functionality for those feature, you can do so by implementing a plugin that performs the necessary mongodb queries. You can look at the codebase at [3.7.1](https://github.c

[2018-07-27 19:20] #1763 closed, assigned to nobody

[2018-07-27 19:41] wyattjoh commented on #1723
You should set the `sub` claim (or `subject` if you're using the third parameter to `jwt.sign`) to `user.id`, which is different than `user._id` which is set from Mongo. We set our own UUID's as identifiers on the `id` field, which is used by Talk to get the user.

Also, from the looks of the logs you posted, it looks like the token was issued via the http response. Check the network tab in your w

[2018-07-27 20:12] wyattjoh commented on #1728
Thanks for the report @lytvynenko! A fix should be included in our next release (4.6.0). Stay tuned!

[2018-07-27 20:13] #1015 closed, assigned to nobody

[2018-07-27 20:14] wyattjoh commented on #934
Will be resolved in v5.

[2018-07-27 20:14] #934 closed, assigned to cvle

[2018-07-27 20:14] wyattjoh commented on #1011
Will be resolved in v5.

[2018-07-27 20:14] #1011 closed, assigned to nobody

[2018-07-27 20:15] #1014 closed, assigned to nobody

[2018-07-27 20:16] #1026 closed, assigned to nobody

[2018-07-27 20:16] wyattjoh commented on #1018
Fixed in v5.

[2018-07-27 20:16] #1018 closed, assigned to nobody

[2018-07-27 20:17] wyattjoh commented on #1040
Fixed in v5.

[2018-07-27 20:17] #1040 closed, assigned to cvle

[2018-07-27 20:17] #1060 closed, assigned to nobody

[2018-07-27 20:18] wyattjoh commented on #1102
Already implemented via the Trust system.

[2018-07-27 20:18] #1102 closed, assigned to nobody

[2018-07-27 20:18] #1103 closed, assigned to nobody

[2018-07-27 20:19] wyattjoh commented on #1250
Sent back to design for v5/v6.

[2018-07-27 20:19] #1250 closed, assigned to nobody

[2018-07-27 20:20] wyattjoh commented on #1385
Fixed in v5.

[2018-07-27 20:20] #1385 closed, assigned to nobody

[2018-07-27 20:25] #1728 closed, assigned to nobody

[2018-07-30 20:27] cw00dw0rd commented on #1684
To those interested, I ended being able to load the script tags using > [React-Helmet](https://github.com/nfl/react-helmet) based on a suggestion I received from my [stack overflow question](https://stackoverflow.com/questions/51528860/using-coral-talk-with-react-and-meteor/51574544), which also has some other suggestions that might be useful.
From what I can tell it just takes in regular HTML and

[2018-07-30 21:58] cw00dw0rd opened #1771 "Multiple streams or tabs in one view"
#### Do you want to request a **feature** or report a **bug**?
I think this may be something that can be accomplished through a plug-in but may be a feature request if it can't.

#### Intended outcome:

I would like to have multiple streams available where the 'All Comments' tab is. Our site involves event planning and we would like to have two tabs, one tab would be for discussion of the event an

[2018-07-31 15:35] aguilarm commented on #1508
[There is a node prometheus client](https://www.npmjs.com/package/prom-client) :heart_eyes:.  Hook up for basic metrics appears to be just a few lines, supporting custom metrics also pretty straightforward.

[2018-07-31 20:23] cristiandean opened #1773 "Performance drop when updating application"
Hello,

I recently upgraded Coral Talk from version 4.4.0 to version 4.5.1 and got a considerable performance drop. I wonder if anyone else in the community witnessed this same behavior and are aware of the possible cause.

The average cpu consumption doubled as can be seen in the image below.

![screen shot 2018-07-31 at 17 16 25](https://user-images.githubusercontent.com/25023177/43484964-44742f

[2018-07-31 20:57] aguilarm opened #1774 "Feature Idea: Allow comment editing permanently"
Looks like currently there is no way to allow users to edit their own comments indefinitely besides perhaps a very large number in for `Edit Comment Timeframe` in admin.

While entering a large number there sort of works, editing a comment still shows the Edit window in minutes/seconds and it's a huge number that no longer really makes sense.  Further, the elements for this do not have generic/pla

[2018-07-31 22:07] wyattjoh commented on #1773
Hey @cristiandean! Are you able to run the server with a debugger attached to grab a CPU profile before and after the upgrade so we can dive down?

[2018-08-03 18:18] franciclo opened #1779 "Feature Idea: Restrict some moderators access to stories"
Hi, in our case, some authors should moderate only the stories they are assigned to.
I think this would also be useful for organizations consisting of different teams, where each team produce their own content, in a multi-tenant scenario or when you invite a specialized person to moderate about specific topics.
Is this something that could be resolved with a plugin?
Is this feature interesting for

[2018-08-03 18:23] franciclo opened #1780 "Feature Idea: Customize styles in Admin panel"
We would like to customize styles in the Admin panel, only css (logo, colors, spaces, typography).
The custom css only affects the iframe, something like that to the admin would be perfect.
We are thinking of overriding styles inside the Docker container, as a workaround, is there a simpler way?

[2018-08-05 13:22] alexandrebodin commented on #1684
You can have the following:

[code]

[code]

[2018-08-05 21:08] theel0ja opened #1781 "Fetch assets like Font Awesome from first-party"
Why is assets, like Font Awesome & Source Sans Pro font downloaded from third-parties, while it's completely unnecessary.

They're open source and should be downloaded from first-party. You already download lots of CSS & JS first-party.

Source Sans Pro can be downloaded from here: https://google-webfonts-helper.herokuapp.com/fonts/source-sans-pro?subsets=latin

Material Icons can be downloaded fr

[2018-08-07 15:05] wyattjoh commented on #1781
The benefit of having these assets served from third parties here is to lift the burden of serving these files off of Talk. Most browsers will additionally have the assets cached already, often resulting in no network requests.

[2018-08-07 15:06] wyattjoh commented on #1779
I feel that that particular feature would require too deep of a change in the way we handle moderation systems at present. We're making some big changes for v5, so we'll keep this feature in mind as we're developing it.

[2018-08-07 15:07] wyattjoh commented on #1780
Currently, there isn't a way to do so, but the current custom CSS feature could be pretty easily extended to add a new field for admin css stylesheets.

[2018-08-07 17:55] franciclo commented on #1780
It was implemented in #1237 but then it was removed (don't know when precisely), but that was for using the same css file, having a separate css file as you mention could be better.

[2018-08-07 18:08] franciclo commented on #1779
Thanks, looking forward to v5!

[2018-08-08 16:06] #1553 closed, assigned to nobody

[2018-08-09 15:06] ghost opened #1791 "Admin menu showing on Install when it shouldn't"
#### Do you want to request a **feature** or report a **bug**?
Bug.

#### Intended outcome:
The menu in http://127.0.0.1:3000/admin/install should be available only when the options are available.

#### Actual outcome:
![screenshot from 2018-08-09 11-52-58](https://user-images.githubusercontent.com/41135344/43907410-c0a44c5c-9bcb-11e8-93a5-6d0a37dd772e.png)
![screenshot from 2018-08-09 11-53-05](h

[2018-08-09 15:12] #1781 closed, assigned to nobody

[2018-08-14 09:49] lelorelo opened #1801 "ie11/edge ignores default_lang"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

coral should appear in german, which has been defined with `TALK_DEFAULT_LANG=de`

![bildschirmfoto 2018-08-14 um 10 54 11](https://user-images.githubusercontent.com/7877754/44082025-787d444a-9fb0-11e8-9970-f497414ac313.png)

#### Actual outcome:

coral appears in english, but only in **IE11 and Edge**

![b

[2018-08-14 09:50] lelorelo opened #1802 "share-comment button-text is not in language-file"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

the copy-button should also be available with i18n for various languages

#### Actual outcome:

the copy button shows `Copy` no matter what language is set

![image 5](https://user-images.githubusercontent.com/7877754/44083396-26be4290-9fb4-11e8-958f-05337a666ba4.png)

#### How to reproduce the issue:

chan

[2018-08-14 12:17] lelorelo opened #1803 "when user reported, in backend no information"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

show reported user in the list in `Community`-Tab

#### Actual outcome:

user is not listed, no information.

![bildschirmfoto 2018-08-14 um 14 13 25](https://user-images.githubusercontent.com/7877754/44090985-496be0dc-9fcc-11e8-95e2-891505cd8386.png)

#### How to reproduce the issue:

user reports another

[2018-08-14 12:18] lelorelo commented on #1803
same happens when a user reports a comment

[2018-08-14 14:36] wyattjoh commented on #1803
Hi @lelorelo!

If the user account has already been reported before, and was approved/rejected by a moderator/admin, it will not show up under the "reported usernames" again!

The same rule applies to comments, where if the comment has been approved/rejected, it will not show up under the reported queue again either. This is in an effort to reduce work on the moderators behalf, as it assumes the m

[2018-08-14 14:40] wyattjoh commented on #1801
What's likely happening is that you have english set or enabled on those browsers. If you want Talk to only ever be rendered in German, you can set the [TALK_WHITELISTED_LANGUAGES](https://docs.coralproject.net/talk/advanced-configuration/#talk-whitelisted-languages) environment variable to `de`, which would ensure that only that language is available.

[2018-08-14 16:08] AndyatFocallocal commented on #1771
Also interested

[2018-08-16 11:45] lelorelo commented on #1801
it didnt work out for me

i added `TALK_WHITELISTED_LANGUAGES` and nothing changed

### i solved it this way:
**Dockerfile**
[code]

**krn_talk_setup.sh**
[code]

[2018-08-18 12:08] alexandrebodin opened #1806 "Updating a user with auth_token"
#### Do you want to request a **feature** or report a **bug**?

**feature**

#### Intended outcome:
I'm using the `tokenUserNotFound` hook to create a user from a token in the talk database.

I have my own database of users and I'd like to be able to change a coral username when it's username
changes in the original database.

Is there currently a way to do that ?

Thanks a lot for your help and t

[2018-08-20 04:04] lytvynenko commented on #1806
Hi Alexandre,
 From my knowledge there is no out-of-box functionality to achieve your goal. Although you can get some directions from this plugin recipe: https://github.com/coralproject/talk-recipes/blob/master/plugins/avatar/index.js. (particularly commented `router` part).

[2018-08-20 07:01] alexandrebodin commented on #1806
Thanks, for the answer !

I ended up overriding the passport jwt auth and implement my own logic. way simpler than using `tokenUserNotFound` and a lot more flexible :) I would recommend putting sth about that in the docs maybe.

[2018-08-20 13:44] hminaeeBrunswicknews opened #1807 "where to start with SSO implementation?"
Hi there,

I am trying to implement SSO with our external api/DB.
We have our own authentication system and our own database of users.
I understand that we need to use SSO to sync the user of our website with the Talk authentication this way user does not need to sign in again in talk separately.
I found only these two pages in documentation:

[https://docs.coralproject.net/talk/api/server/#tokenu

[2018-08-20 15:49] kgardnr commented on #1807
Hey @hminaeeBrunswicknews! Yes, it would be a new plugin you'd build with that code included in the `index.js` file.

You would need to replace `someExternalService` with your Auth or Identity API/Service.

You can generate a plugin template via the CLI, by running: `bin cli plugins create`

You would name your plugin something like `talk-plugin-auth-brunswick-news` and include it in your `plugins

[2018-08-20 15:50] kgardnr commented on #1806
Hey @alexandrebodin if you'd like to share that with us, we can include it in the docs - or you're welcome to add it yourself. Thanks!

[2018-08-20 17:29] hminaeeBrunswicknews commented on #1807
Thanks @kgardnr ,

I cannot see plugin Json file (I mean this part that you mentioned"and in your plugins.json file.")in the talk repo.
Where can I find it?

[2018-08-20 17:32] kgardnr commented on #1807
We have a default one here: https://github.com/coralproject/talk/blob/master/plugins.default.json

If you don't create a `plugins.json`, it will default to that one. If you want to use custom plugins, you can create a `plugins.json` in your root directory.

More info here: https://docs.coralproject.net/talk/plugins/

[2018-08-20 19:56] hminaeeBrunswicknews commented on #1807
Thanks a lot for answering,

I used the docker and everything is ,managed through that.
So I only have the following :
![image](https://user-images.githubusercontent.com/24658315/44363219-f1e3f480-a499-11e8-9cd9-c7a80fdb3ba3.png)

in a file called
docker-compose.yaml

Now if I need to make the change I think I need to use git to get the code and then change it and point the docker to the customize

[2018-08-20 20:35] kgardnr commented on #1807
If you're using Docker, it will pull the code from Docker Hub.

Since you're using custom plugins, actually, you'll need to follow the instructions using the Onbuild image: https://docs.coralproject.net/talk/installation-from-docker#onbuild

[2018-08-20 20:36] kgardnr commented on #1807
From those docs:

[2018-08-21 13:09] hjanuschka commented on #1803
issue can be closed, it was due to a miss understanding of the reporting feature.
we actually setted the user status to "APPROVED" via our `tokenNotFound` plugin. (changed that now)

the reported user only shows `SET, CHANGED` one's - we thought that it is like "a flag" on the nickname, not sort of a "request for change"

same goes for comments, we enabled the "force moderation" - which effectivly

[2018-08-21 14:03] hminaeeBrunswicknews opened #1811 "bin cli plugins create for creating tokenUserNotFound is not working"
Hi there ,

I am using the docker on build to build the customized version of talk adding USERNOTFOUND plugins.
Here is another thread in this forum showing how I got here:

[https://github.com/coralproject/talk/issues/1807](url)

After running the docker pointing to my project now I am at the point to generate the template for tokenUserNotFound.

As suggested here

https://docs.coralproject.net/t

[2018-08-21 14:03] #1807 closed, assigned to nobody

[2018-08-21 17:25] kgardnr commented on #1811
Run this in the ROOT folder:

`./bin/cli-plugins`

You'll see a menu of info.

Run this to create a plugin:

`./bin/cli-plugins create`

<img width="571" alt="plugin_cli" src="https://user-images.githubusercontent.com/1077300/44418148-996a3100-a545-11e8-8a4a-85dccc11d719.png">

[2018-08-21 17:26] kgardnr commented on #1811
Note you also have to have Talk up and running here for this to work. You'll also need to install the dependencies that this and everything else relies on.

[2018-08-21 17:38] hminaeeBrunswicknews commented on #1811
I checked I have the talk server running and also I updated the node and yarn I installed.
After that when I run this: ./bin/cli-plugins in the root folder I get this:

![image](https://user-images.githubusercontent.com/24658315/44418846-dc310680-a54f-11e8-8cc7-4f307ace7bef.png)

[2018-08-21 17:41] wyattjoh commented on #1811
It looks like the dependencies aren't installed, run `yarn` in the `talk` directory to install dependencies.

[2018-08-21 17:42] wyattjoh commented on #1803
Good to hear!

[2018-08-21 17:42] #1803 closed, assigned to nobody

[2018-08-21 17:52] #1801 closed, assigned to nobody

[2018-08-21 17:53] hminaeeBrunswicknews commented on #1811
Yes that worked.
Thanks @wyattjoh  and @kgardnr

[2018-08-21 17:53] #1811 closed, assigned to nobody

[2018-08-22 07:04] hjanuschka opened #1812 "graph QL babysteps"
i need help on building a query to retrieve the top 10 articles/asset_urls, sort by approved comments. i am somehow to stupid to come up with a working graphQL query.

what i need to achieve is to build a box/container on our webpage, showing of the top 10 most commented articles.

any ideas?

[2018-08-22 12:42] hminaeeBrunswicknews opened #1814 "tokenUserNotFound is not triggered (SSO implementation)"
Hello,

I have an issue regarding to the signin use with SSO.
First I read this issue in this forum which is very similar to mine and tried to cover the probable cases of failure:

[https://github.com/coralproject/talk/issues/1723](url)

Here is what I did:

Firstly I installed and ran the Talk through docker on build.
After I ran ./bin/cli-plugins create from this documentation :
 [https://docs.c

[2018-08-22 16:25] wyattjoh commented on #1814
If the `tokenUserNotFound` is not firing, then your token is not valid. Your token (as viewed on https://jwt.io/) contains the following claims:

[code]

This means one of a few things:

1. Your `TALK_ROOT_URL` on your Talk instance is not `http://localhost:3000`, so the `iss` check is failing
2. Your `TALK_JWT_AUDIENCE` on your Talk instance is not `talk`, so the `aud` check is failing
3. The sec

[2018-08-22 16:27] wyattjoh commented on #1812
Unfortunately, our GraphQL API does not expose the edges necessary to actually perform this query. If this is something you need to get, you would have to write a plugin to support this feature.

For general information on executing GraphQL queries, see: https://docs.coralproject.net/talk/api/overview/

[2018-08-22 16:27] #1812 closed, assigned to nobody

[2018-08-22 17:08] hminaeeBrunswicknews commented on #1814
Thanks,

I generated the following token making sure it is pointing to  my  root url and with the right secret key.

Here is my token:

`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1MzQ5NjAzNzMsImV4cCI6MTU1NjU2MDM3MywiYXVkIjoidGFsayIsImlzcyI6Imh0dHBzOi8vY29tbWVudDMuc3RnMi5kZXYtdGVsZWdyYXBoam91cm5hbC5jb20vIiwic3ViIjoiMSIsImp0aSI6IjM3MTRhMzYxLWIyZDYtNDExZi05NzllLWVjOTNjNzk5NjMzNiJ9.n1r2UiPJSpkvy

[2018-08-22 22:39] wyattjoh commented on #1814
If the hook isn't showing up, it could also be the case that the user was already found in your database.

You can set `DEBUG=*` in your environment to enable verbose logging, that should hopefully provide enough information to figure out what's going on here.

[2018-08-23 00:24] hminaeeBrunswicknews commented on #1814
Should I set the DEBUG=* in docker-compose?

[2018-08-23 00:31] kgardnr commented on #1814
You'll set this in your .env file

[2018-08-23 00:37] hminaeeBrunswicknews commented on #1814
@kgardnr
In the Talk project when I search I only see this:

https://github.com/coralproject/talk/blob/master/plugins.env.js

Is that what you mean?

[2018-08-23 00:39] kgardnr commented on #1814
No. Node and many other apps use a .env file to load environment variables. Such as: https://docs.coralproject.net/talk/configuration/

This is where you would put

`DEBUG=*`

[2018-08-23 00:40] kgardnr commented on #1814
FYI, we do provide a hosted version of Talk where we can take care of all of this for you, and we charge a monthly fee. If you're interested, send an email to support@coralproject.net.

[2018-08-23 10:32] hjanuschka opened #1815 "Performance Issues"
we shipped coral to www.krone.at

right no we are using 4 VMS with 2 containers each serving the coral app in production mode.
however, `http` server from node does not seem to be able to handle the traffic.

questions:
  - https://github.com/coralproject/talk/pull/1808 any ETA when this is merged, especially looking to the cache-headers
    - we tried tunneling it through varnish and adding heade

[2018-08-23 12:58] hjanuschka commented on #1815
update: we ended up setting expires headers on nginx. - and added a couple of more nodes
right now at 4 VMS à 3 containers, with 4 cores each VM
but still response is sometimes really slow.

we added healthchecks to the containers, and auto restart them when they start failing.

at the end of the day it seems that node js segfaults, it produces a corefile (size of available ram) - however the core

[2018-08-23 12:59] hjanuschka commented on #1812
thx - i am going to todo it mongo side via ruby/php - to get it quickly done, and will start working on a plugin in the next weeks.

[2018-08-23 14:33] hjanuschka commented on #1815
its driving me nuts, the node server is soo poor. now on 8VMS à 4 container with 5 cores per VM. the node process just stops responding under 5s, without notice 2 minutes after start.

what is going on here!

[2018-08-23 14:34] hjanuschka commented on #1815
we even scaled our SSL infrastructure, because of the slow coral responses, the nginx containers started to freak out

[2018-08-23 14:36] kgardnr commented on #1815
What we typically recommend is to provide a number set of nodes performing job processing and the rest serving http traffic. This would ensure that nodes processing emails and scraping tasks will operate successfully.

In this situation we'd recommend configuring a single Talk node as the job processor. You can set a node to not handle job processing by changing the Docker command executed for the

[2018-08-23 14:47] angelo-hub opened #1816 "Feature Idea: Support for PM2 within the docker container"
It would be useful if we could support PM2 within the docker container, and accept PM2 configuration files for better uptime and full utilization of the deployed instances.

Implementing PM2 is documented [here](http://pm2.keymetrics.io/docs/usage/docker-pm2-nodejs/) could help avoid outages, unhandled exceptions, and increase performance through allowing users to configure a cluster configuration

[2018-08-23 14:56] cristiandean commented on #1815
Hello @hjanuschka, we also have performance issues with Coral Talk. The last one was when we updated from version 4.4.0 to 4.5.1 and the CPU average consumption doubled #1773 . We did some tests and and we found that the villain is the websocket.

 So, one of our ideas is disable the websocket losing freshness in favor of network stability #1615 (we're working on it).

[2018-08-23 14:57] kgardnr commented on #1815
@christiandean can you outline your Talk architecture for us?

[2018-08-23 14:58] angelo-hub commented on #1816
@kgardnr If this needs extra hands, I'd be glad to work on it!

[2018-08-23 15:10] cristiandean commented on #1815
@kgardnr we are using 10 VMs with 4 CPU / 8GB each. We also have 6 VMs of front end with 4 CPUs / 8GB each.

With that we are attending 1.500 request per second, about 30 inserts/updates per second on database.

We tried to isolate our websocket in 20 VMs but we didn't succeed.

[2018-08-23 15:49] WhiteHotLoveTiger commented on #1814
Hey Kim & Wyatt, thanks for all your help so far. I'm a colleague of @hminaeeBrunswicknews

If we can't get this working ourselves, perhaps we'll need to look at your hosted version, though I feel like we *should* be able to handle it.

I've taken a second look over our JWTs, and I'm feeling pretty good about them at this point. It looks to me like we're setting the right claims and corresponding

[2018-08-23 18:55] wyattjoh commented on #1815
As I mentioned in the #1773 issue @cristiandean, is it possible to attach a debugger to the node process on an instance for a few seconds to gather a CPU profile? I'm groking the changes from 4.4.0 -> 4.5.1 now to try to identify the specific issue, but so far aren't finding anything standing out.

[2018-08-23 18:57] hjanuschka commented on #1815
@kgardnr thx, currently trying in production to use all nodes only with `-w`  and just  a single new one with `-j` (w/o web traffic)

first few minutes look good:

[code]

its almost stable arround 80-200ms, whereas with -j there are spikes to 2-33sec. ⭕️

however, ill have to wait, before the party, up until tomorrow 06:00-13:00 CEST - to verify (there is our traffic peak)

is there any statsd/in

[2018-08-23 18:58] hjanuschka commented on #1815
@wyattjoh - as of writing my perf. dropped again, now without `-j`:( back to 33s spikes.
could you provide a quick description on how to gather a profile?

[2018-08-23 19:03] hjanuschka commented on #1815
@wyattjoh @kgardnr ok figured it out, currently running it.
any chances i can drop the resulting profile on a private channel?

[2018-08-23 19:06] wyattjoh commented on #1815
Hi @hjanuschka, you can email the profile to me directly at wyatt at mozillafoundation.org.

[2018-08-23 19:08] cristiandean commented on #1815
@wyattjoh I'm programming to put the profiler next week.

@hjanuschka Yes, we splited the admin UI, backend application and static files (js, css, etc). With frontend I mean nginx servers.

[2018-08-23 19:23] hjanuschka commented on #1815
@wyattjoh just sent you a `tgz` - with 2 profiles, different size, both under circumstances where the webserver started responding really slow, avg 2-7 seconds on `/`  which is just the `301 -> /admin`

i also have a invalid core dump, seems like a cutoff or whatever, it has 1.6G and i definitly conains sensitive data, so even if it would be usefull, its near impossible to share.

[2018-08-23 19:57] hjanuschka commented on #1815
sent a couple of more profiler logs.

we are also trying to lazy load the Coral embed widget. with the bet on the fact that the majority of the users does not scroll down to the comment box.

also trying to find a way to kill the wss:// connection, on tabs that are open and unused for N minutes.

[2018-08-23 22:07] wyattjoh commented on #1815
Based on the feedback so far, I've created a potential patch that I think will definitely improve the performance around web-socket traffic.

You can see the changes here: https://github.com/coralproject/talk/pull/1817

Unfortunately, we don't have a great way to publish the changes as a easy docker image, so if possible, if you're already running v4.6.1, that branch should be a pretty simple swit

[2018-08-23 22:26] hjanuschka commented on #1815
@wyattjoh many many thx, currently building new base image from the PR branch, and building on top of that my custom image and shipping it :shipit:

[2018-08-23 22:35] hjanuschka commented on #1815
looks amazing so far.

however before going into full party mode, i ll wait for the high peak hours tomorrow.
but from right now, 10 minutes after shipping it, it looks like i could even downsize my VMS, response is now constant between 0.10-0.015ms 🙌

@wyattjoh many many thx for your work and patience ❤️  really appreciated.

[2018-08-23 23:03] wyattjoh commented on #1815
Please note there was a fix applied to that branch, anyone using should redeploy with that fix.

[2018-08-24 06:30] hjanuschka commented on #1815
@wyattjoh i sent you another archive with profile data, it starts to be slow again. now that its morning here in CEST and traffic is growing.

would be great if you could have a look.

[2018-08-24 07:01] hjanuschka commented on #1815
just a little update, sorry for spamming this thread. going to do a `how-to-run-at-scale.md` once everything is cleared and running.

added 3 more machines, so we are now at:

6 machines each 3 instances of coral in `-w`  mode.
1 machine 1 instance in `-j`  mode.
2 machines 1 instance of nginx (for ssl termination).

where as one of the recent bottlenecks where the ssl nodes

<details>
 <summary>t

[2018-08-24 07:15] hjanuschka commented on #1815
still having slow responses good damn, what are we doing wrong.

[2018-08-24 09:11] hjanuschka commented on #1815
its going to be lunch time in our country, which means traffic peak at us!
we added a few cors, right now at

8 machines à  3 node instances + 3 ssl nodes + job container.
seems to settle now 👍  using the #1817 branch! 👏

[2018-08-24 13:23] wyattjoh commented on #1815
I'd also recommend setting the [TALK_STATIC_URI](https://docs.coralproject.net/talk/advanced-configuration/#talk-static-uri) @hjanuschka to your Akamai url (note that you'll need to do this across any node serving HTTP traffic right now, as it'll render the templates differently as a result), you could then set the origin to any of your public facing Talk HTTP servers. This way, websocket traffic

[2018-08-24 13:51] hjanuschka commented on #1815
thx i am going to play around with the `TALK_STATIC_URI`
it already tried to send expire headers on `/embed/stream` - but somehwo it does not work
and well it includes dnymic response (nonce) could that even lead to problems?

sample article: https://www.krone.at/1737960  - search for `talk.krone.at` in the network debugger.

[code]

we had a `upstream {}` block in nginx, which did the loadbalanci

[2018-08-24 13:52] hjanuschka commented on #1815
ohhh and one vm with one instance for the jobs 😬

[2018-08-24 13:56] hjanuschka commented on #1815
@wyattjoh one more thing, any chances we can get #1817  merged and released? so we can switch back to official images? because that seemed to be the biggest performance gain, beside all other tweaks.

[2018-08-24 14:46] wyattjoh commented on #1815
I plan on getting #1817 merged shortly yes! It's just undergoing a short review first.

I'll review the other info you passed and continue to iterate on the work we've done so far.

Many thanks @hjanuschka!

[2018-08-24 15:37] wyattjoh commented on #1815
Good news @hjanuschka, after a review from @cvle, I was able to additionally, greatly improve the performance of the subscription system with batching.

We'll be releasing 4.6.2 today with this fix in it.

[2018-08-24 15:38] wyattjoh commented on #1816
I love the idea. Taking a look at this, will keep you posted!

[2018-08-24 17:16] wyattjoh commented on #1815
Released v4.6.2 https://github.com/coralproject/talk/releases/tag/v4.6.2

Let us know how it goes!

[2018-08-24 17:44] hjanuschka commented on #1815
@wyattjoh going to pull the new images, really appreciate your help! looking forward to.
will post updates, once i have a bit more data 👍

[2018-08-24 17:49] hjanuschka commented on #1815
@wyattjoh so my token (besides the really bad code style; havent yet found an accaptable beautifier for vim and ES6) - script is ok? (the docs arround that where a bit confusing. (another PR we'll do, once everything is fine)

[2018-08-24 18:02] hjanuschka commented on #1815
@wyattjoh shipped and running, but for whatever reason it still shows 4.6.1 where as i verified, the container contains the code from the PR in #1817  - you forgot a bump somwhere?

[2018-08-24 18:10] wyattjoh commented on #1815
Yeah :( forgot to bump the version in the `package.json`... Will re-release v4.6.2 shortly, it won't impact anything though!

[2018-08-24 19:23] kgardnr commented on #1815
Solved in https://github.com/coralproject/talk/pull/1817

[2018-08-24 22:30] hminaeeBrunswicknews commented on #1814
Hi,

@kgardnr  @wyattjoh
We found the issue.
The issue was the build process. For some reason the docker was still building on the docker repo and not taking our changes into account. I had to build everything out of docker and I was able to see the the custom plugin is triggered.

Thanks

[2018-08-24 22:30] #1814 closed, assigned to nobody

[2018-08-24 23:41] hminaeeBrunswicknews opened #1820 "I get "Cannot return null for non-nullable field UsernameStatus.status." after user object is returned from tokenUserNotFound plugin"
Hi,

I implemented the SSO tokenUserNotFound plug in and I was able to see it is being triggered which means that the token is valid and the user is not found so this custom plugin is triggered.
Here is my code:

`

         const fetch = require('node-fetch');

         const UserModel = require('../../../models/user');

          module.exports = {
	  profile={id:"111111","username": "hamedminae

[2018-08-26 21:01] hjanuschka commented on #1815
weekend was good. we even had our first sad breaking event, and talk kept running.
however i am a bit curious while trying to cache the /stream/embed/

if i get it right, the page/response itself is 100% static, so no matter what comes in it could be cached by cdn, as the react/js part inside the iframe extracts the parameters from the query string?.

however the query string contains information

[2018-08-27 06:04] KaitoHH opened #1821 "How can I add a plugin in heroku?"
I used one-click button to deploy talk in heroku. Now I want to add some internal plugin, how can I do this?
I tried editing `TALK_PLUGINS_JSON` env variable but it seemed no effect. I tried either containing only my needed plugin in `TALK_PLUGINS_JSON` or containing needed and default plugin but they were no use.

Another question is, if I want to add a plugin, for example, `talk-plugin-notificat

[2018-08-27 06:33] alexandrebodin commented on #1806
I'll write sth up sure :D

[2018-08-27 10:00] hjanuschka commented on #1812
ended up doing it that way:

[code]

once everything is setteld i ll publish a plugin in and try to find a graph-way of providing that information

[2018-08-27 12:23] hminaeeBrunswicknews commented on #1820
@kgardnr  @wyattjoh  Any idea?

[2018-08-27 21:00] kgardnr commented on #1821
Hey @KaitoHH! To determine if a plugin requires `server`, `client`, or both, you can find out in our plugins directory - https://docs.coralproject.net/talk/plugin/talk-plugin-notifications

Note, for notifications, you'll need to add more plugins for the categories you want to enable - you can find this by searching the directory for `notifications-category`. You can also enable digests - search `

[2018-08-27 21:54] kgardnr commented on #1815
Hi @hjanuschka! Wonderful news that Talk performance has improved - woohoo!

Most of our dev team is off this week for summer holidays, but someone will get back to you as soon as we can!

[2018-08-28 02:28] kgardnr commented on #1820
@hminaeeBrunswicknews you'll need to make sure the username.status is set, it can't be null:

`status.username.status = SET`

You can see more here: https://github.com/coralproject/talk/issues/1703

[2018-08-28 04:07] KaitoHH commented on #1821
@kgardnr Thanks for the reply! I have successfully created my own Dockerfile and deployed to heroku! Here is a suggestion. Since user can not choose whether a plugin should be placed in `server`, `client`, or both, just remove `server` and `client` in `plugins.json` and let `talk` automatically determine is maybe a good choice.

[2018-08-28 09:05] hjanuschka commented on #1815
@kgardnr thx for the info.

going to close the issue, since it runs butter smooth now.

a quick re-cap - for others stumbling upon this issue:

  * the patches in #1817 fixed the root cause inside the software itself
  * using TALK_STATIC_URI to server assets via CDN - reduced the amount of connections to the express app (incl. setting cache headers there)
  * scaling SSL nodes - to use 3 nginx+ha

[2018-08-28 09:10] #1815 closed, assigned to nobody

[2018-08-28 09:11] hjanuschka commented on #1815
MANY thx to all involved! and special thx for @wyattjoh (let me know when you are around vienna to get a 🍺  or a ☕️ ) for investing your time to look at the profiler data, and comming up with a fix that fast!

[2018-08-28 12:02] hjanuschka commented on #1605
i want this too :)

i want to log statusCode's and request time. like this

[code]

not sure if moving up the `router.use(require('./plugins'));`  is the right approach, any ideas?

[2018-08-28 12:05] hjanuschka commented on #1605
maybe we can get another hook, beside letting the route hook where it is on `app.` level?
theny it would be easy to register app wide middleware, and not changing/breaking existing code ?

[2018-08-28 12:16] hjanuschka commented on #1605
ahhh nevermind, ther is a app hook :)
just export app inside your plugin 👍 https://github.com/coralproject/talk/blob/master/app.js#L23

[2018-08-28 12:16] hminaeeBrunswicknews commented on #1820
Thanks @kgardnr
when I get the user object back I added this line in my code:

status.username.status = SET

and it worked.
However when I load it in my page I see that the user is logged in as the user object I set in profile object but I get the following pop up asking for user email and password:

![image](https://user-images.githubusercontent.com/24658315/44722217-c61ccc00-aaa2-11e8-9bdb-87d8c

[2018-08-28 12:23] leeeandroo commented on #1820
Hey @hminaeeBrunswicknews ,

You need to add a `provider='local'` to your profile object. Also, there is no `email` field in the profile, you need to use the `id` for it.

If you want to add more information to your profile, you can use the `meta` field.

Ref: https://github.com/coralproject/talk/blob/master/models/schema/user.js#L19

[2018-08-28 12:39] hminaeeBrunswicknews commented on #1820
Thanks @leeeandroo

I updated my profile as follows:

`profile={id:"minaee11.xx@xxx.com","username": "hamedminaee11","provider":"local"};`
and in the logs I get:

`

      http error
      err: MongoError: E11000 duplicate key error collection: talk.users index:
      profiles.id_1_profiles.provider_1
      dup key: { : null, : null }
      at ./node_modules/mongodb-core/lib/connection/pool.js:580

[2018-08-28 13:17] thor27 commented on #1605
We actually dropped this plug-in for now, so I don't have this need anymore, but thanks for the info, if we need this again we are going to do that as you said.

[2018-08-28 13:17] #1605 closed, assigned to nobody

[2018-08-28 15:03] kgardnr commented on #1821
Hey @KaitoHH, yes we have some plans around that - thanks for the suggestion!

[2018-08-28 15:03] #1821 closed, assigned to nobody

[2018-08-28 15:08] hjanuschka opened #1823 "Karma threshold"
from our moderator:

if we reject a post, or two - every following comment is auto-reported, and that way its hard to review.

i think this is the config variable: https://docs.coralproject.net/talk/advanced-configuration/#trust-thresholds

but i am a bit too stupid to figure out how it works.

p.s: we are running in full "moderate" mode. and having a typical user with 30-40% reject rate.

[2018-08-28 15:09] hjanuschka opened #1824 "See Total number of unmoderated posts"
from our moderator:

is there a plugin slot we can use to provide the totalnumber of non-moderated

[2018-08-28 15:11] hjanuschka opened #1825 "Comment Search"
from our moderator:

is there a roadmap / milestone, or should we go the "build your own plugin" way - for adding search/filter functionality

[2018-08-28 17:58] kgardnr commented on #1823
Hey @hjanuschka, you can increase the comment threshold in the variable. So maybe:

`TRUST_THRESHOLDS=comment:2,-10;flag:2,-1`

This means commenters with even 10 rejected comments (versus their approved) would still be able to comment.

It might be worthwhile to let it go for a while while the ecosystem rebalances itself though - the purpose of karma is to decrease manual moderation because comme

[2018-08-28 18:00] kgardnr commented on #1824
@clintabrown this is similar to what we were discussing yesterday.

@hjanuschka Clint proposed a way to see how many unmoderated comments were on each story, showing this maybe in the Stories tab.

@erikreyna might also be interested in something like this.

Thoughts?

[2018-08-28 18:07] hjanuschka commented on #1824
having it on the story list too would be also great like `total` / `totalUnreviewed` / `totalReject`

and of course in the tabs too, i think our mods basically need it to see how many are in review, and want to see a light at the end of the tunnel.

[2018-08-28 18:46] hjanuschka commented on #1823
🤚  hey @kgardnr thx for clarification.

talking to the community department, they dont think, atleast in the current point in time, that use will tend into positiv users. we are no running with `comment:2,-9999`  😱

many thx, going to close this issue now.

[2018-08-28 18:46] #1823 closed, assigned to nobody

[2018-08-28 18:52] hjanuschka opened #1826 "Reported Comments, in pre-moderated setup"
we are running in 100% pre-moderated setup. so every single comment is reviewed by a human.
however sometimes, due to many different reasons, like "short comment, no direct context, in reply's" - it sometimes happens that a comment is approved that should not be public.

there are many users out there, who actually would  report it, but it seems the reporting functionality is like disabled, as the

[2018-08-28 18:52] hjanuschka commented on #1826
same goes for reported-users, but we are fine with the fact that reporting users is useless. atleast for now. as they have the "SET" state via tokenNotFound - and there isnt even a functionality to change nicknames.

[2018-08-28 20:16] kgardnr commented on #1820
Talk sets the user id, that's why the error is saying duplicate key. I took this from another newsroom's auth plugin to show you an example of how you should be setting these pieces, and the `displayName` too:

[code]

[2018-08-28 20:18] kgardnr commented on #1825
@hjanuschka we don't have this on our roadmap, but we'd love to hear more what you're thinking - we can provide feedback on your design for how you might implement filtering by timespan. Our concern with something like this is the impact it could have on performance potentially.

Let us know what you're thinking.

[2018-08-28 20:26] hjanuschka commented on #1825
havent yet finished thinking about it :/ - let you know once we start doing it (might take a few weeks).
about the performance, not sure about graphQL in general, but doing it mongo side, the filtering, and even fulltext search, should not be the big problem.

i ll try to find the resources to work on it, and would start trying todo it in graphQL - not sure if i succeed.

some ideas:
(mainly based

[2018-08-28 20:27] kgardnr opened #1827 "[Megathread] Feature Idea: Native App Support for Talk"
This is a megathread to discuss native app support for Talk.

[2018-08-28 20:31] kgardnr commented on #1802
Solved in https://github.com/coralproject/talk/pull/1804

[2018-08-28 20:31] #1802 closed, assigned to nobody

[2018-08-28 20:33] kgardnr commented on #1773
Hey @cristiandean can you check out the latest release and see if that helped resolve these issues you were seeing too?

[2018-08-28 20:35] kgardnr commented on #1723
Hey @activeoblique were you able to get this working?

[2018-08-28 20:39] kgardnr commented on #1659
Hey @nevernervous were you able to get this working for you?

[2018-08-28 23:58] nevernervous commented on #1659
Hi, @kgardnr
I didn't use docker image. Just build the project from the source code and it works well now.
This is the really fantastic project.

[2018-08-29 00:17] kgardnr commented on #1659
@nevernervous wonderful! And thank you for the kind words! 💖

[2018-08-29 00:17] #1659 closed, assigned to nobody

[2018-08-29 06:10] hjanuschka commented on #1534
we implemented a custom endpoint, in case the user requests to delete himself, #gdpr.
created a custom user "removed-user" -  and comments get migrated to that virtual user.

[2018-08-29 06:54] hjanuschka opened #1828 "503 on logout"
we are expierencing 503/502 on loggout.
running in auth_token only mode.

[code]

seems to be down here: https://github.com/coralproject/talk/blob/f2857a8085b8f3b4757ad7a93698d0b90ce28824/services/passport.js

we are using "Coral.render" - and "Coral.login(TOKEN)"  + "coral.loggout()"

i installed http://sentry.io - but for whatever reason, it doesnt bubble up the exceptions and that way i don't s

[2018-08-29 07:47] hjanuschka commented on #1828
ok one problem `app.use(Raven.errorHandler());`  needs to be at the very bottom of all routes.

could'nt find a hook :(

[2018-08-29 15:34] marykenefick opened #1830 "Changing Username with GraphQL - Getting Not Authorized Error"
#### Do you want to request a **feature** or report a **bug**?
Question

#### Intended outcome:
We are trying to use GraphQL to change a username but keep getting a “not authorized” error. I created a token for an Admin user

#### Actual outcome:

We are getting a “not authorized” error:
{“data”:{“changeUsername”:{“errors”:[{“translation_key”:“NOT_AUTHORIZED”}]}}}

#### How to reproduce the issue:

[2018-08-30 13:42] sherrymorales commented on #1830
It appears one can only change his/her own username and when current username has a status of REJECTED. Is there a good way of updating usernames and email addresses using a system admin account?

[2018-08-30 15:16] angelo-hub commented on #1816
Hey @wyattjoh  following up, any updates on if it's possible/worth doing?

[2018-08-30 18:12] wyattjoh commented on #1830
The graph edge that you used to change the username of a user was really only meant for the internal username changing system, not for external systems to instrument changes on behalf of an external system. Unfortunately you would have to implement a plugin that includes that functionality specifically, hence the errors that you’re seeing. Take a look at
https://docs.coralproject.net/talk/integrat

[2018-08-30 18:12] #1830 closed, assigned to nobody

[2018-08-30 18:22] wyattjoh commented on #1816
Hey @AngefloMusic! I think it’s a neat idea! I want to take an initial stab, as I wanted to ensure existing implementations won’t be that affected by creating a third docker image just with pm2.

It may also be a possibility to create a third party package that sources from the `coralproject/talk:*-onbuild` image and publishing it on docker hub.

[2018-08-31 09:48] hjanuschka opened #1834 "script12030 IE11/Edge Websocket timeout"
we are having troubles with those IE users, dont ask, we still have alot of them.

`SCRIPT12030: WebSocket Error: Network Error 12030`

this might be a hint: https://stackoverflow.com/questions/48789032/microsoft-edge-websockets-script12030-error-after-30secs

we already set `TALK_KEEP_ALIVE=15s`
but still having issues on IE.

reproduce:
  - go find a windows VM 👎
  - open IE11
  - go to https://

[2018-08-31 14:00] kgardnr opened #1835 "Long urls break comment cards in Moderator view"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:
Long urls should wrap within the comment cards in Admin > Mod Queues.

#### Actual outcome:

<img width="690" alt="long_urls" src="https://user-images.githubusercontent.com/1077300/44916813-9f5dd000-ad04-11e8-8fcb-25011842f8d2.png">

#### How to reproduce the issue:
Create a new comment with a long url. You

[2018-08-31 15:22] kgardnr opened #1836 "Feature Idea: Allow timestamp on moderation side to be configurable so it can support absolute time instead of relative time"
#### Do you want to request a **feature** or report a **bug**?

Feature

#### Intended outcome:
Talk supports a slot for the timestamp on the stream-side: https://github.com/coralproject/talk/search?q=commentTimestamp&unscoped_q=commentTimestamp

We would like to have this slot on the mod side.

So "4 weeks ago" would show as "Date Time"

<img width="687" alt="rel_time" src="https://user-images.gi

[2018-08-31 16:55] kgardnr opened #1838 "Feature Idea: Show ALL unmoderated pre-mod comments in that thread in View Context"
#### Do you want to request a **feature** or report a **bug**?

Feature

#### Intended outcome:
Moderation of comment streams in pre-moderation is difficult and needs more context for the moderators to make decisions.

Currently, we do show comments that are in pre-mod to admins, via the View Context View, but only show the singular comment and their parent. We should show all comments in that thr

[2018-08-31 16:58] kgardnr commented on #1838
@clintabrown @hjanuschka @leeeandroo - here's a suggested feature to solve some issues around moderators lacking comment context when they're moderating a pre-mod thread. Thoughts welcome!

[2018-08-31 18:07] hjanuschka commented on #1838
idea sounds great, it is meant to review in frontend, right? my mods actually fully work in the backend, in zen mode using almost shortcuts only, would be nice - if there is a shortcut to unfold context for example.

review in frontend is too hard on our side, too many stories in too many different locations and some of them even on different platforms.

i think our ideal solution would be to:
hit

[2018-09-03 07:07] hjanuschka commented on #1836
how about: https://github.com/coralproject/talk/pull/1841

[2018-09-04 14:10] wyattjoh commented on #1834
If you're seeing those types of disconnections @hjanuschka, it may be the case that the loadbalancers/routes inbetween you and the Talk instance is terminating the connections. As long as the client reconnects, it should still work fine right?

Does the connections reconnect after you see that error?

[2018-09-04 15:17] wyattjoh commented on #1838
I think we would ideally love to have the context viewable in the admin panel, we just never got around to developing that part 😅! We already scrape assets to extract metadata, see the assets collection for what we collect, so that can already be displayed inline if we wanted to.

[2018-09-04 17:52] #1806 closed, assigned to nobody

[2018-09-04 18:10] hjanuschka commented on #1834
it does not seem to reconnect, just shows "network error" and/or "query returned undefined.

as said its weird it is only happening in IE/Edge - and a couple of FF (having a teamviewer session with a user, tomorrow)

[2018-09-04 18:11] hjanuschka commented on #1838
great, i think i am going for it. just have too get used to the graphql.

[2018-09-04 19:23] wyattjoh commented on #1828
I'm curious if the token that you're passing to it contains a `jti` claim?

[2018-09-05 08:38] hjanuschka commented on #1828
you are right, havent set jti, found it out the hard-way, we recently added `exp` - to the token.

once exp, is set, and no jti is set, you immediatly get "token revoked".
adding jti fixed this, so going to have a look at the 503's if they are fixed too.

[2018-09-05 12:35] hminaeeBrunswicknews opened #1845 "Getting error: " Cannot return null for non-nullable field User.id" when trying to use tokenUserNotFound plugin"
I am trying to authenticate user using tokenUserNotFound

Here is my code which I got it after going through this thread :  [https://github.com/coralproject/talk/issues/1820](url)

[code]
and I get the following error:
[code]

when I print the user returned I get:

[code]

and when I print the jwt token this is what I have:

[code]

and jwt.ssoCode returns **undefined**.
I generated the token from

[2018-09-05 13:26] #1820 closed, assigned to nobody

[2018-09-05 15:52] wyattjoh commented on #1845
I think that the example that @kgardnr provided was from a different style of authentication.

You should instead use code similar to this:

[code]

That should work for you @hminaeeBrunswicknews!

Note that the code that @kgardnr posted, `ssoCode` should have been `sub`, as `ssoCode` is used in a different implementation.

[2018-09-06 12:10] hjanuschka commented on #1834
ok i found the error.

we are using nginx->haproxy->coral

the IE issue did not happen, in a lab-scenario when we directly went to coral.
increasing `proxy_*_timeout` in nginx and `timeout server|client|keepalive`  in haproxy fixed it.

having no set a value of 86400s 👍

[2018-09-06 12:10] #1834 closed, assigned to nobody

[2018-09-06 13:15] deepaksisodiya opened #1848 "Not able add embed script to my local page"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

added the embed script to my page
#### Actual outcome:

showing graphql error: Internal error

#### How to reproduce the issue:

follow this https://docs.coralproject.net/talk

#### Version and environment

v4.5.1

[2018-09-06 14:44] hminaeeBrunswicknews commented on #1848
@deepaksisodiya  I am new to talk as well but this happened to me and after white listing the page url in which I added the script to, the problem was resolved. It worth's giving it a try :)

[2018-09-06 16:20] losowsky commented on #1845
Completely separately from this issue: would your team be interested in a call with us, to talk about your community/comments strategy, and also our multi-tenancy hosting packages? Let me know! I'm andrewl@mozillafoundation.org

[2018-09-06 17:21] soosap opened #1849 "How to control publication date in the talk admin? (defaults to 1/1/1970)"
I have deployed the talk service and in the dashboard under `/admin/stories` I see the stories. All good.

Just for `Publication Date` I am not sure how to control that. It get set to `NaN/NaN/NaN` in development and to `1/1/1970` after it is deployed. Is there a parameter or something that I need to use to control the publication date?

[2018-09-06 18:14] hminaeeBrunswicknews commented on #1845
Thanks @losowsky  please check your email.

[2018-09-07 07:17] deepaksisodiya commented on #1848
@hminaeeBrunswicknews Thanks for the reply. The issue is solved. One thing to notice is that the docs here [https://docs.coralproject.net/talk](https://docs.coralproject.net/talk) say that the domain where you embedding the script should to added in permitted domains list. But if you see the code here [https://github.com/coralproject/talk/search?q=canonical&unscoped_q=canonical](https://github.com

[2018-09-07 09:24] paulwellnerbou opened #1851 "Asset URLs with request parameters do cause incorrect context links"
#### Do you want to request a **feature** or report a **bug**?

**bug**

#### Intended outcome:

If the asset URL contains request parameters already, the generated context URL is wrong as it appends another `?`, see https://github.com/coralproject/talk/blob/b9d88251e6cd45da61f1e46ef43ed12a6d47000a/client/coral-admin/src/routes/Moderation/components/Comment.js#L171 or https://github.com/coralproje

[2018-09-07 12:03] hjanuschka commented on #1851
i think it is going to be fixed with this https://github.com/coralproject/talk/pull/1819
can you confirm/verify this?

[2018-09-07 12:37] paulwellnerbou commented on #1851
@hjanuschka, thank you! Did not discover this PR.
Yes, it fixes this issue.

[2018-09-07 19:30] hminaeeBrunswicknews opened #1856 "SSO implementation: redundant additional information pop up when trying to sign external user"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:

Trying to sign in external user using talk SSO
![image](https://user-images.githubusercontent.com/24658315/45165486-4f32b200-b1cb-11e8-95ec-358480c016af.png)
#### Actual outcome:

![image](https://user-images.githubusercontent.com/24658315/45119515-0975db00-b132-11e8-8120-87c13384961c.png)

**More explanati

[2018-09-07 19:31] #1845 closed, assigned to nobody

[2018-09-07 20:01] #1835 closed, assigned to nobody

[2018-09-10 09:45] deepaksisodiya opened #1857 "SSO"
#### Do you want to request a **feature** or report a **bug**?

question

#### Intended outcome:

In my website, There is session based authentication.
But I am unable to find docs related to that.
The one here https://docs.coralproject.net/talk/integrating/authentication/ has only token related docs

#### Actual outcome:

#### How to reproduce the issue:

#### Version and environment

[2018-09-10 10:03] belrvn commented on #1827
Hi, what is there a way to launch Talk on Android in webview?
In my situation CoralTalk itself is incapsulated inside of <iframe/> on the html page that is shown on the Android in webview. So to log in with coral talk I am redirected to another page in the same webview to choose between the Facebook or Google authorization. Here is a double problem is that on Android Google is trying to prevent us

[2018-09-10 17:28] himynameissebbo commented on #1849
Hey!
The date must be a valid ISO date, e. g. `2018-09-10T16:19:30.232726+00:00`. Further you need to pass the `publication_date` attribute when adding a asset to talk.

You'll find some details over there: https://docs.coralproject.net/talk/integrating/asset-management/

[2018-09-10 17:53] himynameissebbo opened #1859 "Set default tags for comments"
#### Do you want to request a **feature** or report a **bug**?
question

#### Question
Is it possible to add custom tags by default when adding a comment to an asset without an extra click by the user? I want to achieve that every comment has some default tags when added in order to display custom moderate queues in the Talk backend.

The queue is working but it's not working properly because the

[2018-09-10 18:19] hjanuschka commented on #1859
🤚 hey @himynameissebbo you should be able to achieve that with the `pre` hook on the `createComment`.

example:
https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-akismet/server/hooks.js#L111
i think `input.` is a good place.

let me know if you'd need anymore help

[2018-09-10 21:25] #1859 closed, assigned to nobody

[2018-09-10 21:27] #1848 closed, assigned to nobody

[2018-09-10 21:33] wyattjoh commented on #1857
You can use your session based auth to create a token, and pass that to Talk to exchange for user details when logging in the user following the authentication documentation you linked.

[2018-09-10 21:35] wyattjoh commented on #1856
@hminaeeBrunswicknews: you should disable the [talk-plugin-local-auth](https://docs.coralproject.net/talk/plugin/talk-plugin-local-auth) plugin, that's what's prompting the user for the email.

[2018-09-10 21:35] #1856 closed, assigned to nobody

[2018-09-10 21:48] soosap commented on #1849
Ok thanks that's exactly what I was looking for :)

[2018-09-10 21:48] #1849 closed, assigned to nobody

[2018-09-11 03:51] jossittelija commented on #1827
Having similar issues trying to getting Talk working in iOS and Android apps.

Most straightforward approach would be to follow Google and Facebook auth recommendations and redirect each authorisation to use browser or app, depending on if users e.g. have authorisation capable apps installed, falling back to browser authentication. After authentication, there should be clear way to return to app /

[2018-09-11 03:56] jossittelija commented on #1827
For those iOS and Android native apps that do not use webviews, best approach would be to have Talk native kits, e.g. for IOS using Cocoapods, that support performing sign-in and reading / writing comments using an API, and allow the apps the freedom to present the comments to the user using per-platform UI techniques. In this case, it may be also good to define UX guideline on so that apps may us

[2018-09-11 07:20] himynameissebbo commented on #1859
Hi @hjanuschka, thanks for the quick help. This is exactly what I am looking for!

Maybe you can help with this as well - I have set up the pre hook within my server plugin, but when I add a comment the pre function is not executed. I still got the same output as using the image without the plugin. Plugin is added to the `plugin.json`and building of the docker image with the plugins looks fine.

T

[2018-09-11 08:06] hjanuschka commented on #1859
try it this way:

`index.js`

[code]

`server/hooks.js`

[code]

[2018-09-11 08:49] himynameissebbo commented on #1859
Unfortnutatley I still having trouble to see any debug output - this is what my console shows me when adding a new comment with a normal user:

[code]

This looks right to me because I have pre-mod activated. But before this one it should call the pre hook, am I right here?

This is the hook:
[code]

Still trying to figure out why I do not see the "BOOM" here.

[2018-09-11 08:56] leeeandroo commented on #1859
Hey @himynameissebbo ,

Have you added your plugin on plugins.json? on **server** section?

[2018-09-11 08:57] himynameissebbo commented on #1859
Yap, it's added to the section:

[code]

[2018-09-11 09:39] himynameissebbo commented on #1859
I checked if the hook is really called once again, and it does. I am able to mutate the incoming comment with a debug body text for example.

I am still wondering why I dont see the debug output then 😑

[2018-09-11 10:16] hjanuschka commented on #1859
you should set DEBUG env to the eight level or *

--
Helmut Januschka
Sent with Airmail

Am 11. September 2018 um 11:39:51, Sebastian Mark (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2018-09-11 11:25] himynameissebbo commented on #1859
It works! Big s/o to you @hjanuschka!
Have a nice day!

[2018-09-11 13:33] himynameissebbo opened #1861 "Customize permissions for adding tags to comments"
#### Do you want to request a **feature** or report a **bug**?
question

**Question:**
As stated in #1859 I try to add some default tags to comments. I installed the pre-hook (see ticket) sucessfully but face another problem now. I'd like to add the tags to every incoming comment with the pre hook. This works fine when the user has an admin role (ADMIN, MODERATOR etc.). But it fails with NO_AUTH w

[2018-09-11 15:32] wyattjoh commented on #1861
You can certainly do that currently!

Check out: https://github.com/coralproject/talk/blob/13cc80bd356a8f2a3839ff4ea12010404dd152e6/plugins/talk-plugin-offtopic/index.js

For an example of how the OFFTOPIC tag is configured to use permissions.

[2018-09-11 15:32] #1861 closed, assigned to nobody

[2018-09-11 16:28] kgardnr commented on #1508
@icco check it outtttttt https://github.com/coralproject/talk-plugin-prom

[2018-09-11 19:33] hminaeeBrunswicknews opened #1863 "User name is shown instead of displayName though I directly specify displayName while creating the user"
Hello,

I am using talk SSO with TokenNotFound plugin.
When I inject profileName directly into the metadata field still the user name is displayed rather than the display name I specified.

Here is my code:

[code]

After running it on the client:

![image](https://user-images.githubusercontent.com/24658315/45382632-3cf7b000-b5df-11e8-91e8-f9aad5638802.png)

I see minaee992.hamed@yahoo.com4431 ins

[2018-09-11 22:44] #1851 closed, assigned to nobody

[2018-09-12 06:25] hjanuschka commented on #1863
try setting `username`  and `lowercaseUsername` to the username, and move the `email`  to the profile it self.

like this:

[code]

i also added a `localProfile` if you plan to use the notification plugin for example, it requires to have the local profile with a email.

let me know if that helps

[2018-09-12 06:45] #1828 closed, assigned to nobody

[2018-09-12 09:23] saerdnaer commented on #1861
We tried that, but the config you linked had no effects. The plugin you linked only contains frontend code for the client, the underlaying problem is that the backend does not check that configuration – compare

https://github.com/coralproject/talk/blob/master/graph/mutators/tag.js#L39-L41
https://github.com/coralproject/talk/blob/c19d4a433a0e1ab3453994affdfa5ed03becd6f8/graph/mutators/tag.js#L39-

[2018-09-12 11:02] deepaksisodiya opened #1865 "How to do for each article"
#### Do you want to request a **feature** or report a **bug**?

Question

#### Intended outcome:

Loading the comment section for each article.

#### Actual outcome:

Description

I have pages where first article is server render and when user scroll then all the other article is served by front end.

I have page dynamic article page, lets say **Article.vuejs**. In this page I am generating adding

[2018-09-12 12:03] deepaksisodiya commented on #1865
Got it. There is **asset_url** key in the **config** to do this.
Docs need to improve a lot. I have to see the source code for this.

[2018-09-12 13:20] saerdnaer opened #1866 "Q: Multiple JWT endpoints possible?"
Question: Is it currently possible to specify multiple JWT endpoints, e.g one for commenters for login via embed and another one for the talk backend where staff is moderating comments?

[2018-09-12 15:56] wyattjoh commented on #1866
Currently no, but they should and can all hit the same route, you can even use different secrets if you really want to segregate it.

[2018-09-12 15:56] #1866 closed, assigned to nobody

[2018-09-12 15:58] wyattjoh commented on #1865
Documentation is always a work in progress, glad to see you discovered the solution!

[2018-09-12 15:58] #1865 closed, assigned to nobody

[2018-09-12 16:16] wyattjoh commented on #1861
The OFFTOPIC tag works when the comment is initially created, not for adding a tag after the fact. Take a look through the entirety of the OFFTOPIC plugin itself:

https://github.com/coralproject/talk/blob/f2857a8085b8f3b4757ad7a93698d0b90ce28824/plugins/talk-plugin-offtopic/client/containers/OffTopicCheckbox.js

Which adds the tag before the comment is posted, so it doesn't actually hit that perm

[2018-09-12 20:39] hminaeeBrunswicknews commented on #1863
Thanks a lot @hjanuschka

I tried and it works only when the displayNames are unique but when two users have the same displayName I will get the following error:

[code]
Is there anyway to allow duplicate username?

[2018-09-13 09:32] saerdnaer commented on #1861
Thanks for the clarification. In our case we actually allow generic tags without a general restriction as implemented here:
https://github.com/coralproject/talk/blob/f2857a8085b8f3b4757ad7a93698d0b90ce28824/services/tags.js#L120-L124

so we would have to add a global config option do disable that check, e.g.

[code]

[2018-09-13 13:32] himynameissebbo opened #1867 "Check tags on an asset returns false (lodash / has)"
#### Do you want to request a **feature** or report a **bug**?
bug

#### How to reproduce the issue:
Within `services/tags.js` there is the function

[code]

which checks if global tags in the `settings` property for an asset are set. But even the property `settings.tags` is set for the asset the if condition

[code]

returns false.  When I remove lodash `has` everything works as expected:

[code]

[2018-09-13 14:52] wyattjoh commented on #1861
Based on your initial question in #1859, it seems like you wanted to add tags to a comment when the user creates the comment. If that's the case, then it shouldn't need modifications to the tag system to allow it.

[2018-09-13 15:02] wyattjoh commented on #1867
Nice catch! I was able to verify with the following table test:

[code]

It seems to be related to how the silly mongoose handles property access... I'll submit a PR shortly addressing this.

[2018-09-13 17:34] wyattjoh commented on #1863
You can use the:

https://github.com/coralproject/talk/blob/c19d4a433a0e1ab3453994affdfa5ed03becd6f8/services/users.js#L481-L486

function to create the initial username, which will ensure there won't be a duplicate.

You can also [disable auto indexing](https://docs.coralproject.net/talk/advanced-configuration/#disable-create-mongo-indexes) and remove the index manually, though it's not recommend

[2018-09-14 00:28] hminaeeBrunswicknews commented on #1863
@wyattjoh  Thanks for clarification.
I appreciate it

[2018-09-14 00:28] #1863 closed, assigned to nobody

[2018-09-14 03:38] #1867 closed, assigned to nobody

[2018-09-17 14:57] kgardnr opened #1876 "Querying Multiple Assets without logging in"
Question from [our Community](https://community.coralproject.net/t/querying-multiple-assets-without-logging-in/975):

The front pages of many sections on our website display comment counts for multiple articles. I need to be able to query all the IDs on those pages at the same time. This will greatly reduce the number of network calls performed, allowing the page to load faster.

This is from the

[2018-09-17 18:43] jimm-tampabay opened #1881 "Adding plugins to Talk"
Talk seems to have installed well.  We can use email for logins and comments are flowing.

The issue is adding plugins beyond the defaults.  I started trying to implement google-auth and was getting no where.  I had tried following the thread from community, but they were going from source and we used docker-compose for install.

I backed off google-auth to try something simpler and added like to

[2018-09-17 18:56] hminaeeBrunswicknews opened #1882 "Cannot remove "Not you? Sign out" in the Talk client"
Hi,

I am using SSO custom authentication and everything is fine but in the UI when the user is authenticated through SSO it is not logical to have the "Not you? Sign out"
I want to remove that piece.

![image](https://user-images.githubusercontent.com/24658315/45642886-0662df00-ba90-11e8-8514-5a8c304c3b3f.png)

I tried using css as follows:

[code]
This hid the "Sign out" but not the  "Not you?".

[2018-09-17 21:22] wyattjoh commented on #1882
You should remove the plugin `talk-plugin-auth` from your `plugins.json` which will hide all of those prompts :)

[2018-09-17 21:43] kgardnr commented on #1881
@wyattjoh the question was hidden in the <-- --> commented text.

[2018-09-17 21:46] wyattjoh commented on #1881
If you want to customize the default set of plugins available, you need to base your images off of the `*-onbuild` image tags, see: https://docs.coralproject.net/talk/installation-from-docker/#onbuild

You can essentially change your `docker-compose.yml` to something like this:

[code]

Where you have a file `talk/Dockerfile`:

[code]

[2018-09-17 22:51] jimm-tampabay commented on #1881
I'm sorry that I messed up that message, I need to spend some time with a help page for git issues.  I do git pretty well with code, clones, branches, tags, pulls,etc from the cli.  Never saw that issues page before and didn't find it user friendly. ;- )

Jim

________________________________
From: Kim Gardner <notifications@github.com>
Sent: Monday, September 17, 2018 5:43 PM
To: coralproject/tal

[2018-09-17 22:57] wyattjoh commented on #1881
Not a problem @jimm-tampabay! I just missed the message, was the comments https://github.com/coralproject/talk/issues/1881#issuecomment-422182691 able to help?

[2018-09-17 23:38] kgardnr commented on #1881
No worries @jimm-tampabay! Let us know if the `*-onbuild` solution works for you!

[2018-09-18 04:09] hminaeeBrunswicknews commented on #1882
@wyattjoh  Thanks for answering,

I removed the plugin and here is the content of my plugin.json:
[code]

But still I see the "Not you. sign out?" in the UI. Any idea?

[2018-09-18 04:36] kgardnr commented on #1882
Can you also paste the client side plugins you have?
On Tue, Sep 18, 2018 at 12:09 AM hminaeeBrunswicknews <
notifications@github.com> wrote:

[2018-09-18 04:40] hminaeeBrunswicknews commented on #1882
@kgardnr Where should I find it?
Is there any other json file rather than plugin.json?

[2018-09-18 04:42] kgardnr commented on #1882
In your `plugins.json` you should have client and server plugins listed, here is an example: https://github.com/coralproject/talk/blob/master/plugins.default.json

[2018-09-18 04:45] hminaeeBrunswicknews commented on #1882
@kgardnr

Sure. Here is the client part:

[code]

[2018-09-18 04:51] kgardnr commented on #1882
That copy is definitely in `talk-plugin-auth`, so maybe you've copied this over to your own auth plugin. Check the code there and see if it's in your plugin.

Otherwise, make sure when you remove plugins, you trigger a rebuild of the code, so it removes it.

[2018-09-18 11:09] deepaksisodiya commented on #1857
@wyattjoh Can you explain a bit more please

[2018-09-18 16:28] wyattjoh commented on #1857
You'd likely have to create a service on your application, that given a persons login status, issue a JWT token for that user. Pass that token into the embed then to sign in the user via the SSO docs.

[2018-09-19 00:13] hminaeeBrunswicknews commented on #1882
@wyattjoh @kgardnr

I removed the auth-token and then after I had to use yarn build to have that working.
However still the issue stays: if I remove the talk-plugin-auth I get the following:

![image](https://user-images.githubusercontent.com/24658315/45723393-6f794e00-bb87-11e8-820a-f09e54a8e994.png)

If I add that I get the following ;

![image](https://user-images.githubusercontent.com/24658315

[2018-09-19 00:33] kgardnr commented on #1882
Can you send a copy of your auth plugin to support@coralproject.net, and we can take a look?

[2018-09-19 00:47] wyattjoh commented on #1882
I would actually recommend in that case @hminaeeBrunswicknews that you simply include that text before the embed of Talk.

With the SSO authentication mode, it is assumed that the auth state is managed externally, hence why it also hides the name of the user authed.

[2018-09-19 00:53] hminaeeBrunswicknews commented on #1882
@kgardnr Please check it. It is sent with thanks

[2018-09-19 00:53] hminaeeBrunswicknews commented on #1882
@wyattjoh  Thanks for the answer

[2018-09-19 05:49] deepaksisodiya commented on #1812
@hjanuschka Did you make a plugin for it?

[2018-09-19 12:27] #1882 closed, assigned to nobody

[2018-09-19 20:30] lriggle-strib opened #1892 "Trouble adding tags to a new user account"
I'm having issues when adding a tag to a new user that's going to be created. In my `tokenUserNotFound` plugin, I'm doing a check on the data returned from my auth application to see if the user is a subscriber. If they are, I am trying to add a tag to their account to indicate that.

Here is the data being assembled:

[code]

As far as I can tell there's nothing explicitly wrong with any of that,

[2018-09-20 13:01] jimm-tampabay commented on #1881
The relevant files are posted below
If I stop Talk and run
docker build -t new-talk ./
it will create a completely new talk
but none of the plugins from plugins.json
the .env variables are available
I'm not sure where I am going wrong.

docker-compose.yml

version: '2'
services:
  talk:
    build:
      context: ./
    image: coralproject/talk:4.5
    restart: always
    ports:
      - "3000:3000"

[2018-09-20 14:05] davisshaver commented on #1567
@wyattjoh Picking this up again. I've got the JWT token validating correctly and am passing it to the embed code. It looks like the token is being handled by passport `authentication.js` middleware. Is this expected? I can't see my log statement firing.

[code]

[2018-09-20 14:09] davisshaver commented on #1567
Here's my embed code...

[code]

The secret I'm using for testing is `5655cd54876c97a51bde17141b5d00894b04e47ec97be49a6e48dcfd7fc8d7ed`. This validates as,

[code]

Relevant `.env`,

[code]

The plugin appears to be loaded correctly.
[code]

[2018-09-20 14:12] davisshaver commented on #1567
could passport/facebook auth be interfering with sso?

[2018-09-20 14:23] davisshaver commented on #1567
Nevermind, it was the `exp`. Didn't realize, this isn't how long the token should be valid but rather epoch time of expiration.

[2018-09-20 16:56] davisshaver commented on #1567
Ok, I've got this working for WordPress single sign-on. Here's a gist, would love a sanity check... https://gist.github.com/davisshaver/5a41a84de339f1612067119c9930998d

One specific question, are there any plans to expose the display name in the embed? I didn't see how to make this happen.

[2018-09-20 17:51] hjanuschka commented on #1812
yes - an internal one, i cannot share the whole one, but its basically like this:

`plugins/krn/index.js`

[code]

`plugins/krn/server/router.js`

[code]

be sure to adapt the part that matches the `id`'s from the url

with the plugin you can call `talk.domain.com/api/krn/top_commented` -> you get the top 10 most commented assets in the last 48h.

with `talk.domain.com/api/krn/comment_count?id=123

[2018-09-21 05:41] deepaksisodiya commented on #1812
@hjanuschka Thank you for the nice explanation.

[2018-09-23 13:19] hminaeeBrunswicknews opened #1902 "How to associate the custom url with the comment made by the use"
Hello,

I am not sure if this is a feature idea or it was already implemented in talk.
When user post a comment lets say in the page with the following URL: http://localhost:3003/miramichileader/100719778

I see the following in the admin page:

![image](https://user-images.githubusercontent.com/24658315/45928454-59b6b080-bf1a-11e8-9a8d-c357d861b233.png)

As is clear the url in which the user made

[2018-09-23 21:26] wyattjoh commented on #1902
@hminaeeBrunswicknews: There is already a way for when the comment stream embed is added to the page to specify the desired URL to use for associating with Talk (with the `asset_id` option, or setting the Canonical URL `<link rel="canonical" href="https://my/desired/url" />`), so I'm not 100% sure what you mean by a deep link?

It may be required for you to specify the url for the article in each

[2018-09-24 12:43] jimm-tampabay commented on #1881
I have tried to install from source on a clean new server instance.  Followed the install instructions and everything ran with no errors.  Ran yarn watch:server and get the following output and "talk is not setup" error.  Does anyone see my mistake?

yarn run v1.9.4
$ nodemon --config .nodemon.json
[33m[nodemon] 1.17.5[39m
[33m[nodemon] to restart at any time, enter `rs`[39m
[33m[nodemon] wat

[2018-09-24 12:44] jimm-tampabay commented on #1881
BTW, after getting this error I did run ./bin/cli-setup (no error) and then reran yarn watch:server with the same results

[2018-09-24 13:08] kgardnr commented on #1881
Hey Jim can you make sure you’re setting your .env file correctly? See the
Required Configuration section of the docs. Looks like your Talk root url
may not be set.
On Mon, Sep 24, 2018 at 8:44 AM jimm-tampabay <notifications@github.com>
wrote:

[2018-09-24 13:25] jimm-tampabay commented on #1881
Here is a copy of .env, other than the email connection it should be the same as the .env file in the instructions.

NODE_ENV=development # remove this line in production
TALK_MONGO_URL=mongodb://127.0.0.1:27017/talk
TALK_REDIS_URL=redis://127.0.0.1:6379
TALK_ROOT_URL=https://127.0.0.1:3000
TALK_PORT=3000
TALK_JWT_SECRET=password
TALK_SMTP_FROM_ADDRESS=XXXX@gmail.com
TALK_SMTP_HOST=smtp.gmail.com

[2018-09-24 13:27] jimm-tampabay commented on #1881
Hey, I just noticed that the talk url is https, I will change that and try again

[2018-09-24 13:37] jimm-tampabay commented on #1881
no luck, I stopped mongo and redis, changed the .env talk url to http from https, reran yarn build (no errors) restarted mongo and redis, ran yarn watch:server and got the same error.

[2018-09-24 13:38] jimm-tampabay commented on #1881
here is the current .env
NODE_ENV=development # remove this line in production
TALK_MONGO_URL=mongodb://127.0.0.1:27017/talk
TALK_REDIS_URL=redis://127.0.0.1:6379
TALK_ROOT_URL=http://127.0.0.1:3000
TALK_PORT=3000
TALK_JWT_SECRET=password
TALK_SMTP_FROM_ADDRESS=XXXX@gmail.com
TALK_SMTP_HOST=smtp.gmail.com
TALK_SMTP_PASSWORD=XXXX
TALK_SMTP_PORT=587
TALK_SMTP_USERNAME=XXXX@gmail.com

[2018-09-24 15:29] wyattjoh commented on #1881
Once you've started Talk, navigate to http://127.0.0.1:3000/admin and follow the installation prompts. The "error" warning you that Talk is not setup is just letting you know that Talk needs to be installed before it can run (like how Wordpress needs to install in order to start).

[2018-09-24 15:58] #1902 closed, assigned to nobody

[2018-09-24 18:58] hminaeeBrunswicknews opened #1905 "yarn watch:server & does not detach the process and after the terminal gets disconnected talk stops working"
Hello,

I run talk from source following the instruction here:

[https://docs.coralproject.net/talk/installation-from-source/](https://docs.coralproject.net/talk/installation-from-source/)

So far so good.
When I run the following "yarn watch:server &" talk starts running until the terminal I am running talk on gets closed or disconnect from the server. Then after Talk stops working.

As you see I

[2018-09-24 19:02] wyattjoh commented on #1905
In order to have the watch command persist after a terminal disconnect, you'll need to utilize [nohup](https://en.wikipedia.org/wiki/Nohup):

[code]

And it should accomplish what you're looking for 😄

[2018-09-24 19:41] hminaeeBrunswicknews commented on #1905
@wyattjoh

Here is what I get in nohup.out file when I run it:

[code]
Is it because I am in development mode?

[2018-09-24 19:47] wyattjoh commented on #1905
I honestly have no idea what that is, it's not due to Talk.

[2018-09-25 06:04] deepaksisodiya commented on #1857
Closing this issue, implemented the SSO
Thanks @wyattjoh

[2018-09-25 06:04] #1857 closed, assigned to nobody

[2018-09-25 06:27] deepaksisodiya opened #1907 "[Question] Need suggestions on custom auth (for SSO) practices"
#### Do you want to request a **feature** or report a **bug**?

Question

#### What is your questions?

We wanted to setup Talk to use our custom auth backend for SSO.  We referred available docs and Github issues.

So we did
- setup JWT token generation
- and implemented the tokenUserNotFound hook by modifying talk-plugin-auth code

So far so good and we got our dev setup working with Talk nicely

[2018-09-25 11:12] deepaksisodiya opened #1908 "[Question] How to hide the comment stream"
#### Do you want to request a **feature** or report a **bug**?

Question

#### What is your question

We have one article on one page and when user scrolls then the second article loads.
So there are multiple articles for one single page.
And there is one button say **See Comments** to view the comment stream for each article. and on click of the button, **comments stream** will open right side li

[2018-09-25 14:01] hminaeeBrunswicknews commented on #1905
@wyattjoh
Thanks a lot. Your answer for sure put me in the right direction.
For some reason ubuntu wants parenthesis around nohup and then it worked.

`(nohup yarn watch:server &) `

So the issue is fixed :)

[2018-09-25 15:18] freder opened #1909 "How do stories work?"
#### Do you want to request a **feature** or report a **bug**?
question

#### Intended outcome:
I just set up a local docker instance, and noticed that under `moderate` a comment's story is the page URL, but under `stories` "nothing" gets displayed.

a few extra questions about stories:
- how can I set `story` to a custom value?
- assuming stories are identifiers for the _thing_ people comment on

[2018-09-25 15:27] #1905 closed, assigned to nobody

[2018-09-25 16:21] wyattjoh commented on #1909
Asset metadata (title, dates) are scraped from the pages using a packaged called [metascraper](https://metascraper.js.org/).

The URL that Talk will use to scrape from is the URL located in the [canonical](https://yoast.com/rel-canonical/) tag, which you can use to help with de-duplicating articles.

[2018-09-26 09:53] freder commented on #1909
thanks, @wyattjoh

adding `<link rel="canonical" href="/bla">` works. – I was wondering though: when exactly does the scraping happen? ~is it done client-side, when instantiating the embed? or is it done by the backend? if the latter is the case, it makes sense that nothing shows up in the admin, because obviously the backend inside the docker container cannot access the host network.~ (**update:*

[2018-09-26 11:06] deepaksisodiya opened #1913 "[Question] How to add user avatar"
#### Do you want to request a **feature** or report a **bug**?

question

#### Intended outcome:

Trying to add the user avatar
I want to add user avatar like here https://www.nytimes.com/2018/08/27/travel/wedding-shopping-delhi-mumbai-india.html#commentsContainer
is there any way to add the user avatar

#### Version and environment

4.6.3

[2018-09-26 14:41] kgardnr commented on #1913
Avatar support is one of our Talk Recipes, you can find those here: https://github.com/coralproject/talk-recipes

[2018-09-26 14:42] #1913 closed, assigned to nobody

[2018-09-26 14:44] kgardnr commented on #1907
If you use the talk-plugin-auth, then you're opting to use OUR sign-in system. This creates users, helps them sign in, etc. This comes out of the box with Talk so you can simply use our system IF you want to.

But you don't need this.

You want YOUR system to manage YOUR users.

All you need is a way to tell Talk whether these users exist and should log them in.

You don't need the `talk-plugin-au

[2018-09-26 14:44] #1907 closed, assigned to nobody

[2018-09-26 14:55] striedinger commented on #1848
@deepaksisodiya  I am having the same exact issue, but only on a certain network. Did you figure out what the problem was?

[2018-09-26 17:51] #1684 closed, assigned to nobody

[2018-09-26 19:19] wyattjoh commented on #1892
The reason that it isn't working here, is because you're pushing the wrong structure onto the model.

https://github.com/coralproject/talk/blob/7b0213299a5cd3d201da5ff4d95ac84353fdd917/models/schema/user.js#L195

Tags on a user are in the form of a `TagLink`:

https://github.com/coralproject/talk/blob/7b0213299a5cd3d201da5ff4d95ac84353fdd917/models/schema/tag_link.js#L9-L27

Where `TagSchema` is w

[2018-09-26 19:22] wyattjoh commented on #1876
Currently in Talk v4, it is not possible without the introduction of a plugin which performs the requested queries on the database.

## 🚨Warning 🚨

In Talk v4, querying the Asset comment count (depending on the cache status) may or may not take some time to complete. We're working towards a solution in Talk v5 to support this, but for now, we strongly advise if you are implementing a plugin with a

[2018-09-26 19:22] wyattjoh commented on #1876
cc: @lriggle-strib

[2018-09-27 08:42] colourgarden opened #1914 "Default comment box height is huge"
[Initially reported on Talk forum](https://community.coralproject.net/t/default-comment-box-is-huge/723).

### Issue

We’re experiencing that the default height (both attribute and inline style) of the Talk `<iframe>` is much too large and means a large amount of dead whitespace below the Talk module. As suggested in the [forum thread](https://community.coralproject.net/t/default-comment-box-is-hu

[2018-09-27 13:05] iksteen opened #1915 "localStorage on Safari and iOS"
On https://github.com/coralproject/talk/blob/65a166b860357d2b8ca566a273381dcd523e59e3/client/coral-framework/services/bootstrap.js#L49-L50 it is suggested that Safari and iOS do not have a stable `localStorage` API. Is that still true?

If so, do you have a suggestion for the following scenario: We've created a plugin that implements `tokenUserNotFound` to implement SSO from our frontend to the ta

[2018-09-27 19:46] striedinger opened #1916 "Blank popup after oauth login"
I have encountered an issue when implementing google and facebook as auth providers. I installed the plugins and my settings are correct, however after I login with either the popup goes to a blank screen and I get an error in the console with the following:

'Refused to load the script 'https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js' because it violate

[2018-09-27 19:57] kgardnr commented on #1916
Hey @striedinger! Thanks for posting this.

Just confirming that you did set up the callback URLs and allowed domains for both Facebook and Google, via their developers UI?

[2018-09-28 02:16] kgardnr commented on #1914
Hey @colourgarden you can set the `iframe` to be a lesser height and it will automatically increase the height when more comments appear.

Test this out and let us know if it helps!

[2018-09-28 02:22] kgardnr commented on #1909
I'll try to answer all your questions here!

1. Scraping happens when Talk loads on the article page for the first time

2. Not sure what you mean about `title`. Your metadata may be incorrect. Can you send us an example article page to look at?

3. Yes, we do have some overlap between Stories, Streams and Assets - this will be corrected in v5.

Let us know if this helps!

[2018-09-28 02:25] kgardnr commented on #1908
Thanks for writing @deepaksisodiya!

If you want to manipulate how and when the embed renders, or is hidden, you'll have to do this with the code on your article page(s).

If you can explain more where you're running into issues here, we might be able to help, but this isn't a feature included in Talk, so it's outside the scope of the support we can provide typically.

[2018-09-28 02:25] #1881 closed, assigned to nobody

[2018-09-28 02:26] kgardnr commented on #1881
@jimm-tampabay I'm going to close this as resolved. Let us know if you run into any more trouble, and we're happy to help!

[2018-09-28 02:27] kgardnr commented on #1836
Fixed in #1841

[2018-09-28 02:27] #1836 closed, assigned to nobody

[2018-09-28 02:30] kgardnr commented on #1780
@franciclo if you'd like to pick this one up, feel free, we'd love to add it.

[2018-09-28 02:30] #1773 closed, assigned to nobody

[2018-09-28 02:31] #1723 closed, assigned to nobody

[2018-09-28 02:34] kgardnr commented on #1615
I'm closing this as we won't be including this in v4.x, but we will consider it for v5.

[2018-09-28 02:34] #1615 closed, assigned to nobody

[2018-09-28 02:35] kgardnr commented on #1619
I'm going to close this as we won't be providing this right now - external providers don't guarantee providing an email address. So local accounts should be the ones to require email, etc.

[2018-09-28 02:35] #1619 closed, assigned to nobody

[2018-09-28 02:36] #1639 closed, assigned to kgardnr

[2018-09-28 02:38] kgardnr commented on #1508
Bumping the above comment for @icco (who just returned from his honeymoon! 🎉 congratulations!)

I'll close this as we now have Prometheus support via https://github.com/coralproject/talk-plugin-prom

[2018-09-28 02:38] #1508 closed, assigned to nobody

[2018-09-28 02:41] kgardnr opened #1917 "If you change your username, the username field is still editable; it should no longer be editable and should show message saying you can only change username every 14 days"
#### Do you want to request a **feature** or report a **bug**?

**Bug**

#### Intended outcome:
If you change your username, the field should no longer show as editable; instead it should no longer be editable and show that usernames can only be changed every 14 days.

#### Actual outcome:

Username field still shows as editable

#### How to reproduce the issue:

Go to My Profile and click Edit Pr

[2018-09-28 02:44] kgardnr opened #1918 "System Admin should not be able to be banned"
#### Do you want to request a **feature** or report a **bug**?
**Bug**

#### Intended outcome:
This is a weird edge case we've come across sometimes, I believe it's only able to achieve this by manipulating the database directly; to stop this from happening, we should just prevent the system admin from being banned or suspended in any way.

[2018-09-28 02:47] kgardnr opened #1919 "If you post a suspect word and then click on My Profile, you get a spinner and cannot access the tabs or stream"
#### Intended outcome:

Weird edge case; it should load My Profile and not fail because of some issue with suspect words.

#### Actual outcome:

My Profile spins and is inaccessible.

#### How to reproduce the issue:

1. Make sure `suspect` is listed as a word in your Suspect Word List
2. Post a comment with the word `suspect` in it
3. Click on My Profile tab
4. You will see it fails to load

####

[2018-09-28 02:48] kgardnr opened #1920 "Change text in Moderation View > Configure"
Change "Include Comment Stream Description For Readers" in the configure menu to "Summary of your Code of Conduct"

Description text change to "This message will appear above every comments stream on your site. Click here to learn more about writing a good code."

[2018-09-28 02:50] kgardnr opened #1921 "Changing source map option does not work with webpack"

[2018-09-28 02:53] kgardnr opened #1922 "When I tap on the Notifications timing dropdown in Settings on my phone, it jumps my viewport to the bottom of the page"
Reported by @losowsky from iPhone 6S, latest iOS, Safari

[2018-09-28 02:54] kgardnr opened #1923 "UserDetail should update Reject Queue when comment status changes"
Currently this doesn't live update.

To reproduce:
- Login to Admin
- Click on user with previous comments
- From another account, reject one of those user's comments
- You won't see this reflected in the Admin screen

[2018-09-28 02:56] kgardnr opened #1924 "Username change box should show validation errors if username is not valid"
#### How to reproduce the issue:
1. Try and change your username to something invalid, e.g. "username@#!" (special characters are not allowed)
2. Your save will not take effect, but there is no feedback to the user as to why

[2018-09-28 02:58] kgardnr opened #1925 "[RICH TEXT] Chrome sometimes misplaces cursor on subsequent bolding, unbolding or italic and locks it there"
To reproduce:

Write normal text as a reply
Click on bold and write bold text
Click on bold again and write, the text is inserted in a wrong place on subsequent typing
(it does not always happen 🤔)

Rich text plugin is located here: https://github.com/coralproject/rte

[2018-09-28 03:00] kgardnr opened #1926 "Rich text comments add strange characters to the comments download fields in CSV"
#### How to reproduce the issue:

1. Create a comment using rich text
2. Go to My Profile and click Download My Comments
3. Go to your email and see the CSV file
4. You will find special characters for the rich text comment

[2018-09-28 03:01] kgardnr opened #1927 ""Copy" button on Share feature is not copying the permalink"
#### How to reproduce the issue:

1. Go to an existing comment
2. Click on Share
3. Click "Copy" to copy the permalink
4. Try and paste the link somewhere and it will not paste, it's not being copied to the clipboard

[2018-09-28 03:05] kgardnr opened #1928 "[Feature] Show Subscriber badge on comments in the mod queues on admin"
Story: As a moderator, I want to know if a user is a subscriber so that I can add that as a consideration when moderating/banning/suspending

This would be a modification to our Subscriber Recipe: https://github.com/coralproject/talk-recipes/tree/master/plugins/subscriber

**Acceptance Criteria**:
- Show a badge on comments in mod queues and in the User History

STORY IN OUR ICEBOX: https://www.pi

[2018-09-28 03:10] kgardnr opened #1929 "Keep tombstones in the stream and the admin the same size as the comment itself"
This affects moderators doing in-stream moderation; if they remove a comment, and the tombstone is smaller than the comment size itself, it creates a "jumping" effect because of the various comment sizes, which can be jarring to the moderator.

Note: We should test if this is happening on the admin mod queues too.

This is listed as a feature in our icebox, more info here: https://www.pivotaltrack

[2018-09-28 03:16] kgardnr opened #1930 "[talk-plugin-comment-categories] Categorize my comments"
_**Note:**  Should be created in separate repo `talk-plugin-comment-categories`, please post a comment and the Coral Core team will create this repo for you!_

STORY: As a commenter, I want to give context for my comment, so that it can be read within the context of similar responses

**Acceptance Criteria:**

- Default categories: Opinion, Experience, Additional Info, Question
- Can select multip

[2018-09-28 03:18] kgardnr opened #1931 "[talk-plugin-comment-categories] Filter comments by categories"
_**Note:**  Should be created in separate repo `talk-plugin-comment-categories`, please post a comment and the Coral Core team will create this repo for you!_

STORY: As a comment reader, I want to filter between categories of comments so that I can read different kinds of responses

**AC**

- Can only filter by one category at a time
- Default categories: Opinion, Experience, Additional Info, Que

[2018-09-28 03:22] kgardnr opened #1932 "[talk-plugin-comment-categories] Show Categories of comments in admin"
_**Note:**  Should be created in separate repo `talk-plugin-comment-categories`, please post a comment and the Coral Core team will create this repo for you!_

STORY: As a moderator, I want to see the context for comments so it'll help inform my moderation decisions

**AC:**
- Default categories: Opinion, Experience, Additional Info, Question
- Show categories on comment cards in Admin

http://suc

[2018-09-28 03:25] kgardnr opened #1933 "Create a Talk demo on Glitch"
If you'd like a fun project, let's try and get Talk up and running on Glitch. The goal should be an easy way to launch an instance of Talk.

Glitch: https://glitch.com/

AC:

* Make Dockerized version of Talk work with Glitch
* Ability to change the styling

[2018-09-28 03:26] kgardnr opened #1934 "Undo last mod action"
STORY: As a moderator, I want an Undo option in the mod queue so that I can easily take back an action I just took

AC:
- By pressing Ctrl-Z or Cmd-Z, it undoes the last action the moderator took

[2018-09-28 03:27] kgardnr opened #1935 "Moderator should be able to add a ban/suspend "memo" message for a user that only appears for other moderators"
Story: As a moderator, I want to give a reason why I'm banning or suspending someone so that other moderators know

[2018-09-28 03:29] kgardnr opened #1936 "[Plugin List] See list of my enabled plugins in the Admin UI"
Story: As an admin I want to see a list of my active plugins in the UI so I can easily see which ones we're using

AC:
- New tab in Admin entitled "Plugins"
- On this page, it lists the plugins that are currently enabled in Talk

[2018-09-28 03:31] kgardnr opened #1937 "Option to hide GDPR Features"
STORY: As a developer, I want to hide the GDPR features from Talk because I have my own GDPR strategies for all user data elsewhere on my site.

AC:
- Disable or hide GDPR features, if I'm handling this elsewhere
- Should be an ENV variable to enable/disable

[2018-09-28 03:41] kgardnr opened #1938 "Show a pre-mod notice above any streams that are in premoderation"
STORY: Admin can set a notice shown above pre-mod streams letting commenters know their comments will not appear right away

AC:
- Configuration in Admin > Configure
- Admin can add message that appears above pre-mod streams
- This message should appear directly above the stream

[2018-09-28 03:42] leeyspaul commented on #1933
Hi! I'd love to take up this issue and contribute if it's up for grabs.

[2018-09-28 03:44] kgardnr opened #1939 "Keep Question Box at the top of a comment stream after comments are closed"
STORY: As a moderator, I want the question that I asked at the top of the comments stream to remain after comments are closed, so that readers can see the prompt that created these responses

[2018-09-28 03:47] kgardnr opened #1940 "Add filters to Admin > Community > People"
STORY: As an admin, I want to filter by user status and user role

Filter by: Banned, Suspended, Active
Filter by: Admin, Staff, Moderator, Commenter

[2018-09-28 03:52] kgardnr opened #1941 "Document CLI tools as many people don't know about this"
You can access the CLI by running:

`./bin/cli`

Docs are located at: docs.coralproject.net/talk

Docs are run locally by going to `docs` dir and running `hexo serve`

More info on hexo here: https://hexo.io/

[2018-09-28 03:53] kgardnr opened #1942 "Add to Install docs standard setup of docker-compose to include separate plugins.json and env files for Talk"

[2018-09-28 03:55] kgardnr opened #1943 "Prevent accounts that are pending delete from commenting, replying, reacting"
Currently if a user submits an Account Deletion request, during those 24 hours, they can still comment and reply and react. We should prevent them from taking action in the system unless they cancel their Account Deletion request.

[2018-09-28 03:56] kgardnr opened #1944 "Prevent featuring a comment if the comment is still in it's edit window"
While a comment is still within its edit window (set globally for all comments), don't allow Moderators to feature that comment.

Show a message that says "This comment is still in its edit window and cannot be featured".

[2018-09-28 04:01] kgardnr opened #1945 "Ability to invite fellow Moderators from the Admin"
AC:
- Add new section in Configure called "Invite Moderators"
- Admin can add email addresses here (ability to add multiple at one time)
- Admin can invite Moderator role only
- Clicking "Send" sends an email to those users with an invite code for them to setup an account
- Clicking on link sends them to /admin/register where they can register with a username, email address, and password
- They ar

[2018-09-28 04:04] kgardnr opened #1946 "Make Banned/Suspended Word Lists collapsible in Admin > Configure"
These word lists can get long (and have some nasty stuff in them) - let's make these collapsed by default so they're hidden on first view of the Configuration pages.

[2018-09-28 04:05] kgardnr opened #1947 "Enable live updates on Pre-mod comment streams"
STORY: As a reader I want to see approved comments appear live on the stream so I can see the discussion in real-time

Websocket updating should work for approved comments too.

[2018-09-28 04:06] kgardnr opened #1948 "Add a button to refetch/scrape an asset from the "Stories" tab in the admin"
Clicking this button would re-scraped that asset for the correct metascraper metadata

[2018-09-28 04:07] kgardnr opened #1949 "Mod queues performance - only query the queues that the user is viewing"
Currently all mod queues are being queried on admin page load; we should only query the queue that the user is currently on

[2018-09-28 04:09] kgardnr commented on #1933
@leeyspaul it sure is!

[2018-09-28 07:53] freder commented on #1909
yes, that helps. thanks, @kgardnr

[2018-09-28 07:53] #1909 closed, assigned to nobody

[2018-09-28 09:15] freder opened #1950 "Docker: Enabling/disabling plugins"
I suppose this is related to #1881 and #1942

I wrote a custom `Dockerfile` to be able to serve static files from the same container, and to enable/disable plugins:

[code]

`docker-compose.yml`:

[code]

I started off by copying `plugins.default.json` to `plugins.json` and removing those plugins I don't need: for instance `talk-plugin-respect` and `talk-plugin-sort-most-respected`. but even after

[2018-09-28 10:21] freder commented on #1950
ok, what works is adding `plugins.json` to the image, so that it is available when building. – for some reason I thought using volumes would work, and that changes in `plugins.json` would get picked up at run time.

[2018-09-28 11:12] colourgarden commented on #1914
@kgardnr Hi Kim. There's an inline height being set on the `<iframe>` so any height set in my stylesheet is automatically overwritten on load. Could you provide some insight into how the `<iframe>` height is calculated (and adjusted)? Thanks.

[2018-09-28 12:20] striedinger commented on #1916
@kgardnr Yes, everything is setup correctly on google and facebook's side, as I said it works correctly on IE (surprisingly) but on Chrome and Firefox I'm just getting a blank popup when signing on the respective provider's site.

[2018-09-28 14:12] icco commented on #1508
Woot, thanks!

[2018-09-28 14:24] leeyspaul commented on #1933
Awesome! I'll look into this today!

[2018-09-28 19:02] kgardnr opened #1951 "Show original comment text for edited comments to mods"
STORY: As a moderator, I want to see what the original text was on a comment that's edited, so I can see if they've changed from something nasty to something ok

**AC**:
- On Edited comments in Admin, on the comment card, show Original Comment text

[2018-09-28 21:43] kgardnr opened #1952 "Changing Stream Status in Admin > Stories should update the UI live so it's not confusing to the user"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:
When you Open or Close stories in a filtered view in the Admin > Stories page, it's not clear that the status has indeed been updated, because the UI doesn't refresh to show this. Gif attached to show how this is currently working.

#### Actual outcome:
It looks like the status was not changed - even though

[2018-09-29 07:40] drasolon commented on #1951
Hi, can I work on this one ?

[2018-09-29 14:22] jmoreno commented on #1914
Hi. I´m not sure if this is the best way to fix this issue but it´s working well for me.

I´ve removed the `min-height` for the tabContainer. It had a 600px value. I´m considering remove padding-bottom also, but I still have it in my site.

[client/coral-embed-stream/src/tabs/stream/components/Stream.css](https://github.com/coralproject/talk/blob/master/client/coral-embed-stream/src/tabs/stream/co

[2018-09-29 15:02] kgardnr commented on #1951
Yep! Please do!
On Sat, Sep 29, 2018 at 3:40 AM drasolon <notifications@github.com> wrote:

[2018-09-30 20:10] moogacs commented on #1927
@kgardnr , where can i got to existing comment ?

[2018-09-30 20:27] moogacs commented on #1924
I wanna take this if still up , but just need direct access ?

[2018-10-01 05:23] deepaksisodiya commented on #1908
@kgardnr Thank you.

[2018-10-01 05:24] #1908 closed, assigned to nobody

[2018-10-01 05:24] deepaksisodiya commented on #1913
@kgardnr Thank you for the link

[2018-10-01 05:36] deepaksisodiya commented on #1848
@striedinger Can you please explain more on this so that I can help.

In order to Talk to work, we need to add the domain URL to permitted domain list here http://127.0.0.1:3000/admin/configure/tech in case of local.
And when Talk script runs on your page then it looks

first
**config.asset_url;**

if not found then, caninical link
**document.querySelector('link[rel="canonical"]').href;**

if not

[2018-10-01 13:15] striedinger commented on #1916
This turned out to be a Cloudflare issue as expected. It can be closed, thanks.

[2018-10-01 13:15] #1916 closed, assigned to nobody

[2018-10-01 15:47] leeyspaul commented on #1933
Hi @kgardnr! I took a look and got the demo running with the given docker image on my own machine but I'm a little lost as to how to get a dockerized version running on Glitch.

Would you have any resources or comments on where to start with this?

Thanks!

[2018-10-01 22:40] kgardnr commented on #1924
Hey @moogacs what do you mean by direct access?

But yes, it's all yours!

[2018-10-01 22:41] kgardnr commented on #1933
Hey @leeyspaul! Unfortunately we don't - it actually might not be possible - https://support.glitch.com/t/installing-docker-in-glitchs-terminal/2816/5

What do you think?

[2018-10-01 22:45] leeyspaul commented on #1933
Yeah, I actually just saw that today. I was researching and I couldn't find anything. :(

[2018-10-02 14:51] striedinger commented on #1848
@deepaksisodiya My issue turned out to be exactly what you mentioned, Talk gets the url from the canonical link, in my case somehow it was different than the real url which was the one I whitelisted.

[2018-10-02 19:38] striedinger opened #1956 "SSO bugs out sometimes on IE"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
Click on Sign in with (Google/Facebook), and successfully log in after external log in.

#### Actual outcome:
Successfully authenticate with external provider, popup closes, but no login in Talk. Login button still available and when trying to login using any method none will work.

#### How to reproduce the

[2018-10-02 20:13] wyattjoh commented on #1956
Are you currently using any non-required configuration for your instance? We just released some fixes related to social sign on in [4.6.4](https://github.com/coralproject/talk/releases/tag/v4.6.4) when using [TALK_STATIC_URI](https://docs.coralproject.net/talk/advanced-configuration/#talk-static-uri).

[2018-10-02 20:16] wyattjoh commented on #1950
When using the `*-onbuild` images, it copies the `plugins.json` in automatically, see the definition here: https://github.com/coralproject/talk/blob/master/Dockerfile.onbuild

Is the issue resolved?

[2018-10-02 20:18] wyattjoh commented on #1914
We use [pym.js](http://blog.apps.npr.org/pym.js/) to facilitate auto height management of the iFrame, hence why it's possibly not calculating it correctly. I'll take a look to see what we can do to resolve that.

[2018-10-02 23:21] striedinger commented on #1956
@wyattjoh only customization we are doing is enabling google and facebook auth plugins with a docker on build file. Although we are using 4.5. Will try to upgrade to 4.6.4 in the AM and come back with results.

[2018-10-03 08:51] jamesallured commented on #1917
I'd like to pick this one up! 🙃

[2018-10-03 09:03] sladyn98 commented on #1949
I would like to solve this issue can you guide mea bit more on how to approach it. Thanks

[2018-10-03 09:33] jamesallured commented on #1917
I cannot reproduce this...

[2018-10-03 13:10] hamer-iboshi commented on #1952
I will work on it.

[2018-10-03 13:30] jqueryisamonad commented on #1946
@kgardnr hi, I work on this issue and have some questions:
1. Lists must be collapsed only on the first view (i.e. we can't save collapsed flag in React's state)?
2. All card must be collapsed or only list?

Currently, I have something like that:
![image](https://user-images.githubusercontent.com/23063254/46413384-7aa4b000-c729-11e8-9dff-2c74a5ee2f06.png)

[2018-10-03 15:13] striedinger commented on #1956
@wyattjoh I upgraded to 4.6.4 and bug is still happening. I definitely consider this a bug since my instance is up and running perfectly with no issues whatsoever. It's just on a rare occurrence that when doing those steps provided it bugs out on IE and login with OAuth messes up.

[2018-10-03 16:08] wyattjoh commented on #1956
I've just attempted to perform the testing you suggested on IE 11 against our blog (running at https://coralproject.net/blog/happy-hacktoberfest/) and I can't seem to reproduce the error you described. If you can reproduce but provide any console logs that occurred, that would be helpful in ensuring that we have the best picture of the problem.

[2018-10-03 16:20] colourgarden commented on #1914
@jmoreno Thanks for your suggestions - I was able to adjust the values you mentioned and achieve a good result 👍

@wyattjoh As pointed out, `min-height: 600px` is being set on `.talk-stream-tab-container` (via sister class `. Stream__tabContainer___2trkn`). When there are no or very few comments loaded, this minimum height is far too big.

This selector and value was added in a pretty unclear comm

[2018-10-03 17:43] lriggle-strib opened #1958 "Question about adding plugin from private repo"
In development, I've been adding all of our custom plugins directly in the codebase and then including them in the `plugins.json` file, but as we get closer to deployment, I need to start moving our plugins into repos so they can be called in conjunction to using the `onbuild` Docker method in our actual stage/production environments.

I've been able to add the `talk-plugin-custom-asset-id` plugin

[2018-10-03 17:47] lsurasani commented on #1940
hey! could I take a look at this?

[2018-10-03 18:27] wyattjoh commented on #1914
Can you try out the #1959 PR to see if that addresses the issue @colourgarden?

[2018-10-03 18:27] striedinger commented on #1956
@wyattjoh I just got it on your blog. I havent found a way to keep developer tools open on IE11 after window (popup in this case) closes. But I pretty much did the same thing. Log in, log out, refresh page, try to log in again or log in, refresh, log out and try to log back in. Eventually it bugs out and prevents any type of logging in to happen.