[2019-08-23 18:55] kgardnr commented on #1982
@hjanuschka and @immber this is fixed in v5, gonna close out this issue for now

[2019-08-23 18:55] #1982 closed, assigned to wyattjoh

[2019-08-23 18:56] #1981 closed, assigned to wyattjoh

[2019-08-23 18:56] #1973 closed, assigned to wyattjoh

[2019-08-23 18:58] kgardnr commented on #1956
Hey @striedinger SSO is improved for v5, but we are also not supporting IE11 for v5. We'd love for you to check it out, you can see it currently in the `next` branch, and an RC release is forthcoming in September! Gonna close this one out for now 🎉

[2019-08-23 18:58] #1956 closed, assigned to wyattjoh

[2019-08-23 18:58] #1951 closed, assigned to nobody

[2019-08-23 18:58] kgardnr commented on #1949
This is addressed in v5

[2019-08-23 18:58] #1949 closed, assigned to nobody

[2019-08-23 18:58] #1948 closed, assigned to nobody

[2019-08-23 18:58] kgardnr commented on #1947
This is addressed in v5

[2019-08-23 18:58] #1947 closed, assigned to nobody

[2019-08-23 18:59] kgardnr commented on #1945
This is a new feature in v5! 🎉

[2019-08-23 18:59] #1945 closed, assigned to nobody

[2019-08-23 18:59] kgardnr commented on #1944
This is addressed in v5

[2019-08-23 18:59] #1944 closed, assigned to nobody

[2019-08-23 18:59] kgardnr commented on #1943
This is addressed in v5

[2019-08-23 18:59] #1943 closed, assigned to nobody

[2019-08-23 18:59] #1942 closed, assigned to immber

[2019-08-23 19:00] kgardnr commented on #1937
This is a new feature in v5! v5 can be found on the `next` branch, and a formal release is coming in September!

[2019-08-23 19:00] #1937 closed, assigned to nobody

[2019-08-23 19:01] kgardnr commented on #2494
Hey @leeeandroo we'd love if you opened a PR for this for v4!

[2019-08-23 19:02] kgardnr commented on #2430
@cristiandean this should be fixed now on `next` - can you confirm?

[2019-08-23 19:02] #2424 closed, assigned to nobody

[2019-08-23 19:03] kgardnr commented on #2380
Closing as we never heard back

[2019-08-23 19:03] #2380 closed, assigned to nobody

[2019-08-23 19:04] kgardnr commented on #2347
@sangeraj are you still experiencing issues with this?

[2019-08-23 19:06] kgardnr commented on #2274
Hey @willogura we're going to be moving to v5 soon and we will no longer support IE11. So I'm goig to mark this as a wont-fix for now.

[2019-08-23 19:06] #2274 closed, assigned to nobody

[2019-08-23 19:08] cristiandean commented on #2430
Yes, it is @kgardnr Thank you =)

[2019-08-23 19:09] kgardnr commented on #2504
Hey @jonathanstegall (cc @davisshaver), you can do this with a JWT token. I believe there are WP plugins that can either help in this regard. Would love some feedback once you both try out v5!

[2019-08-23 19:10] #2485 closed, assigned to nobody

[2019-08-23 19:11] #2430 closed, assigned to nobody

[2019-08-23 19:12] #2388 closed, assigned to nobody

[2019-08-23 19:18] kgardnr commented on #1827
@Belka1000867 @jossittelija you can find docs on this here: https://docs.coralproject.net/talk/embedding-in-native-mobile-apps/

https://coralproject.net/wp-content/uploads/2019/01/IGNNativeComments.pdf

[2019-08-23 19:18] #1827 closed, assigned to nobody

[2019-08-23 19:20] kgardnr commented on #2397
Hey @mkonikov I'm going to mark this as a wont-fix; if you (or anyone else) would like to submit a PR for this, just let us know though!

[2019-08-23 19:20] #2397 closed, assigned to nobody

[2019-08-24 08:36] vadim-berman commented on #2331
Hi @kgardnr,

No we weren't, sorry. We decided to put the entire thing on hold because nobody was answering, and we were having concerns over how much effort we should put into the integration.

On the technical side: maybe it's not the right way to approach it. This is what we're trying to do:

We have a way to determine the relevance of the comment to the article and assign an on-topic score. Bu

[2019-08-26 11:10] bderen opened #2507 "[Next] Changing username of SSO user doesn't work."
Hi there,

when the user is logged in using SSO he can change his username. But as soon as he logs in again with SSO the username is overwritten by the value from JWT.
Is this a bug or a feature?
How can I prevent the username to be overwritten?

[2019-08-26 11:14] bderen opened #2508 "[Next] level of responses / answers (Question)"
Is it possible or will be possible to limit the level of responses/answers to the comment?

[2019-08-26 13:44] ianwelsh commented on #2316
I was able to get around it by naming my custom auth plugin implementation `talk-plugin-auth` instead of `talk-plugin-custom-auth`.

[2019-08-26 13:44] #2316 closed, assigned to nobody

[2019-08-26 16:14] wyattjoh commented on #2507
What version of Coral are you using @sgtram?

[2019-08-26 16:15] wyattjoh commented on #2508
Not at this time no. We are planning on exploring the idea in the feature though, so any feedback or use cases would be welcome!

[2019-08-26 16:18] kaichristiansen commented on #2343
Hi Kim,

Thanks for writing. After some trial and error, it seems that the inclusion of MongoExpress (a web-based client for viewing mongodb) was the culprit. I don’t understand why, but I removed MongoExpress from my docker container and the CoralTalk data now persists! Puzzled, but resolved.

Thank you for following up. So far, CoralTalk is working wonderfully. I appreciate all the work from the

[2019-08-26 16:42] kgardnr commented on #2343
That's great @kaichristiansen, we're so glad you got it working!

[2019-08-26 16:42] #2343 closed, assigned to nobody

[2019-08-26 18:57] koushiktalk opened #2510 "How to make Talk Service url as Secured with Digital cert and other cert mechanisms"
currently we have certificate installed for Talk url but its throwing below error.

 [AFT-DME2-0718]: Attempt to get response from endpoint failed within the request timeout period. Validate that service is running in a healthy state, no failover will be attempted as input is of type stream. [Context: service=http://DME2RESOLVE/service=com.att.kepler.pinnacle.pinnacle-talk/version=1.0.0/envContext

[2019-08-26 19:03] kgardnr commented on #2510
Hey @koushiktalk! Welcome aboard! Where will you be using Coral?

[2019-08-27 07:02] bderen commented on #2507
@wyattjoh I'm using Coral 5 beta 8

[2019-08-27 09:54] bderen opened #2511 "Reporting / statistics dashboard"
Hi,
I have a couple questions.
Does coral have a report/statistics dashboard?
So I can see how many comments in total, how many rejected, accepted, which moderator did what?
Besides that: Is there a possibility to reject an already approved comment?

[2019-08-28 12:46] bderen opened #2512 "[Next] wrong reactions number in the badge"
Hi there,

on the pages:
/admin/moderate/pending
/admin/moderate/unmoderated

we see a wrong number of reactions in the badge, for example, it says 262 but there is none on the page.

Coral Beta 7

[2019-08-28 12:53] bderen opened #2513 "[Next] some words in the comment displayed as a link"
Hi there,

we see some strange behavior in the comments. Some words combinations, somehow are displayed as a link.

Here is an example:
this is original text from the user
`wie is nu de crimineel.in mijn ogen is`

this is how its displayed
`wie is nu de http://crimineel.in mijn ogen is`

How this is possible? And is there a way to restrict or sanitize the user input?

[2019-08-28 17:25] kgardnr commented on #2513
Hey @sgtram, if a commenter incorrectly uses punctuation, as in this case, it will read it as domain + tld. Unfortunately we can't correct for this.

[2019-08-28 17:25] #2513 closed, assigned to nobody

[2019-08-28 17:25] #2510 closed, assigned to nobody

[2019-08-28 17:42] kgardnr commented on #2512
@sgtram can you check the caching/CDN/server configuration on your end and report back?

[2019-08-28 17:44] kgardnr commented on #2508
Also as a general direction here, we had configuration/limitations in v4 and got feedback to move in the direction of allowing nearly-infinite conversations, so I think this won't be on our roadmap for some time. I'll go ahead and close this.

[2019-08-28 17:44] #2508 closed, assigned to nobody

[2019-08-28 17:46] kgardnr commented on #2511
Hey @sgtram we do have reporting/analytics on our roadmap for the future, I'm unsure of any timelines for that at the moment.

Re: rejecting an already approved comment, can you explain more the use case for this?

[2019-08-28 17:48] kgardnr commented on #2507
@sgtram we don't advise allowing SSO users to manage their account in Coral; this should all be done from your SSO system as the single source of truth.

[2019-08-28 17:49] kgardnr commented on #2507
Oh, so to answer your question - it's a feature 😄

[2019-08-28 18:24] #2507 closed, assigned to nobody

[2019-09-03 15:00] kgardnr commented on #2512
Hey @sgtram we were able to confirm this is a bug, we have a fix for it here going out in the next release: https://github.com/coralproject/talk/pull/2516

[2019-09-04 22:48] vtisnado opened #2522 "Enabling SSL in Talk"
I dont think this is a bug, maybe is a feature that already exists, but I cant find any guide in the documentation.

We have Talk installed in a virtual machine and everything works fine, but we can not find any image or setup to enable SSL.

Im sorry if this is a dummy question, but I think having the steps in the documentation will also help others.

#### Intended outcome:
Serving comments over

[2019-09-05 06:58] wyattjoh commented on #2522
The quickstart guide is not intended as a production deployment (with SSL). To do that you'll need to consult the documentation of a fronting webserver (as Talk will not manage or handle SSL).

[2019-09-05 06:58] #2522 closed, assigned to nobody

[2019-09-05 10:55] bderen opened #2526 "[Next] Cannot return null for non-nullable field Settings.accountFeatures"
`
{"message":"Cannot return null for non-nullable field Settings.accountFeatures.","name":"GraphQLError","originalError":{"message":"Cannot return null for non-nullable field Settings.accountFeatures.","name":"Error","stack":"completeValue (node_modules/graphql/execution/execute.js:631:13)\ncompleteValueWithLocatedError (node_modules/graphql/execution/execute.js:580:21)\ncompleteValueCatchingError

[2019-09-05 11:50] bderen commented on #2526
I've changed one line in shcema.graphql file
line 1218
`accountFeatures: CommenterAccountFeatures`

it was before `accountFeatures: CommenterAccountFeatures!`

now it works.

[2019-09-05 12:44] vtisnado commented on #2522
Ok, so as I understand with your answer, for production we need to setup a webserver (Nginx for example) to handle the HTTPS request and works like a proxy, is this right?

Nevertheless as an open source, I think the configuration steps for production should be in the documentation as well.

[2019-09-05 15:23] wyattjoh commented on #2526
It looks like you upgraded from v5.0.0-beta.7 to v5.0.0-beta.8 without running the mentioned required migrations, see https://github.com/coralproject/talk/pull/2497 for instructions.

[2019-09-05 15:23] #2526 closed, assigned to nobody

[2019-09-05 15:26] wyattjoh commented on #2522
You would need to use a webserver like caddy or nginx yes. We decided not to include those instructions as we felt that they were outside the bounds of our instructions, and our own tutorials would likely not do it justice to document.

[2019-09-05 23:03] cristiandean opened #2529 "[Next][Bug] authRedirectBackTo session storage key not set"
After update the last release (v5.0.0-beta.8) we had a problem.

After the user authenticate in the Talk, the authentication happen with success, but the user receives the following message in the pop up: "authRedirectBackTo session storage key not set"

This is when we have a single provider enabled (OIDC).

[2019-09-07 10:35] ichtestemalwieder opened #2534 "Feature Request/Idea: Roles/Permissions/Groups"
Hello,

Thanks for the great project!

Given I have a website with lots of different usergroups (that have different access permissions) it seems that it is not safely possible to embed/use Talk. As all Talk comments only have one shared global "authorization realm". So every (authenticated) user can read/comment on every comment thread..

What would be needed is that I can categorize and assign T

[2019-09-09 11:33] bderen opened #2535 "[Next] Logout event - Question"
Hi there,
you have a custom event for login popup
`events.on("loginPrompt"...`

Do you have an event for logout click?
Would be nice to have something similar

`events.on("logoutPrompt"...`

so we can redirect the user to the proper SSO logout endpoint

[2019-09-10 16:01] wyattjoh commented on #2535
We would suggest in this situation to instead issue JWT's for SSO without a JTI so you can display your own auth logout links outside Coral, as in that case, you are already managing the auth state.

[2019-09-10 16:01] #2535 closed, assigned to nobody

[2019-09-10 16:04] wyattjoh commented on #2534
v5.0.0 is the first release that introduce the concept of Tenant's into Coral's core. We eventually plan on adding support for features like Groups or a similar concept to address the issues you've pointed out. Best answer is that it is in the works already 😄

[2019-09-10 16:13] wyattjoh commented on #2529
To clarify @cristiandean, this is only in the Admin? I was unable to reproduce the issue on our side.

[2019-09-10 19:03] cristiandean commented on #2529
@wyattjoh this is in embed stream. For reproduce you have to:

Enable OpenID provider with a valid provider.
Disable all others providers for embed stream.

This is a fresh install after that steps:
![Screen Shot 2019-09-10 at 16 02 13](https://user-images.githubusercontent.com/25023177/64642292-6874cc80-d3e4-11e9-9aca-3399b5f36c36.png)

[2019-09-12 18:41] zikes opened #2563 "OIDC Callback URL is Incorrect for Proxied SSL Termination"
**Expected behavior:**

OIDC callback URL matches the scheme and hostname of the Talk installation.

**Actual behavior:**

Because the OIDC callback URL uses the HTTP Request of the administrator on the dashboard to determine scheme and hostname, but does not check for `X-Forwarded-Proto` or `X-Forwarded-Host` headers, the generated OIDC callback URL is incorrect. In my case, because I have a prox

[2019-09-12 19:07] zikes commented on #2563
Setting the `TRUST_PROXY` environment variable to `true` seems to resolve this issue.

[2019-09-12 19:07] #2563 closed, assigned to nobody

[2019-09-12 19:48] cristiandean opened #2564 "Add custom button to SSO provider"
What are you think about a custom button to the Single Sign On provider in administration? Something like that:

![image](https://user-images.githubusercontent.com/25023177/64815106-4792af80-d57b-11e9-9879-b8dcc834db48.png)

I wold also like to know if it's possible to have a route like `/api/auth/sso` where the administrators can use to login passing the SSO token as a parameter. Or do you recomm

[2019-09-13 08:20] mzch opened #2566 "Talk v5 doesn't start"
**Expected behavior:**
talk v5 will start by using `npm run start`

**Actual behavior:**
talk v5 does not start

- console log
[code]
- npm log
[code]
**Related Issues:**

**Versions:**

- NodeJS: v10.16.3
- NPM: 6.9.0
- MongoDB: 4.2.0
- Redis: 5.0.3
- Browser:
- OS: Debian GNU/Linux 10 (Buster)

[2019-09-13 13:02] cristiandean commented on #2529
@wyattjoh  This happen when we use only one provider #2422 . For this reason, the user don't click in the "Sign in with ..." provider button and the function `handleOnClick` is not called.

![image](https://user-images.githubusercontent.com/25023177/64863744-f8488f80-d60b-11e9-83a9-5b2bb0824bbf.png)

The `handleOnClick` should call `redirectOAuth2` that set `authRedirectBackTo=/embed/auth` in the

[2019-09-13 20:24] wyattjoh commented on #2529
Great catch! We'll **address** this in the next release!

[2019-09-13 21:44] zikes opened #2568 "Cannot manually initiate installation wizard for new tenants"
**Expected behavior:**

When adding a new tenant/domain to Talk, there should be a way to trigger the installation wizard to configure the new tenant/domain and admin user.

**Actual behavior:**

At present, no known/documented method to do the above.

**Related Issues:**

**Versions:**

- Talk: 5.0.0

[2019-09-13 21:45] zikes commented on #2568
I have managed to configure Talk 5.0.0 by manually copying and modifying the tenant and user objects in mongodb, but using the built-in Installation Wizard would make this process much easier.

[2019-09-14 12:08] mzch commented on #2566
Thanks, @wyattjoh. Fixed this issue.

[2019-09-14 12:08] #2566 closed, assigned to nobody

[2019-09-14 12:18] mzch opened #2570 "Uncaught TypeError: Failed to execute 'observe' on 'IntersectionObserver'"
**Expected behavior:**
Show comment form.

**Actual behavior:**
Nothing is shown.

In Console at the Developer Tools on Google Chrome.
[code]

I have pasted the following code into every pages on my blog:
[code]
**Related Issues:**

**Versions:**

- NodeJS:
- NPM:
- MongoDB:
- Redis:
- Browser: Google Chrome 77.0.3865.75
- OS: macOS 10.14.6 (Mojave)

[2019-09-14 19:20] mzch commented on #2570
Sorry, I was under a misconception.

[2019-09-14 19:20] #2570 closed, assigned to nobody

[2019-09-16 16:37] wyattjoh commented on #2568
While Coral v5 does offer multi-tenant support, it is not currently planned to add support to manage multiple tenants yet. We'll keep this issue updated when our roadmap changes.

[2019-09-16 16:37] #2568 closed, assigned to nobody

[2019-09-16 19:27] nick-funk commented on #2491
@cristiandean, I've done some more investigating around this issue and have come up with a couple of solutions for you to choose from.

1. As @wyattjoh suggested, keeping the namespace/database length short will prevent this issue from occurring.

2. As of Mongo version 4.2, the index name length limit has been removed. Since our current setup targets Mongo 3.6, you might be missing this functiona

[2019-09-16 19:27] #2491 closed, assigned to nobody

[2019-09-17 01:36] cristiandean commented on #2491
@nick-funk thanks, In our case, the second option looks better.

[2019-09-18 18:01] #2529 closed, assigned to nobody

[2019-09-19 20:36] allanassis opened #2579 "Error when using SSO"
### Hi guys, first thanks for this awesome project!!

So , I had a issue when trying to use SSO, i just called the method to login and did not work.

![Screen Shot 2019-09-19 at 5 26 41 PM](https://user-images.githubusercontent.com/23871115/65278594-cef39c00-db02-11e9-97f7-e5064fe6cc61.png)

![image](https://user-images.githubusercontent.com/23871115/65278678-f8142c80-db02-11e9-923f-a7f34058e7f0.p

[2019-09-20 19:36] wyattjoh commented on #2579
We've discovered the issue with the race, it should be corrected in v5.1.0.

[2019-09-23 21:11] #2579 closed, assigned to nobody

[2019-09-23 21:12] cristiandean commented on #2579
Tyvm @wyattjoh

[2019-09-24 09:38] felixdro commented on #2305
Thanks for information,

We are also trying to run Coral with AWS DocumentDB, but without success. I get the error message MongoError "system collection creation not supported".

I don't really know anything about MongoDB but a guess is that this has something to do with the [differences between MongoDB and Document DB](https://docs.aws.amazon.com/documentdb/latest/developerguide/functional-differ

[2019-10-01 02:24] cristiandean opened #2603 "SSO login should create authorization cookie"
**Expected behavior:**
The user should remain logged in when the page is refreshed after authenticating via SSO.

**Actual behavior:**
When SSO integration is enable and `talkEmbed.login(token)` is called with a valid token, the user is logged in. But when the page is refreshed, the user isn't logged anymore.

[2019-10-01 15:45] wyattjoh commented on #2603
Hi @cristiandean!

Unfortunately, with the advent of mobile advertisements injecting tracking cookies, we are unable to set a cookie without user interaction (like a click). If we were to do so, we would have 3rd party cookie status, and would likely get blocked anyways by Safari/Firefox users.

The feature as it is currently designed requires the authentication token to be generated for every pag

[2019-10-01 15:45] #2603 closed, assigned to nobody

[2019-10-01 17:56] benjaminkreen opened #2611 "story ids with a slash break moderation views."
I'm experimenting with using Talk for a science journal and I tried to key the story id to a DOI, our standard identifier. I think because DOIs contain slashes, it breaks the moderation view. I guess the slash should probably be escaped with `%2F`. I'm still getting to know the codebase (and typescript) otherwise I'd file a pull request.

**Expected behavior:**
Moderation page displays correctly f

[2019-10-01 18:29] wyattjoh commented on #2611
Great find @benjaminkreen! We should have this addressed in the next release.

[2019-10-01 20:21] martinmags opened #2612 "Installing CoralProject Talk v.5; issues on gui installation"
**Expected behavior:**
Finish installing Talk v.5

**Actual behavior:**
After following the documentation on installing v.5, I got an "Internal Error" message after clicking the "Finish Install" button. Then clicking the same button a second time, I get the following message "Tenant has already been installed already":
![image](https://user-images.githubusercontent.com/33399758/65997174-b9a93680-e

[2019-10-01 21:19] wyattjoh commented on #2612
From the outputted errors you're seeing on the server, I'm guessing that at some point, you had Coral installed. You may already have a cookie/localstorage item from a prior installation that is causing the error you're seeing.

Try dropping the Coral database you're interacting with and retrying the install after clearing all cookies from your browser.

[2019-10-02 16:21] #2611 closed, assigned to nobody

[2019-10-03 11:35] PepeFranco commented on #2441
I've dug around the code looking for this but couldn't find it in the current version. Seems it is on v4?
I created a PR for that branch as I couldn't find those files in any other branch.
https://github.com/coralproject/talk/pull/2618

[2019-10-03 17:10] wyattjoh commented on #2441
Thanks for the find!

[2019-10-03 17:10] #2441 closed, assigned to nobody

[2019-10-03 17:21] martinmags commented on #2612
Hmm, that's weird. I cleared the cookies and everything. It fixed the redirection issue, but I was still getting the tenant error during the installation after a fresh install. When I refresh, I get redirected to the sign in now, but the email and password I registered during the installation won't work.

[2019-10-03 21:14] benjaminkreen opened #2622 "OpenID Connect user registration flow when email absent from identity provider fails"
One of the identity providers we work with is ORCiD who has implemented OpenID Connect, but it seems like the Joi model for the token expects an `email` key which isn't present in [their implementation](https://github.com/ORCID/ORCID-Source/blob/master/orcid-web/ORCID_AUTH_WITH_OPENID_CONNECT.md#what-is-an-id_token)
**Expected behavior:**

OpenID integration not require a value for `email` in the

[2019-10-03 23:10] benjaminkreen commented on #2622
Thanks so much @wyattjoh !! Deployed your branch to heroku, couldn't help myself. Its looking good, i was able to step through the registration, though I'm still running into an bump where it fails on first try but then works on the second:
![double_login](https://user-images.githubusercontent.com/5441006/66170193-1b0d0900-e5f8-11e9-86de-1c7bbb702880.gif) Let me know if I should file a separate ti

[2019-10-03 23:43] wyattjoh commented on #2622
The issue you're experiencing regarding that one @benjaminkreen is unrelated to #2529, but is instead related to the fact that you need to set `TRUST_PROXY=1` as an environment variable. I've amended the `app.json` in that PR to address this for future Heroku installs.

I was able to determine that because I noticed your callback url was non SSL (note the padlock with the red cross through it afte

[2019-10-03 23:45] wyattjoh commented on #2622
Following up on that actually, we use `sessionStorage` to store the redirect URL. MDN states that:

https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

Hence why HTTP/S matters in this case.

[2019-10-03 23:55] benjaminkreen commented on #2622
that totally makes sense, i'll update my callback url with orcid. I just used the copy button from the config page, and it defaulted to `http`:
<img width="722" alt="image" src="https://user-images.githubusercontent.com/5441006/66171860-8c4fba80-e5fe-11e9-8afe-15a576ea3db7.png">

[2019-10-04 14:47] cristiandean opened #2624 "When SSO token expire stream stop to work"
Hello, we found a bug when using SSO Token and it expires. When this happens all interactions stop working.

Expected behavior:
Open login window

From what I realized we need to set `authMiddleware.tokenRefreshPromise` ([createNetwork](https://github.com/coralproject/talk/blob/721b2e7d67272dea898be55d935f4c9dbf821f6d/src/core/client/framework/lib/network/createNetwork.ts#L61))  with an event to c

[2019-10-04 17:00] #2622 closed, assigned to nobody

[2019-10-07 09:07] felixdro opened #2628 "How to add a new language to Coral?"
Hi!

We are looking forward to add coral to our article pages! But we need a different language and I have some troubles adding it and need some help.

When we feel the translations are ready we would like to contribute them here to, but first I would like to get them working and test them out.

I have tried adding the language to these files and folders
/src/core/common/helpers/i18n/locales.ts (i

[2019-10-07 12:40] felixdro commented on #2612
I got the same errors when I tried to run coral from source and install locally on Ubuntu 19.4. Mongo and redis was running via docker on the same host.

I tried several times and deleted the database and redis containers and cleared cache between every try.

At the last step in the installation when I click finish install, I get the Internal Error message. And in the the log it shows up as "Mongo

[2019-10-14 21:54] felixdro commented on #2628
I noticed now that the lint problems where solved by running the "lint-fix" skript.

[2019-10-15 15:52] felixdro opened #2639 "[RELAY-NETWORK]-errors in console after login as an SSO-user in a coral stream."
Hi! We are looking forward to add coral to our articles but I wonder about this first, if we can do something about it or if it's fine to ignore maybe?

When integrating a coral v. 5 stream on our article pages with a logged in user via our member portal we get the same error messages in the console, and the messages keep on adding up after a while.

We have followed the recommended settings to in

[2019-10-15 22:16] kgardnr commented on #2628
Oh hey @felixdro! Great news, just saw your last comment. Thank you for letting us know!

[2019-10-15 22:16] #2628 closed, assigned to nobody

[2019-10-16 18:24] wyattjoh commented on #2612
We've discovered the issue you reported, it should be addressed in the next release. Thanks!

[2019-10-16 22:44] #2612 closed, assigned to nobody

[2019-10-19 00:14] jonpincus opened #2656 ""Comment Count Integration" page has incorrect code"
**Expected behavior:**
Cutting and pasting the code on https://docs.coralproject.net/coral/v5/integrating/counts/ should update span.coral-count with the actual number of comments.

    <script href="//{{ CORAL_DOMAIN_NAME }}/assets/js/count.js" defer></script>
    ...
    <span class="coral-count" data-coral-url="http://example.com/blog-entry-1/"></span>

**Actual behavior:**

Nothing happens

Th

[2019-10-19 00:18] wyattjoh commented on #2656
Thanks for the report @jonpincus! We'll have that corrected shortly!

[2019-10-23 18:59] tucson-tom opened #2669 "TALK_ROOT_URL in v5?"
Attempting to use Talk v5 behind a Nginx proxy (i.e. a standard deployment method).  The instructions for setting up v5 in a sane configuration are about as clear as mud.  `TALK_ROOT_URL` worked in v4 but that option doesn't appear to do anything in v5.  Also tried `ROOT_URL` like other config options.  No dice.  The Talk v5 server still spits out invalid URLs.

[2019-10-23 20:26] wyattjoh commented on #2669
v5 is actually designed as a multi-tenant system, and when you're pointing to a fresh database, you can hit Talk with any domain, and it will be saved as the application domain for Talk.

If you use the docker or source based install, you can clear out the database, start up the application, and Talk should show you the install page to get things installed.

[2019-10-23 21:13] tucson-tom commented on #2669
That, uh, makes no sense.  Nginx is proxying requests off a URL path (e.g. `https://somedomain.com/talk/` to the Talk backend server).

Running a command-line script clearly shows that Talk v5 as-is has no idea how to route paths:

`https://somedomain.com/talk/` redirects to `https://somedomain.com/install`, which doesn't exist.   The correct path should probably have been `https://somedomain.com/

[2019-10-23 21:17] kgardnr commented on #2669
Hey @tucson-tom can you share with us where you're using Coral currently?

[2019-10-23 21:20] wyattjoh commented on #2669
Noting as well that Talk v5 does not support path based routing. Talk will need to have it's own domain (or subdomain!) starting in v5.

[2019-10-23 21:25] kgardnr commented on #2656
Fixed in #2648

[2019-10-23 21:25] #2656 closed, assigned to nobody

[2019-10-23 22:51] #2512 closed, assigned to nobody

[2019-10-23 22:52] flosoft opened #2670 "Talk not correctly identifying Author on Ghost 3"
Talk is not correctly pulling the Author name when embedded on Ghost 3. Instead, every Author's name gets identified as `More posts`

<img width="962" alt="Screenshot 2019-10-24 at 00 50 58" src="https://user-images.githubusercontent.com/602633/67440084-6b282b80-f5f8-11e9-91e5-6e2a2d29c138.png">

This is happening when using Ghost's default theme, Casper.

The embed code I'm using is the following

[2019-10-23 23:13] wyattjoh commented on #2670
Hi @flosoft!

It looks like even looking at the https://demo.ghost.io/style-test/ page (which uses the Casper theme) does not actually include a:

[code]

We use a metadata scraping library metascraper that implements the following rules for scraping author metadata:

https://github.com/microlinkhq/metascraper/blob/81f992112ee649529e304b27672953594e3475b8/packages/metascraper-author/index.js#L35-L

[2019-10-23 23:31] flosoft commented on #2670
Thanks for the info @wyattjoh.

Indeed, the meta object for author is missing, however it does provide this in a JSON-LD section at the top of a file or else in a `<h4 class="author-name">`.

As it's not possible it seems to simply use variables in the Code Injection for `{{ghost_head}}` in order to add the metadata you suggested and thus requires to update the raw theme files, is there any chance

[2019-10-24 03:58] wyattjoh commented on #2670
Hey @flosoft! I was able to confirm that upgrading the metascraper rules resolved the issue. I discovered a bug with the current version though that is holding up the release (https://github.com/microlinkhq/metascraper/pull/225). Once that's merged and a new release of these rules is done, we should be able to get this resolved in our next release.

[2019-10-24 08:12] flosoft commented on #2670
That's awesome. Thanks!

[2019-10-24 16:08] #2670 closed, assigned to nobody

[2019-10-28 13:19] bderen opened #2675 "After 1 comment constantly receiving RATE_LIMIT_EXCEEDED"
Hi guys,
After 1 comment constantly receiving RATE_LIMIT_EXCEEDED.
When I look into redis DB with redis-cli I do see some entries there. When I remove them one by one - nothing helps, still see RATE_LIMIT_EXCEEDED. When I do FLUSHDB the error disappears and after 1 comment appears again.
Any idea?

[2019-10-28 15:46] cadecairos opened #2676 "Migration Path from v4 to v5"
The Mozilla Foundation would love to upgrade our current Talk instance to v5, but this still appears to not be possible. Is there a timeline for support to migrate v4 data into a v5 instance? How long does the team plan to support the 4.11.x branch with bug fixes/security updates?

[2019-10-28 15:48] kgardnr commented on #2676
Hey @cadecairos! We'll definitely be supporting 4.x.x for a long time to come, at least through 2020. And we can help you upgrade when the time is right - we're still working on some toolkits to help make this easier for folks, and I can keep you posted on that.

Is this for the Internet Health Report or something else?

[2019-10-28 15:54] cadecairos commented on #2676
Hi @kgardnr, I'm looking into updating our Talk instance powering comments for our Privacy Not Included Buyer's Guide, but we'll also want to upgrade the Internet Health Report instance as well.

Glad to hear the 4.x branch will receive support for a while yet!

Is a direct deployment to Heroku still supported in the latest 4.x and 5.x branches?

[2019-10-28 20:46] wyattjoh commented on #2675
Hi @sgtram! We implemented rate limiting for commenting to help curb bot style behaviour in v5.2.0. It's currently set to 3 seconds, (not configurable at the moment), so if you keep trying to send a comment every 2 seconds, you'll never be able to comment. The window will reset after the 3 second timeout. Is this not the behaviour you're experiencing?

[2019-10-29 08:03] bderen commented on #2675
I'm receiving RATE_LIMIT_EXCEEDED constantly, after 3 seconds or after 3 hours.

[2019-10-29 18:02] felixdro opened #2680 "Can't send mail with TLS+SMTP authentication in Coral 5"
**Actual behavior:**
After entering email settings in Coral 5 with smtp server, TLS On, and SMTP authentication activated no email are sent, instead I get the error message below.

I have tried to using an smtp host from AWS (that I have verified works on a different php application). host: email-smtp.eu-west-1.amazonaws.com.

I have tried in production on our live server and on localhost developm

[2019-10-29 18:15] kgardnr commented on #2680
Hey @felixdro I believe this is a bug, we've discovered this elsewhere and are evaluating the issue. Can you double check what port you're setting?

Also, if you'd like to contribute a bug fix for this it would be super appreciated!

[2019-10-29 18:21] felixdro commented on #2680
Hi!

I'm not sure if it's related but out coral instance is running in a docker cluster (AWS ECS) the instance does not have a SSL cert. The SSL cert sits on the Load balancer instead and the traffic between the LB and coral is on port 80 http.

(User) <- HTTPS:443 -> [Load balancer]  <--- HTTP:80 -- > [Docker cluster with Coral]

The coral instance is set to port 5000 via the env variable.

For t

[2019-10-29 18:29] felixdro commented on #2680
I don't know why It's not working, a guess is that coral want's to talk to the SMTP-server via SSL and the instance doesn't have an ssl cert. But i'm not sure if that's the case. If I know how to fix it I would gladly help but I think it's out of my knowledge. If I have any other theories I'll let you know @kgardnr

I hope it's not a big thing to solve!

[2019-10-30 10:40] felixdro commented on #2680
@kgardnr I got it working on port 465!

When I tried with a sendgrid smtp server, they wrote this about their ports:

And it didn't work on port 25 or 587 if I had TLS set to On, but when i tried port 465 it worked. And when I switched to our aws smtp server it also worked on port 465! :-) I'm not sure if this always is the case, but I'm glad it worked for us.

I would suggest updating the descrip

[2019-11-02 08:40] charanjit-singh opened #2689 "Internationalisation"
Coral should support different languages

[2019-11-02 23:28] flosoft opened #2690 "Talk 5.2.2 pulling incorrect publish date on Ghost 3"
**Expected behavior:**
Talk should be pulling the date from the `datePublished` in the JSON-LD that Ghost 3 provides.

**Actual behavior:**
When using Talk 5.2.2 on Ghost 3, it seems to always be pulling the same publish date, 04/01/2018, 7:48 PM

<img width="939" alt="Screenshot 2019-11-03 at 00 26 00" src="https://user-images.githubusercontent.com/602633/68078142-8ea95e00-fdd0-11e9-92ba-9041d3f8

[2019-11-04 14:46] kgardnr commented on #2689
Hey @charanjit-singh! What language were you hoping for? We do support internationalization, you can see the current languages in v5 here: https://github.com/coralproject/talk/tree/master/src/locales

We support 14 in v4.x.x, and are up to 6 in the newest version of Coral.

[2019-11-04 16:44] #2680 closed, assigned to nobody

[2019-11-04 16:50] #2689 closed, assigned to nobody

[2019-11-04 17:15] kgardnr commented on #2680
Thanks @felixdro! Yeah I agree adding some more information in the SMTP screen will be helpful!

[2019-11-05 09:49] bderen commented on #2675
Hi guys, any updates on the issue/bag?

[2019-11-07 21:57] #2669 closed, assigned to nobody

[2019-11-07 21:59] kgardnr commented on #2676
Hey @cadecairos yep we still support Deploy to Heroku for both 😄

[2019-11-07 21:59] #2676 closed, assigned to nobody

[2019-11-07 22:00] kgardnr commented on #2675
Hey @sgtram we're unable to reproduce the issue. Could you send us a link to your staging environment or post some additional information?

[2019-11-07 22:01] kgardnr commented on #2639
Hey @felixdro are you still having this issue?

[2019-11-07 22:02] #2534 closed, assigned to nobody

[2019-11-07 22:02] #2511 closed, assigned to nobody

[2019-11-07 22:02] #2504 closed, assigned to nobody

[2019-11-07 22:02] #2494 closed, assigned to nobody

[2019-11-07 22:03] #2360 closed, assigned to nobody

[2019-11-07 22:03] #2347 closed, assigned to nobody

[2019-11-07 22:03] #2331 closed, assigned to nobody

[2019-11-07 22:04] #2330 closed, assigned to nobody

[2019-11-07 22:04] kgardnr commented on #2305
Hey @felixdro and @brvaland it's our intention to continue supporting MongoDB and not adding DocumentDB at this time. Thanks though!

[2019-11-07 22:04] #2305 closed, assigned to nobody

[2019-11-07 22:04] #2269 closed, assigned to nobody

[2019-11-07 22:06] kgardnr commented on #2104
Hey @lriggle-strib we won't be adding this for v4, but could consider this for v5. Thank you!

[2019-11-07 22:06] #2104 closed, assigned to nobody

[2019-11-07 22:06] #2099 closed, assigned to nobody

[2019-11-07 22:06] #2041 closed, assigned to nobody

[2019-11-07 22:07] #1935 closed, assigned to nobody

[2019-11-07 22:07] #1652 closed, assigned to nobody

[2019-11-07 22:08] kgardnr commented on #1575
We've added this to v5 🎉 Closing this issue

[2019-11-07 22:08] #1575 closed, assigned to nobody

[2019-11-08 10:39] bderen commented on #2675
It is happening only in one of the staging environments. I also can't reproduce it on the other one. Maybe something with Redis?

[2019-11-08 15:46] felixdro commented on #2639
Hi @kgardnr, yes every time a stream is opened on the article with a logged in user via SSO these errors occurs in the console. But if I log in as a regular coral user via email + password no errors occur.

We are running 5.2.0 of Coral now. I wanted to try 5.2.2 and have pulled the latest files from the master branch but this version won't build for me, I get typescript compilation errors. (Will

[2019-11-08 15:49] kgardnr commented on #2639
Hey @felixdro it's hard to say because we don't have insight into your SSO setup. The problem would most certainly lie there.

In regards to using `master`, we'd recommend against that and advise only to use official releases, which have been tested for production use.

[2019-11-08 22:02] kgardnr commented on #2675
Yeah I'm sorry @sgtram, I really can't say. Is there someone else on your team you could headcheck the SSO and setup with? Unfortunately that's the best advice we can give at this point.

[2019-11-09 00:13] wyattjoh commented on #2675
If you are able to reproduce the issue on an existing instance @sgtram, can you run the following via the `redis-cli`:

[code]

Where you replace `{{ tenantID }}` and `{{ userID }}` with the Tenant and User ID for the affected Tenant/User. If it's an issue with Redis, we should see something interesting there.

[2019-11-09 00:44] wyattjoh commented on #2690
Hi @flosoft! Thanks for the report again on these issues. It seems that there was some priority issues with the existing ruleset we were using for date data. We've adjusted the order of the rules and it seems to have the desired behaviour now. Feel free to give #2702 a try to see if it works out better for you!

[2019-11-11 07:22] bderen commented on #2675
Hi, @wyattjoh I don't have such entries in the Redis.
Here is what I have:

1) "{queue}:scraper:1167"
 2) "{queue}:scraper:1148"
 3) "ce3b8a94-3480-4683-ba4f-293223801739:commentCounts:moderationQueue:queues"
 4) "jtir:c4cf1b5d-f460-4325-98ca-87e674909141"
 5) "{queue}:scraper:1162"
 6) "{queue}:scraper:id"
 7) "{queue}:scraper:1166"
 8) "{queue}:scraper:1163"
 9) "{queue}:scraper:1165"
10) "{queu

[2019-11-12 16:36] dennyabrain opened #2703 "Talk wont render in a ghost blog"
I am trying to integrate Coral into a ghost blog.
My server is running at http://13.233.152.184:3000.
I use the following script to inject the talk comment section
[code]

**Expected behavior:**
Coral should render a comment section under my blog post

**Actual behavior:**
I see that a div named coral_talk_stream is created in my DOM but it is empty.

**Related Issues:**
I notice that in my consol

[2019-11-12 17:25] #2690 closed, assigned to wyattjoh

[2019-11-12 17:50] wyattjoh commented on #2703
It looks like you may have tried to copy some JS from v4 of Coral, which used the `Coral.Talk.render` method. You need to use the method described in the `/admin/configure/advanced` page which uses:

[code]

[2019-11-12 17:52] wyattjoh commented on #2675
Currently the timeout is set at 3 seconds, which means that those keys should only live in Redis for a total of 3 seconds. Are you able to confirm that within that 3 second window, that the keys do not appear? We can't seem to replicate any issues without having some issue with keys in Redis.

[2019-11-12 18:34] dennyabrain commented on #2703
hey thank you.

this makes sense and i see that createStreamEmbed does exist. so thats progress.

I do still get no content inside the coral_talk_stream div
but now i am guessing it has got to do with the parameters passed to createStreamEmbed.

Could you clarify if my understanding of this is correct?
storyId should be unique id  like the post Id
and story Url should be the complete URL of the bl

[2019-11-12 19:38] flosoft commented on #2690
Thanks once more for the quick fix here! Can confirm that this fixed it.

[2019-11-12 19:56] wyattjoh commented on #2703
Those configuration parameters are optional. When you modify the script, do you see anything in the console in terms of errors? I was able to render Coral on your linked site by calling the above mentioned `createStreamEmbed` function.

[2019-11-12 20:31] dennyabrain commented on #2703
you are right it works. it was a silly typo on my part. i had the parameter as autRender instead of autoRender.

Thank you!

[2019-11-12 20:31] #2703 closed, assigned to nobody

[2019-11-13 08:15] bderen commented on #2675
I can confirm that within 3 seconds the keys are still there. Something with TTL?

[2019-11-13 16:10] wyattjoh commented on #2675
What version of Redis are you working with? I am unable to reproduce the mentioned error unfortunately.

[2019-11-14 09:15] bderen commented on #2675
We're running on Redis version 3.2.6

[2019-11-14 14:21] bderen opened #2711 "[Question] Manually delete/reset SSO user account"
Hi guys, is there a way to manually delete/reset SSO user account. We've got an account that is active but somehow authentification with SSO doesn't work for him.

[2019-11-14 15:31] felixdro commented on #2639
Hi,

I updated our Coral instance to the 5.3.0 release today, the SSO-login still works but we still get the [Relay-network] errors unfortunately. We have followed the instructions on [docs.coralproject.net/coral/v5/integrating/sso](https://docs.coralproject.net/coral/v5/integrating/sso/) and signed the jwt token with the KEY from the admin page. Not sure what to do different or how to fix this.

[2019-11-16 04:17] wyattjoh commented on #2675
I have a possible fix available in the following PR (https://github.com/coralproject/talk/pull/2709). If you wanted to give that a try and see if it improves things for you?

[2019-11-16 04:19] wyattjoh commented on #2711
Because you already generate the tokens for authenticating yourself, try generating a token for the target user and trying to login yourself. That could help with the debugging process.

If you must delete the user, there is an API mutation called `deleteUserAccount` that an admin token can call for a specific User. Besides that, you could also remove them from the database directly if they haven'

[2019-11-18 08:06] bderen opened #2716 "Memory leak in scraper"
Hi guys,
The main problem, I think, is that the Talk scraper is not closing his connection properly. I can see a rising amount of open file descriptors on the nodejs processes.
The Talk scraper is repeatedly calling a non-existent URL.

[2019-11-18 12:15] bderen commented on #2675
Thanks @wyattjoh , I've tried it and it doesn't help.
here are the entries in Redis:
9) "ce3b8a94-3480-4683-ba4f-293223801739:lastCommentID:1a9dc5b864334da700deff629c9b9a404b0f2d01"
10) "ce3b8a94-3480-4683-ba4f-293223801739:lastCommentID:a1fc93e19f21b0dcee7fb35fc09ca90465de9eb5"
and they never expire...

[2019-11-18 17:07] wyattjoh commented on #2675
`*:lastCommentID:*` keys are actually referring to our duplicate comment screening feature, not related to rate limiting. It shouldn't impact that feature.

Can you provide us with the server log containing the `RATE_LIMIT_EXCEEDED` message? Specifically we're interested in the `stack` part of the error message.

[2019-11-19 10:03] bderen commented on #2675
Nov 19 11:01:45 acceptance-talk-0 nodejs[10073]: {"name":"coral","clusterNode":"master","hostname":"acceptance-talk-0","pid":10130,"tenantID":"ce3b8a94-3480-4683-ba4f-293223801739","context":"graph","contextID":"984390d0-0ab3-11ea-a3c0-b1942082aca1","level":30,"responseTime":1,"authenticated":true,"persistedQueryID":"2b4eb18e6c2b6734e05f011583a5828e","persistedQueryBundle":"stream","persistedQuery

[2019-11-19 10:12] bderen commented on #2711
Ok, but it requires DeleteUserAccountInput with userID which I know and clientMutationId which I don't know. How can I make it work then?

[2019-11-19 18:38] wyattjoh commented on #2711
You can just pass `clientMutationId: ""` in the query, it's used by Relay (which we use on the front end).

[2019-11-19 20:39] bryce-o commented on #1938
Hey, I think this is a great idea. Mind if I work on a solution?

[2019-11-20 12:28] bderen commented on #2711
I've successfully deleted the user account. But unfortunately, when I logged in via SSO again, the new user is not being created in coral. Any suggestions?

[2019-11-21 09:27] bderen commented on #2711
When I retried the operation it did work! Thanks a lot!

[2019-11-21 09:27] #2711 closed, assigned to nobody

[2019-11-22 18:16] #2716 closed, assigned to nobody

[2019-11-22 23:53] wyattjoh commented on #2675
That error can only be returned when there is a Redis key indicating that there has been a recent attempt at creating a comment. I'd suggest that you try running `FLUSHDB` on that database to see if that resolves the issue, otherwise unfortunately, we'd likely have to go down custom support options as we are unable to reproduce or narrow the error down.

[2019-12-16 17:55] rakannimer opened #2754 "Would you like help in updating docz to v2 ?"
Hey !

Awesome work on the project, really high quality stuff 👍

I'm the current maintainer of docz and I'm currently looking for projects to help migrate from older versions of docz to docz v2 (which is based on Gatsby and is really good ! (If I say so myself)).

Would you like some assistance in migrating to docz v2 ?

Would be happy to setup a PR to help get started in the migration to v2.

The

[2019-12-16 18:02] kgardnr commented on #2754
Hi @rakannimer! That would be awesome! We are using docz only for our UI library right now, but we'd actually love to move all our docs over to docz potentially.

Thank you!

[2019-12-16 18:08] rakannimer commented on #2754
Awesome !

Thanks for the quick reply @kgardnr 😄 !

I'll setup a PR this week and we can move the discussion there 👍

[2019-12-19 14:23] bderen opened #2758 "Upgrade Coral 5.3.0 -> 5.4.0 went wrong"
After upgrade Coral 5.3.0 -> 5.4.0 got an error:

`{"name":"coral","clusterNode":"master","hostname":"talk-1","pid":1936,"level":50,"err":{"message":"InProgressMigrationDetectedError: migration \"1574287034612\" was in progress","name":"InProgressMigrationDetectedError","stack":"Manager.pending (src/core/server/services/migrate/manager.ts:122:17)\nprocessTicksAndRejections (internal/process/task_q

[2019-12-19 17:15] wyattjoh commented on #2758
When a migration starts, the node completing it must complete it before other nodes of the server can start, it essentially holds a lock.

If no nodes of Coral are running, you can delete the offending record in MongoDB relating to the migration that is stuck in progress, and restart a single node of Coral, which should upgrade the application, and then start it. After that point, all other nodes

[2019-12-19 17:15] #2758 closed, assigned to nobody

[2019-12-20 09:47] bderen commented on #2758
Thanks, indeed the migration was running for a bit longer 1hr, actually only one of them which is reindexing the whole mongo database. Now everything works fine.

[2019-12-20 13:42] vladimir04 opened #2762 "Romanian translation"
## Search Terms
translations, i18n, Romanian

## Suggestion
I would like to add Romanian translation to the project

## Use Cases
Using Talk for a blog and would like to use those translations.

I tried pushing a new branch to create a PR but couldn't. Could you please let me know what are the steps in order to achieve this?

Thank you!

[2019-12-20 14:49] cristiandean opened #2763 "ERR wrong number of arguments for 'hmset' command"
Hi, have the following error when the counts reset:

![Screen Shot 2019-12-20 at 11 27 45](https://user-images.githubusercontent.com/25023177/71262396-54fbca80-231e-11ea-9655-3226d4086b2f.png)

After the error, the application restart automatically.

Do you know what it can be?

[2019-12-20 17:25] wyattjoh commented on #2763
What version of Redis are you running @cristiandean? We're running 3.2 at the moment internally.

[2019-12-20 17:33] cristiandean commented on #2763
We're running 3.2.6 with redis sentinel.

[2019-12-20 17:53] kgardnr commented on #2762
Hey @vladimir04! You can follow these instructions to create a PR: https://opensource.com/article/19/7/create-pull-request-github

Let us know if you need more help! We'd love to add Romanian!

[2019-12-20 17:53] #2675 closed, assigned to wyattjoh

[2019-12-20 17:55] allanassis opened #2765 "Change to use MediaQuery instead of MatchMedia"
## Suggestion

What do you guys think. Instead of use the `MatchMedia` component in reactions icons, we start to use a css 'media query' ?
This change will help us to override the icons styles if necessary.

If you guys agree with it i can do a PR with this modification.

![Screen Shot 2019-12-20 at 2 34 05 PM](https://user-images.githubusercontent.com/23871115/71279594-e75c9800-2337-11ea-9322-e6e

[2019-12-20 22:37] wyattjoh commented on #2763
This should be addressed in the above linked PR @cristiandean!

[2019-12-20 23:07] #2763 closed, assigned to nobody

[2019-12-20 23:11] wyattjoh commented on #2762
Ensure you also take a look at our [CONTRIBUTING.md](https://github.com/coralproject/talk/blob/master/CONTRIBUTING.md#localization) guide!

[2019-12-23 19:54] honzie opened #2772 "Dead link in moderation administration section"
**Expected behavior:**

When I click on the link under 'Configuration' in the 'Toxic Comment Filter Section', I expect to learn more about how to set up the Perspective Comment API. The text on the page (en-US) is below:

"For additional information on how to set up the Perspective Toxic Comment Filter please visit: https://github.com/conversationai/perspectiveapi/blob/master/quickstart.md"

My ex

[2019-12-23 19:55] honzie commented on #2772
I'd be happy to swap out the links, if someone on the team validates that the above link (https://github.com/conversationai/perspectiveapi/tree/master/1-get-started) is what is expected for Perspective API. There definitely might be a better one.

[2019-12-23 20:05] kgardnr commented on #2772
Hey @honzie thanks for catching this! We'd love if you could open a PR to swap this out.

Could you actually link is to this: https://github.com/conversationai/perspectiveapi#readme

I think that's more general and less likely to break if they update their docs links in the future.

Thank you!

[2019-12-23 21:22] honzie commented on #2772
Absolutely! That's a good idea. Probably a better link for sure.

[2019-12-23 22:43] kgardnr commented on #2772
Fixed in #2773

[2019-12-23 22:43] #2772 closed, assigned to nobody

[2019-12-24 10:57] albertly opened #2774 "Cannot fetch profile "Google Auth" - Old package "passport-google-oauth2": "^0.1.6","
**Expected behavior:**

**Actual behavior:**
I've checked on docker image from repo and I've build docker image from master branch.
I've deployed with docker-compose on Azure Ubuntu 18.04 VM and Windows Docker Desktop on my machine.
When I've tried to auth. with google I've got an error: "Cannot fetch user profile".

When I've changed "passport-google-oauth2": "^0.1.6"    to 0.2.0  (latest now).
E

[2019-12-25 10:04] albertly opened #2775 "Google Auth. redirects to https , instead of http"
**Expected behavior:**

Env. Variable :  **DISABLE_FORCE_SSL = true**
After that in Admin Portal  -> Configure -> AUTHENTICATION -> Login with Google -> Redirect URI

I see
http://talk04.westus.cloudapp.azure.com/api/auth/google/callback

**Actual behavior:**
However https path has been passed to Google . Google tries to redirect me to
`accounts.google.com/o/oauth2/auth?response_type=code&redirect

[2020-01-01 13:25] albertly commented on #2775
I think the problem on my side.  Plz, if possible delete this issue.

[2020-01-01 13:25] #2775 closed, assigned to nobody

[2020-01-06 16:14] #2774 closed, assigned to nobody

[2020-01-19 23:08] flosoft opened #2806 "TENANT_NOT_FOUND error on Docker"
Launching Talk via Docker Compose is failing on version 5.4.0 and above, including on a fresh deploy with the error: TENANT_NOT_FOUND and continuous redirects when trying to access it through nginx.
The configs are unchanged since 5.3.2, where this worked fine.

**Expected behavior:**
Instance should launch and show the setup page.

**Actual behavior:**
talk_1   | {"name":"coral","clusterNode":"ma

[2020-01-20 17:01] wyattjoh commented on #2806
The following part of the log messages seems to indicate a required change of the `TRUST_PROXY` environment variable:

```"pub":{"hostname":"docker-talk_talk_1"}```

You can see the setting in our documentation here: https://docs.coralproject.net/coral/v5/configuration/#trust-proxy. Valid options for this variable can be found here: https://expressjs.com/en/guide/behind-proxies.html.

[2020-01-20 18:43] flosoft commented on #2806
Adding `TRUST_PROXY=uniquelocal` fixed being able to access the admin interface.

However, I also noticed that the api endpoints didn't send the following:
[code]

Adding these two fixed the TENANT_NOT_FOUND error.

[2020-01-20 18:43] #2806 closed, assigned to nobody

[2020-01-22 08:13] ghost opened #2808 "Finnish translation"
Our company is planning to use Coral in our website and we'd like to contribute Finnish translation to the project.

[2020-01-22 20:54] kgardnr commented on #2808
Hey @jpkilpi, we would love this contribution, thank you.

You can check out this PR to see what files you'll need to update, and if you run into trouble or have questions, just let us know. https://github.com/coralproject/talk/pull/2786

What is your site or organization? We've worked with a few sites in Finland.

[2020-01-23 10:03] ghost commented on #2808
Hi @kgardnr ,  PR added.

Company is called Mediatalo Keskisuomalainen. It publishes several newspapers in Finland. We are updating our websites and Coral is planned to be the discussion platform for the new sites. Unfortunately I don't have public ETA to give for those sites, but I can let you know when the first one is public.

[2020-01-23 17:47] kgardnr commented on #2808
That's great @jpkilpi, thank you!

And also if you'd prefer us host and maintain the software for you instead of doing it yourselves, we offer a hosted version of Coral and have a lot of European clients using it. You can always send us an email at support@coralproject.net to discuss more, if you're interested!

[2020-01-27 07:33] ghost commented on #2808
We'll keep that option in mind. Thank you for the suggestion.

[2020-01-28 15:59] kgardnr commented on #2808
Fixed in #2811

[2020-01-28 15:59] #2808 closed, assigned to nobody

[2020-01-30 23:37] #2639 closed, assigned to nobody

[2020-02-04 16:12] HectorNM opened #2819 "Comments sometimes get approved even if they have banned words, and sometimes they go to a mistaken moderation queue"
Hi everyone! Congratulations for this project!

I'm having some issues with banned words. We expected that, if a comment has a banned word, it goes automatically to "Rejected" queue on Admin. However, after running this system and receiving a lot of comments, we noticed a few behaviours regarding this:

- Comments that had banned words but were being approved;
- Comments that had banned words but

[2020-02-04 16:17] kgardnr commented on #2819
Hey Hector, could you explain more what you're seeing step by step, so we can try to reproduce the issue?

[2020-02-04 16:26] HectorNM commented on #2819
Hi @kgardnr , sorry, I accidentally pressed "Enter" while still typing details for the issue. I've just edited with more information. Thank you for the help!

[2020-02-06 23:37] kgardnr commented on #2819
Update on this:

@HectorNM has tracked this down to be a bug in the regex for our wordlists, and I've confirmed the issue

[2020-02-06 23:38] kgardnr commented on #2762
Resolved in https://github.com/coralproject/talk/pull/2786

[2020-02-06 23:38] #2762 closed, assigned to nobody

[2020-02-06 23:39] kgardnr commented on #2564
Hey @cristiandean sorry for the delay here. Did you still want to contribute this?

[2020-02-06 23:39] #1933 closed, assigned to nobody

[2020-02-06 23:41] kgardnr commented on #1669
Hey @clintabrown we'll be adding some similar stories to this in our next release of v5.

(PS we should talk about getting you upgraded)

[2020-02-06 23:41] #1669 closed, assigned to nobody

[2020-02-06 23:42] kgardnr commented on #1771
We will be building some similar features to this in the coming months for v5, so closing the issue, and stay tuned! 🎉

[2020-02-06 23:42] #1771 closed, assigned to nobody

[2020-02-06 23:43] kgardnr commented on #1938
Hi @bryce-o sorry for the delay responding. We actually added a similar feature in v5.5.0 which is Announcements. You can read about it here: https://github.com/coralproject/talk/releases/tag/v5.5.0

[2020-02-06 23:43] #1938 closed, assigned to nobody

[2020-02-06 23:44] kgardnr commented on #2166
Hey @mkonikov - great news! Another organization is going to be contributing this to v5 in the coming months. So I'm going to close this ticket, and we'll let you know when we release it! 🎉

[2020-02-06 23:45] kgardnr commented on #2754
Hey @rakannimer just wanted to follow up on this, if you're still interested? Thank you so much!

[2020-02-07 07:09] rakannimer commented on #2754
Hey @kgardnr,

I started working on this but faced some issues that I didn't have the time yet to fix.

I also wanted to ask you, is there a public-facing URL for the docz docs ?

[2020-02-07 12:56] HectorNM commented on #2819
I found a better way to reproduce and understand the problem.

Let's suppose we have a blacklist containing "banned" and "banned2". Then, we would write several comments like "banned 1", "banned 2", "banned 3", "banned 4" etc.  When doing this, we saw that banned 2, banned 4, banned 6, etc, would be approved immediately, while others (banned 1, banned 3, etc) would be rejected.

![image](https://u

[2020-02-08 00:29] wyattjoh commented on #2819
Summing up the fix highlighted in that PR @HectorNM, removing the global flag makes the RegExp no longer a "global" expression, thereby fixing the bug you found. Thanks so much for all the work finding this bug!

[2020-02-08 00:29] wyattjoh commented on #2819
This will be addressed in a v5.5.1 release next week.

[2020-02-08 18:23] HectorNM commented on #2819
Great @wyattjoh ! It's good to know there was an even simpler solution :)

[2020-02-10 14:30] cristiandean commented on #2564
What do you think? Does that still make sense? As we don't have an established protocol to login the user with SSO maybe it could be done by another service.
In addition we have the same problem here #2603

[2020-02-10 17:19] wyattjoh commented on #2819
Andddd it's done! Please try out our 5.5.1 release that includes this fix.

[2020-02-10 17:19] #2819 closed, assigned to nobody

[2020-02-11 00:47] type-face commented on #1980
@wyattjoh  Does this still apply for the V5 graphql api? As per the docs (https://docs.coralproject.net/talk/v5/integrating/cms/) it seems that the new way to do CMS integration is through the graphql api. However, when using apollo-client the preflight request returns a 405. Is this not the correct approach?

[2020-02-11 19:09] wyattjoh commented on #1980
As all external requests made to Coral must have an admin token, it is not possible to make this request in the browser. Instead, the request should be made from a server.

[2020-02-12 15:50] HectorNM opened #2836 "Update .nvmrc file version to version 12.16.0 since 12.0.0 breaks after running login page"
**Expected behavior:**
In the login page, be able to login properly.

**Actual behavior:**
After filling up the first form when running the application for the first time, and creating my user, I'm redirected to login page. In the first login screen, I can't login. I receive the following message in the terminal:

[code]
... and the application stops completely, making it impossible for me to proc

[2020-02-13 14:00] HectorNM opened #2840 "Regular expression for banned words is not matching properly with accented characters"
Hi everyone!

In Portuguese we have a lot of accented characters. We just found that that the regular expression for matching banned words thinks that accented characters are word separators (like blank spaces), and they end up marking the whole word as a banned word.

Let me give you an example:

**Banned words**: ["ba", "bi"]
**Generated regular expression**: (^|[^\w])(ba|bi)(?=[^\w]|$)
**Commen

[2020-02-14 10:16] ghost opened #2841 "Default account ban email customMessage does not currently support translations"
If Coral language is changed, the custom ban email message stays in the original language and there's no way to change the default message.

Note! I failed to trace where the default message is stored, so this may be user issue.

**Expected behavior:**

Full user ban email should be in the selected language.

**Actual behavior:**

If the email message is not updated during banning the message is m

[2020-02-14 18:35] HectorNM commented on #2840
Just a comment about this issue: I was thinking about a solution to this problem, and I thought that maybe it doesn't affect only Portuguese, but other languages as well. I think that other characters from other languages which are not in the A-Za-z range could be affected too and be considered word separators.

What do you think of defining specific regular expressions for each language? That way

[2020-02-14 19:09] kgardnr commented on #2841
Hey @jpkilpi you can find the translations for email messaging here: https://github.com/coralproject/talk/blob/dd45f46b194b75f0a3231d668a1e5bdabb5e5f9d/src/core/server/locales/en-US/email.ftl

Let us know if that helps!

[2020-02-17 06:25] ghost commented on #2841
Hi @kgardnr ,

my original report was incorrect in "custom ban email message stays in the original language"

Actually the first part of the email message is always English, no matter what the initial language was.

This is easy to test: Configure -> General -> Language, select anything else than English

Go to Community tab, select "Ban" for a user and click "Customize ban email message". The mes

[2020-02-17 07:04] ghost opened #2843 "Always receive reported comments to moderation queue"
## Suggestion

Receive reported comments to moderation queue even when pre-mod is on and comment is already approved.

## Use Cases

Our comment section has pre-moderation enabled, so all messages will be checked and approved before they are published.

We would still like to receive the reports from our users so that we can take action based on them.

Right now for the report to appear in the que

[2020-02-21 20:53] janslu commented on #2237
Are there any plans to change the forced font inclusion? Source Pro in Talk is coming from typeface-source-sans-pro package which doesn't include characters outside of the latin subset. So to use talk in polish I HAVE to either change the font to something different or include additional font import in css for latin-ext subset...

Would it be possible to make font inclusion a customisable option o

[2020-02-24 16:23] kgardnr commented on #2841
Thanks @jpkilpi! I do believe this a bug. In the meantime, you can still go ahead and add the right files to the `email` folder as they've done in Portuguese, for example, and we'll address this when we get a moment.

[2020-02-24 16:28] kgardnr commented on #2841
Hey @HectorNM are you and your team able to confirm this is the case as well? If so, do you want to look into this bug by chance?

[2020-02-24 21:13] kgardnr opened #2856 "Add missing Polish translations"
There are some English strings still here for the stream translations: https://github.com/coralproject/talk/blob/master/src/locales/pl/stream.ftl

[2020-02-24 21:13] kgardnr commented on #2856
@janslu  there are some missing translations - do you want to take a look?

[2020-02-24 21:16] kgardnr commented on #2843
Hey @jpkilpi this is a product decision we made - because if a moderator has approved a comment, it should be deemed acceptable by the newsroom/org and the community, so reports would just add to their workload and might be a vector for abuse.

I'll close this issue for now but feel free to add additional comments for context.

[2020-02-24 21:16] #2843 closed, assigned to nobody

[2020-02-25 19:26] wyattjoh commented on #2237
We're currently looking into this issue related to fonts, and will update this issue when we've made some movement on the issue.

[2020-02-25 20:11] hovicky opened #2858 "Anchorage Daily News - User unable to log into comments"

[2020-02-25 21:20] #2858 closed, assigned to nobody

[2020-02-25 22:57] janslu commented on #2856
This was fixed in #2853, sorry about that. I used a previous checkout.

As a notice - the original English version of https://github.com/coralproject/talk/blob/master/src/locales/en-US/stream.ftl seem to have the same key in lines 333 and 334  - profile-account-notifications-emailNotifications.

[2020-02-26 20:59] kgardnr commented on #2856
Hey @janslu I think it's still missing translations in that stream file, can you double check? I see mixed English and Polish there, for example:

[code]

[2020-02-26 21:33] janslu commented on #2856
@kgardnr Thank you for pointing this one out. I don't know how I missed it. I will do my best to triple check future updates, really sorry about this.

Is this something that can wait for QA translations? I have pushed a small suggestion for translation key change on one of the tabs and I think it will be best to wait until the missing key is added to English before I push my working copy with QA

[2020-02-28 18:05] #2856 closed, assigned to nobody

[2020-03-02 10:19] ghost commented on #2843
Hi @kgardnr

Not having a way to receive user reports is a bit problematic for us.

The majority of the Finnish media have signed the [Council for Mass Media](https://www.jsn.fi/en/) Basic Agreement.

CMM's [Guidelines for Journalists](https://www.jsn.fi/en/guidelines_for_journalists/) requires that

(Annex to Guidelines: Material generated by the public on a media website)

I understand the reaso

[2020-03-02 10:37] ghost opened #2871 "Get total comment count for site"
## Suggestion

Our Coral Talk instance is being premoderated by a third party. Part of their moderation fee is the amount of work; number of comments approved / rejected by the moderators.

We would like to be able to get the total number of messages in a site. Preferably we could limit the count to a time period (e.g. new comments in February), but total counts would be sufficient.

[2020-03-03 16:09] jordanlevy96 opened #2874 "Failed start up following instructions in docs"
**Expected behavior:** System startup on localhost:3000

**Actual behavior:**
#### Secure Connection Failed
First, I tried starting up with docker-compose. I used the exact yml file given in the instructions, with the `SIGNING_SECRET` set:
[code]
Running `docker-compose up` prints what looks like normal output. Here are the last few lines to demonstrate:
[code]

I get the "Secure Connection Failed

[2020-03-04 19:04] wyattjoh commented on #2874
The default command used by Coral in production containers is `npm run start`, which adds the production environment variable there. You can swap that out by adding a:

[code]

Note that you should not run this in production, as lots of security features are turned off.

[2020-03-05 17:40] zekenie opened #2876 "Webhook / Event integration"
Let me open by saying I'm really enjoying using Coral. I looked far and wide for products like this, and this is certainly filling a void. I'm very appreciative!

## Search Terms
Coral webhook
Coral event subscriptions

## Suggestion
I would love to be able to subscribe to a broader array of events from coral. I need to integrate coral into my notifications system, and there only [appears](https:/

[2020-03-05 19:51] zekenie commented on #2876
I'm trying to spin up a node process that connects to ws and adds to a queue on my end for processing.  Here's what I've got:

[code]

When I post a comment, I error output
[code]

When I set up my client, I tried to use a valid non-expiring jwt I generated from the `coral-cli`, and I believe I am sending it across correctly:

[code]

[2020-03-05 22:20] zekenie commented on #2876
I've made a lot of progress on this. When I run this code in the browser, it works fine (as long as I whitelist the domain on Coral). But when I run it in node, it's not working. Any advice on creating node.js clients? I tried passing in an origin header

[2020-03-06 15:04] zekenie commented on #2876
Alright, I've figured it out. I was doing several things wrong. Here's the final websocket configuration that worked
[code]

[2020-03-06 15:05] #2876 closed, assigned to nobody

[2020-03-09 12:53] pe3sos commented on #2874
If you're encountering SSL issues, add the following env
      - DISABLE_FORCE_SSL=true
And access http://127.0.0.1:3000/ use a private instance if the browser redirects you to the https.

[2020-03-09 14:43] kgardnr commented on #2876
Hey @zekenie, glad you figured it out - and thank you for the kind words! Out of curiosity, what newsroom or blog are you using Coral on?

[2020-03-09 14:48] zekenie commented on #2876
@kgardnr We're building a tool for workers to organize and talk about workplace issues. Each "story" is essentially a "campaign" for something at work... a new benefit, change in policy, etc.

Webhooks for more events would still be awesome. I also couldn't figure out a way to get pinged by the graphql subscription when someone reacted to a post. We don't 100% need this, but it would be nice to ha

[2020-03-09 14:55] jordanlevy96 commented on #2874
Thanks @pe3sos this fixed it

[2020-03-10 15:17] kgardnr commented on #2871
Hey @jpkilpi, since you're hosting your own instance you can get this information directly from the database itself. We might bring on metrics in the future but we don't have firm plans at this time.

[2020-03-10 15:17] #2871 closed, assigned to nobody

[2020-03-10 22:06] kgardnr commented on #2840
Hey @HectorNM check out this PR when you get a moment; this will be going into our 6.0.0 release, which will be cut this week.

https://github.com/coralproject/talk/pull/2869

[2020-03-10 22:06] #2840 closed, assigned to nobody

[2020-03-12 21:21] allanassis opened #2886 "Improving coral performance when there are many stories in mongodb"
### Hi Coral team,

My team at globo.com made a research about how Talk would perform when search for a story in talk admin with millions of stories in database.

We found that with 1100000 stories the response time were between 500ms and 5s.

Some times we get timeout.

We made some adjustments like changing the graphql query to find the story just by the title.
The actual code is trying to find

[2020-03-18 19:04] cristiandean opened #2897 "Bug: Static URI Path Support"
Hello, this bug #2371 that was solved here: #2399 is happening again due to https://github.com/coralproject/talk/commit/707d65a11901d24b81c3207e125c7a28c2900056#diff-b1eac6ae145d4d181b45270d6f517a3dL504

We were about to update the Talk when we found this bug again. Could it be reversed? We can submit a PR.

P.S.: The latest release did not update the Talk version in [package.lock](https://github.

[2020-03-18 21:08] wyattjoh commented on #2897
Hi! Thanks for the report!

We had to remove the offending lines https://github.com/coralproject/talk/commit/707d65a11901d24b81c3207e125c7a28c2900056#diff-b1eac6ae145d4d181b45270d6f517a3dL504 because they affected loading fonts from deeper nested pages for when `STATIC_URI` is unset.

We currently don't have a solution to this problem, as the current implementation seems to be working for when we'

[2020-03-18 21:47] wyattjoh commented on #2897
As for the updates to `package-lock.json`, agreed, that was missed! We'll add a CI step to verify that in the future.

[2020-03-18 23:46] cristiandean commented on #2897
@wyattjoh  Do you have an example of deeper nested pages where it doesn't work when `STATIC_URI` is unset?

I did a test on the route `/admin/configure/organization/sites/new`with the `STATIC_URI` unset and it worked with these lines https://github.com/coralproject/talk/commit/707d65a11901d24b81c3207e125c7a28c2900056#diff-b1eac6ae145d4d181b45270d6f517a3dL504

![Screen Shot 2020-03-18 at 20 39 16](

[2020-03-19 15:17] cristiandean commented on #2897
It would also be good to mention this in the release notes as a breaking change, as it ended up breaking us since we use s3 to store the static ones, keeping the URL like this:

```https://s3_host/v1/AUTH_hash/coral-talk/version/assets...```

[2020-03-20 15:07] caeugusmao commented on #2886
Maybe for text searches we could set a fixed relative interval, last month for example.
To find older stories, perhaps search for exact URLs.

What do you think?

[2020-03-22 16:02] mattlinares commented on #2874
I got this issue too. Worth adding something about this in the docs?

[2020-03-25 08:15] andrewfam commented on #2680
I'm facing the same issue with sendgrid on all ports.
I got it to work with Mailgun on 465 also

[2020-03-25 17:26] HectorNM opened #2908 "Consecutive banned words in a comment text will make this comment text display incorrectly in Moderation section"
While testing regular expressions, I tried to change a test existing on `CommentContext.spec.tsx` to include consecutive banned words, line breaks, word in the beginning and end of the line. Like in the image below:

![image](https://user-images.githubusercontent.com/5360796/77564316-484cbc80-6ea1-11ea-91ae-99b1a5a42ff3.png)

However, when running this test, I found that once I put consecutive ban

[2020-03-25 17:28] HectorNM commented on #2908
I opened a PR for a possible solution for this problem, please see if it makes sense for you: https://github.com/coralproject/talk/pull/2909

[2020-03-28 08:53] pe3sos commented on #2874
Nope, the bug is in npm scripts, in package.json:
`   "start": "NODE_ENV=production node dist/index.js"`
`NODE_ENV` will be permanently overridden.
So to fix this either remove `NODE_ENV` variable or add to your docker talk service following line:
`    command: ["/usr/local/bin/node", "dist/index.js"]`

[2020-03-30 15:35] wyattjoh commented on #2874
Thanks for the feedback regarding developer instructions with Coral! We'll be making a pass this week on improving this!

[2020-03-30 20:35] #2874 closed, assigned to nobody

[2020-04-02 11:04] takeit opened #2922 "How to import comments to Talk v5 from custom sources?"
Previously I used Coral Talk v4 and I used https://github.com/coralproject/talk-importer to import the data from my custom source which worked very well.

How do I import data from my custom source to Talk v5? Are there any tools out there? I couldn't find anything.

Thanks!

[2020-04-02 11:07] errand opened #2923 "Update Comment count on Ajax call (Infinite scroll)"
When using dynamic content load comment count is blank.
I try to call count.js via ajax call with no luck.
Does anybody has a recipe?

[2020-04-02 15:56] wyattjoh commented on #2923
Can you give an example of how the elements are loaded? Corals `count.js` currently doesn't monitor the page for insertions of new `data-coral-*` attributes, as it's only done once on dom load.

[2020-04-02 16:11] errand commented on #2923
For example https://www.andreaverlicchi.eu/lazyload/ script has useful update() function to check DOM again when for example (in my case) new content is being appended to container as user scrolls down,
in my case i use Drupal7 with Infinite scroll module (https://www.drupal.org/project/gd_infinite_scroll). So when the new elements append to container i fire update function so the comment count sh

[2020-04-02 16:13] errand commented on #2923
GD infinite scroll project https://git.drupalcode.org/project/gd_infinite_scroll/-/blob/7.x-1.x/js/gd_infinite_scroll.js

[2020-04-02 21:40] wyattjoh commented on #2923
That's sufficient! Coral doesn't currently have a mechanism for this currently, but we've added it to our backlog.

[2020-04-03 14:55] kgardnr commented on #2922
@takeit we don't have a migration path yet, and this will likely be delayed for the time being. Could you reach out to us on support@coralproject.net so we can discuss your options? Thank you!

[2020-04-05 21:38] mkonikov opened #2925 "Translation key displaying instead of actual text"
**Expected behavior:**
When a message is shown to a user that their username is rejected, the text labels should be the values from the translation yml file (aka translations in each language).

**Actual behavior:**
The keys from the yml file seem to be displaying. See screenshot ->

![image](https://user-images.githubusercontent.com/7562285/78510535-c8a5d400-7763-11ea-9752-fe775af69f23.png)

**Ve

[2020-04-07 07:06] #2922 closed, assigned to nobody

[2020-04-08 19:50] mkonikov opened #2929 "Users encountering GraphQL error related to ignoredUsers"
**Expected behavior:**
Comment viewing and posting should work fine.

**Actual behavior:**
User sees this error when viewing the stream
[code]
I believe this is related to a user A ignoring user B and then user B deleting their account.

**Versions:**

- Coral: 4.11.0

[2020-04-15 21:28] kgardnr commented on #2925
Hey @mkonikov, would it be possible for you to contribute this bug fix do you think?

Or @leeeandroo, would you?

[2020-04-15 21:29] kgardnr commented on #2929
Hey @leeeandroo just raising this to your attention if you'd like to submit a fix for this!

[2020-04-16 13:12] leeeandroo commented on #2925
Hey @kgardnr ,

I could not reproduce this issue. Checked on `4.11.0` and `4.11.4`.

Could you give more information about how you got this @mkonikov ?

Thanks,

[2020-04-17 20:48] #2908 closed, assigned to nobody

[2020-04-17 20:51] kgardnr commented on #2754
Hey @rakannimer we don't have a public-facing url for the docz docs currently, it's used more for local development.

[2020-04-20 09:36] nunsie commented on #1980
@wyattjoh I find that comment a little confusing, as I have been following the SSO documentation here: https://coralproject-docs-talk.netlify.app/talk/v5/integrating/sso/#external-integrations

And by creating a jwt following the steps outlined in those docs I am able to authenticate a request to the graphql server as the user defined in the JWT (creates a user if they dont exist and everything).

[2020-04-22 17:50] mkonikov opened #2941 "Error when building on v4"
I'm getting an error when building with Docker locally

[code]

I'm guessing this is because the engine is pinned at 8

**Expected behavior:**
To be able to build

**Actual behavior:**
Can't build

**Versions:**
4.11.0

[2020-04-22 17:51] mkonikov commented on #2925
I believe I may have identified the issue in our local code. Sorry for the bother.
(Came across this issue when trying to fix https://github.com/coralproject/talk/issues/2941)

[2020-04-22 17:51] #2925 closed, assigned to nobody

[2020-04-24 16:17] immber opened #2943 "Edit comment with suspect word shows "Resource Already Exists" error to user"
**Expected behavior:**
User is able to edit comment in the edit window.
**Actual behavior:**
User edits comment, clicks submit, and is shown a "Resource Already Exists" error. User's edit is not displayed on the stream, but the edit is successfully persisted.

**Related Issues:**

**Versions:**
Reproduced on Talk version 4.11.4
- Browser: Chrome
- OS: Mac Mojave

**Steps to reproduce**
1. As a com

[2020-04-24 16:22] wyattjoh commented on #2941
If you're building with Docker, you should use Node at version ~8 instead of 10. Docker for v4.11.0 is pinned to the `node:8-alpine` image, so you should be fine.

What command do you invoke to start the build?

[2020-04-24 16:28] wyattjoh commented on #1980
As a security feature, we do not and are not planning on allowing CORS headers to be set, as all in-browser requests to Coral should be made from within the Coral iFrame or be sent from a server that isn't subject to the CORS restrictions.

Tokens created through the SSO documentation can be used to execute requests yes. In production deployments, Coral generates all the queries that the applicati

[2020-04-27 17:28] mkonikov commented on #2941
Our command is
[code]
with the startup file adding support for [pm2](https://www.npmjs.com/package/pm20).

[2020-04-27 17:34] kgardnr commented on #2943
FYI @mkonikov and @leeeandroo if you want to take a look at this bug

[2020-04-27 18:33] wyattjoh commented on #2941
Are you basing your images from the `*-onbuild` tags? (ref: https://docs.coralproject.net/coral/installation-from-docker/#onbuild)

[2020-04-27 18:53] munguia-strib opened #2945 "Internal Error thrown when registering an admin account and Organization URL is missing http:// header"
Steps:
 Follow https://docs.coralproject.net/coral/   for Docker
When registering an account for the first time, add a website to the Organization URL field like so:
www.example.com  (without http://)
Validation checks out.
Add Whitelisted domains and Finish Install

**Expected behavior:**
I'm able to finish install successfully *or* validation fails when trying to input an incomplete Organization

[2020-04-27 18:58] wyattjoh commented on #2945
I'm expecting that this is related to adding the scheme to the URL. Ensure you add `http://` or `https://` to the front of the URL. Let us know if that fixes things!

[2020-04-27 19:00] mkonikov commented on #2941
No.

Dockerfile is like this

[code]

[2020-04-27 19:49] wyattjoh commented on #2941
The only thing I can assume is that one of the packages you're using is requesting a Node version `>=10`, hence the warning. I'd suggest trying to pin to a version that requires Node version `~8` in order to maintain compatibility with Coral v4 which currently requires version 8. Coral 5+ however now uses `^12`.

[2020-04-27 22:00] mkonikov commented on #2941
With Node 8 having reached EOL in 2019, any way to get v4 working with Node 10.

Alternatively, any word on an upgrade path to v5+?

Thanks!

[2020-04-28 15:57] kgardnr commented on #2941
Hey @mkonikov! I think definitely we'll want to move forward with getting you over to v5+. I think doing a node upgrade for v4 would be a risky venture.

Let me check with my team and I can get back to you about migration next steps!

[2020-04-29 17:24] zekenie opened #2948 "Securing additional graphql queries"
Hello!

I'm using Coral on a private platform. We want to make sure an attacker cannot see comments on a story unless they have an account (we're using SSO). If I wanted to secure additional graphql quries like `story` and `stories` would it be as simple as modifying the `schema.gql` file [here](https://github.com/coralproject/talk/blob/master/src/core/server/graph/schema/schema.graphql#L3093). Fr

[2020-04-29 17:33] wyattjoh commented on #2948
Unforunatly, we currently don't support private conversations.

That being said, because you're using SSO, you can always use a proxy in front of Coral that rejects requests that are not authenticated. See the following example using Caddy:

Using the [`http.jwt`](https://caddyserver.com/v1/docs/http.jwt) plugin, you set the environment variable for `JWT_SECRET={{ SSO Signing Secret }}`:

[code]

[2020-04-29 17:36] zekenie commented on #2948
Thanks for writing back!

I know we're using Coral a little bit differently than its intended. Out of curiosity, If I were to fork Coral and make a change to the schema.gql file, would that approach work? Or would I need to make more substantial changes

[2020-04-29 17:43] wyattjoh commented on #2948
I'd expect there to be some issues around auth initialization flows. You'd also have to maintain that fork moving forward.

In short, yes, modifying the schema file might work, but we can't guarantee that changes won't break that support.

[2020-04-29 17:47] zekenie commented on #2948
Perfect. I'll take that under consideration. Trying to balance maintaining a fork vs maintaining more infrastructure. I'll probably give it a try. Thanks again!

[2020-05-04 04:41] xixuefeng11 opened #2950 "Where can I find a graphql viewer?"
I've installed Coral on the DigitalOcean docker droplet.

Does this platform support Graphql viewer?
I've tried it on https://localhost:8080/api/graphql, and https://localhost:3000/graphiql.
but it shows an error page.
Where can I find the Graphql viewer?

[2020-05-04 20:41] allanassis commented on #2950
There is a section in the docs that explains about it.
https://docs.coralproject.net/talk/v5/api/overview/

Basically you have to enable the Graphql viewer by setting the ```ENABLE_GRAPHIQL=true```.
After that you can access the viewer in this endpoint ```http://localhost:3000/graphiql```

<img width="1308" alt="Captura de Tela 2020-05-04 às 17 36 21" src="https://user-images.githubusercontent.co

[2020-05-04 21:45] allanassis opened #2951 "Deleted comments in moderation queues"
Hi guys, i know it is an expected behavior, but why is it necessary to keep deleted comments in moderation queues?

I can not see any reasons for that, there are no information about these comments, it is just the relation about a blank box with the story title.

What do you guys think about removing these comments from these queues?

<img width="699" alt="Captura de Tela 2020-05-04 às 18 38 12"

[2020-05-05 07:42] xixuefeng11 commented on #2950
I've inserted ENABLE_GRAPHIQL=true in the environment area of docker-compose.yml.
After restarting the docker, it works.
Thanks, allanassis.

[2020-05-05 07:42] #2950 closed, assigned to nobody

[2020-05-05 14:18] HectorNM commented on #2951
Another idea instead of not showing at comments at all, maybe it could exist an extra queue called "Deleted" just to keep deleted comments. What do you think?

[2020-05-06 13:51] cloudlena opened #2954 "No easy way to query nested comments"
We are using Talk as a commenting solution for news articles. There, users can also comment on other people's comments. For that, we want to query all the comments of a news article and display them as a tree of nested comments. Our use case is to display the first n comments and all of their "children" (meaning comments that were written as a response to the top level comment).

[code]

After rea

[2020-05-06 15:48] #2945 closed, assigned to nobody

[2020-05-06 15:52] wyattjoh commented on #2954
You could construct a query like this:

[code]

This would return comments (with no parent, or top level comments) as `asset.comments.nodes` (limiting them to 10). Replies to those top level comments would be found on each comment's `replies.nodes` (limiting them to 20).

This is how we do it inside the frontend of Coral today across versions.

[2020-05-07 11:48] cloudlena commented on #2954
Thanks so much, @wyattjoh! That's exactly what we needed.

[2020-05-07 11:48] #2954 closed, assigned to nobody

[2020-05-11 19:39] nate-john opened #2958 "User reports "internal error""
hey Coral Talk folks,

I have a user who's written in saying whenever she attempts to log in to the commenting system on our site she gets an "internal error."

I created a new user and commented on our site effectively just now. So, I wasn't able to replicate the issue.

Is there something to this - or other users you've seen report the same issue?

Thanks,
Nate John

[2020-05-11 20:05] kgardnr commented on #2958
Hey Nate John! I'm going to remove this comment and create a support ticket for you!

[2020-05-11 20:07] #2958 closed, assigned to nobody

[2020-05-13 01:37] kbwffx opened #2962 "Logging configuration 4.11"
How can I configure the logging in Talk to interface with our back-end log collection? Can I do it through a plugin?

## Search Terms

logging configuration

[2020-05-13 20:54] wyattjoh commented on #2962
In Talk v4, we only outputs logs to standard out. We also don't provide a mechanism to interface through the plugin system. You could perhaps explore using the onbuild image and overriding the https://github.com/coralproject/talk/blob/v4.11.4/services/logging.js file, which might let you route the logs elsewhere.

[2020-05-13 20:54] #2962 closed, assigned to nobody

[2020-05-14 18:52] mattlinares opened #2964 "Failed start up following instructions in docs"
I'm still having the problem as reported in https://github.com/coralproject/talk/issues/2874 and supposedly fixed in https://github.com/coralproject/talk/pull/2917.

Essentially, following the instructions here: https://docs.coralproject.net/talk

for a production deploy results in the browser error:

[code]

Setting `DISABLE_FORCE_SSL=true` in the `docker-compose.yml` environment settings gives a

[2020-05-14 19:49] wyattjoh commented on #2964
Without setting `FORCE_SSL=true`, Coral does not consider the forwarded protocol at all during requests. Any production deployments of Coral should be behind a SSL terminating proxy in order to ensure secure connections.

The error you reported from the browser seems to reference a port `3000`, which looks like a port that Coral uses. Coral does not terminate SSL connections, and does requires a s

[2020-05-15 14:36] #2964 closed, assigned to nobody

[2020-05-20 23:48] vosperdw opened #2966 "Allow copying and pasting paragraph formatting; consider adding RTE option for tables"
I post to the WaPo comments section a lot.  I find it more convienent to compose my comments offline and then cut/paste them into WaPo comments section.

**Expected behavior:**
User pastes comment into comment box.

**Actual behavior:**
Paragraph punctuation is screened out, turning multiple paragraphs int to one and turning rows and columns of date into a single paragraph.

**Related Issues:**
No

[2020-05-21 00:34] kgardnr commented on #2966
Hi @vosperdw! Thank you for writing in and bringing this up. Unfortunately we don't support copy and pasting formatting because of a couple different reasons; one, the formatting could come from multiple sources and it's difficult to predict and handle different types of formatted input; second, we restrict a lot of formatting (currently we limit to bold, italic, and blockquote) to make sure the c

[2020-05-21 00:44] vosperdw commented on #2966
[CFR covid-19.txt](https://github.com/coralproject/talk/files/4660033/CFR.covid-19.txt)

[2020-05-28 13:59] mattlinares opened #2972 "Talk only redirects to `/install` with error `Tenant has already been installed`"
I have Talk in a Docker container on a Digital Ocean droplet
with nginx. I am continually redirected to `https://talk.ourdomain.net/install` where I get the error: `Tenant has already been installed.` (I had installed this instance before setting up Nginx).

I think it may be an issue with e.g. `TRUST_PROXY` but I'm not sure.

Does anyone know? Thank you!

**Expected behavior:**
Talk should give a

[2020-06-01 19:09] wyattjoh commented on #2972
If you setup Coral before setting up Nginx, you will need to edit the `domain` field of the associated document in the `tenants` collection to match the domain of your site being proxied by nginx. This is because Coral is multi-tenant aware, and uses the domain/hostname to separate tenants.

[2020-06-02 00:11] mattlinares commented on #2972
I did that by accessing mongo in its container and running:

`db.tenants.updateOne({"id" : "d5236f5c-0fd1-421-a0f48dc71227"}, {$set: {domain: "talk.domain.net"}})`

but that didn't seem to work either. I will just reinstall Coral and see how that goes.

Thanks for you response!

[2020-06-02 00:12] #2972 closed, assigned to nobody

[2020-06-02 15:56] wyattjoh commented on #2972
Once you've updated the tenant, you might need to restart the server because it caches the tenant in memory!

[2020-06-02 16:48] kgardnr commented on #2972
Hey @mattlinares - we can also set up the hosting for you, if you're interested, just send an email to our support channel and I can send you some options: support@coralproject.net 🎉

[2020-06-12 09:33] leonkunert commented on #2941
We fixed this by fixing the node-gyp version to 6.1.0. They did an update that seems to require dependencies that need node 10.

[2020-06-12 17:03] mkonikov commented on #2941
@leonkunert Are you building with Docker?
Where is `node-gyp` used?

[2020-06-15 13:25] leonkunert commented on #2941
We are using a custom docker image but heavily inspired by booth the on-build and base.
[Here](https://github.com/coralproject/talk/blob/104b719dec0c0ddac37b515f584edfd6bcf93043/Dockerfile#L23) you can see node-gyp beeing installed without version constraint.
We replaced it with: ```RUN yarn global add node-gyp@6.1.0```

Edit: Forgot the link

[2020-06-17 15:32] mkonikov commented on #2941
Thanks for that @leonkunert!

@wyattjoh Would you consider pinning the `node-gyp` version in v4 to `6.1.0` to address this for those still on 4?

https://github.com/coralproject/talk/blob/release/4/Dockerfile#L23

[2020-06-17 23:21] mkonikov commented on #2941
I created a PR for that here -> https://github.com/coralproject/talk/pull/2992

If we could move forward with this it would seem to be the best solution for those still using v4 (apart from upgrading v4 to Node 10).

Thanks!

[2020-06-18 21:40] mkonikov commented on #2941
@leonkunert Did you find pinning `node-gyp` help you with the `semver` issue? I still seem to have the issue even after pinning `node-gyp`.

[2020-06-20 20:00] Jonahss opened #2993 "Coral talk section doesn't render on latest Chrome if third-party cookies are blocked"
Hello,

My mother called me because the comment section on a Vox article disappeared for her. She used to be able to use it and now it's gone.

She's using Chrome v83.0.4103.112

She had the setting for "block cookies from third party sites" enabled.
I walked her through adding "https://[*.]coralproject.net:443" to the whitelisted domains for cookies and the comment block re-appeared.

I would ass

[2020-06-22 11:16] leonkunert commented on #2941
@mkonikov That was the only thing we changed in our Dockerfile and it seemed to fix the issue for us.

[2020-06-22 15:31] kgardnr commented on #2993
Thank you @Jonahss, for bringing this to your attention, and helping find the workaround! We will review this and get back to you!

[2020-06-22 16:13] kgardnr commented on #2993
We've address this here @Jonahss - thanks again for bringing it to our attention! https://github.com/coralproject/talk/pull/2994

[2020-06-22 18:52] Jonahss commented on #2993
Wow! Super quick response! Thanks

[2020-06-22 21:01] kgardnr commented on #2993
You're welcome! :)

[2020-06-22 21:01] #2993 closed, assigned to nobody

[2020-06-22 21:02] kgardnr commented on #2993
Fixed in https://github.com/coralproject/talk/pull/2994

[2020-06-25 17:09] #2941 closed, assigned to nobody

[2020-06-26 15:43] yos77 opened #3001 "I can't access Coral Project Talk from outside with public ip"
Good Morning:

I installed Coral Talk in ubuntu server and I want to access it from outside with public ip, but for some reason I can't. I can access it with local ip 127.0.0.1:3000 using command lynx and I know with this method is working. All containers in Docker are running. To install Coral I used the docker-compose.yml file (Version 5+), that is in this link https://docs.coralproject.net/cora

[2020-06-26 18:45] wyattjoh commented on #3001
In order to access an application inside a docker container, the port must be exposed. I'd recommend using a web server like [Caddy](https://caddyserver.com/) and proxy to the Docker container at `127.0.0.1:3000`. It may be the case that you'll have to open a firewall port for `80` and `443`.

[2020-06-26 18:45] #3001 closed, assigned to nobody

[2020-06-26 19:59] anibalpacheco opened #3004 "Spanish translation typo"
https://github.com/coralproject/talk/blob/86c81c7b9fa543249fe7ab3bc6659332709d68cf/src/locales/es/stream.ftl#L75

It shlould be "Enviar" (screenshot attached for more context)

![es_typo](https://user-images.githubusercontent.com/89636/85896130-4a8b2380-b7ce-11ea-9134-7f53837b88c7.png)

[2020-06-26 22:44] wyattjoh commented on #1816
We've determined that we'd rather rely on existing tools like k8s to power this behaviour rather than including another library for it. If there's more interest we'll revisit!

[2020-06-26 22:44] #1816 closed, assigned to nobody

[2020-06-27 01:56] natastro commented on #3004
Hi coralproject team! I fixed the typo - could I submit a PR for this? Thank you! :) Have a nice weekend.

[2020-06-29 15:17] wyattjoh commented on #3004
Yes please @stroudn1!!

[2020-06-30 01:49] kgardnr commented on #3004
Fixed in https://github.com/coralproject/talk/pull/3008

Thank you again @anibalpacheco and @stroudn1!

[2020-06-30 01:49] #3004 closed, assigned to nobody

[2020-06-30 06:52] yos77 opened #3009 "How to configure https on my Coral Project server?"
Good Morning:

I installed Coral Talk in ubuntu server and I want to configure https. Where should I to configure this, on the server or on the Docker? Do you have documentation about this? Thanks.

**Expected behavior:** https://www.test.com

**Actual behavior:** http://www.test.com

**Versions:**

NodeJS: 12.18.1
NPM: 6.14.5
MongoDB: 4.2
Redis: 3.2
Browser: Chrome 83.0.4103
OS: Ubuntu 18.04.4
Do

[2020-06-30 15:46] wyattjoh commented on #3009
Great question! I'd suggest taking a look at [Caddy](https://caddyserver.com/) to help with that. Coral doesn't handle or manage HTTPS certificates, but Caddy does!

[2020-06-30 15:46] #3009 closed, assigned to nobody

[2020-07-14 17:58] cristiandean opened #3016 "Create a tenant systematically"
We needed to use the multiple tenants support in the talk, for the time being the process was done manually (replicating the collections in the database). I would like to know if there is a recommended way to do that systematically

[2020-07-16 21:53] kgardnr commented on #3016
Hey @cristiandean and @allanassis! This is something that would have to be done on your side, we don't have any plans to automate this or provide this.

[2020-07-16 21:53] #3016 closed, assigned to nobody

[2020-07-17 12:54] karlsgreenict opened #3029 "Support for multiple languages on one page"
We have a page where you can choose different languages. http://my.site/en and http://my.site/fr.

Is it possible to change the language of the coral talk integration dynamically? I tried to set the locale value in the LocalStorage as described in the documentation.

localStorage.setItem('locale', 'fr')

Unfortunately, this seems not to work anymore in the current version.

[2020-07-17 14:36] kgardnr commented on #3029
Hi @karlsgreenict, can you share the site you're using Coral on? Thanks!

[2020-07-17 14:37] #2948 closed, assigned to nobody

[2020-07-17 15:15] karlsgreenict commented on #3029
Hello @kgardnr,
thanks for the feedback. We are currently checking the suitability of Coral Talk for a site that is not yet realized. So unfortunately, I can't share it.

[2020-07-17 15:53] wyattjoh commented on #3029
At the moment, Coral only supports a single language per site, where a site has a unique origin `https://domain.com`, and are unable to support multilingual deployments at the moment.

[2020-07-17 16:27] #3029 closed, assigned to nobody

[2020-07-29 04:02] mkochco opened #3052 "6.2.3/6.3 won't start"
We've been running for several days in ECS without issue.  However a rolling restart has resulted in the following;
[code]

Console logs show the following additional entries

[code]

[2020-07-29 16:12] wyattjoh commented on #3052
If you've upgraded from a previous release, you might need to re-run:

[code]

We're running 6.2.3 and 6.3.0 currently on GKE without issue. The provided logs related to max listeners and deprecation warning shouldn't affect the runtime.

[2020-07-31 16:34] cristiandean opened #3061 "DUPLICATE_USER on Single Sign On"
Hello, we are using SSO authentication, but the first time the user authenticates, when he should be created in the database,  the following error is almost always thrown:

![image](https://user-images.githubusercontent.com/25023177/89056108-de05c600-d331-11ea-8e9d-b45391c05b61.png)

-----
![image](https://user-images.githubusercontent.com/25023177/89056322-39d04f00-d332-11ea-81ab-506bf0afa0b7.png

[2020-07-31 17:16] wyattjoh commented on #3061
It's the case sometimes when a user who already has an account with another login method tries to authenticate with SSO. It shouldn't be a race because that query that tries to insert the user is a `findOneAndUpdate` operation.

I'd check to see if there's already a user with the same ID as the one being created via SSO.

[2020-07-31 17:26] cristiandean commented on #3061
It is strange because I reproduced this problem locally, where there was only the admin user and the new user who was registering. So there was no possibility that the user already existed with the same ID.

PS. After authenticating, even giving error 500 the user was successfully registered.

[2020-07-31 18:15] wyattjoh commented on #3061
If you were able to reproduce locally, can you try again with our `feature/CORL-1232` branch and provide the server logs? I've added additional error context to those messages so we should get a better picture as to what happened.

[2020-07-31 18:20] cristiandean commented on #3061
I was able to track some users queries that were executed on mongo when the errors happened:

Edit: I think the log is no longer needed from that information, right?
` "exception" : "E11000 duplicate key error collection: coral.users index: tenantID_1_id_1 dup key: { : \"459604f9-3b2d-4815-ae56-437105e3d7c3\", : \"f:1111a1fb-002f-489e-b9c2-d57aba0ae494:467a1f51-1fc2-41c8-93ff-9c223fc0b755\" }",`

[2020-07-31 18:48] wyattjoh commented on #3061
It does seem like a race against that index. This operation is involving two unique indexes, one with:

[code]

And another with:

[code]

Check to see that both these indexes in MongoDB are not background and are unique with `db.users.getIndexes()`.

[2020-07-31 19:00] cristiandean commented on #3061
Both are unique and the background property is not set

![image](https://user-images.githubusercontent.com/25023177/89067823-6aba7f00-d346-11ea-8081-ef29c7d79f1f.png)

----

![image](https://user-images.githubusercontent.com/25023177/89067877-802fa900-d346-11ea-8faa-d7574db2c312.png)

[2020-08-03 13:57] mkochco commented on #3052
We're running the image published by Coral in AWS ECS Fargate.  We're not building locally.   Are you saying that switching the docker image version from 6.2.3 to 6.3.0 will break existing deployments?  Is there a manual migration required?

[2020-08-03 13:58] kgardnr commented on #3052
Hey @mkochco can you tell us which site(s) you're running Coral on?

[2020-08-03 14:01] mkochco commented on #3052
It's running in our development/staging environment on AWS and not currently available to the public.   Is there a way to configure the Container to provide more logging info so that we can see the root cause of the failure to start?

[2020-08-03 14:03] kgardnr commented on #3052
Can you tell us the site it will eventually be used on? If you're not comfortable sharing publicly, you can email us support@coralproject.net

[2020-08-03 14:10] kgardnr commented on #3052
Thank you @mkochco!

[2020-08-03 15:19] wyattjoh commented on #3052
No migrations are required for this transition. We run these images in production ourselves without issue. It may be the case that other logs were outputted that were not related to the npm logs you printed there. Make sure the deployments have enough memory available to start as well as anything that isn't application bound related to things are typically resource related.

You can also set `LOGG

[2020-08-03 15:31] cristiandean commented on #3061
It seems that this behavior is expected by mongo. Maybe we should retry if this error happens.

<img width="847" alt="Screen Shot 2020-08-03 at 12 23 35" src="https://user-images.githubusercontent.com/25023177/89199072-72676700-d584-11ea-8aa9-4aa8f2389383.png">

[2020-08-03 18:35] wyattjoh commented on #3061
We'll triage this issue and get it patched! Thanks for the details!

[2020-08-03 19:37] cristiandean commented on #3061
Thank you @wyattjoh  :)

[2020-08-03 22:23] mkochco commented on #3052
Thanks @wyattjoh - further digging reveals;
[code]
This is the second time this has occurred on the deployment of a new coralproject/talk container to ECS.  The last occurrence was resolved by a rebuild of the MongoDB/Redis clusters.  What is the appropriate recovery path from this situation?

[2020-08-03 23:39] wyattjoh commented on #3052
It looks like a migration was in progress from a previous release. You will have to delete the document in the `migrations` collection with id `1579189174930` and then start up a single instance of Coral to perform that migration till it's ready to go.

We're still improving the migration system, but we haven't added any new migrations since January (hence the timestamp/id of `1579189174930`).

[2020-08-04 12:53] desk467 opened #3072 "Feature Idea: Metrics for Perspective API/Akimest"
## Search Terms

prometheus, metrics, external services

## Suggestion

Currently, Talk provides some metrics via Prometheus, but it does not bring any metrics about any of external services it uses (such like Perspective API or Akimest). It would be interesting that this metric could also be collected, so we could have one more piece of data that could help in decision making when triggering thes

[2020-08-04 18:39] mkochco commented on #3052
So it looks like the issue has to do with `text` indices not being supported by DocumentDB.  Strangely the initial install and run of Coral in ECS succeeded and we were able to run/test in our dev and prod environments in AWS.  Since about a week or so ago we've been unable to rolling restart the nodes.  The first error is `InProgressMigrationDetectedError`.   A manual removal of the migration rec

[2020-08-04 20:19] zekenie commented on #3061
Not sure if this is related, but I'm getting a `DUPLICATE_EMAIL` error with SSO with the latest changes.

Context: I maintain a private fork of Coral because I need to have slightly tweeked permission setting. Its a 2 line diff from the main branch.

Periodically, I pull in the latest. I did today and started seeing this error.

[code]

[2020-08-05 01:29] wyattjoh commented on #3061
That doesn't seem related @zekenie. Ensure there is no other user accounts with the same email address (with a email based auth) that this would conflict with.

[2020-08-05 01:32] wyattjoh commented on #3052
Ah, yes. That would definitely be the issue then.

Unfortunately, we have no plans as of yet to support DocumentDB. We only officially support MongoDB using their official client.

I'd suggest either self-hosting MongoDB yourself or using a hosted instance from MongoDB Atlas. If that's not possible, you might need to fork Coral and remove the offending indexes from the migration.

[2020-08-05 01:32] #3052 closed, assigned to nobody

[2020-08-10 04:12] bowser2010 opened #3091 "Missing translations"
Hello, I changed a text in the file /usr/src/app/src/locales/es/stream.ftl, when I did a **git push -u origin coral623_v1** says this:

**remote: Permission to Coralproject/talk.git denied to bowser2010.
fatal: unable to access 'https://github.com/coralproject/talk.git/': The requested URL returned error: 403**

I guess that you have to give me account permissions. Please help.

Regards,

**Expect

[2020-08-10 04:16] kgardnr commented on #3091
Hey @bowser2010 you'll need to create a pull request, we don't allow anyone to push directly to the repo - you can follow these instructions step by step here: https://opensource.com/article/19/7/create-pull-request-github

[2020-08-10 16:59] bowser2010 commented on #3091
Hi Kim, WOW I did it at last.  Below is the information after I did git push:

Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 6 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 552 bytes | 552.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (5/5), completed with 5 loca

[2020-08-11 20:41] kgardnr commented on #3061
Fixed in #3068

[2020-08-11 20:41] #3061 closed, assigned to nobody

[2020-08-17 18:39] bowser2010 opened #3112 "Remove register and login buttons when use SSO"
Hello, there is possible to remove register and login buttons from the comment box?, since I need the users that already belong to my system to be registered and logged by SSO, but new users that not belong to my system yet, only can see comments. Thanks...

[2020-08-19 13:59] sailendra2017 opened #3116 "MongoDB gives Exited (14) error while start container"
Hi Coral team,

I am unable to start application beacause i got some docker container issue while start application using docker-compose up -d command.  I am using Window 10 and i have install Docker and try to install Coral using Docker Command, but MongoDB always gives Exited(14)  while start container.

Please help me to resolve the issue so that is can use your application.

[2020-08-20 03:07] sailendra2017 commented on #3116
Hi

Above issue can be resolve by updating docker-compose.yml file with following content

version: '2'
services:
  talk:
    image: coralproject/talk:4.5
    restart: always
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - mongo
      - redis
    environment:
      - NODE_ENV=development # remove this line in production
      - TALK_MONGO_URL=mongodb://mongo/talk
      - TALK_REDI

[2020-08-20 03:07] #3116 closed, assigned to nobody

[2020-08-20 03:14] sailendra2017 opened #3117 "Network Error : NetworkError when attempting to fetch resource"
Hi Team,

![image](https://user-images.githubusercontent.com/25950585/90712708-41e03680-e2c1-11ea-9c5c-dfd54586eeda.png)

i got above issue while open application.  I go with get started ,but at last step finish button not working
![image](https://user-images.githubusercontent.com/25950585/90712961-d5b20280-e2c1-11ea-8d45-8800818264fe.png)

[2020-08-20 03:25] sailendra2017 commented on #3117
Hi

I have tried to access talk application using  http://127.0.0.1:3000/ instead of http://localhost:3000/ it works for me.

[2020-08-20 03:25] #3117 closed, assigned to nobody

[2020-08-20 03:40] sailendra2017 opened #3118 "GraphQL Error: Internal Error: 2db165......"
Hi Coral,

I got following error after adding embedded comment stream on a page and try to access using my local server with following URL:
http://localhost/test/talk.html
![image](https://user-images.githubusercontent.com/25950585/90714275-efa11480-e2c4-11ea-90de-0d090fa92efe.png)

[2020-08-20 03:42] sailendra2017 commented on #3118
Hi,

I have tried with http://127.0.0.1/test/talk.html and it works for me.

[2020-08-20 03:42] sailendra2017 commented on #3118
Hi,

I have tried with http://127.0.0.1/test/talk.html and it works for me.

[2020-08-20 03:42] #3118 closed, assigned to nobody

[2020-08-20 08:23] Kiranneeluri25 opened #3119 "How to extend Coral comments to add 'Ratings' to comments."
## Search Terms

## Suggestion

## Use Cases

[2020-08-20 15:41] wyattjoh commented on #3119
We unfortunately have no mechanism available to extend Coral in this way.

[2020-08-20 15:41] #3119 closed, assigned to nobody

[2020-08-20 16:00] sailendra2017 opened #3123 "SSO Auth Configuration showing Blank Page"
Hi Coral,

I am getting Blank Page while go for SSO Auth Configuration.

![image](https://user-images.githubusercontent.com/25950585/90795910-468e0480-e32c-11ea-8216-63295c0bb56d.png)

[2020-08-20 16:29] kgardnr commented on #3123
Hey @sailendra2017 can you let us know where you're planning to use Coral? Is this for a client site?

[2020-08-21 06:44] sailendra2017 commented on #3123
Hi kgardnr,

I try Coral in my local environment, after checking all functionality, we will use it for our client.

[2020-08-21 17:30] sailendra2017 opened #3128 "ERROR: Task not found: "'generate:relay:*""
Dear Coral Team,

I got following error while executing "npm run build" command. I am using Window 10 OS
![image](https://user-images.githubusercontent.com/25950585/90918282-000ad980-e402-11ea-819a-3f362a370164.png)

[2020-08-22 06:07] sailendra2017 opened #3129 "Error: Cannot find module './build/Release/re2'"
Hi Coral Team,
I found "Error: Cannot find module './build/Release/re2'" while run application using "npm run start:development" in Window 10 OS

![image](https://user-images.githubusercontent.com/25950585/90950043-ac34da80-e46b-11ea-9547-1dbe72723849.png)

[2020-08-23 16:29] tranvansang opened #3130 "Comment count is incorrect when comment with replied is deleted"
When a comment with replies is deleted

**Expected behavior:**

Decrease the comment count including the replies

**Actual behavior:**

Only decrease the comment count by one

**Related Issues:**

**Versions:**

- Docker: coralproject/talk:6.3.2
- NodeJS:
- NPM:
- MongoDB:
- Redis:
- Browser: chrome/firefox
- OS: `Linux vultr.guest 5.4.0-29-generic #33-Ubuntu SMP Wed Apr 29 14:32:27 UTC 2020 x86_6

[2020-08-25 02:43] mzch opened #3135 "[HELP] state parameter?"
I tried to use [ORY Hydra](https://github.com/ory/hydra) as OAuth provider, but it reported `Request parameter "state" must be at least 8 characters long` and authentication failed. Could you please tell me how to fix this issue?

**Expected behavior:**

Sign up or Login successfully.

**Actual behavior:**

Login failed and the windows shows `The state is missing or has less than 8 characters and

[2020-08-25 14:42] sailendra2017 opened #3136 "Unrecognize Request Url"
I am getting Unrecognize Request URL error while run the application after npm run start:development

![image](https://user-images.githubusercontent.com/25950585/91188639-2638be00-e70f-11ea-8000-5ebe24577390.png)

[2020-08-26 18:13] mkochco opened #3142 "Can't login to Admin Page (no user/pass dialog)"
**Expected behavior:**
/admin/login - presents user with a username/password dialog

**Actual behavior:**
![image](https://user-images.githubusercontent.com/1760848/91340284-fd5b0c00-e794-11ea-87f1-630652463fcf.png)

**Related Issues:**
None

**Versions: **
6.3

- NodeJS: v12.8.3
- NPM: 6.14.6
- MongoDB: MongoDB Atlas
- Redis: ElastiCache Redis
- Browser: Chrome/Safari
- OS: docker image coralproj

[2020-08-26 18:15] kgardnr commented on #3142
Hey @mkochco you've disabled sign in on the Admin. You'll need to correct this by changing the settings in Admin > Configure > Authentication. If you've locked yourself out, you'll need to update this in the database directly.

What sites are you planning to use Coral on?

[2020-08-26 18:16] kgardnr commented on #3130
Hey @tranvansang! The comment count only counts the top-level comments, not the replies.

What sites do you plan on using Coral on?

[2020-08-26 18:17] kgardnr commented on #3129
Hey @sailendra2017 we don't formally support development on Windows 10. You can use a Linux dev environment instead, by using something like Virtual Box.

You're also welcome to add Windows dev env support if you like, but we don't have any plans to address this.

[2020-08-26 18:18] kgardnr commented on #3128
See previous reply re: Windows 10 dev support.

[2020-08-26 18:19] kgardnr commented on #3112
Hey @bowser2010 you can do this via the configuration in Admin > Configure > Authentication. You can disable registration and login there.

[2020-08-26 18:20] kgardnr commented on #3091
Awesome @bowser2010 and thank you so much for submitting those pull requests!! They are now included in our latest release, 6.3.3! 🎉

[2020-08-26 18:20] #3091 closed, assigned to nobody

[2020-08-26 18:20] kgardnr commented on #3123
I think this is probably related to the other issues you've logged that are related to developing on a Windows machine.

[2020-08-26 18:20] #3123 closed, assigned to nobody

[2020-08-26 18:33] mkochco commented on #3142
havenly.com

We're locked out.  Which collection contains the config for enabling/disabling Admin signons?

[2020-08-26 18:42] mkochco commented on #3142
Found it `tenants` collection -
[code]

[2020-08-26 18:43] mkochco commented on #3142
Sorry.  Issue on our side.

[2020-08-26 18:43] #3142 closed, assigned to nobody

[2020-08-26 19:00] wyattjoh commented on #3123
For this issue, you need to run `npm run build` before you run `npm run start:development` to build the client bundles.

[2020-08-27 00:05] tranvansang commented on #3130
@kgardnr hi.

I am hosting the server myself by the open-sourced version. Thank you for the awesome product.

If this is the case. I think that replies are now mistakenly counted as comment count.

Btw, this does not affect too much to my website.

[2020-08-27 00:43] kgardnr commented on #3130
Ok thanks!

[2020-08-27 00:43] #3130 closed, assigned to nobody

[2020-08-27 01:13] kgardnr commented on #3136
Probably the same issue with running `build` step first. Can you try and let us know?

[2020-08-27 01:13] kgardnr commented on #3129
Try the `build` step Wyatt mentioned in his reply.

[2020-08-27 04:49] sailendra2017 commented on #3136
I am getting  following error while build application using "npm run build" command

![image](https://user-images.githubusercontent.com/25950585/91385422-75d1d380-e84e-11ea-9852-4cf6ee6cc9fe.png)

After that while run "npm run start:development", i got following info, then try to access it on localhost and get "Unrecognize Request Url"
![image](https://user-images.githubusercontent.com/25950585/91

[2020-08-27 04:53] #3129 closed, assigned to nobody

[2020-08-27 04:57] #3128 closed, assigned to nobody

[2020-08-27 07:50] andrewfam opened #3144 "Migration and Backup"
**Expected behavior:**
Our Coral project crashed and we had to reset it up with a backup of the last coral backup from the mongodb using mongodump.

**Actual behavior:**
After loading the database using mongo restore, we are stuck at the installation screen and after filling in the data, we do not see any of the data that was loaded in. Inspecting using compass shows that the data is all in there.

[2020-08-27 14:58] snkekorfus opened #3145 "Update from version 5.3.2 to v6"
Hi dear coral team,

I would like to know how I can migrate talk from v5.3.2 to v6. I know that I first have to update to version 5.5.1 but I don't even know how to do that. Are there any scripts that can be executed to apply the migration to the database?

I'm really thankful for any help!

[2020-08-28 02:49] mzch commented on #3135
I tried to login via [Verify My Identity](https://github.com/transparenthealth/vmi) and it's OK.
Does this occur when using Hydra?...

[2020-08-28 03:00] mzch commented on #3135
I had a query debug log:
[code]
Yes, there is no `state` parameter in a query.

[2020-09-01 12:35] kgardnr commented on #2943
We won't be addressing any additional v4 bugs

[2020-09-01 12:35] #2943 closed, assigned to nobody

[2020-09-01 12:35] kgardnr commented on #2929
Hey @mkonikov - we won't be addressing any additional v4 bugs

[2020-09-01 12:35] #2929 closed, assigned to nobody

[2020-09-01 12:36] kgardnr commented on #2370
Hey @TrevorNT we won't be addressing any more v4 bugs.

[2020-09-01 12:36] #2370 closed, assigned to nobody

[2020-09-01 12:36] kgardnr commented on #2166
This has been delayed, but should be here before EOY.

[2020-09-01 12:36] #2166 closed, assigned to nobody

[2020-09-01 12:39] kgardnr commented on #2966
We're not going to be adding table support to the RTE in the forseeable future; closing this ticket

[2020-09-01 12:39] #2966 closed, assigned to nobody

[2020-09-01 12:40] #2754 closed, assigned to nobody

[2020-09-01 13:49] mkonikov commented on #2929
Does that mean that there’s an upgrade path from 4 to 5?

[2020-09-01 13:58] kgardnr commented on #2929
Yes, currently for hosted clients, hopefully Q1 for self-hosted. I owe you an email too!

[2020-09-02 04:41] bowser2010 opened #3168 "Remove comment box to users that not register as SSO"
Hi, I want to remove or disable comment box to new users that not register as SSO and only can see comments, but when users login on SSO, it must be enabled and shows to users already registered. Is this possible to do this?. Thanks...

[2020-09-04 23:19] yannick-fernand commented on #1268
hi we are using talk v6 version and we also need this feature. how do we do ?

[2020-09-05 04:50] anibalpacheco opened #3183 "Ability to change the domain used to build links in email templates"
## Search Terms

coral talk password recover domain

## Suggestion

A new configuration setting to define the domain used to build links in email templates such the password recovery email.

## Use Cases

Install coral talk v6.3.5 in production and deploy it using pm2 and Nginx proxying your "public" domain (for example "domain.com") to localhost:3000 (all systems in the same host), create a moder

[2020-09-08 18:33] andrewfam commented on #3144
Any update on this?

[2020-09-09 18:41] yannick-fernand commented on #2624
Hello, do you plan to do something  about access token renewal ?

[2020-09-09 19:43] alinhle commented on #2624
We are looking into it!

[2020-09-16 15:57] ideallical commented on #2876
@zekenie exactly what I was searching for, thanks!

I took the liberty to turn your code snippet into a POC that you can run with `npm run start`
https://github.com/ideallical/coraltalk-websocket-poc

@kgardnr do you know if/when the subscription events will be extended with the `CommentReactionCreated` event?

[2020-09-18 22:43] wyattjoh commented on #3144
Ensure you're pointing to the same database that your application is pointing to would be my first guess. We do dump/restore all the time and have not encountered issues.

[2020-09-19 02:22] andrewfam commented on #3144
I've had to clone the site to another site.

The following are the 2 commands I used and I see the data from the old site but I'm still seeing the installation page
docker-compose exec -T mongo mongodump --archive --gzip --db coral > dump.gz
docker-compose exec -T mongo  mongorestore --archive --gzip < dump.gz

[2020-09-23 19:41] allanassis opened #3197 "Char count feedback"
**Expected behavior:**
When commenting i expect to see a feedback if i click on send comments button with less characters then allowed

<img width="640" alt="Captura de Tela 2020-09-23 às 16 23 45" src="https://user-images.githubusercontent.com/23871115/94059685-2af99c00-fdb9-11ea-8936-d4354386c11a.png">

This picture is from 6.2.3 version

**Actual behavior:**
Nothing is happening when i click o

[2020-09-23 20:26] yannick-fernand opened #3198 "unable to Login with OpenID Connect if i had already signup with SSO with the same email and sub"
We have configure  and enable 2 auth. SSO and OpenId Connect in admin console to allow admin to go directly on admin console without going through our site.
But when someone signup with SSO and after want to signin to admin console using OpenID Connect we got an DuplicateEmailError.

**Expected behavior:**
If an existing user auth successfully using another auth method we expected an auth succeede

[2020-09-25 14:53] brvaland opened #3199 "Talk - v4.11.6 security issues"
I am currently using Talk v4.7 and discovered some security vulnerability when we run `yarn audit`. I did try to upgrade to latest v4.11.6 but still got the same vulnerability.

| Level | Package | Version | Patched In |  More Info |
|---      | ---         | ---         | ---              |  ---            |
| Critical | dompurify | 1.0.4 | >=2.0.3 | https://www.npmjs.com/advisories/1205
| High |

[2020-09-26 16:27] genetus commented on #3198
Same if you is admin and try to sign in through SSO. Mutiple auth methods on one email not work?

[2020-09-27 17:41] kgardnr commented on #3199
Hey @brvaland! Would you mind updating those dependencies and creating a PR we can review and merge? Thank you!

[2020-09-27 17:42] kgardnr commented on #3197
Hey @allanassis! We found this issue last week as well, we're working on a fix! Thank you!

[2020-09-27 17:44] kgardnr commented on #3198
Hey @yannick-fernand and @genetus, Coral has the requirement of a unique email address. We don't prevent you from using different login providers, but you should limit to max 2, one for Admins/Mods and one for Commenters. If you're using SSO, you shouldn't be also using OIDC.

Does that make sense?

[2020-09-27 17:44] #3112 closed, assigned to nobody

[2020-09-27 18:05] allanassis commented on #3197
Thanks @kgardnr !!

[2020-09-27 18:33] yannick-fernand commented on #3198
Thank you for your answers.

I understand  your requirement of unique  email address if OIDC login and SSO login return the same `email` but different `sub/id`. But what  i don’t understand is why i am blocked if the OIDC login and SSO login return the same `email` and `sub/id` ?

What are the others auth that are compatible with SSO for admins ?

[2020-09-29 14:09] kgardnr commented on #2624
Hey @cristiandean and @yannick-fernand if you want to take a look here: https://github.com/coralproject/talk/pull/3200

[2020-09-30 12:59] cristiandean commented on #2624
@kgardnr Looks good to me, thank you :)

[2020-10-01 14:29] kgardnr commented on #2624
Fixed in #3200

[2020-10-01 14:29] #2624 closed, assigned to nobody

[2020-10-01 20:28] kgardnr commented on #3197
Fixed in #3188 🎉

[2020-10-01 20:28] #3197 closed, assigned to nobody

[2020-10-02 11:47] brvaland commented on #3199
Hi @kgardnr

I have update dependencies - https://github.com/brvaland/talk/tree/v4-securityfix

I would like to run "yarn run test" to confirm all is working before creating a pull request but i am unable to run tests locally. I am getting same error as below for both branches v4.11.6 and v4-securityfix

[code]

Please advise ?

[2020-10-02 16:50] brvaland commented on #3199
@kgardnr - i have manage to resolve the issue with `npm run test` and it executed fine with all test passed.

[2020-10-05 15:24] ideallical opened #3205 "Custom JS"
## Search Terms
custom, js, javascript, createStreamEmbed, embed, manipulate, DOM, stream, iframe, communication, bodyClassName, customCSSURL, customJSURL

## Suggestion
I'd like to be able to manipulate the DOM of the embedded stream in the iframe. My proposed solution would be by providing a possibility to load custom JS . e.g by providing `customJSURL` or better, by providing a javascript locat

[2020-10-05 15:36] wyattjoh commented on #3205
While this is certainly an interesting proposal, unfortunately I don't think we can implement this.

One of the primary goals of Coral v5+ was to provide stability though features like Typescript and more comprehensive testing. We provide limited customization through [custom css classes](https://github.com/coralproject/talk/blob/master/CSS_VARIABLES.md) that we maintain. We can't however ever gua

[2020-10-05 15:36] #3205 closed, assigned to nobody

[2020-10-05 19:03] yannick-fernand commented on #3198
hi any update?

[2020-10-05 20:44] wyattjoh commented on #3198
We currently have no process to merge or manage users that use different login methods SSO/OIDC. This is a planned problem for us to tackle, and we will update this ticket when we get to this issue.

[2020-10-07 08:21] djock opened #3210 "Mobile implementation"
We're trying to implement the coral v5 system in our mobile app (built with flutter). Has anyone implemented on mobile, suggestions on how to communicate with the coral graphql?

[2020-10-07 20:44] wyattjoh commented on #3210
We've seen people use Coral embedded inside an iframe/webview in mobile apps before!

[2020-10-12 04:52] mato777 opened #3219 "Problems with proxy scraper"
I have installed coral with the last version with docker-compose.  I have to use the proxy scraper because my stories are under session control.  I've created an url where the proxy can go and I print all the metadata.  But I always get the same reponse: "story at specified url not found".

This is the complete log I have in my docker log:

{"name":"coral","hostname":"1418ef94657b","pid":24,"conte

[2020-10-14 14:48] HectorNM opened #3221 "Support "quarantine"/inactive user status for a custom duration before completely delete user"
## Search Terms
delete, deletion, deleted, inactive, temporarily, quarantine

## Suggestion
Today, when the user chooses to delete their account, Talk will schedule deletion for a specific time. In this meantime, user is still active, with all their comments available in database and avaialble to final users to see. And after that time, the user and all of their comments are completely deleted fro

[2020-10-19 15:58] losowsky commented on #3221
Hi Hector! Just so that I understand, this means that if, say, a user dies, then all of their contributions to your community will be removed/hidden?

[2020-10-19 16:41] brvaland commented on #3199
@kgardnr further to my pull request, the twistlock scan reports a complaince issue about `Private keys stored in image`. The location for some of the key as below :

`/usr/local/lib/node_modules/node_gyp/test/fixtures/server.key`
`/usr/src/app/node_modules/get-uri/test/server.key`
`/usr/src/app/node_modules/lazystream/secret`
`/usr/src/app/node_modules/node_ipc/local-node-ipc-certs/private/client.

[2020-10-19 17:18] HectorNM commented on #3221
Hi @losowsky , thank you for your time ! Not really, what we were thinking is a intermediate step before the complete deletion of the user comments..

Something like this:
- How Coral Talk works today:
-> User asks to delete account -> user is marked as deleted (`deletedAt`) and all of their comments are deleted from database;

- What we are proposing:
-> User asks to delete account -> user is mar

[2020-10-20 18:58] mattlinares opened #3233 "Perspective API plugin disappeared"
I am looking for this plugin: https://docs.coralproject.net/talk/plugin/talk-plugin-toxic-comments/

Which is listed in the directory: https://docs.coralproject.net/talk/plugins-directory/

But appears to have disappeared from GitHub:
https://github.com/coralproject/talk/tree/master/plugins/talk-plugin-toxic-comments

Any ideas?

Thanks!

[2020-10-21 16:08] wyattjoh commented on #3233
Looks like the docs need some updating, thank you!

The plugin is on the `release/4` branch:

https://github.com/coralproject/talk/tree/release/4/plugins/talk-plugin-toxic-comments

[2020-10-23 21:38] HectorNM opened #3243 "DUPLICATE_USER error in this case: user creation via SSO, and then deletion, and then creation again via SSO"
Hi everyone!
We are trying to use Coral Talk for a new case use, which could be described as this: user creation via SSO -> user deletion -> same user creation via SSO again. When trying to create user again via SSO, we receive a `DUPLICATE_USER`  from Talk.

After trying to understand why this happened, we found out how user creation using SSO and user deletion work. It seems there is a case when

[2020-10-23 22:02] wyattjoh commented on #3243
We currently don't have a workaround to this particular behaviour, but it is planned to address with more hard delete options.

[2020-10-30 17:30] cristiandean commented on #2897
Hello, do we have any updates on this?

As I said, we've been using this fix all this time and in both cases it seems to work well (with and without STATIC_URI):

<pre>
{
              // Exclude `js` files to keep "css" loader working as it injects
              // its runtime that would otherwise processed through "file" loader.
              // Also exclude `html` and `json` extensions so they

[2020-11-05 16:58] wyattjoh commented on #2897
Hey @cristiandean, I'm evaluating this proposed fix now. From what I remember before why we couldn't use this solution is that there was some issues with font loading... Will update here if I find any issues! Otherwise watch for a PR to address this!

[2020-11-05 20:21] alinhle commented on #2897
Hi @cristiandean! Thanks for bringing this up. I can definitely verify all your points and your fix is solving it for me as well. I opened a PR to address this https://github.com/coralproject/talk/pull/3275.

[2020-11-05 22:34] #2897 closed, assigned to nobody

[2020-11-05 23:08] alinhle commented on #2897
Thanks for your patience and apologies for the delay in resolving this issue. We really appreciate your contribution @cristiandean.

[2020-11-06 12:16] cristiandean commented on #2897
@cvle @wyattjoh  Thanks for the support guys :)

[2020-11-07 06:22] mzch opened #3282 "Failed to start in 6.8.1"
**Expected behavior:**
`yarn start` start Corel successfully

**Actual behavior:**
When `yarn start`, it failed to start. see below:

[code]

**Related Issues:**

**Versions:**

- NodeJS: v12.19.0
- NPM: 6.14.8
- MongoDB: 4.4.1
- Redis: 5.0.3
- OS: Debian 10.6

[2020-11-09 13:21] cristiandean commented on #3282
Hey @mzch, according to the documentation, [found here](https://docs.coralproject.net/coral/), the recommendation is to use `npm` and not `yarn`.

Anyway, did you run the `npm install` and `npm run build` command before `start`?

If the problem still persists, try deleting the node_modules directory and try again.

[2020-11-09 14:13] mzch commented on #3282
Oh, yes, I also did `npm start` before it. Well, I remove the existing repo and re-clone, ran `npm install` and `npm run build`,
then Corel runs successfully. Thanks.

[2020-11-10 16:45] mattlinares opened #3284 "Perspective API not working or reporting error"
**Expected behavior:**

When activated by adding API key (here: https://talkserver.com/admin/configure/moderation) Perspective API should flag/moderate/block obviously offense messages e.g. those with straight profanity.

**Actual behavior:**

Offensive messages are published, no intervention from Perspective.

Ideally there would be some validation on the config screen to show that the API key an

[2020-11-10 16:47] kgardnr commented on #3284
Hey Matt! Can you write into our support so we can get some more details and help you troubleshoot this? It has to be an issue with your specific setup.

coralsupport@voxmedia.com

[2020-11-10 16:47] kgardnr commented on #3284
Also let us know what version of Coral you're using.

[2020-11-11 15:39] cristiandean commented on #3284
Hey @mattlinares, I went through a similar problem and solved it by increasing the timeout for the perspective API by changing the value of the environment variable PERSPECTIVE_TIMEOUT to 1500.

Sadly the response time exceeds 1 second for me most of the time.

[2020-11-13 14:13] aliblackwell opened #3291 "Plugins in v5+"
Hello Coral Talk team! I am working with @mattlinares for openDemocracy on web monetization for comments, funded by Grant for the Web. Details here (search page for "openDemocracy"): https://www.grantfortheweb.org/grantees

We are currently in a very early research phase and are working out potential architecture. We had thought to build it as a plugin, but I have just discovered that [plugins are

[2020-11-13 18:25] kgardnr commented on #3291
Hey Ali, I'd recommend getting in touch with us here so we can talk more about this: coralsupport@voxmedia.com

[2020-11-20 19:14] diegoos opened #3297 "Feature Request: Require Email Confirmation"
I've installed and try to find the option to make the verification email required before comment.
After a search on docs, I find the option `requireEmailConfirmation` on version 4, but nothing on version 5+.

My question is: Is there any way to make the confirmation required prior to comment?

### **Expected behavior:**
Users can only comment when they confirm their email.

### **Actual behavior:*

[2020-11-23 15:54] mattlinares commented on #3233
fyi This also breaks the link from: https://perspectiveapi.com/#/start

[2020-11-23 16:24] wyattjoh commented on #3297
We do not have this feature currently in version 5+ yet! It's planned to be supported in the future!

[2020-11-23 16:26] wyattjoh commented on #3233
We'll be contacting the perspective team about that one, thank you!

[2020-11-23 17:06] diegoos commented on #3297
Hi @wyattjoh.
Thanks for your reply.
Sad to known that is not possible now. :(

[2020-11-25 17:36] diegoos opened #3304 "Provide a way to set amount of comments and replies to load in V5+"
## Search Terms

load, comments, limit, amount of comments

## Suggestion

Provide a way to choose how many comments and replies will be initially loaded and by clicking on the load more button.
I think that if it were possible to set this quantity by an environment variable it would be enough.

## Use Cases

On our page, we have a lot of content, and we usually keep a maximum of 10 comments on th

[2020-11-25 18:38] diegoos opened #3305 "Fetch story by ID if the storyID is defined and update the storyURL"
## Search Terms

update story URL when it changing

## Suggestion

Fetch the story by ID if the `storyID` is defined and update the `storyURL`.

## Use Cases

Sometimes an editor needs to change the URL because the generated slug no makes editorial sense.
When the slug is edited, the URL changes, but before the edit, the post and story on talk are created and it causes a `DUPLICATED_STORY_ID` erro

[2020-11-25 19:26] wyattjoh commented on #3305
Thanks for the feedback @diegoos!

We understand that it may be complex to manage URL and ID's of stories that have changing URL's. This is why we provide specific API's for updating URL's on stories as you've used already in your **2nd** option.

We do accept the `storyID`, but that ID is exclusively used to lookup a story with the API, and not used for de-duplicating entries. Anyone using the "l

[2020-11-25 20:47] diegoos commented on #3305
Hi @wyattjoh, thanks for your response!

You are right, automatic update can compromise the application.

[2020-11-25 20:47] #3305 closed, assigned to nobody

[2020-11-26 11:13] alvarolg opened #3307 "Remove user mail notifications block"
Hi,
its possible remove the user mail notifications block in profile preferences? because I haven't enabled 'Email settings' in coral cofiguration but the preferences are showed in user profile. I have version 5 of Coral.
Thanks!

[2020-11-26 16:33] wyattjoh commented on #3307
You can use CSS!

A custom css file with the following will hide it:

[code]

[2020-11-26 16:33] #3307 closed, assigned to nobody

[2020-11-27 07:20] alvarolg commented on #3307
perfect, it was as i thought if not was possible remove it from settings.
Thanks!

[2020-11-27 09:19] MuthomiMate opened #3309 "TENANT_NOT_FOUND error on elastic bean stalk"
I have deployed my coral talk instance on elastic beanstalk and I am using the lamda functions  to access the coral talk instance. I get an error when trying to create a story

**Expected behavior:**
It should create a story in the coral talk
**Actual behavior:**
[code]
Here is my docker-compose file
[code]

[2020-11-27 16:27] wyattjoh commented on #3309
`TENANT_NOT_FOUND` is raised when the tenant specified by the hostname (in this case, `ef9if6p79i.execute-api.eu-west-1.amazonaws.com`) is not found. When you completed the install, you must have done so with a specific hostname. Ensure you access Coral with that same hostname to avoid this error.

[2020-11-27 16:27] #3309 closed, assigned to nobody

[2020-11-30 20:59] allanassis opened #3314 "Add Jaeger for tracing"
Hello Talk team, what do you guys think about instrumenting the code to use Jaeger?

Would be great for improve traceability.

## Search Terms

- Tracing
- Jaeger

## Suggestion

Instrumenting the code to use [Jaeger](https://www.jaegertracing.io/), a very popular tracing tool.

## Use Cases

Improving all traceability in Talk

[2020-11-30 21:56] wyattjoh commented on #3314
Definitely interested! We're working internally to improve the server architecture, and will definitely be looking into this!

[2020-12-01 18:15] rafaeleyng commented on #3314
Hi! I suggest you looking into https://opentracing.io/ instead of focusing on integrating with Jaeger. Is just an abstraction layer to make it work better with several tracing tools.

[2020-12-01 20:22] wyattjoh commented on #3314
I actually looked into OpenTracing, looks like a great project! That definitely would be the direction we'd take it.

[2020-12-01 22:38] mkonikov commented on #2676
Any update on when to expect an upgrade path from v4?

TIA :)

[2020-12-02 21:10] HectorNM commented on #3243
Hi @wyattjoh ! Regarding this issue, I thought that when deleting the user, instead of leaving its id from its SSO provider there, we could change the user id to something like:

before: `userID`
after: `userID-deleted-timestamp`
This way, the user could be recreated multiple times if necessary, and we could know that this user existed in database in the past (instead of using a random uuid, as I

[2020-12-02 23:47] wyattjoh commented on #3243
The issue we're concerned with at the moment is orphaning documented created by the user. By default, when a user is deleted, we don't delete their comments, only the comment text itself is deleted!

The means that if we wanted to change the ID of the user, we would have to also update all their comment author id's and similar, which could be pretty expensive.

I think we would be interested in a

[2020-12-08 20:12] HectorNM opened #3324 "Create an index for collection commentActions, with fields: userID, tenantID, actionType, since it's showing a performance issue"
## Search Terms
commentActions, index

## Suggestion
We are dealing with millions of comments in production, and we noticed that queries for user deletion are taking too long (a few minutes). During deletion, a lot of queries are made to mongo and there are a lot of indexes for them, but we noticed that there is a query in `commentActions` using fields `userID, tenantID, actionType` that doesn't s

[2020-12-10 16:22] #3291 closed, assigned to nobody

[2020-12-10 17:16] mattlinares opened #3330 "Web Monetization on comments that have been highlighted by page authors"
## Search Terms

Monetization, Monetisation, Highlight

## Suggestion

We are developing a feature that lets page authors highlight comments, thereby sharing revenue from readers with comment authors. We were hoping for feedback from the community on our technical approach.

## Use Cases

- As an article author I'd like to highlight comments so that I can reward commenters with a share of micropay

[2020-12-11 22:12] mato777 opened #3336 "Translations missing in Spanish"
There are some translations missing in Spanish:
1. In the report form: Additional information Optional,
2. Share link => "Copy link"
3. Comment on:
4. Replying to:
I can make the changes to fix this, but I have the installation in docker, I've tried to re build the app but it fails and also can not rerun the node index.js.

Is there a way to this changes directly and rebuild inside a docker image?

[2020-12-11 23:01] wyattjoh commented on #3336
I would suggest using the application in development mode ([see instructions on how to here](https://docs.coralproject.net/coral/v5/developing/)), and follow the linked instructions on how to submit changes for a localization there! Most of our localizations are contributed, so we always welcome fixes!

[2020-12-15 12:04] imaksp commented on #2972
@mattlinares Hi it worked me thanks, you just need to restart server after changing db.

[2020-12-15 19:33] Pomax opened #3337 "Documentation request: dealing with 100+ relocated pages"
It looks like there's no documentation request template, so that might be worth adding - having said that, I'm trying to find docs that explain how (if at all) to tell Coral that some 300 pages are now on different URLs. They used to have URLs similar to http://example.com/discuss/product/product-name, but are now on http://example.com/discuss/product-name without the `products/` infix, but becaus

[2020-12-17 22:44] wyattjoh commented on #3337
You'll likely have to change those url's in the database directly (as it appears that you're using Talk v4). Documents are stored in the `assets` collection in MongoDB, so you should just need to issue some commands that look like this:

[code]

Let me know if you have any other questions, or close the issue if this resolves things for you!

[2020-12-18 00:47] Pomax commented on #3337
Thanks!

Though, even if it works for me, that sounds like something that's worth putting in the docs as advanced topic, since site IA refreshes are not uncommon on the web =)

[2020-12-18 16:43] wyattjoh commented on #3337
In Talk v6 (and beyond) we actually provide this via our standard GraphQL API as the `updateStory` mutation!

[code]

We're planning a documentation pass soon, so I'll make sure to call this out! Thank you!

[2020-12-18 16:43] #3337 closed, assigned to nobody

[2020-12-18 16:46] #3233 closed, assigned to nobody

[2020-12-18 16:46] #3284 closed, assigned to nobody

[2020-12-18 16:47] #3199 closed, assigned to nobody

[2020-12-18 16:48] kgardnr commented on #3145
Hey @snkekorfus here are our migration docs: https://docs.coralproject.net/coral/migration/6.0/

[2020-12-18 16:48] #3145 closed, assigned to nobody

[2020-12-18 16:49] kgardnr commented on #3168
Hey @bowser2010 we've discussed this and won't be adding support for this feature in the near future. Thank you for the suggestion though!

[2020-12-18 16:49] #3168 closed, assigned to nobody

[2020-12-18 16:50] #3144 closed, assigned to nobody

[2020-12-18 16:50] #3135 closed, assigned to nobody

[2020-12-18 16:51] #2836 closed, assigned to nobody

[2020-12-18 16:51] #2765 closed, assigned to nobody

[2020-12-18 16:52] #2024 closed, assigned to nobody

[2020-12-18 16:52] #2025 closed, assigned to nobody

[2020-12-18 16:52] #2078 closed, assigned to nobody

[2020-12-18 16:52] #2131 closed, assigned to nobody

[2020-12-18 16:52] #2150 closed, assigned to nobody

[2020-12-18 16:52] #3136 closed, assigned to nobody

[2020-12-18 16:53] kgardnr commented on #3304
Hey @diegoos we discussed this and won't be adding this feature in the near future

[2020-12-18 16:53] #3304 closed, assigned to nobody

[2020-12-18 16:54] #3198 closed, assigned to nobody

[2020-12-18 16:55] kgardnr commented on #3210
@djock we've added this to our docs now! https://docs.coralproject.net/coral/v5/integrating/mobile/

[2020-12-18 16:55] #3210 closed, assigned to nobody

[2020-12-18 16:56] kgardnr commented on #3297
@diegoos we had a lot of issues with this in v4 actually; what we recommend for the time being is integrating with your own SSO and requiring email verification on your account side.

[2020-12-18 16:56] #3219 closed, assigned to nobody

[2020-12-18 16:57] kgardnr commented on #3072
@desk467 we don't have plans to do this in the near future, but thank you for the suggestion!

[2020-12-18 16:57] #3072 closed, assigned to nobody

[2020-12-18 16:58] #3243 closed, assigned to nobody

[2020-12-18 16:58] #2237 closed, assigned to nobody

[2020-12-18 17:32] Pomax commented on #3337
cheers!

[2020-12-18 23:20] diegoos commented on #3297
Thanks for the feedback @kgardnr.
We don't have any kind of login system on our side. :(

[2020-12-18 23:21] diegoos commented on #3304
Sad to know that.  😢

[2020-12-23 15:03] vctfernandes opened #3355 "Real time comment approval not visible for commenter"
**Expected behavior:**
When an user posts a comment, he gets warned that his message will be reviewed by a moderator. If he remains on this page and a moderator approves his comment, it should show up in his screen, as it does for other users.

**Actual behavior:**
When an user posts a comment, he gets warned that his message will be reviewed by a moderator. If he remains on this page and a modera

[2020-12-29 08:33] index23 opened #3356 "Features for non authenticated users (guests)?"
Is there option or configuration that allows non authenticated users (guests) to post reaction on existing comments?

Currently users have to be authenticated to be able to post reaction on comment. So we should force users to some sort of authentication which can impact badly our UX. We want more interaction on our articles and comments and this could discourage users to post reaction on comments

[2020-12-29 16:55] wyattjoh commented on #3356
Coral doesn't store PII outside of email addresses for users, so we don't store ip addresses or other identifiable pieces of information. Reactions are recorded against content using the user's ID. To encourage a safe and maintainable environment for all users, we've advocated against adding any anonymous user features to the platform, as it would be difficult to police without having to collect m

[2020-12-29 16:55] #3356 closed, assigned to nobody

[2020-12-30 14:55] Sentynel opened #3357 "Unhelpful validation errors on initial configuration wizard"
**Expected behavior:**
Validation errors on initial configuration tell you what you did wrong.

**Actual behavior:**
![image](https://user-images.githubusercontent.com/2052340/103358709-2aeef380-4aae-11eb-90c0-bb60e4b7caf5.png)
Obvious question: Why is this failing validation? Answer: it isn't; I missed an "https://" off the organisation URL on the previous screen and *that* one has failed validat

[2021-01-01 14:11] Sentynel opened #3358 "Unicode story URLs not normalised"
**Expected behavior:**
A story with Unicode in its URL should be normalised by Coral so that all browsers, regardless of behaviour, treat it as the same story.

**Actual behavior:**
Example URL: `https://www.angrymetalguy.com/medico-peste-%D7%91-the-black-bile-review/` (Note: the production instance of this page is running Coral 4, but I have verified that the same issue exists on the latest relea

[2021-01-05 22:32] wyattjoh commented on #3357
Hi @Sentynel! Thank's for the info. We definitely know that the installation wizard could use some love! Thanks for bringing it to our attention!

[2021-01-06 16:19] alinhle commented on #2841
I've opened a PR to fix this issue. Thanks for reporting!

[2021-01-06 17:13] #2841 closed, assigned to kgardnr

[2021-01-14 17:41] bmfrench89 opened #3376 "Issues with Context Paths"
Good Afternoon,

We are having issues setting up Coral as a context path.  Is it possible to setup Coral behind a context path? In older documentation I see that it exists, however we are on 6.3.11 and it seems that this was removed?

TALK_ROOT_URL and TALK_ROOT_URL_MOUNT_PATH

If so, any documentation provided would be great.

Thank you!

[2021-01-14 19:22] losowsky commented on #3376
Hi bmfrench89,

Thanks for asking. Coral 6+ can not be mounted on a path, and must be mounted on its own domain.

Best wishes

Andrew

[2021-01-14 19:22] #3376 closed, assigned to nobody

[2021-01-19 07:06] bowser2010 opened #3377 "Inject html to the embed code"
Hi, is there a way to inject html to the embed code that goes in the article? Any hook, API or function?

Best Regards,

[2021-01-19 17:48] wyattjoh commented on #3377
You can see examples of the embed code on our documentation [here](https://docs.coralproject.net/coral/v5/integrating/cms/) also in your admin area of a running Coral instance in *Configure* > *Organization* > *Site Details*.

Hope that helps!

[2021-01-19 17:48] #3377 closed, assigned to nobody

[2021-01-25 17:01] frisi opened #3384 "css class for logged in user-role"
would be nice to have a css class on one of the top level containers that reflects the user's role (anon, commenter, admin, staff, etc)

usercase:
this would allow to hide the tab "Comments" for anonymous users and commenters whilst leaving the menu intact for others

[code]

[2021-01-25 17:08] frisi opened #3385 "group text + button for login with stable class name"
## Suggestion

in order to hide the "join the conversation" text + buttons
![grafik](https://user-images.githubusercontent.com/1120517/105739098-09abe680-5f38-11eb-9749-c9500e9c89f0.png)

one currently needs to hide
`UserBoxUnauthenticated-actions-*` and `UserBoxUnauthenticated-joinText-*`

[code]

margin and padding of the surrounding container are stil applied

if the surrounding div would have

[2021-01-27 20:42] HectorNM opened #3398 "Release 6.7.0 links to a commit in develop branch; develop branch and main branch have differents commits until release 6.7.0"
Hi everyone, I was updating to release 6.7.0 and I noticed something strange here in Github project:
- Release 6.7.0 points to commit `3e4f91af30519c8af6bb3660be8ee385626952b9`, which is on branch `develop`. Is that correct? Am I checking this correctly?
- `main` branch has a commit called "Release 6.6.2", which in branch `develop` is broken into two commits. Which one is the correct one?

Could y

[2021-01-27 21:54] wyattjoh commented on #3398
Hi @HectorNM! We discovered this in parallel. We're releasing 6.7.1 that will address this and fixes another issue.

Let me know if that fixes that issue!

[2021-01-27 21:54] #3398 closed, assigned to nobody

[2021-01-28 07:09] mzch opened #3402 "Unable to update from 6.7.0 to 6.7.1"
**Expected behavior:**
Run successfully.

**Actual behavior:**
Migration error.
[code]

**Related Issues:**

**Versions:**

- NodeJS: v12.20.0
- NPM: 6.14.11
- MongoDB: v4.4.3
- Redis: 5.0.3
- OS: Debian 10.7

[2021-01-28 07:23] mzch commented on #3402
I tried fresh install, (deleted database and set up again).
Once set up successfully, but tried to restart Coral, the same error occurred.

[2021-02-01 17:10] aliblackwell opened #3418 "Comments deleted on registration success"
**Expected behavior:**

User reads article and fills out comment box. Clicks "Sign in and join the conversation" button to submit their comment. Registers an account using email and password. Clicks submit and their comment is submitted.

**Actual behavior:**

When the user clicks submit, the Coral Talk iframe reloads, taking their comment with it.

**Related Issues:**

None.

**Versions:**

- Nod

[2021-02-01 17:17] frisi opened #3419 "Add data attribute for number of comments"
## Use Cases

We're styling the number of comments a badge and would like to hide the badge in case of 0 comments:

![grafik](https://user-images.githubusercontent.com/1120517/106493064-f3aea080-64b8-11eb-9ff0-10d96f67cb2a.png)

adding a data attribute on the button and/or span containing the count would allow to implement a css condition

[code]

UPDATE: the same is already done or the markup inj

[2021-02-01 17:50] wyattjoh commented on #3384
We actually already have that! That's the `.coral-authenticated` and `.coral-unauthenticated` classes.

[2021-02-02 10:32] frisi commented on #3384
ah, i see. the reason i could not find it is that it has been placed inside `section#tabPane-COMMENTS div` instead of `div#app` or the body.

the current solution does not allow to style/hide the main navigation section based on whether the user is logged in or not.

@wyattjoh would you please consider to re-open the issue and discuss this?

[2021-02-02 19:12] wyattjoh commented on #3384
Which part of the main navigation are you attempting to style?

[2021-02-02 19:16] wyattjoh commented on #3402
It looks like there's a migration you have that was not finished on your database. Check your DB for a migration with `{ "id": 1579189174930 }`, and delete that document:

[code]

From the mongo console. You'll need to restart a single mongo instance and wait for the migrations to finish. This particular migration adds indexes, so it may take a while to finish.

[2021-02-02 19:16] #3402 closed, assigned to nobody

[2021-02-02 23:19] mzch commented on #3402
I deleted it and restarted Coral but the error occurred.

[code]

[2021-02-03 03:13] mzch commented on #3402
My `.env` file.

[code]

[2021-02-03 14:35] frisi opened #3425 "Comment Text lost after login via createComment-signIn"
By default anonymous users see the comment field with a "sign in and join the conversation" button below

![grafik](https://user-images.githubusercontent.com/1120517/106761213-e0c0db00-6634-11eb-9b8c-0f15d00baa97.png)

## usecase

* Write my comment into the textfield
* Click on "sign in" to submit my comment

## expectation
* button opens popup to register or provide credentials
* after successfu

[2021-02-03 15:44] frisi commented on #3384
thanks @wyattjoh

our usecase would be to hide the main navigation for unauthenticated users (as there is only the comment tab for them anyway)

[2021-02-03 16:25] wyattjoh commented on #3384
@cvle do you think we could move the `.coral-authenticated` and `.coral-unauthenticated` classes higher in the tree to accommodate this?

[2021-02-03 16:28] wyattjoh commented on #3402
The error in your logs there indicated that the connection to MongoDB timed out.

Unfortunately, we unable to provide troubleshooting steps for hosting or operating Coral. The best I can suggest is to re-try restarting the server, or start up Coral attached to another MongoDB instance and try and manually add the indexes there yourself so that it has more time to do it.

[2021-02-03 16:29] wyattjoh commented on #3425
This seems to be a duplicate of #3418

[2021-02-03 16:29] #3425 closed, assigned to nobody

[2021-02-03 17:11] frisi opened #3428 "Display "loading text" while loading iframe content"
## Search Terms

spinner loading animation iframe load text feedback ready event

## Suggestion

please provide a setting `loading text` that allows to define a text that is shown whilst theiframe content is loaded

## Use Cases

we have a CTA button that takes users to the comment section (links to #comments anchor)

currently they just see an empty iframe that will be filled with content once al

[2021-02-03 18:04] mzch commented on #3402
Well, reproduce process is as below:

1. Create database in MongoDB
1. git clone.
2. `npm install`
3. `npm run build`
4. `npm start`
5. Visit Coral setup page and finished setup.
6. Stop Coral
7. `npm start`
8. An error occurs.

[code]

When I use `mongo` command to access MongoDB, it connects successfully, and at setup phase, Coral connects to MongoDb without problem. But when restarting Coral, a

[2021-02-03 19:51] wyattjoh commented on #3402
Your first error https://github.com/coralproject/talk/issues/3402#issue-795737050 was related to a migration that had not completed was still a record in the database (hence why I suggested earlier that you try removing that entry and retrying it).

Your second error https://github.com/coralproject/talk/issues/3402#issuecomment-772082485 was related to the connection to the database timing out:

[

[2021-02-08 11:40] DenisDoroshchuk opened #3436 "How I can to use Avatars?"
Hello,

I can't find instructions on how to enable avatar support for users.
I installed the Coral through a docker, version the Coral - 6.7.2.

Thanks,
Denis

[2021-02-08 17:04] losowsky commented on #3428
This is a great idea! We'll review adding it.

[2021-02-09 08:32] frisi commented on #3428
good to hear @losowsky

can the ready-event (https://github.com/coralproject/talk/blob/f7d39d94e7e4e04b45fb85f9dadb0ab307a7d3e9/src/core/client/embed/StreamEmbed.ts#L78) be used to replace a placeholder with the iframe when it is completely loaded?
if yes, can you please provide an example or link to the documentation (could not find the event in the [event documentation](https://github.com/coralp

[2021-02-09 12:14] e-talent2018 opened #3442 "How to retrieve reported comments already moderated?"
Hello,

The situation is the following: a user reports an approved comment, In Coraltalk this comment doesn't change status so it is not in the reported queue!!.
Is there an API that allows retrieving reported comments?

Best Regards,

Lotfi.

[2021-02-09 12:27] e-talent2018 commented on #2843
Hello @kgardnr,

I understand your decision, but I think you can instead add a new API that will allow us to retrieve the comments reported.
for example in the GetComment request, we add a filter on the flag?

Best regards,

Lotfi.

[2021-02-09 15:08] e-talent2018 commented on #2843
Hello @jpkilpi

Did you find any solution for your need? Are you able to retrieve all reported comments already approved?

Best Regrades,
Lotfi.

[2021-02-09 20:24] wyattjoh commented on #3436
We currently have not released avatar support as a stable feature yet! We'll be sure to update this ticket when we've been able to do so.

[2021-02-09 20:24] #3436 closed, assigned to nobody

[2021-02-10 05:08] DenisDoroshchuk commented on #3436
Hello @wyattjoh
Thanks for your answer.
May be your know how I can to add only 2 images (for site member and simple user).

[2021-02-10 05:22] DenisDoroshchuk opened #3445 "Problem with comment count"
Hello,

I think comment count working not correctly for me.
site: https://cyclingtips.com/

For example: this article have > 0 comments https://cyclingtips.com/2021/02/from-addiction-to-abstinence-what-i-learned-from-12-months-without-coffee/#coral_thread
Please check my screenshot http://joxi.ru/nAylvp8TwlMGQ2

But on homepage comment count equal 0.
Please check my screenshot http://joxi.ru/Grq8j

[2021-02-10 10:29] ghost commented on #2843
Hi @e-talent2018

I'm afraid we don't have proper solution for this.

We have considered using [Slack notifications](https://docs.coralproject.net/coral/v5/integrating/slack/) to get a notification of a reported comment. It's not great, but at least reports would not go directly to /dev/null as it is now.

We haven't actually tried it, so I'm not sure if notification would be triggered in this kin

[2021-02-10 13:19] frisi commented on #3419
pinging @wyattjoh as you [contributed the relevant code](https://github.com/coralproject/talk/blame/011d7c46e397507b27d3c0d0d287f4b71a4ec2f1/src/core/client/stream/tabs/Comments/Stream/StreamContainer.tsx#L357). if you are not the one in charge of this please forward to right person - thanks!

our client is asking for this feature and we do not see any other way to implement this other than making

[2021-02-10 16:31] wyattjoh commented on #3445
Hi @DenisDoroshchuk! Coral uses cache headers for the comment count responses, so updates to comment counts could take up to 2 minutes to update!

[2021-02-10 16:31] #3445 closed, assigned to nobody

[2021-02-10 16:35] DenisDoroshchuk commented on #3445
Hi @wyattjoh you can to check my site https://cyclingtips.com/
It's been more than 10 hours, but a comments count didn't updated.

[2021-02-10 17:16] wyattjoh commented on #3445
I took a look, and the comment count looks like it's 10 (instead of the current 13). It looks like you have Cloudflare in front of this that's caching the entries longer than expected:

[code]

Note the:

[code]

I would review your configuration there to ensure it's not being overridden.

[2021-02-10 17:18] wyattjoh commented on #3436
Unfortunately we don't support that at the moment. You could experiment with using a custom CSS file, but we're unable to provide support for that.

[2021-02-11 04:30] DenisDoroshchuk commented on #3445
Hey @wyattjoh What is configuration you want review?
Cloudflare or Coral?

[2021-02-11 13:09] kgardnr commented on #3442
Hey Lofti, thanks for getting in touch! Where are you using Coral?

The question you raise is by design - if a comment is approved, we're assuming the decision made was the right one, and therefore, we won't pull comments back into the reported queue ad infinitum, worsening the moderator burden.

[2021-02-11 13:44] e-talent2018 commented on #3442
Hey @kgardnr,

Thanks for your answer.

We are a company specialized in moderation, our customer is a large group of TV channels using your hosted coraltalk solution.
I understood your decision, but I think you could have left the choice to the administrator or to the limit add an api that allows us to retrieve the comments reported for example in Getcomment add a filter on flag.

Is there an api

[2021-02-11 16:46] wyattjoh commented on #3445
I'm suggesting you check your Cloudflare configuration to see if you have forced any specific cache control policies on the Coral instance, as it appears you have forced a max age of 1 year (31556952 seconds from the above `cache-control` header).

[2021-02-12 04:03] DenisDoroshchuk commented on #3436
@wyattjoh thanks, I will wait avatar support realisation.

[2021-02-12 04:28] DenisDoroshchuk commented on #3445
Hey @wyattjoh thanks for your info.
I disabled proxied on cloudflare, leave DNS only, and it work for me.
http://joxi.ru/Dr8zRaETM6XNO2

[2021-02-15 17:34] e-talent2018 opened #3455 "CoralTalk 4: actio_type filter does not work !"
Hello,

I'm using the Coraltalk version 4, I wanted to retrieve comments reported with the CommentsQuery API, whatever the action_type value, the api returns all comments :(!!

Best Regards,

Lotfi.

[2021-02-16 17:51] wyattjoh commented on #3455
If that edge is returning all comments, are you sure that the user you're hitting the API with is a moderator or an admin? That edge requires one of those roles to use the `action_type` filter.

[2021-02-17 15:58] e-talent2018 commented on #3455
Hello,
indeed, you were right, I used postman to do the test and forgot to change the token. thank you for your help.

Can you help me to retrieve the reported comments with the API 5+, unfortunately, I don't find this edge in the v 5+, knowing that I work in a company specialized in moderation and that our client is a large group of French TV channels that use the hosted version of Coraltalk, he

[2021-02-17 16:13] e-talent2018 commented on #3455
@wyattjoh, if you want, you can answer me on this ticket:
https://github.com/coralproject/talk/issues/3442

[2021-02-17 17:11] kgardnr commented on #3336
@bowser2010 since you've been submitting new Spanish translations (thank you for that 😍 ), wanted to bring this to your attention as well!

@mato777 are there other translations missing?

[2021-02-19 04:30] DenisDoroshchuk opened #3459 "Shadow banning"
Hello,

Are you planning to add "shadow banning"?
Or do you already have it, but I can't found it.
https://en.wikipedia.org/wiki/Shadow_banning

Thanks
Denis Doroshchuk

[2021-02-19 19:29] wyattjoh commented on #3459
Hi @DenisDoroshchuk!

At this time, we do not support shadow banning, nor are we planning on implementing it.

It's often easy to detect by bad actors, and is a misleading tactic that continues to foster bad behaviour in a community. We instead advocate for methods of moderation like account suspension and account bans.

[2021-02-19 19:29] #3459 closed, assigned to nobody

[2021-02-19 23:53] wyattjoh commented on #3419
Do you think @cvle we could solve this with the same approach we did with reactions?

https://github.com/coralproject/talk/blob/ae24c21a1f753b2b435a27e093d865f14673ad41/src/core/client/stream/tabs/Comments/Comment/CommentContainer.tsx#L345

[2021-02-20 04:36] DenisDoroshchuk commented on #3459
Hey @wyattjoh thanks for your answer!

[2021-02-20 17:49] frisi commented on #3419
from a user perspective both is fine, as long as there is a way to apply css based on the number of comments.

for what it's worth: the markup for the injected counts uses a data attribute.

[code]

[2021-03-05 04:28] DenisDoroshchuk commented on #3418
Hey @wyattjoh
I have a same problem.
Until this issue is resolved, is there any workaround?

For example:
I know what comment was written. I can to get it from event "commentCount" after reload iframe.
But I don't know how I can to add this text to comment area http://joxi.ru/bmoyERVTyLOVxA

Thanks
Denis

[2021-03-05 07:54] frisi commented on #3418
fwiw @DenisDoroshchuk: we worked around this issue by hiding the comment input for not-signed in users.

[code]

[2021-03-05 07:58] DenisDoroshchuk commented on #3418
Hey @frisi, big thanks, it's working!

[2021-03-08 19:47] wyattjoh commented on #3418
We should have this issue addressed in the next release!

[2021-03-19 13:51] frisi opened #3478 "Option to keep existing content instead of replacing content for count.js"
## Search Terms

count.js, coral-count

## Suggestion

### problem

currently `count.js` will replace the span marked with `coral-count`
https://docs.coralproject.net/coral/v5/integrating/counts/

example:

[code]

will be replaced with

[code]

### new proposal

a new `data-coral-include="prepend"` attribute could tell `count.js` to keep the exiting markup within the span and `prepend` or `append

[2021-03-22 16:45] ghost opened #3479 "Question: SSO with Piano ID login"
Hi,

We have the Piano system for user login and identity management, and we're currently struggling with two issue:

- The structure of the JWT from Piano
- The Secret used to sign the JWT by Piano

...Nether of which we have any control over.

Piano generates a JWT signed with a Base64 secret, with the following structure:
[code]

We're using the Piano secret across multiple other apps, and have

[2021-03-22 16:58] wyattjoh commented on #3479
You must generate a token for Coral that conforms to the structure it expects. You can stand up a separate service to exchange the piano token for a Coral token to facilitate that structural change.

[2021-03-24 10:32] mzch commented on #3282
Ah, I rebooted my VPS instance and tried to restart Coral, then failed.

[code]

[2021-03-24 22:52] wyattjoh commented on #3282
It looks like you have an in progress migration. You'll need to remove that migration document from MongoDB (with the `{"id": 1579189174930}`) and re-run `npm start`.

[2021-03-25 01:09] mzch commented on #3282
I deleted the recored and tried again, then the following error occurred:

[code]

- .env
[code]

[2021-03-25 19:47] wyattjoh commented on #3282
It seems like the migration process exceeded the timeout, I'd suggest setting a higher timeout for the connection and retrying!

[2021-03-25 22:51] mzch commented on #3282
I tried `socketTimeoutMS=720000` parameter but the same result. Does migration process need more than 12 min?

[2021-03-26 16:51] wyattjoh commented on #3282
It depends on how large your dataset is! If there are a lot of comments, and/or the resources on the MongoDB instances doesn't have a lot of resources, it may take a while to perform the upgrade.

[2021-03-26 19:03] mzch commented on #3282
I created a new database, no comments, and at first Coral started normally, but once shut down it and restart Coral, then the above error happened. What causes an error?

[2021-04-01 02:00] HelloAlexPan opened #3485 "Question: Does Coral Talk support multitenancy?"
I'm building an app that wants to use Coral as a the comment system for a bunch of isolated tenants.

Does Coral talk support this/have documentation on how to do this?

[2021-04-01 12:50] vitalibertas opened #3486 "API 6.8.1 comments field query argument"
Could you give an example of what the query argument is used for?  I’m wondering how to filter comments by a date range and wondering if that could be used for it.  If not, how can I query comments by createdAt range?

[2021-04-01 14:49] wyattjoh commented on #3486
The following GraphQL query should get you what you want!

[code]

Refer to https://docs.coralproject.net/coral/v5/api/overview/ for instructions on how to use the GraphQL API.

[2021-04-01 14:49] #3486 closed, assigned to nobody

[2021-04-01 15:00] wyattjoh commented on #3485
Coral is actually built for multi tenancy! Reach out to us over at coralsupport@voxmedia.com for more information.

[2021-04-01 15:00] #3485 closed, assigned to nobody

[2021-04-01 17:36] esherred opened #3488 "Custom Stylesheet In Configure Breaks The Tool"
Using the Docker version of 6.x we have experienced a weird issue where adding a custom stylesheet to the dashboard is now breaking the comments tool. It actually seemed to happen randomly and we're not sure what's up.

Talk is sitting on its own server with it's own subdomain and coming into our WordPress site.

This is an example URL: https://morningchalkup.com/2021/03/31/the-morning-chalk-up-pr

[2021-04-02 20:29] kenara opened #3492 "Add storyTITLE to embed config options"
It looks like Metascraper doesn't handle JavaScript, so we would have to set up a proxy server to render our pages just to get the story titles (and other metadata, though I'm not sure the other data is used in Coral). The title seems like the most important piece.

The story IDs and story URLs can be added in the embed script - why not the titles?

I understand that, as _originally posted by @wya

[2021-04-06 02:07] Emptyfruit opened #3494 "Changing coral's domain"
Not so much of a bug, i guess, but this feature drives me crazy sometimes.

I deploy coral to some domain. i.e. `coral.domain-A.com`, go through installation wizard. Use it for some time.
After some time i need to move my infrastructure to another domain. So coral (docker) is moving to `coral.domain-B.com`. All the files (volumes, db) stay the same, just proxy settings and dns setting change for t

[2021-04-06 14:55] wyattjoh commented on #3494
As this type of transition is quite rare, we typically recommend modifying the single document you should find in the `tenants` collection in MongoDB and updating the `domain` field to the new domain. Note that you'll need to restart the server (or have it turned off) while you are updating the domain record.

Reopen this ticket if you are still encountering issues!

[2021-04-06 14:55] #3494 closed, assigned to nobody

[2021-04-07 08:22] mzch commented on #3282
Fixed this issue in 6.9.0. Thanks!

[2021-04-07 08:22] #3282 closed, assigned to nobody

[2021-04-07 14:14] yannick-fernand opened #3496 "get an error "atob is not defined" during story scrapping job with basic auth"
##

get an error "atob is not defined" during story scrapping job with basic auth feature enable

**Error:**
"message": "job failed to process"
"err.message": "atob is not defined"
"err.name": "ReferenceError"
"err.stack": "Object.scrape (src/core/server/services/stories/scraper/scraper.ts:214:29) runMicrotasks (<anonymous>) Object.jobProcessor (src/core/server/queue/tasks/scraper.ts:45:3) Queue.<

[2021-04-07 19:33] #3496 closed, assigned to nobody

[2021-04-08 14:48] tessalt commented on #3488
Hi there, couple things could help us debug this:
- can you share a screenshot of the cross-script error?
- can you try embedding a stylesheet _without_ the font links? the issue may be that the fonts are hosted on a different domain.

[2021-04-13 11:21] kenara opened #3500 "SSO accessToken not recognized"
I mint a JWT as a new user is created in Firebase, using the secret from "Login with Single Sign On" on /admin/configure/auth.
The token is available to `createStreamEmbed()` when the function is called.
All other log in methods are disabled but the "Sign in and Join the Conversation" button is displayed (the showAuthPopup event fires when the button is clicked but nothing else happens).

I am how

[2021-04-13 11:57] kenara commented on #3500
I hadn't enabled registration. My SSO user is now recognized. This requirement is counterintuitive, as we will not register users through Coral. Only preexisting users created through our system will be able to access pages with the Talk embed. The WebSocket issue is still active and apparently unrelated my SSO issue.
Closing this issue.

[2021-04-13 11:57] #3500 closed, assigned to nobody

[2021-04-14 09:56] make-github-pseudonymous-again opened #3502 "Improve installation documentation v5+ by adding NGINX setup instructions"
Here's a short list of what went wrong when installing coral/talk behind NGINX:
  - tenant domain was set to `127.0.0.1` (fixed locally with `docker exec -it coral_mongo_1 mongo mongodb://127.0.0.1/coral` then `db.tenants.updateOne({}, {$set: {domain: 'coral.example.com'}});`
  - The error above was probably caused by a bad NGINX header configuration, I fixed it by copying [the configuration in th

[2021-04-14 14:24] make-github-pseudonymous-again opened #3503 "How does one scrape with docker installation"
Issues #1995 and #2263 hint at the fact(?) that scraping does not work when deploying coral/talk using docker. Is it indeed a fact? Or can it be done? If it cannot then fixing #3492 would help me.

[2021-04-14 14:39] make-github-pseudonymous-again commented on #3503
Ok. It seems the issue comes from something (ISP, modem/router?) somehow filtering out requests that emanate from my network with a destination set to my network (I have coral/talk and blogs running inside the same network). If I hardcode the IP of the destination somehow it works. Outside docker I usually do that using `/etc/hosts`, but inside docker it seems `extra_hosts` is the only solution.

[2021-04-14 14:39] #3503 closed, assigned to nobody

[2021-04-14 14:54] make-github-pseudonymous-again commented on #3503
Maybe would it be worth adding a note to the documentation regarding this issue?

[2021-04-14 16:14] wyattjoh commented on #3502
We've been very careful about not including production deployment details in the documentation related to other products as there are many conflicting mechanisms related to how they work that we didn't want to maintain.

As for Nginx, I'd suggest using the `proxy_set_header Host "coral.example.com";` directive to set the upstream host. Coral expects that there is a `Host` header that includes the

[2021-04-14 16:14] #3502 closed, assigned to nobody

[2021-04-16 08:19] luananama opened #3508 "Localhost:3000 doesn't load after following instructions for Docker installation"
I'm trying to install Coral 5 on Windows. The issue seems to be related to mongodb.
![image](https://user-images.githubusercontent.com/20238185/114994452-12f48180-9e9d-11eb-8ecf-dc0d8611a500.png)

[2021-04-16 14:26] wyattjoh commented on #3508
We don't directly support Windows as a development target for Coral unfortunately. The only part of our instructions configuring MongoDB are as follows:

[code]

I'd suggest ensuring that the folder located in `./data/mongo` exists and is empty, and checking the logs with the MongoDB container (by running `docker-compose logs mongo` and investigating the MongoDB documentation on how to resolve!

[2021-04-16 14:26] #3508 closed, assigned to nobody

[2021-05-05 10:08] kenara opened #3538 "Enabling SSO invites sign in from all users"
**Expected behavior:**

Not all users can log in or comment. Qualified users log in through main site and their SSO token allows them to comment. Ordinary users without a token are not logged in to Talk and should not see the comment form or login button.

**Actual behavior:**

With SSO enabled, `post-comment-form` is shown. The "Sign in and Join the Conversation" button does nothing when clicked

[2021-05-05 10:14] kenara commented on #3538
My use case involves expert users reviewing items. New experts are welcome to apply but comments from the general public would not be appropriate and could discourage experts.

I was able to provisionally work around this with custom CSS. Users without the necessary Firebase custom claim are shown an embed with `bodyClassName: "pink"` and `.pink .coral-createComment {display: none;}.pink [class*='

[2021-05-05 14:01] alinhle commented on #3358
Thanks for pointing this out! We have added a story ticket in our backlog. As you said, the misbehaving browsers are not in our supported browserlist, so this will have low priority for us. However we are open for PRs.

[2021-05-05 15:58] wyattjoh commented on #3538
If you're using SSO to sign in users to the comments, and want to restrict it to a subset of your users, the solution is even easier! _Don't generate a SSO token for the users you don't want to sign in_! This is the same process that we recommend to newsrooms that restrict comments to subscribers. Does that satisfy your usecase?

[2021-05-05 18:14] kenara commented on #3538
The problem is not that unwanted commenters can comment - they can't (and mostly wouldn't want to). Only qualified users are given a token.

The issue is that there is a text area and a big button inviting them to "Sign in and Join the Conversation" and when you click it, nothing happens. I've managed to hide these with CSS but that's not a brilliant solution.

It seems that, when SSO is enabled (

[2021-05-07 17:28] Adrian-Samuel opened #3543 "Need assistance in eliminating cors issues"
Hey!

I'm using the coral verison 4 docker-compose example found in the coral talks with no amendments:
https://docs.coralproject.net/talk/installation-from-docker/

I'm consistently getting cors issues and I'm wondering how to resolve this.

<img width="2032" alt="Screen Shot 2021-05-07 at 1 26 06 PM" src="https://user-images.githubusercontent.com/31516988/117486675-ee3d7800-af37-11eb-9f31-3cba4f

[2021-05-07 18:03] Adrian-Samuel commented on #3543
There are no such issues with the version 5 release, but I'm interested to see if there was something I didn't do correctly

[2021-05-07 18:36] kenara commented on #3543
Hey @Adrian-Samuel, just a wild guess but have you tried 127.0.0.1:3000 instead of localhost? The error hints at that...

Apart from that, a really clean install - with all old containers removed - can help!

[2021-05-11 14:11] karimbouchouicha opened #3549 "Missing translation for TextUnderlined"
Missing translation for following Texts:

- Go to profile and replies
- Go to more discussions
- Go to top of comments
- Go to top of article

[2021-05-18 15:32] wyattjoh commented on #3543
You might need to update your `TALK_ROOT_URL=http://localhost:3000` instead of `TALK_ROOT_URL=http://127.0.0.1:3000` as the comment from @kenara makes sense.

[2021-05-31 12:05] kenara opened #3571 ""Important notice regarding a potentially misconfigured Redis instance on your Droplet""
I have been running a docker version of Talk installed according the the installation instructions [here](https://docs.coralproject.net/coral/) and got this message from Digital Ocean:

Near the end of their message, which includes instructions to remediate the issue, there is this:

So, I would like to know if the default configuration is correct or if there is actually some problem that I should

[2021-05-31 19:12] kenara commented on #3492
To get the metadata from my JavaScript single page app into Coral, I just needed to server-render an equivalent page for each story. I set up a simple endpoint that produces a HTML page with only a HEAD element containing the necessary meta tags. All my stories use the same URL pattern so it was a simple matter of swapping out the host of the live website for that of the render server.

Like so:

[2021-06-01 15:56] kenara commented on #3571
Although I installed Coral carefully according to the instructions, I may indeed have a problem with Redis. I will close this issue and open a new one because I am now getting an error.

[2021-06-01 15:56] #3571 closed, assigned to nobody

[2021-06-01 16:37] kenara opened #3573 "Redis error, tenant lost"
Several times now, after running successfully for a number of hours in development mode (console), Coral stops. I have been able to add stories and comments, stop and start Coral in development and production modes, reboot the server and restart Coral but when this error hits, what I understand to be my "tenant" - auth and email config, users, stories, etc - all are lost. After restarting Coral, I

[2021-06-02 11:55] kenara commented on #3538
This is probably just a weird edge case not affecting many users. Closing due to lack of interest.

[2021-06-02 11:55] #3538 closed, assigned to nobody

[2021-06-02 11:57] kenara commented on #3492
Metascraper seems inadequate for client-rendered SPAs. I found a workaround that meets my need. The idea is out there...

Closing due to lack of interest.

[2021-06-02 11:57] #3492 closed, assigned to nobody

[2021-06-02 11:59] kenara commented on #3573
This issue would probably be better for Stackoverflow. Come to think of it, let's try and see some Coral activity on SO...

I find it paradoxical that, despite some great documentation on best practices for online communities put out by this project, there does not appear to be a "Coral Community." Could be a cool opportunity for dogfooding the product.. 🤓

Closing.

[2021-06-02 11:59] #3573 closed, assigned to nobody

[2021-06-07 10:42] artgos opened #3579 "Norwegian translation"

[2021-06-21 20:19] senseiurata opened #3590 "Question: Using Coral's GraphQL server only?"
Hi!

With `NODE_ENV` set to `production`, the GraphQL server only appears to only accept specific persisted queries. Is there a way around this restriction?

Also - is the restriction mainly for performative reasons, or are there security implications as well?

[2021-06-22 03:54] wyattjoh commented on #3590
This choice was made for security reasons to prevent random GraphQL queries without them being audited by the application team. If you need to interact with Coral for admin actions, you can use a access token with admin access and it'll bypass this restriction. If you are trying to build an external UI against Coral's API, we don't formally support that unfortunately.

[2021-06-22 03:54] #3590 closed, assigned to nobody

[2021-06-24 19:45] senseiurata opened #3598 "Question: Turning REDUCED_SECURITY_MODE on"
A bit of a follow-up to [this question](https://github.com/coralproject/talk/issues/3590)

Looking through the source, we found the [REDUCED_SECURITY_MODE](https://github.com/coralproject/talk/pull/3027) flag as a supported feature.

The role-based authorization we see in the schema / source code looks awesome, and we confirmed that they work well in practice. With REDUCED_SECURITY_MODE on, we'd b

[2021-06-25 14:15] losowsky commented on #3549
Thanks for letting us know. Can you tell us which language is missing the translations?

Thank you!

[2021-06-25 14:42] wyattjoh commented on #3598
What's really important to note is that by turning on `REDUCED_SECURITY_MODE`, you are no longer protected from someone executing arbitrary GraphQL queries to your server. This may include DoS attacks based on extremely deep or convoluted queries, potentially harmful or unexpected query paths causing side affects, and other related vectors. The feature was not documented as we feel it is not safe

[2021-06-28 08:37] okybr opened #3600 "Severe Security Issue in Version 4: E-Mail Leak"
I already contacted some maintainers privately about this, but they did not respond. That's why I'm now making this public.

In Talk version 4, it is very easy to query the e-mail addresses of users without any authentication; thus, possibly revealing their true identities behind their pseudonyms.

This is possible although the documentation states:

But in order to find out the e-mail address of

[2021-06-29 18:12] #3600 closed, assigned to nobody

[2021-07-13 21:58] desk467 opened #3629 "Configure HTTP Proxy for Login via OIDC"
Hi everyone,

I was trying to integrate Coral Talk with the OIDC authentication provider here at my company and we needed the requests made for OIDC URLs (from Discovery endpoint, retrieve access token and other endpoints) to be executed through a HTTP Proxy, as with story scrapping, where we can define a URL that Coral Talk will use as HTTP Proxy.

## Search Terms

oidc, auth, proxy

## Suggestio

[2021-07-19 13:50] #3598 closed, assigned to nobody

[2021-07-27 10:21] stefanivic opened #3647 "Custom HTML for comment count js script"
## Search Terms

comment, comment count, comment js

## Suggestion

Since count.js is replacing html, I would like to have an option to define custom HTML that would fit my website better.

## Use Cases

[2021-08-03 21:41] realgeek opened #3651 "cli-users delete <userID> throws error"
**Expected behavior:** After running **docker exec -it talk_talk_1 sh** and in that shell, running **bin/cli-users list**, I get 3 deprecation warnings followed by the abbreviated list of users. I can search for a given user and copy their ID. Then I run **bin/cli-users delete 0025ea1d-4876-41d5-be51-7f43ca077159**. The user should be deleted.

**Actual behavior:** Error message shown. The warning

[2021-08-06 00:16] munishsinghal commented on #3600
Even after these changes, it seems user with role ADMIN & MODERATOR can still see the email address in postman with below graphql query
query Q1 { user(id: "XXXX") { email }}
query Q2 { users(query: {}) { nodes { email }}

but user with role Staff, Commentor cannot see email address.

[2021-08-08 11:58] Sentynel opened #3661 "Feature offer"
## Search Terms

avatar, bandcamp, imgur, import, password

## Suggestion

I've just finished migrating from 4.x to 6.x on https://www.angrymetalguy.com/. As part of that process, I have made a few changes and additions. These are all based on our requirements and may not align with upstream, and most of them probably aren't quite ready for merging. However, if you are interested in any, I'm happy

[2021-08-08 14:15] Sentynel opened #3662 "Edited comments aren't updated live (also breaks replies)"
**Expected behavior:**

If a comment is edited while you have a comment stream open, the updated version should be provided via the same mechanism which shows new comments.

You should be able to post replies to a comment which has been edited while you have the stream open.

**Actual behavior:**

Edits do not arrive live; comments retain their original, unedited form.

If you attempt to reply to

[2021-08-08 16:59] Sentynel opened #3663 "Sign-in popup: Email address validator error pushes SSO buttons down, causes misclicks"
**Expected behavior:**

Opening the "sign in" popup and clicking an SSO sign-in button (e.g. Facebook, Google) immediately should always work.

**Actual behavior:**

https://imgur.com/a/fxSbARD (Video shows me attempting to sign in with Facebook twice; the first time works successfully, while the second nothing happens.)

With apologies for an annoying inconsistent bug: Sometimes clicking the SSO

[2021-08-09 09:09] Sentynel commented on #3663
I have just twigged what the actual issue is here, and if you watch the video closely you can see it: when you mouse button _down_, it causes the email address validator to fire, which displays the "required field" error, which pushes the rest of the window down, which slides the SSO login buttons down. The SSO login buttons don't trigger until you mouse button _up_ on them, and if they've been sl

[2021-08-09 22:50] wyattjoh commented on #3600
Those roles still need to see the email address to facilitate communication with the affected users for moderation.

[2021-08-13 07:21] yogeshbeniwal opened #3667 "http in redirect URI for Google and Facebook Login"
**Expected behavior:**
Using Docker installation guide at https://docs.coralproject.net/, Redirect URI in Google and Facebook login is having http instead of https i.e.
- http://talk.sitename.com/api/auth/google/callback instead of https://talk.sitename.com/api/auth/google/callback
- http://talk.sitename.com/api/auth/facebook/callback instead of https://talk.sitename.com/api/auth/facebook/callback

[2021-08-13 16:28] #3667 closed, assigned to nobody

[2021-08-13 17:07] immber commented on #3418
This was resolved in v6.9.0 with this PR https://github.com/coralproject/talk/pull/3431

[2021-08-13 17:07] #3418 closed, assigned to nobody

[2021-08-13 17:12] #3579 closed, assigned to nobody

[2021-08-13 19:05] nick-funk commented on #3661
Hey @Sentynel, wanted to say thanks for opening this! I am going to take a deep dive into your fork when I have some time to do so! This all looks like really great work and I'm eager to dig in and see if we can bring some of it over into our code-base! Have a great weekend and thanks again!

[2021-08-13 20:24] immber commented on #3663
Opened CORL-2251 for internal investigation

[2021-08-13 20:28] immber commented on #3662
Opened CORL-2252 for internal investigation

[2021-08-13 20:32] #3479 closed, assigned to nobody

[2021-08-23 05:10] DenisDoroshchuk opened #3674 "Problem with keyboard shortcuts"
Hello,

I have a problem with the screen jumps on my site. If user click a "C" key, the screen move to comments area.
How I can disable it?

Please open this article https://cyclingtips.com/2021/08/preview-your-guide-to-the-cycling-events-at-the-tokyo-paralympics/ and click a "C" button on keyboard.

The problem is that users start typing their email in the input box and if they press the C key, g

[2021-08-24 11:52] Sentynel commented on #3674
This isn't a Coral thing. The `c` keyboard shortcut on your site is coming from your Pico WordPress plugin. You'd have to talk to them about how to turn it off.

[2021-08-24 12:03] DenisDoroshchuk commented on #3674
@Sentynel I think 100% problem with Coral, because I see it on code.
https://github.com/coralproject/talk/blob/develop/src/core/client/stream/common/KeyboardShortcuts/KeyboardShortcuts.tsx#L133

[2021-08-24 12:50] Sentynel commented on #3674
Event listeners inside Coral's iframe will only hook events that happen with focus inside the iframe. You can check with a debugger where the event hook is actually coming from, which as I say is your Pico WordPress plugin:
![image](https://user-images.githubusercontent.com/2052340/130619210-3f6b8098-6849-494b-a32d-c0678920a175.png)

[2021-08-24 16:21] DenisDoroshchuk commented on #3674
Thanks for answer @Sentynel
I disabled Pico widget on site, but problem is not resolve, please check
https://cyclingtips.com/2021/08/new-orbea-orca-aero-road-racing-bike-teased-at-the-vuelta/?debug=1

[2021-08-24 16:24] DenisDoroshchuk commented on #3674
If I click "C" button I see this:
![Screenshot 2021-08-24 at 21 24 10](https://user-images.githubusercontent.com/42928564/130653758-abc01ba1-b96d-4e7f-81da-a56b70a49e4f.png)

[2021-08-24 21:12] Sentynel commented on #3674
Ah, yes, I see. My bad! It doesn't trigger on my Coral instance, which I think is because I'm not including pym.js at the outer embed level (rather than inside the iframe). It looks like it's supposed not to trigger the keyboard shortcut if the source is a `<textarea>` or `<input>` element - https://github.com/coralproject/talk/blob/develop/src/core/client/stream/common/KeyboardShortcuts/KeyboardS

[2021-08-24 22:49] amyevans opened #3680 "Heroku app crashes when attempting to upgrade to newer v6"
I am currently running the [6.3.3 Docker image](https://hub.docker.com/layers/coralproject/talk/6.3.3/images/sha256-fae16064d649762684b0008a993614e60a8b27999d66b6d1298bda22af188bab?context=explore) on Heroku. When updating to a newer version, the app crashes with the following error:
[code]
In an attempt to narrow things down, I have tried `6.13.2`, `6.10.0`, and `6.9.1`, which crash; and `6.8.1`,

[2021-08-25 05:06] DenisDoroshchuk commented on #3674
Please open this article https://cyclingtips.com/2021/08/new-orbea-orca-aero-road-racing-bike-teased-at-the-vuelta/?debug=1
And try input "C" symbol on subscribe form.
I recorded video:
https://user-images.githubusercontent.com/42928564/130729749-ffe5171e-2075-4145-aa63-2b937a3909f1.mov

[2021-08-25 15:12] Sentynel commented on #3674
Ah, yes, I see the problem actually - the event is caught here and then sent as a message: https://github.com/coralproject/talk/blob/develop/src/core/client/embed/decorators/withKeypressEvent.ts#L7
When a real `KeyboardEvent` is received, it looks for a `target` and removes events with `tagName` set to `<input>` or `<textarea>`, or with a `contenteditable` property set to `true`: https://github.co

[2021-08-26 04:33] DenisDoroshchuk commented on #3674
Thanks for you answer @Sentynel
Do you know how I can fix it from my side? I mean from a parent page.

[2021-08-26 15:55] Sentynel commented on #3674
This is a terrible hack, but this JavaScript one-liner appended to your page will stop events from the email input being propagated to Coral's handler:
`document.getElementsByTagName("input")["EMAIL"].onkeypress = function (event) {event.stopPropagation();}`

[2021-08-26 16:21] DenisDoroshchuk commented on #3674
Thanks @Sentynel
It's working, but it's hack, and I will use this as a temporary solution.

[2021-08-26 20:13] alinhle commented on #3674
@DenisDoroshchuk Thanks for reporting this. This is totally Coral's fault. I'll take a look on how we want to fix that.

[2021-08-26 20:17] alinhle commented on #3674
For the first iteration we'll likely make sure to exclude propagating any events from input fields to Coral.

[2021-08-27 04:23] DenisDoroshchuk commented on #3674
Thanks @cvle
Please write me, when you will fix it

[2021-09-03 14:16] yannick-fernand opened #3694 "Emit log level in STRING instead of integers"
Hi,

Is there a way to have the attribut log `level` as string ('trace' | 'debug' | 'info' | 'warn' | 'error' | 'fatal')  instead of as number.
We monitor our logs with newrelic with other services, and it is difficulte  for us to group all logs with the log level  as number instead of string

thanks

[2021-09-09 23:00] yannick-fernand opened #3717 "Emit log level in STRING instead of integers"
Hi,

Is there a way to have the attribut log level as string ('trace' | 'debug' | 'info' | 'warn' | 'error' | 'fatal') instead of as number.
We monitor our logs with newrelic with other services, and it is difficulte for us to group all logs with the log level as number instead of string

thanks

**Versions:**

- talk : 6.14.0

[2021-09-09 23:00] #3694 closed, assigned to nobody

[2021-09-11 15:07] Sentynel opened #3718 "Duplicate email notifications for replies being generated when pre-moderation of comments is off"
**Expected behavior:**

Me again, sorry..! A user should be notified once, and only once, about a given reply to one of their comments. This notification should be sent, or queued for digests, at the point the comment becomes visible.

**Actual behavior:**

If comment pre-moderation is disabled, notifications for normal users are generated and sent twice: once when the comment is originally posted

[2021-09-14 19:21] alinhle commented on #3674
@DenisDoroshchuk It's fixed in 6.15.0 with this commit: https://github.com/coralproject/talk/commit/9aefbfb4f81c878a9d99b046ab295d37dc7576cd