[2018-10-03 18:34] wyattjoh commented on #1958
If you're using the onbuild image for compiling Talk, then you should not have a `package.json` in your folder when building, as Talk will amend it's `package.json` during the plugin reconciliation phase of the onbuild image. Instead, specifying only a `Dockerfile`, `plugins.json`, and optionally a `plugins/` folder.

We recommend using git submodules, which for a private Gitlab repo are successfu

[2018-10-03 18:38] wyattjoh commented on #1956
Do you have any browser plugins installed? Any non-standard testing?

I just ran through your steps about 5 times on Browserstack Windows 10 IE11 without any issues so far.

[2018-10-03 18:52] lriggle-strib commented on #1958
@wyattjoh We are not quite at the stage where we are using the onbuild image, everything for my local development is currently using the from source method (i have been having an endless stream of issues using the docker image locally ever since my work machine was replaced, and honestly I haven't had the time or brainpower to think about it). I'm actually trying to decouple our custom plugins fro

[2018-10-03 19:01] wyattjoh commented on #1958
Disregard that message 😄 all it's saying is that it can't determine the version of the plugin, because you didn't specify a version, just a git/url, so it doesn't match!

I'd say it's working alright if it successfully loaded the plugins.

[2018-10-03 19:36] striedinger commented on #1956
Clean browser. Nothing out of the ordinary apart from doing what I mentioned. I am going to try to record it and will back to post it when I have it.

[2018-10-03 19:45] #1958 closed, assigned to nobody

[2018-10-03 19:52] striedinger commented on #1956
![talk_bug](https://user-images.githubusercontent.com/6549408/46435386-3d89ef00-c724-11e8-9d9d-9c9fb3c6c9a9.gif)
@wyattjoh  - Like I mentioned earlier, it's a pretty damn difficult bug to reproduce. But when it does happen, and sometimes it happens even easier, it is breaking as it completely disables login. I would imagine a non-tech person would be frustrated if this were to happen and just give

[2018-10-03 22:57] wyattjoh commented on #1956
Do you think you could open the console on the blog page to see if anything is being posted there?

[2018-10-04 07:58] deepaksisodiya opened #1962 "[Question] How to remove the "My Profile" Tab"
#### Do you want to request a **feature** or report a **bug**?

Question

#### Intended outcome:

I see in file **Embed.js**. We are adding the **my profile** tab if the current user in prop.
I do not want to modify the Talk code and still want to remove **my profile** tab
Is there any recommended way to achieve this?

<img width="438" alt="screen shot 2018-10-04 at 1 20 19 pm" src="https://user-i

[2018-10-04 09:15] freder commented on #1950
yes, thank you.

[2018-10-04 09:15] #1950 closed, assigned to nobody

[2018-10-04 09:23] twosmalltrees commented on #1939
I'll have a go at this 😊

[2018-10-04 12:34] striedinger commented on #1956
@wyattjoh Nothing pops up in console on the blog page. It's very easy to reproduce when following those steps, it eventually will bug out.

[2018-10-04 12:49] lriggle-strib commented on #1876
@wyattjoh Thanks for the info, this is helpful.

[2018-10-04 13:26] lriggle-strib commented on #1892
@wyattjoh That did the trick, thank you so much!

[2018-10-04 13:26] #1892 closed, assigned to nobody

[2018-10-04 17:18] wyattjoh commented on #1962
You can add a custom css rule for it!

[code]

Which should hide that whole bar.

If you only want to hide the "My profile" tab, you can remove it with:

[code]

[2018-10-04 18:50] jqueryisamonad commented on #1927
@kgardnr this issue's reproducible only on some browsers? All work fine on Chrome 69

[2018-10-04 20:27] #1914 closed, assigned to nobody

[2018-10-05 02:55] deepaksisodiya commented on #1962
@wyattjoh Thank you.

[2018-10-05 02:55] #1962 closed, assigned to nobody

[2018-10-05 06:45] pranay414 commented on #1937
I would like to take this? What file/files I need to change?

[2018-10-06 16:34] mzc9 commented on #1941
Hi,
Can I take a stab at this?

[2018-10-06 18:54] harrysoer commented on #1926
can I try this one @kgardnr?

[2018-10-06 19:52] voodooattack opened #1973 "Error in JavaScript for the bundle."
#### Do you want to request a **feature** or report a **bug**?
Report a bug.

#### Intended outcome:

Run the *-on-build image.

#### Actual outcome:

I get this error in my console when I try to load the iframe:
[code]

#### How to reproduce the issue:

This is my current setup:

docker-compose.yml:
[code]

build/Dockerfile:
[code]

build/plugins.json:
[code]

As you can see, I'm using the defaul

[2018-10-06 21:22] striedinger commented on #1973
As far as I know from my little experience working with Talk so far, you don't need this line:

`ONBUILD RUN cli plugins reconcile && yarn && yarn build && yarn cache clean`

If your only intention is enabling/disabling plugins it will definitely work without it.

[2018-10-06 21:35] kartikpandey2 opened #1974 "Setting up Talk in development env"
Can anyone help me setting up talk,
I followed installation from source steps given in https://docs.coralproject.net/talk/
and on running `yarn watch:server`
![screenshot 103](https://user-images.githubusercontent.com/20434963/46575991-bbc4ea80-c9dd-11e8-9ab1-114219733ec8.png)

how to setup Talk .?

[2018-10-07 10:29] jqueryisamonad commented on #1974
@kartikpandey2 If nothing's working, you can setup project with `docker-compose` in development mode (I don't understand why this is not a default way to start developing).

You need change `Dockerfile` and `docker-compose.yml` in the root directory and start the project with `docker-compose up --build` command ([Installation from Docker](https://docs.coralproject.net/talk/installation-from-docker

[2018-10-07 12:01] kartikpandey2 commented on #1974
@hovoodd  I tried using docker but nothing happens.
Running ` docker-compose ps`
![screenshot 104](https://user-images.githubusercontent.com/20434963/46581448-96c08e00-ca56-11e8-80c2-3f68cab9bfd4.png)
on visiting `127.0.0.1:3000` it says site can't be reached.

[2018-10-07 12:10] jqueryisamonad commented on #1974
@kartikpandey2 Did you read "Setup" section in docs? 🤔

[2018-10-07 12:22] kartikpandey2 commented on #1974
@hovoodd  `http://127.0.0.1:3000/admin/install` it also says site can't be reached.

[2018-10-07 12:26] jqueryisamonad commented on #1974
@kartikpandey2 Maybe logs can help `docker-compose logs -f` 😕

[2018-10-07 23:32] voodooattack commented on #1973
Yeah, I realise that now. The issue still happens even without it, though.

[2018-10-08 14:14] fabianmarz commented on #1937
@kgardnr, can we please clarify which features are GDPR features and need to be configurable?

I extracted those from the [docs](https://github.com/coralproject/talk/blob/master/docs/source/03-08-gdpr.md#gpdr-feature-overview):

- Download my comment data
- Delete my account
- Add an email to an Oauth/external account
- Change my username
- Change my email
- Change my password

Are those all neces

[2018-10-08 14:18] fabianmarz commented on #1974
@kartikpandey2, what's the issue with the first screenshot? Did you set up the `.env` file properly? As the `TALK_ROOT_URL` you can also try `localhost:3000` if `127.0.0.1:3000` is not working for you.

[2018-10-08 14:22] freder opened #1975 "SSO: "Cannot return null for non-nullable field UsernameStatus.status.""
hi,

I just wrote a server plugin for SSO with auth0. while `tokenUserNotFound` seems to run without problems, on the frontend I get this graphql error: `"Cannot return null for non-nullable field UsernameStatus.status."`

looking at the database entry, the newly created user's `status` field looks like this:

[code]

looks like the `username` part should contain more information, but I reckon it'

[2018-10-08 14:30] fabianmarz commented on #1975
@freder, try setting the profile like this (note the status key):

[code]

[2018-10-08 14:34] freder commented on #1975
that did it! – thanks, @fabianmarz

[2018-10-08 14:34] #1975 closed, assigned to nobody

[2018-10-08 17:09] kgardnr commented on #1949
hey @sladyn98! Great! We'd love to have you on board.

So currently when you load `/admin` it will default go to '/admin/moderate` - this is the Moderate tab, which holds the Moderation Queues.

When you load this page, all the queues query for comments and load them - this is not performant; it should only load the queue that is selected. (I believe it defaults to "New")

Then if you click on ano

[2018-10-08 17:13] kgardnr commented on #1946
Hi @hovoodd! Thank you so much for this!

Good questions -

1) Yes, I think we should default to always have them collapsed - these are not updated that often, but viewing this page can become stressful seeing so many negative words

So -
A) Always collapsed
B) Until someone opens to change or add a word
C) Don't need to collapse on Save
D) Because next time I view this page it will be collapsed

[2018-10-08 17:13] kgardnr commented on #1940
Hi @lsurasani! Yes, please do! Let us know if you have questions :)

[2018-10-08 17:14] kgardnr commented on #1939
Awesome @twosmalltrees! Let us know if you have questions :)

[2018-10-08 18:29] kgardnr commented on #1937
Hi @pranay414 and @fabianmarz - great questions!

@fabianmarz you summed that up nicely!

So these features can be found in 2 plugins:

1) Change my username, change my email, change my password, add external auth to oauth - `talk-plugin-local-auth`

2) Download my comment data, delete my account - 'talk-plugin-profile-data'

To clarify more, for some newsrooms they want to keep the server-side fu

[2018-10-08 18:32] kgardnr commented on #1933
Hmm.. I wonder if there's any other way we could get an instance of Talk running on Glitch @leeyspaul?

Sending the bat signal to our friends @leeeandroo @hellp @clintabrown @cristiandean @davisshaver @erikreyna @facuesr @PepeFranco @kitwestneat @meddy if they have any ideas - and Happy Hacktoberfest!

[2018-10-08 18:33] kgardnr commented on #1927
@hovoodd & @moogacs yeah this is so weird, I swear I was able to reproduce this before but now I can't. Might be a moot point then!

[2018-10-08 18:33] kgardnr commented on #1926
We would love for you to, @harrysoer! Let us know if you have questions!

[2018-10-09 02:47] kitwestneat commented on #1933
I think if you follow the install from source instructions it should work. One hiccup is that you'll need to find alternative install methods for Redis and Mongodb.

Here's someone with some redis tips:
https://support.glitch.com/t/redis-data-persistence/4567/2

It looks like everyone uses mLab for mongodb on glitch.

I tried it briefly, but it keeps running out of memory on the webpack phase. Per

[2018-10-09 14:57] himynameissebbo opened #1978 "Comments Mod: Edit comment with admin rights"
#### Do you want to request a **feature** or report a **bug**?
question

### Question
Is it somehow possible out-of-the-box that comments are edited by Admins afterwards?

So the use case would be that a user adds a comment with malicious content and the Admin team wants to set a note to this comment that it has been edited by an Admin because it's violates the rules.

We're currently already usin

[2018-10-09 16:08] lsurasani commented on #1940
Thanks! will do.

[2018-10-09 17:32] styfle commented on #1933
If Glitch doesn't work, you can pretty easily deploy any Dockerfile to [Zeit Now](https://zeit.co/now).

1. create the `Dockerfile` in the root of your project
2. install the cli with `npm install -g now`
3. login to your account with `now login`
4. deploy your code with `now --docker`
5. alias the deployment with a pretty url with `now alias talk.example.com`

[2018-10-09 21:00] aguilarm opened #1980 "Enabling CORs on graphql"
Hi!

I'm looking to access Talk's gql so I can re-use the data in another React app - going to have a go at making a user profile widget. This would also be applicable to obtaining comment counts, which I'm currently running through a proxy.

I first tried to add it via a server plugin by adding CORs middleware to the /api/v1/graph/ql route, but [you can't add middleware after the initial call to

[2018-10-10 01:05] wyattjoh commented on #1980
We would strongly discourage the use of CORS across the board, as it introduces a variety of security issues and vulnerabilities.

We've seen news sites that have embedded Talk inside sidebars, and modals as well, and the iFrame is probably the best place to display it.

If you just want to get some data, we'd recommend creating a plugin that exposes a single route with the appropriate data and CO

[2018-10-10 10:32] oafx opened #1981 "Question: Directions for Plugin to display message if user has no displayname set"
#### Do you want to request a **feature** or report a **bug**?

question

## Question

Hello,

the site we're trying to include with talk uses an external user database where a displayname isn't mandatory. We solved adding the users via the tokenUserNotFound hook, as described in the docs. We'd now like to notify the user (via some kind of html element or a modal box) that he has to set a displayn

[2018-10-10 10:52] justanotherlad commented on #1933
HI! Can I take this issue up?
Is it possible to deploy Talk on Slack?

[2018-10-10 12:56] hjanuschka opened #1982 "Reply Count went wild"
# frontend
![image](https://user-images.githubusercontent.com/2891702/46737740-96193900-cc9c-11e8-8f80-2b2223b495ab.png)

# my profile tab
![image](https://user-images.githubusercontent.com/2891702/46737705-7f72e200-cc9c-11e8-8fd9-e8ad66d194d5.png)

we are having issues with the reply count, shown in the "my comments" tab in the frontend stream.

it says *5* reply's which is not correct, are there

[2018-10-10 14:29] aguilarm commented on #1980
@wyattjoh Ok cool I can probably use an iFrame and be all set then. Took me writing out the issue to realize that was even an option.  Went down quite the rabbit hole with CORs haha.

Thanks for taking a look!

[2018-10-10 14:29] #1980 closed, assigned to nobody

[2018-10-10 15:37] wyattjoh commented on #1982
What version of Talk are you running @hjanuschka?

Is this only in a few instances, or widespread?

You can flush the comment counts that are cached in Redis via:

[code]

[2018-10-10 21:05] hjanuschka commented on #1982
we are using the docker `latest` tag, currently it shows `4.6.5` in the dashboard.

i am not sure if its only a couple of instances, since those are many, and getting loadbalanced anyway, it feels like widespread
are the redis key, supposed to timeout?

the only thing i can imagine is, that we have the full-premoderation enabled, and maybe they count? and also it quiet often happens that comments

[2018-10-10 22:00] kartikpandey2 commented on #1974
@fabianmarz  actually issue is on running `yarn watch:server`  nodemon says `[nodemon] clean exit - waiting for changes before restart` and this makes server stop I tried visiting localhost:3000 it says
`site can't be reached`.
I tried replacing `127.0.0.1:3000` with `localhost:3000` still not working.

[2018-10-11 03:21] lsurasani commented on #1940
looks like somebody already made a PR for this @kgardnr just fyi in case you hadn't seen it: https://github.com/coralproject/talk/pull/1961

[2018-10-11 14:58] wyattjoh commented on #1982
How are you "removing" the comments? Rejecting them? The comment counts should update.. But you should definitely try the above set of redis commands, as it'll force expire all of them.

[2018-10-11 18:31] wyattjoh commented on #1974
When you run `yarn start:development`, what's your output @kartikpandey2?

[2018-10-11 18:34] wyattjoh commented on #1981
You can take a look at the code that we currently use in our auth plugin: https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-auth/client/stream/containers/SetUsernameDialog.js which you can adapt to a plugin of your own design!

Hope that helps!

[2018-10-11 18:36] wyattjoh commented on #1973
Have you installed Talk via the `/admin/install` route @voodooattack?

[2018-10-11 19:40] kartikpandey2 commented on #1974
@wyattjoh  output  of `yarn start:development`
![screenshot 111](https://user-images.githubusercontent.com/20434963/46829512-a247e800-cdbb-11e8-909e-7dd37385fa4e.png)

[2018-10-11 19:54] wyattjoh commented on #1974
If you have installed Talk via the Docker route (as you linked above, and by your image with the Docker output saying that MongoDB + Redis do not have their ports exposed to your host), then you cannot run `yarn watch`.

If you want to install via source, I'd recommend running:

[code]

To start an instance of Mongo + Redis that are exposed.

Also ensure that you have at least version 8 of Node in

[2018-10-11 20:36] kartikpandey2 commented on #1974
node -v  `v8.11.4`
i also tried this
![screenshot 112](https://user-images.githubusercontent.com/20434963/46832339-657fef00-cdc3-11e8-8715-8d6282fd51d1.png)

[2018-10-11 20:58] voodooattack commented on #1973
Yes.

Sent from Mailspring<https://getmailspring.com/>, the best free email app for work
On Oct 11 2018, at 8:36 pm, Wyatt Johnson <notifications@github.com> wrote:

Have you installed Talk via the /admin/install route @voodooattack<https://github.com/voodooattack>?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/coralproject

[2018-10-11 22:16] wyattjoh commented on #1973
Give it another try after pulling the latest current onbuild image.

[2018-10-11 22:19] wyattjoh commented on #1974
Unofficially, we don't support Windows as a development target, and we haven't experienced this issue before here. Can you see if the issue is replicated when using on a Linux box? You can do so pretty easily via Vagrant.

[2018-10-12 06:15] pranay414 commented on #1937
@kgardnr can you tell me how should I start working on this issue?

[2018-10-12 14:48] kgardnr commented on #1978
Hi @himynameissebbo! No, we would never allow admins to change the content of a comment.

Why wouldn't you want to remove the comment that violates the rules by rejecting it? You can also Suspend and/or Ban the user - and then the Admin can write a note that is emailed to them (if you have SMTP setup), that explains that they have violated the rules.

[2018-10-12 14:54] kgardnr commented on #1940
Oh thank you, @lsurasani, I had not seen that - sorry! Feel free to try another one?

These are some of my favorite ones :)

This is a small one - just adding a badge when a user is a "subscriber" - https://github.com/coralproject/talk/issues/1928

Copy/translation updating with a bit of a twist - https://github.com/coralproject/talk/issues/1920

Some others!

https://github.com/coralproject/talk/

[2018-10-12 14:56] kgardnr commented on #1937
Hey @pranay414! Can you ask some more specific questions so I can be as helpful as I can for you?

Basically, this is adding a configuration in Admin > Settings > Moderation Settings and when it's turned "off", the above features would be hidden on the FE.

[2018-10-12 14:58] kgardnr commented on #1933
@swastikbanerjee07 - we have some Slack integrations, yes!

https://github.com/coralproject/talk-plugin-slack-bouncer
https://github.com/coralproject/talk-plugin-slack-notifications

[2018-10-12 15:41] kgardnr commented on #1927
Cannot reproduce this - ack!

[2018-10-12 17:07] pranay414 commented on #1937
@kgardnr Ok I'm not sure what's FE here? Also in which files I need to edit to add these configuration settings?

[2018-10-12 17:49] kgardnr commented on #1940
Fixed in https://github.com/coralproject/talk/pull/1961

[2018-10-12 17:49] #1940 closed, assigned to nobody

[2018-10-15 07:30] fabianmarz commented on #1937
@pranay414, FE = **F**ront **E**nd.

All respect, I'm not trying to offend you, but if you can't figure out yourself which files need to be edited to make this PR done, I don't think it's suitable for you. The simplest first thing to do would be to search for an existing string from the frontend config and see where it's used to point out the necessary files.

There is this global [`config`](https

[2018-10-15 08:01] hjanuschka commented on #1982
😨 27417 removed. but the count is still wrong.

yeah with remove, i mean, "reject" from the admin dashboard. any further ideas?

[2018-10-15 10:09] oafx commented on #1981
Thanks! I'll have a look

[2018-10-15 15:30] wyattjoh commented on #1982
You can check on the `reply_count` parameter on some of the documents that you notice incorrect reply counts. We haven't received reports from other newsrooms relating to this issue, so I'm hoping that it's isolated.

Did flushing the redis keys improve anything?

[2018-10-15 15:50] #1791 closed, assigned to nobody

[2018-10-16 04:27] lsurasani commented on #1943
hey @kgardnr I'll take a look at this!

[2018-10-16 07:17] #1978 closed, assigned to nobody

[2018-10-16 12:50] kgardnr commented on #1943
@lsurasani awesome!

[2018-10-16 13:01] freder opened #1995 "How does scraping work with docker?"
I have talk running in a docker container. since I don't intend to use the embed, I am developing a custom UI against the talk graphql API. (using talk "headlessly" if you will.)

with the dockerized talk instance not being able to access "the outside world", scraping obviously does not work. assets can be created through the API, but the only information that gets stored that way is `id` and `url

[2018-10-16 13:07] freder commented on #1995
oh, and assets created through the API can be queried directly by their id, but they won't show up in `assets`. is that expected  behavior?

[code]

↓

[code]

[2018-10-16 13:32] freder opened #1996 "Don't mix camel and snake case"
![image](https://user-images.githubusercontent.com/724844/47019975-9c099100-d158-11e8-8388-949f39a5a4b6.png)

[2018-10-16 13:35] kgardnr commented on #1996
Hey @freder, we probably won't address this but you're welcome to submit a PR if you'd like!

[2018-10-16 13:39] freder opened #1998 "API: There should be a `createAsset` mutation"
I find it a bit counterintuitive that the `asset` query is used for retrieving existing but also creating new assets. wouldn't it make sense to have a separate `createAsset` mutation?

that mutation could also accept optional arguments like `title`, etc. (related to #1995)

[2018-10-16 14:48] lsurasani commented on #1943
@kgardnr could you give me some direction on how to start? Do I use these directions: https://docs.coralproject.net/talk/ to run a local instance of it?

[2018-10-16 14:56] kgardnr commented on #1943
Yep! All the docs are there - that's the best place to start. Our code is heavily commented too, so perusing the code itself is a good place to check out too.

[2018-10-16 14:57] lsurasani commented on #1943
thanks so much!

[2018-10-16 18:30] wyattjoh commented on #1995
Few things here!

Currently, Talk performs scraping when it gets the URL for the asset by loading the HTML of the page itself. We have plans in Talk v5 to expose those mutations to ensure you can do as much as you can via the GraphQL API.

In Talk v4, we only exposed the bare minimum that our embed needed to load, favoring instead the use of [server plugins](https://docs.coralproject.net/talk/api/

[2018-10-16 18:30] #1995 closed, assigned to nobody

[2018-10-16 18:34] wyattjoh commented on #1998
As mentioned in #1995, we have no plans currently to bring this feature to v4, but will provide it in v5.

If you would like to add support for v4, we would welcome a PR adding the support!

[2018-10-16 18:34] #1998 closed, assigned to nobody

[2018-10-16 19:52] lriggle-strib opened #2000 "Error/data monitoring"
We are wanting to integrate error monitoring into the Talk application. We use BugSnag and DataDog throughout our technology stack for error and data reporting, like exception notifications.

Two examples:
- Every exception should be reported to bugsnag so our on call tech can diagnose the issue
- When a comment is added to a moderation queue, we send data to DataDog so we can generate alerts if t

[2018-10-16 19:58] kgardnr commented on #2000
Hey @lriggle-strib! We have info on this here: https://docs.coralproject.net/talk/integrating/event-tracking-metrics/

And we've known several orgs who have integrated with DataDog.

You can also see an example plugin we built for Prometheus here: https://github.com/coralproject/talk-plugin-prom

[2018-10-16 19:59] lriggle-strib commented on #2000
@kgardnr So far we've only seen examples of the events in the front-end. Can they be integrated into a back end plugin in the same way?

[2018-10-16 20:21] wyattjoh commented on #2000
Related to your question about errors, Talk v4 doesn't natively support error handlers, but it does emit logs with [bunyan](https://github.com/trentm/node-bunyan), which has a compatible bugsnag stream:

[code]

Take a look at the [Prometheus plugin](https://github.com/coralproject/talk-plugin-prom) to create a plugin for your provider.

[2018-10-16 20:48] lriggle-strib commented on #2000
@wyattjoh `bugsnag` and `bunyan-bugsnag` aren't default yarn packages within the Talk application (obviously), and `yarn plugins:reconcile` doesn't add those packages in (also, obviously). Is adding additional yarn packages to the application something that will maintain in the docker environment? Is it just a matter of also specifying the `packages.json` file along with the `plugins.json` file?

[2018-10-16 20:50] oafx opened #2002 "JWT Token with base64 encoded secret"
#### Do you want to request a **feature** or report a **bug**?
basically a **question** but maybe a **feature** request?

#### Intended outcome:
due to some kind of tech lock-in i'm currently trying to use a JWT Token that uses a base64 encoded secret (for reference see https://jwt.io/)

#### Actual outcome:
seems impossible. i'm looking for some kind of configuration option that woult take the su

[2018-10-16 20:59] oafx commented on #1974
I have solved this issue with windows by modifying the run configs in the package.json to use cross-env (to set the env vars) and rimraf (instead of rm) maybe not a clean solution but pretty simple and it works for me

[2018-10-16 22:29] wyattjoh commented on #2000
As per the documentation on [external dependencies](https://docs.coralproject.net/talk/plugins/#plugin-dependencies) you would need to create a folder like `talk-pluigin-bugsnag` that contains a `package.json` containing at least:

[code]

[2018-10-16 22:32] wyattjoh commented on #2002
Unfortunately, Talk does not support accepting a base64 encoded secret at this time.

In Talk v5, we'll likely plan to add support for it.

We'd welcome a contribution in the form of a pull request that accepted secrets in a base64 encoded form if the secret itself began with `base64:<my encoded secret>`!

[2018-10-16 22:33] wyattjoh commented on #1974
Sounds great! We've experienced issues our side during development with cross-env, but I'm glad it solved your issue!

[2018-10-16 22:33] #1974 closed, assigned to wyattjoh

[2018-10-17 08:53] freder commented on #1995
thanks @wyattjoh – that clarifies things!

I did in fact end up implementing a custom mutation in a server plugin for now 👍

[2018-10-17 12:14] oafx commented on #1974
hey @wyattjoh would you mind sharing what kind of issues you encountered when working with cross-env?

[2018-10-17 13:51] lriggle-strib commented on #2000
Perfect, thanks!!

[2018-10-17 13:51] #2000 closed, assigned to nobody

[2018-10-17 16:00] wyattjoh commented on #1974
I can't recall specifically, but I believe it was related to the way `cross-env` was forking which caused some of our watcher scripts to fail under some situations.

[2018-10-17 20:21] oafx commented on #2002
hi @wyattjoh!

i'm not very familiar with nodejs coding style/standards but i'd be happy to contribute/open a pull request and to learn **if** you or other talk devs are okay with the possibility of some extra time spent in the case my pr isn't satisfying your quality standards.

Christian

[2018-10-18 20:37] wyattjoh commented on #2002
After taking a look at the code, it didn't take too long, so I hope you don't mind that I submitted a PR already that will address this in Talk's next release!

See: https://github.com/coralproject/talk/pull/2007

[2018-10-19 13:51] lriggle-strib opened #2009 "Unable to remove email subject prefix"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
Set an empty value for `TALK_EMAIL_SUBJECT_PREFIX` so nothing is prepended to email subjects.

#### Actual outcome:
If the var has no value, the default prefix is used (`[Talk]`). If quotes are used to denote an empty string, the quotes end up in the subject.

#### How to reproduce the issue:
Set the `TALK_E

[2018-10-19 16:06] wyattjoh commented on #2009
Can you take a look at the #2011 PR? That should resolve the issue!

[2018-10-19 16:28] saskakol commented on #1924
Hi @kgardnr! Could I pick this one up, since it looks like it hasn't been active in a while?
I created a local instance of talk, but I'm wondering if I can remove the time limit on changing a username, since it's stopping me from trying to test this at all. Is that possible? I tried to look through some of the docs and configs, but didn't find anything.
And for additional clarification: This is ab

[2018-10-19 17:39] #2009 closed, assigned to nobody

[2018-10-19 17:48] kgardnr commented on #2002
Addressed in #2007

[2018-10-19 17:48] #2002 closed, assigned to nobody

[2018-10-19 18:47] #1939 closed, assigned to nobody

[2018-10-20 14:10] jqueryisamonad commented on #1974
@wyattjoh hi, why not just use `docker-compose` for development?

[2018-10-20 19:34] cdtinney commented on #1918
The description says "**prevent** the system admin from being banned/suspended" but the title says "system admin **should** be able to be banned".

Which one is it? How could we prevent database manipulation in either case?

[2018-10-21 10:07] saskakol commented on #1924
Never mind about the time limit; I found the correct place to change it 👍
As far as I can see, the validation is already stopping the user from clicking the Save button, but there is no other error message.  Going to take a look at how to add that now. 🙂

[2018-10-22 16:18] voodooattack commented on #1973
@wyattjoh It took me two tries, but I got it to build, and the same issue still happens.

`Uncaught (in promise) TypeError: Cannot read property 'fields' of undefined`

[2018-10-22 18:29] wyattjoh commented on #1973
Can you send a HAR archive with content over to wyatt at mozillafoundation.org? We can't reproduce the error on our side.

[2018-10-22 18:32] wyattjoh commented on #1918
That was a typo @cdtinney! Thanks for catching it!

[2018-10-22 19:06] voodooattack commented on #1973
Sent! :+1:

[2018-10-23 12:57] leonkunert opened #2021 "Feature: Make username change backoff configureable."
#### Do you want to request a **feature** or report a **bug**?
**Feature**:
We would like to be able to change the 14 day backoff for changing the username via env var.

#### Intended outcome:
The ability to change the username more or less frequently.

#### Actual outcome:
The username can only be changed every 14 days.

#### How to reproduce the issue:
Try to change the username more than once a

[2018-10-23 15:00] cdtinney commented on #1918
@wyattjoh I assume an expected solution prevents DB manipulation from affecting behaviour.

How about something like:
- Ensure `User.suspension` and `User.banned` are set to defaults on startup for System Admin user
- Re-generate System Admin user row if deleted (on startup)

[2018-10-23 15:20] kgardnr commented on #1946
Fixed in #2014

[2018-10-23 15:20] #1946 closed, assigned to nobody

[2018-10-23 15:59] lriggle-strib opened #2022 "Change default suspension length"
#### Do you want to request a **feature** or report a **bug**?
Feature

#### Intended outcome:
Have variable or setting that allows the default suspension length to be changed. Currently there doesn't appear to be a way to change this, since it is hard coded here:
https://github.com/coralproject/talk/blob/master/client/coral-admin/src/components/SuspendUserDialog.js#L13

#### Version and environme

[2018-10-23 16:28] kgardnr commented on #2022
Hey @lriggle-strib, we don't have plans to make suspension time configurable.

When we built out the suspend user feature, we talked extensively to moderators to decide on some common lengths of time for a "time out" and that's why we chose the options of 1 hour, 3 hours, 24 hours, and 7 days.

This was also something in which we didn't want to add mental load to the moderators - "how much time do

[2018-10-23 16:32] kgardnr commented on #2021
Hi @leonkunert, we won't be adding this as a feature - we decided on 14 days as we explicitly do not want to encourage username changes that could be leveraged to intimidate or harass other users.

We feel 14 days gives enough of a time period to discourage changing a username to be malicious, but still accounts for a user's want or need to change their username.

Thank for taking the time to sugg

[2018-10-23 16:32] #2021 closed, assigned to nobody

[2018-10-23 16:47] #1917 closed, assigned to nobody

[2018-10-23 17:43] lriggle-strib commented on #2022
@kgardnr I wasn't saying that I wanted to make it longer than 7 days, I was more saying that I wanted the default radio select to be 24 instead of 3. The available options can stay the same, the one that's selected by default would be what changes.

[2018-10-24 09:18] codeMonkSS opened #2024 "Follow a thread"
#### Scenario:
If I create a `follow` button, the verified users can go to an article and click on it and they will be notified if there are new comments or replies to that article’s thread. The can also click again and stop following that thread.

I tried to create a plugin but I am unable to use `{withReaction}` inside `commentInputDetailArea` slot.

#### Questions?
Do you have an existing plugi

[2018-10-24 09:31] codeMonkSS opened #2025 "Tagging users in a comment"
#### Scenario:
I should be able to tag a user in a particular thread who has already commented to that thread of an article.

#### Questions?
Is there a feature where one user, whilst commenting, can tag another user who has already commented to a particular thread? If not, how can I achieve such a plugin?

#### Intended outcome or requirement:
While posting a comment, I should be able to tag anot

[2018-10-24 12:56] #1924 closed, assigned to nobody

[2018-10-24 13:55] plexdk opened #2026 "Changing username with graphql"
HI,

We are a newspaper located in denmark, providing both print and online news
We are providing an admin page for the user, where they can control their various subscription options and settings - and hereby also comment settings. That means we want to be able to change the users username (displayed in comments), by doing a graphql call, when they change their nickname on the newspapers settings

[2018-10-24 13:57] #2026 closed, assigned to nobody

[2018-10-24 13:57] plexdk commented on #2026
Found another issue with answer. closing

[2018-10-24 16:39] #1952 closed, assigned to nobody

[2018-10-24 16:48] aguilarm opened #2027 "[Feature] 'Select all user's comments' in admin"
#### Do you want to request a **feature** or report a **bug**?

Bug? Incomplete feature perhaps.

#### Intended outcome:

By clicking 'select all' in Talk admin for a user's comments, admins would like to easily reject _all_ comments for a particular user (generally spammers, with hundreds of comments).

#### Actual outcome:

Bulk approving/rejecting comments (original issue https://github.com/cor

[2018-10-24 17:52] aguilarm commented on #2027
Looked at what's happening now a bit.  It's iterating individual comments and triggering a setStatus on each one then waiting for all of those changes to resolve.

I think perhaps we could make a new mutation like `setCommentStatusForUser` or something that takes a query shape like `{ author_id, status }` and updates all comments by a particular user to match a new status. That query will use the

[2018-10-24 18:02] kgardnr commented on #2022
@lriggle-strib sorry for misunderstanding Lisa! This is something that we would definitely be interested to add to core if you want to contribute it, but I don't see this coming up on our roadmap as high priority.

[2018-10-24 18:04] kgardnr commented on #2027
Hey @aguilarm this is a cool idea, if you wanted to contribute something like this!

[2018-10-24 18:31] aguilarm commented on #2027
@kgardnr Cool, I'll have a go at a PR!

[2018-10-24 19:04] kgardnr opened #2028 "Send user an email notifying them when their comment is rejected"
Idea from nu.nl:
- Send an email notification to a user when their comment is rejected
- Email subject: "Your comment on $organization_name has been removed"
- Email body: "A recent comment of yours has been removed for violating our community guidelines. Please review our rules before submitting another comment."
- Needs to include translation support

[2018-10-24 19:07] kgardnr opened #2029 "Add support to Slack plugin to send Featured Comments to a Slack channel"
Idea from nu.nl:
- Ability to send Featured Comments to a specific Slack channel
- Should show new comments once they're Featured
- This is to show others in the newsroom what the best comments are

[2018-10-24 19:10] kgardnr opened #2030 "Flag a user to be "Always premoderate their comments""
Idea from nu.nl
- Should be added as an option in Suspend/Ban user drop down
- Once selected, that user's comments should always go to Pre-Mod queue for action before posting on the site
- Status should be removeable by deselecting the option in the drop down

[2018-10-24 19:48] madsalama commented on #2028
@kgardnr - I'd like to work on this, any hints on where the change is required?

[2018-10-24 19:56] kgardnr commented on #2028
Awesome @madsalama we'd love to have you contribute this! Take a look at the code, it should be straightforward - let us know if you have any questions and we'd be happy to help!

[2018-10-24 20:03] aguilarm commented on #2027
Turns out changing the status of a comment triggers some side effect operations including:
- adjusting reply counts for the parent comment, if it exists
- clearing comment count caches for associated assets so they can be refreshed
- adjusting user karma

While I can do the asset cache clear and karma all at once in separate post-update actions based on total changes, reply counts check the pre- a

[2018-10-24 21:04] LS05 commented on #2029
Can I work on this? :)

[2018-10-24 21:23] kgardnr commented on #2029
Yes please do!
On Wed, Oct 24, 2018 at 10:05 PM Luca Suriano <notifications@github.com>
wrote:

[2018-10-24 21:42] mankee10200 opened #2031 "DisplayName not working - username is still displayed instead"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:

Have the displayName be displayed instead of the username.

#### Actual outcome:

I'm trying to integrate talk into my site and one of my requirements is that the username seen on screen has spaces in it. I've tried doing this through the "username" field, however it does not permit spaces. As an alternativ

[2018-10-24 22:06] madsalama commented on #2028
@kgardnr - I've started the server side and it went smoothly (really great documentation!) - nonetheless I'm confused as to how to test it with a client? Like a demo page where a user posts comments?

[2018-10-24 22:21] madsalama commented on #2028
@kgardnr - nevermind. I figured out you guys have also created that "demo" integration. I'm amazed by how well-documented everything is! 💯

[2018-10-24 23:39] madsalama commented on #2028
@kgardnr - I have a question, where is the user's default language stored in user's profile? I need to know that in order to send the user the message in their language. I suppose this also needs to be adapted in all *.yml localization files in all supported languages.

[2018-10-25 13:30] lriggle-strib opened #2034 "Including placeholder twice in Rich Text Plugin"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Actual outcome:
In the Editor component of the rich text plugin, the placeholder value is being included twice:

* https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-rich-text/client/components/Editor.js#L112
* https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-rich-text/client/components/E

[2018-10-25 15:29] madsalama commented on #2028
@kgardnr - Any suggestions please? 😄

[2018-10-25 15:42] kgardnr commented on #2034
Hey @cvle could you take a look?

[2018-10-25 15:48] kgardnr commented on #2028
Hey @madsalama! First off - thank you SO MUCH for your kind words about our documentation - we love hearing that it's helpful! We have spent a lot of time on it and appreciate it ❤️

Re: translating emails, good question - best idea is to see how we handle sending emails and translating them - here is a good example in our notifications plugin: https://github.com/coralproject/talk/tree/master/plug

[2018-10-26 10:21] lytvynenko commented on #2028
I've implemented this functionality as a plugin. You can check the code here: https://github.com/lytvynenko/talk-plugin-notifications-category-rejected.

[2018-10-26 10:42] lytvynenko commented on #2031
We've ended up with custom plugin for this case: https://github.com/lytvynenko/talk-plugin-display-name

[2018-10-26 12:57] lriggle-strib opened #2037 "Object doesn't support property or method 'forEach'"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:
Use the Talk admin

#### Actual outcome:
* Unable to use the moderate portion admin - spinny wheel
* Unable to use any of the admin - spinny wheel (intermittent)

#### How to reproduce the issue:
I've experienced this issue in:
* Chrome (not lately)
* IE 11 (100% of the time)

I was experiencing this with ch

[2018-10-26 13:46] lriggle-strib commented on #2022
Thanks @kgardnr! I'll make sure everyone over here is aware that if they want that feature before it comes up for you guys, we'll have to submit a PR for it.

[2018-10-26 15:26] AuroraEscapes commented on #2031
When we added this plugin and made these changes we noticed updates to the user are not be saved. The viewing options still work but users can no longer save their notification preferences. @lytvynenko have you experienced this?

[2018-10-26 16:18] LS05 commented on #2029
@kgardnr Sorry but I can't install Docker on my machine. I don't is convenient to work without Docker :/

[2018-10-26 16:46] AuroraEscapes opened #2040 "Save button for notification preferences"
#### Do you want to request a **feature** or report a **bug**?
feature

#### Story:
When a user edits settings in their user profile in Talk it isn't obvious they have been saved. or that there isn't something else the user needs to do.
The admin console has a save button for some features - the behavior can be a bit confusing

[2018-10-26 18:31] vipulbhj commented on #2030
Hii, can I take this one ?

[2018-10-26 21:35] losowsky commented on #2030
Go for it! Thanks Vipul!

[2018-10-27 16:51] thiennhank9 opened #2041 "Can't run project from source code or docker on Windows 10 x64"
#### Do you want to request a **feature** or report a **bug**?
This is a BUG.

#### Intended outcome:

Environment: Windows 10 - 64 bits.
I cloned this source code from "master" branch. Then I build image by docker with below cmd:
`
docker build -t coral2 .
`
It should be worked properly. But it failed to errors.

#### Actual outcome:

Errors below:
----
Done in 63.39s.
yarn run v1.9.4
$ npm-run-a

[2018-10-28 04:59] lytvynenko commented on #2029
Hi @kgardnr. Looks like @LS05 is experiencing some issue with initial setup, so i've decided to jump a gun and create a plugin for this use case. You can find code here: https://github.com/lytvynenko/talk-plugin-slack-notifications-category-featured.

[2018-10-28 13:46] oafx commented on #2041
you might want to take a look here: https://github.com/coralproject/talk/issues/1974

while it is stated there that windows as development target isn't officially supported, you might have luck with cross-env and rimraf as described there. Well this doesn't explain why your docker container is failing but maybe try a release tag instead of the master/HEAD?

hope it helps :)

[2018-10-30 14:47] kgardnr commented on #2040
Hey @AuroraEscapes, we're going to make this functionality consistent across the board in our v5. We don't have plans to update this on our side, but folks are welcome to submit a PR if they'd like, so I'll keep this Issue open 😄 thank you!

[2018-10-30 15:37] kgardnr commented on #2028
Thank you @lytvynenko! I think this living as a plugin makes more sense than adding it to core. Thank you also for you work @madsalama!

[2018-10-30 15:37] #2028 closed, assigned to nobody

[2018-10-30 15:38] fabianmarz commented on #2026
@plexdk, could you please link the other issue to help other people finding the solution faster? 😃

[2018-10-30 18:29] #1941 closed, assigned to nobody

[2018-10-30 18:29] kgardnr commented on #2029
Thank you again @lytvynenko!

[2018-10-30 18:53] kgardnr commented on #2037
Hey @lriggle-strib I'm trying to replicate this and I just can't seem to - could you provide some more info on the OS version/etc where you're seeing this? Is this a virtual machine or an actual computer? Have you had more than one person experience this? Thank you so much - I'm truly stumped!

[2018-10-30 18:55] kgardnr commented on #2037
@lriggle-strib and can you confirm you're not seeing this at all on any of the latest versions of Edge?

[2018-10-30 19:36] lriggle-strib commented on #2037
@kgardnr Here is some additional info:

* Windows 10: v.1709 (16299.726)
   * IE 11
      * Version: 11.726.16299.0
      * Screenshot: <img width="796" alt="2018-10-30 14_22_48-slack - star tribune" src="https://user-images.githubusercontent.com/7051012/47745172-0fc79580-dc51-11e8-8def-dc6cc4b882cf.png">
   * Edge
      * Version: 41.16299.726.0
      * This worked successfully, so I did not grab

[2018-11-01 15:36] leonkunert opened #2059 "Error after installing notification plugin"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
Installing notification plugin

#### Actual outcome:
The clientside shows an error after switching to the settings tab:
```GraphQL error: Cannot query field "notificationSettings" on type "User". GraphQL error: Cannot query field "notificationsRequireConfirmation" on type "Settings".```

#### How to reproduc

[2018-11-01 16:25] wyattjoh commented on #2059
In the network tab for the request, can you provide the GraphQL error in the response payload?

[2018-11-01 16:41] leonkunert commented on #2059
Ok I found the issue.
I forgot to add the plugin to the server plugins.
🙈

[2018-11-01 16:41] #2059 closed, assigned to nobody

[2018-11-01 16:44] immber commented on #2037
Added to PivotalTracker #161655050

[2018-11-01 18:47] immber commented on #1982
@hjanuschka & @wyattjoh I was able to reproduce this behavior in our current latest version of Talk 4.6.5. I'm tagging this as a bug and adding to pivotal. Ticket id # 161659836

The BUG is in incrementing the reply count when Pre-Moderation is enabled. The reply count is being incremented twice, once when the comment is submitted and a 2nd time when the comment is Approved. The reply count is not

[2018-11-02 10:57] mankee10200 opened #2062 "Query For All Users Without Admin Role"
#### Do you want to request a **feature** or report a **bug**?
Feature

#### Intended outcome:

Be able to query the mongoDB for all users - this is to be used within a mentions plugin where a user posting a comment can mention/tag any of the other users in the db. I found in the docs: https://docs.coralproject.net/talk/api/graphql the **UserQuery**, however it seems to require the admin role, is

[2018-11-02 15:40] wyattjoh commented on #2062
You could write a plugin that exposes exactly the results you would like, but for privacy reasons, we don't want to expose that permission on the public graph API. That way in your custom plugin, you could write a handler/route that uses the system context to execute the query, which will have permission to do so.

[2018-11-02 15:40] #2062 closed, assigned to nobody

[2018-11-02 19:39] lriggle-strib opened #2063 "How to add an additional field to embed stream"
For this particular implementation, I need to add an additional text field that will store a value in the metadata of the comment, and then display it on the comment once it's been saved.

In my plugin I can do the following:
- Create a text field that displays in the embed stream
- Save a static value to the comment's metadata

What I can't do:
- Include the value in the text field on the form su

[2018-11-02 21:56] wyattjoh commented on #2063
This particular feature you're working on unfortunately has a lot of steps necessary to implement. In order to protect the API from undesired random input, we implemented strict schemas on input/output serialization to ensure that only the fields recognized would be able to pass through to the data layer.

That being said, it is still _possible_ to implement, just complex.

1. Extend `CreateCommen

[2018-11-05 15:40] lriggle-strib commented on #2063
@wyattjoh Ok, that gets me started in the right direction. It looks like the Rich Text Editor plugin actually does something similar. I've got all the pieces in place, but the part I'm getting hung up on right now is actually getting the value into `onInputChange`.

Here's what the rich text plugin is doing:
https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-rich-text/client/comp

[2018-11-05 17:27] wyattjoh commented on #2063
If you're building Talk with the `onbuild` images, it is likely stripping the console.log out. To override it, you can instead write`window.console.log` and it should work. We use something similar to send some important messages to the console relating to error.s

[2018-11-06 10:56] philippbosch commented on #1980
@wyattjoh could you elaborate on the "security issues and vulnerabilities"?

[2018-11-06 16:39] wyattjoh commented on #1980
Sure @philippbosch! We store parts of the authentication state on the host site's local storage (via the postMessage bridge). As a platform, we're designing Talk to run on other sites, that can be easily embedded, which creates a sticky situation.

Some scripts running on news sites may not be considered completely under their control (such as advertising or tracking javascript). In order to secur

[2018-11-06 19:04] lriggle-strib commented on #2063
@wyattjoh Thanks, this got me really far. My field submits and saves into the database. Yay! What I'm not seeing, however, is the submit behavior that applies to the comment box also applying to my field.

For example, when you submit the form, the comment box changes in appearance and then clears the value so it's ready for the next comment. I haven't been able to figure out what I can use to hoo

[2018-11-08 15:17] cyberprotz opened #2071 "Make Talk AMP compatible"
#### Do you want to request a **feature** or report a **bug**?
question

#### Intended outcome:
We are using coral talk for our publishing webiste. We have noticed that the guys from the coral project haven't investigated on amp so far ([link](https://community.coralproject.net/t/easy-wordpress-integration/695/15)). Maybe the team from the coral project give us an insight about the plan/roadmap wi

[2018-11-08 15:28] kgardnr commented on #2071
Hey @cyberprotz, we would love if you wanted to take this on. We know this is something a lot of newsrooms want, but we simply haven't had the time to investigate. Would you like to take this on?

[2018-11-09 20:28] campaignupgrade opened #2074 "Workflow & Deployment for Talk"
#### Do you want to request a **feature** or report a **bug**?

Feature — documentation enhancement?

#### Intended outcome:

Set up a functional instance of Talk with a deployment and backup.

I was directed to post here by support@coralproject.zendesk.com.

I’m the IT lead for Truthout.org, a progressive news site with about two millions pageviews per month.

We’ll looking to integrate Talk comm

[2018-11-12 09:01] cyberprotz commented on #2071
Hi @kgardnr thx for sharing your information. Unfortunatelly we don't have the men power to make talk amp ready/compatible. Perhaps some of the major publisher are able and have the power to do it. I would really appreciate it.

[2018-11-12 21:30] kgardnr commented on #2074
Hey @slamorte!

So if you're using custom plugins, definitely go the `onbuild` route. You can manage your `plugins.json`, `plugins` dir, and `Dockerfile` in a git repo, as per the docs:

```This means that you can create a repository for your organization that simply includes the above Dockerfile, a directory of plugins, and a plugins.json file which specifies the activated plugins, and you can de

[2018-11-12 22:14] campaignupgrade commented on #2074
Thanks for this!

I've already used to the pre-flight checklist to jump start conversation with the editorial team. It's very comprehensive, thanks! Great resource.

For code, do you recommend CI for deployment? How are you deploying your docker repo to a production server?

For the `plugins` dir, how are you managing plugin versioning? I see each plugin is usually its own repo, and I am curious i

[2018-11-12 22:18] kgardnr commented on #2074
Anytime!

Yes, we do recommend CI - we use CircleCI, but others use Jenkins, Travis, and others. We're doing manual deploys to our own environments (which are mostly for testing) - at one point though we did have a Slack bot to deploy from master to staging. Clients typically choose manual or automatic deployments depending on their existing deployment strategies and environments. We do recommend

[2018-11-13 09:17] dberhane opened #2075 "Custom onbuild image size is double the base image"
I am a new Coral Talk user and have a basic understanding of Docker. I’ve successfully installed Coral Talk (v4.6.5) on our development environment. I am now in the process of enabling Plugins.

To enable one extra plugin, I have used the basic docker “onbuild” image Dockerfile, a directory of plugins and a plugins.json file (which lists the activated plugins).

The new image container is working

[2018-11-13 17:32] marykenefick commented on #2063
@wyattjoh - wondering if you or maybe @kgardnr have any thoughts on the behavior that Lisa is seeing with the new field she's trying to add in?

[2018-11-13 18:09] kgardnr commented on #2063
@marykenefick and/or @lriggle-strib is this for your Obituaries comment section?

[2018-11-13 18:49] marykenefick commented on #2063
Hey Kim - Yes, this is for Obits.

[2018-11-13 19:06] wyattjoh commented on #2075
Thanks for the report @dberhane!

Unfortunately, we're currently blocked on the following yarn bug: https://github.com/yarnpkg/yarn/issues/4764

It seems whenever we run `yarn`, it will touch every file in node_modules each time, which causes issues with how docker detects changed files, thereby increasing the image size.

We're replacing yarn with npm in Talk v5, which does not have this issue.

[2018-11-16 17:59] #2037 closed, assigned to nobody

[2018-11-16 19:53] gelav opened #2078 "Support ActivityPub federation in Talk"
**Do you want to request a feature or report a bug?**

a feature

**Intended outcome:**

Implementation of [ActivityPub](https://activitypub.rocks/). ActivityPub is an open, decentralized social networking protocol. As a result of implementation I want to be able to reply and boost comments in Mastodon.

[2018-11-16 20:05] kgardnr commented on #2078
@gobengo has mentioned this too! We would love to look at this in more detail. Perhaps the two of you could give us some ideas of how we might do that?

[2018-11-20 11:05] oafx opened #2085 "[Question] Possibility to adjust metascraper rules for Talk"
#### Do you want to request a **feature** or report a **bug**?

Question / Feature

#### Intended outcome:

I'd love to adjust or modify the metascraper rules for Talk. Is this possible in some way? My current problem is, that our CMS provider appears to use a meta tag with the name `date` which displays the current time instead of the time the document/asset/storry was published and the scraper a

[2018-11-20 16:24] #2063 closed, assigned to nobody

[2018-11-21 00:00] immber commented on #2085
There are lots of scenarios where the default "lazy asset creation" functionality might not work exactly right with your particular CMS, so our recommended solution is to implement your own asset creation strategy. The best way to do that would be with a custom plugin to override the "lazy asset creation" scraper that is used by default in Talk, and generate/update assets from your CMS.

Here's a

[2018-11-21 05:08] oafx commented on #2085
Great! Many thanks for the hint, I will try that!

[2018-11-21 10:26] eshwarenm opened #2087 "Building client side codes faster"
I was wondering if there is another way to build the client side files without using `yarn build`.
Is there anyway I can "watch" the changes?

The `yarn build` takes about 5 mins to complete, so any suggestion for a faster workflow, especially when editing the client files?

[2018-11-21 16:52] wyattjoh commented on #2087
You can use `yarn watch` actually!

[2018-11-21 20:29] campaignupgrade commented on #2074
Still trying to get the -onboard process to work.

I've created a Dockerfile that contains only the line "FROM coralproject/talk:4.5-onbuild", and I'm building it using the stock coralproject/talk image like this:

`docker build -t coralproject/talk:4.5 --build-arg TALK_DEFAULT_LANG=es .`

There's a few errors thrown, nothing major, but the end result does not produce any running containers.

[cod

[2018-11-22 02:55] eshwarenm commented on #2087
After posting this, I found out about `yarn watch`. Will close now. Thanks @wyattjoh !!!

[2018-11-22 02:55] #2087 closed, assigned to nobody

[2018-11-22 05:37] oafx commented on #2074
*onboard = onload 😉

You're right, docker build only creates an image. I suggest you to tag it with another name like `-t myawesometalkimage:4.5`, so docker won't have any problems with resolving the name. After executing `docker build` you can, for example:

* run your image with docker run, i.e.: `docker run -d -p 3000:3000 myawesometalkimage:4.5 -e "NODE_ENV=development" -e TALK_MONGO_URL=<your

[2018-11-23 05:12] batuhan commented on #1973
I'm hitting the same bug.

Would you mind sharing if you happened to find a solution, @voodooattack?

[2018-11-23 08:12] voodooattack commented on #1973
No solution is forthcoming still, unfortunately.

I'm still using the default image.

[2018-11-23 20:40] nishkalavallabhi opened #2091 "Where are the rejected comments stored?"
I am trying to query the GraphQLAPI to get information about comments that are rejected, for an internal project.  I am sending the request from Python (3.6) and here is my code:

[code]

I get: {'data': {'comments': None}}
If I change the status to "ACCEPTED", I do get a ton of comments in the result json. Where are the rejected comments going? How can I access them? I am using the options from C

[2018-11-23 21:22] gobengo commented on #2078
With respect to commenting use cases, my fascination here started when I was first PMing at Livefyre in like... 2011. We had all these bloggers using the free version of the product on their blogs, and those same bloggers were very active commenters on their friends' and peers' blogs. And they thought a lot about comenting on others' blogs as a way to drive new visitors to their own.

So if I'm re

[2018-11-23 21:26] gobengo commented on #2078
See also this from last time someone at @coralproject asked me about this:
https://twitter.com/bengo/status/962491097548177409

[2018-11-23 21:44] gobengo commented on #2078
Think about budgeting for it in 2019 planning. I'm available for hire to implement. Or happy to spend an hour or two advising pro bono. I want Talk to be as awesome as possible and become a top app on [permanent.cloud](https://permanent.cloud/apps/7d5aa22a-1f23-4b65-bf6e-e28215d22db9).

I posted a comment on [this blog post on Mozilla Hacks about ActivityPub](https://hacks.mozilla.org/2018/11/dece

[2018-11-24 23:09] kevinmarks commented on #2078
This seems a lot closer to Webmention than ActivityPub

[2018-11-25 04:54] campaignupgrade commented on #2074
Thanks Christian!

Yes, I'm pretty new to docker. I've tried reading the docs and man pages but it can be hard to get the basic docker concepts until I experiment with something like these Talk builds. But I think I understand images now.

We hacked about over the last few days and mostly figured this out for ourselves. We took the path of adjusting the `docker-compose.yml` to use the custom build

[2018-11-25 18:46] campaignupgrade commented on #76
For anyone else frustrated by this issue, you can find the callback URL in the URL of the error message.

It will be in the format of `https://your.domain.name/api/v1/auth/facebook/callback`

[2018-11-26 00:39] gobengo commented on #2078
I don't see the evidence to substantiate that it's any closer to Webmention than ActivityPub.

Webmention is like a less expressive, less used, non-JSON-based alternative to ActivityPub Delivery, with no extension process (and no extensibility-via-linked-data, which doesn't require a central registry and process around it). Other projects [have chosen not to implement it at all](https://github.com

[2018-11-26 16:28] lriggle-strib opened #2093 "Adding a new field - Making it required"
Thanks again for all your help last week helping me get my new field to behave properly when submitting a form. One thing I forgot to ask about was making the field required.

I can add `required` as an HTML parameter on the input item, and that doesn't seem to impact the form from submitting. In either case, it produces a `generic` exception that I'm having difficulty catching (specifically, I'm

[2018-11-27 01:10] richardvenneman opened #2094 "Unable to set language with onbuild image"
#### Do you want to request a **feature** or report a **bug**?

Bug?

#### Intended outcome:

I'm trying to set the default language of the embed stream to `nl`.

#### Actual outcome:

Language in the embed stream as well as the admin app is always `en`.

#### How to reproduce the issue:

[code]

[code]

For completeness, we're hosting on Heroku with the following:

[code]

This sets the variables

[2018-11-27 16:19] wyattjoh commented on #2094
Should hopefully be a simple fix!

Instead of setting the language key to`nl`, set it to `nl_NL`.

Essentially, you should set the language key to the one defined in the following folder: https://github.com/coralproject/talk/tree/master/locales

[2018-11-27 16:51] richardvenneman commented on #2094
Thanks @wyattjoh! It's working now. The [docs even mention this too](https://docs.coralproject.net/talk/integrating/translations-i18n#languages), don't know how I missed that.

By the way, would you be interested in a pull request documenting how to get up and running on Heroku with the onbuild Docker image? If yes, where should this go?

[2018-11-27 16:51] #2094 closed, assigned to nobody

[2018-11-27 17:05] wyattjoh commented on #2091
Comments are stored in the database always, including rejected comments! While not documented, the `comments` edge is protected, and requires an ADMIN token in order to hit. You can generate it using the cli tool: https://docs.coralproject.net/talk/configuration-cli-tools/#working-with-access-tokens

[code]

[2018-11-27 18:14] wyattjoh commented on #2094
We're always open to contributions!

You can create a markdown file here: https://github.com/coralproject/talk/blob/master/docs/source

Use the following as a template: https://github.com/coralproject/talk/blob/master/docs/source/01-02-installation-from-docker.md

And add the item to the sidebar here: https://github.com/coralproject/talk/blob/master/docs/_config.yml#L83-L94

[2018-11-27 18:50] nishkalavallabhi commented on #2091
@wyattjoh - Thanks for the response! Where do I get the ./bin/cli tool? Should I setup a local instance of talk and this is a part of the installation? Is there any other way to generate this token when I am only accessing the talk URL elsewhere and reading from it?

[2018-11-27 19:02] immber commented on #2091
Just adding for future reference, that authenticating GraphQL queries is covered in our documentation here: https://docs.coralproject.net/talk/api/overview/#authorizing-a-request

[2018-11-27 19:07] immber commented on #2091
@nishkalavallabhi The Talk cli tool is already included in the Talk repo. Just nav to your Talk root directory, and launch with `./bin/cli`

If you check out the link I posted above that might help with the question about generating the token, as there are a few ways that you can authenticate an API request to access the protected queries depending on your implementation.

[2018-11-27 19:15] nishkalavallabhi commented on #2091
@immber - Yes, I saw the link. Thanks. However, I am unable to use the ./bin/cli program as I get the error: 'TALK_ROOT_URL' must be provided. But where?

I tried ./bin/cli-setup, ./bin/cli-settings, ./bin/cli-token, ./bin/cli - none worked. All threw the same error. I followed the error messages to see config.js, and added the ROOT_URL in it, and it now shows:
Error: TALK_JWT_SECRET must be provi

[2018-11-27 19:22] immber commented on #2091
@nishkalavallabhi All of the steps are included in our documentation, however they are designed for someone who is running their own instance of Talk locally.
I'll reach out to you thru the support channel to work with you directly on getting API access to your hosted instance of Talk!

[2018-11-27 19:27] nishkalavallabhi commented on #2091
@immber - Thank you for a quick reply! I will look forward for your response. Please let me know if I need to give any information about our organization's instance that I am querying (and how to share that information).

[2018-11-28 11:22] tomaszrondio opened #2099 "Feature Idea: allow to control embed stream pagination options"
allow to define number of comments visible at initial embed load

[2018-11-28 14:24] hminaeeBrunswicknews opened #2100 "Cannot see the commenting text box"
Hello support,

I installed talk in a cloud. (NB: I am using SSO custom code(tokenUserNotFound) for talk as well)
I am able to see that talk admin page is up and running.
When I connect it to my web app here is what I see:

![image](https://user-images.githubusercontent.com/24658315/49158008-8fe82600-f2f7-11e8-82a5-1a324cf304a1.png)

As you see there is no text box for allowing users to put commen

[2018-11-28 14:40] kgardnr commented on #2100
Hey @hminaeeBrunswicknews there is something wrong with your auth plugin, because the signin is not showing (users have to be signed in to leave a comment by default).

Some steps you can try:

1. Have you followed the instructions and thoroughly read the docs here? https://docs.coralproject.net/talk/integrating/authentication/

2. Have you ensured your plugin is enabled in your plugins.json?

3.

[2018-11-28 15:41] alinhle commented on #2093
@lriggle-strib You can prevent the form from submitting by throwing an exception inside the `preSubmit` hook and then render some info to the user. See `components/Editor.js` in the rich text plugin on how to add a `preSubmit` hook.

[2018-11-28 16:47] #2091 closed, assigned to nobody

[2018-11-28 17:13] hminaeeBrunswicknews commented on #2100
Thanks @kgardnr  for answering,

I checked everything.
Here is my plugin.json:

{
  "server": [
    "talk-plugin-auth-brunswick-news"
  ],
  "client": [
  ]
}

However as soon as I update it to :

{
  "server": [
    "talk-plugin-auth-brunswick-news"
  ],
  "client": [
    "talk-plugin-author-menu",
    "talk-plugin-featured-comments",
    "talk-plugin-flag-details",
    "talk-plugin-ignore-user",

[2018-11-28 19:41] lriggle-strib commented on #2093
@cvle Thanks, that's helpful! What ended up working best was having the `preSubmit` hook just ensure the value was a string, regardless of the length, and then throwing an exception in my hooks file because the exceptions thrown from the `preSubmit` hook end up displaying in my browser console.

[code]

[2018-11-28 19:42] #2093 closed, assigned to nobody

[2018-11-29 19:23] hminaeeBrunswicknews opened #2102 "When I connect my talk server to mongo atlas url the plugin stops working"
Hi support,

we have a talk running perfectly fine with the following docker set up:

`

version: '2'
services:
  talk:
    image: xxxx.dkr.ecr.us-east-1.amazonaws.com/container-example-test:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
    environment:
      - NODE_ENV=development # remove this line in production
      - TALK_MONGO_URL=mongo

[2018-11-29 19:31] #2100 closed, assigned to nobody

[2018-11-29 19:33] kgardnr commented on #2102
You'll need to use the 3.4 or earlier driver syntax: https://www.mongodb.com/blog/post/mongodb-3-6-here-to-SRV-you-with-easier-replica-set-connections

[2018-11-29 19:34] kgardnr commented on #2102
More info here: https://docs.mongodb.com/manual/reference/connection-string/?_ga=2.86078608.9438358.1543519897-31358338.1540387923

[2018-11-29 21:01] hminaeeBrunswicknews commented on #2102
Thanks  ,

when I switch to the <3.6 version admin page also stops working which was working with >3.6.

![image](https://user-images.githubusercontent.com/24658315/49251707-6bc03e00-f3f8-11e8-823f-33a0914668dc.png)

Also the comment now throw me a new error as follows:

![image](https://user-images.githubusercontent.com/24658315/49251690-63680300-f3f8-11e8-8f9e-6b01e663cbe2.png)

Also here is the

[2018-11-30 03:35] AbodyAmer commented on #1534
hi @kgardnr
is deleting comment feature already has been implemented??
please tell me if you have any plug-in that allow me to delete a comment.
Thank you

[2018-11-30 07:28] kgardnr commented on #1534
Hey @AbodyAmer no we don't support this currently - this issue is that open feature request.

Moderators can reject comments and users can delete their accounts, but users cannot remove a single comment. See above discussion.

[2018-11-30 16:03] lriggle-strib opened #2104 "Feature idea: Remove size limit from adminCommentContent slot"
## Description

I'll use the plugin I'm working on as an example:

I've added an additional text field to the embed stream for the user to input a name to display with the comment instead of their username. The data is saved on the comment object, not the user, since it is a field required for every comment. Since it is relevant text for the comment, not just data about the comment (like the toxic

[2018-11-30 16:22] wyattjoh commented on #2102
The "Internal Error" is printed in production, with it logging the bug on the backend, what is the error you're seeing?

[2018-11-30 16:25] #1534 closed, assigned to nobody

[2018-11-30 17:09] hminaeeBrunswicknews commented on #2102
Thanks @wyattjoh
All I see is the below:

`{"name":"talk","version":"4.5.1","revision":"76bb6df084f9ff910d394ecbb237faf83b331e26","hostname":"7be468006eb6","pid":26,"level":50,"err":{"message":"not found","stack":"Error: not found\n    at new ExtendableError (/usr/src/app/errors.js:8:18)\n    at new TalkError (/usr/src/app/errors.js:23:5)\n    at new ErrNotFound (/usr/src/app/errors.js:236:5)\n

[2018-11-30 17:19] wyattjoh commented on #2102
As you likely pointed your application to a fresh Atlas install, you need to run the setup in order to see your comments.

It looks like you did try that, so if you can also provide the console logs from the install page, we can see why the install is failing.

[2018-11-30 17:22] hminaeeBrunswicknews commented on #2102
@wyattjoh

When I run it I get this:

` stack: 'Error: Talk is currently not setup. Please proceed to our web installer at $ROOT_URL/admin/install or run ./bin/cli-setup. Visit https://docs.coralproject.net/talk/ for more information on installation and configuration instructions\n    at new ExtendableError (/usr/src/app/errors.js:8:18)\n    at new TalkError (/usr/src/app/errors.js:23:5)\n    at n

[2018-11-30 17:24] wyattjoh commented on #2102
When you try to install Talk, what is the logs you see in the web browser when you see that "undefined" popup?

[2018-11-30 17:27] hminaeeBrunswicknews commented on #2102
@wyattjoh

Here is what I see :

![image](https://user-images.githubusercontent.com/24658315/49304667-708dfc00-f4a3-11e8-9f14-7fb4bb8d5148.png)

![image](https://user-images.githubusercontent.com/24658315/49304727-97e4c900-f4a3-11e8-9eeb-eaf017e1b60f.png)

![image](https://user-images.githubusercontent.com/24658315/49304760-ad59f300-f4a3-11e8-80c4-ea94583e575f.png)

Here is mongo url I am using an

[2018-11-30 20:01] immber commented on #2102
@hminaeeBrunswicknews I was just able to go to your talk instance at `https://commenthamed5.stg1.dev-telegraphjournal.com/admin/moderate`, and complete the setup with the same credentials you provided in your screenshot above.

I also tested connecting to the MongoDB instance that you reference `mongodb://hamed1:11111@fargate4-shard-00-00-d8wly.mongodb.net`, but that does not seem to be the mongo

[2018-11-30 20:52] hminaeeBrunswicknews commented on #2102
@immber

Thanks a lot for your help.
It worked!!!!!!!!!!
I just updated the mongo url to point at the cluster you changed.
Can you please explain what changes you made?
Did you change anything in mongo cluster?

[2018-11-30 21:11] immber commented on #2102
@hminaeeBrunswicknews I only connected to the mongo instance and queried it, I made no configuration changes.

On the talk instance, I also made no config changes, but I connected to the url you provided, and walked thru the setup steps using the same credentials that you had provided in your screenshot. *Make sure you change your login pwd* :)

I think you fixed it by updating the mongo url, and

[2018-11-30 23:24] hminaeeBrunswicknews commented on #2102
@immber

Actually right now it is connected to @fargate4-shard-00-00-d8wly.mongodb.net
How can I query the db to see if my user exist over there?

[2018-11-30 23:37] immber commented on #2102
@hminaeeBrunswicknews  I like MongoDB Compass, available here: https://www.mongodb.com/products/compass

You just connect with your connection string, and you will be able to explore and interact with the data in your mongo instance.

[2018-12-01 00:48] hminaeeBrunswicknews commented on #2102
@immber

Thanks a lot @immber

Just to double check I am going to create a new mongo cluster in atlas and test it that way.
I will get back and let you know about the result.

[2018-12-03 13:43] hminaeeBrunswicknews commented on #2102
Thanks,

It worked.
It turned out to be a caching issue.
When I try it in incognito window it works.

Thanks for your help

[2018-12-03 13:43] #2102 closed, assigned to nobody

[2018-12-03 13:55] hminaeeBrunswicknews opened #2106 "Talk on Aws ECS Fargate not working properly"
Hi support,

I set up talk on aws Ec2 and everything worked fine from admin console to SSO from web browser.
Here is the docker file I am using:

`

version: '2'
services:
  talk:
    ### image: coralproject/talk:4.5.0
    image: xxxxx.dkr.ecr.us-east-1.amazonaws.com/container-example-test:l

[2018-12-03 18:09] wyattjoh commented on #2106
That looks like you have a plugin enabled on the client, but not on the server. Check to see that `talk-plugin-profile-data` is enabled on both the client and the server, then it should clear that error.

[2018-12-03 19:14] hminaeeBrunswicknews commented on #2106
Yaaaaay worked
Thanks :)

[2018-12-03 19:14] #2106 closed, assigned to nobody

[2018-12-03 21:05] lriggle-strib opened #2107 "Question: Can plugins also listen for events?"
Is the embed stream the only thing that can actively listen for events, or can plugins do so as well? I know plugins can emit custom events, but can they also listen?

[2018-12-03 22:30] wyattjoh commented on #2107
Depends! We do have an event bus that will service some requests sent, take a look at how we internally handle notification emails: https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-notifications/server/connect.js#L33 and https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-notifications-category-reply/index.js#L180-L187

If you wanted to listen for other events,

[2018-12-04 13:56] lriggle-strib commented on #2107
@wyattjoh We are looking at listening for things like "comment posted" (which looks feasible based off that second link), the goal of which being monitoring. Ex: If we listen for comments posted, and send a metric to datadog every time one is posted, then we can monitor the number of comments posted over time and if that dips below a threshold then there might be a problem that we can get on top o

[2018-12-04 17:20] wyattjoh commented on #2107
I'd actually recommend taking a look at the plugin we wrote for Prometheus: https://github.com/coralproject/talk-plugin-prom

In this plugin, we pull out the "operation name" from each GraphQL query, and add it to the metrics, so you can listen for the "PostComment" query name in this case.

[2018-12-05 14:41] lriggle-strib commented on #2107
Awesome, thanks!

[2018-12-05 14:41] #2107 closed, assigned to nobody

[2018-12-05 19:47] hminaeeBrunswicknews opened #2108 "Creating users with moderator role"
Hi support,

We have the Talk with custom SSO plugin running.
Everything is good.
We have an admin user set up via /admin/install and couple of users created through SSO.
Here is what we have:

![image](https://user-images.githubusercontent.com/24658315/49539690-9dc41b00-f8a4-11e8-808b-e9ea11e6e061.png)

The problem now is what we should do if we need to have other accounts set as moderator.
We do

[2018-12-05 19:51] kgardnr commented on #2108
Hey @hminaeeBrunswicknews, you'll need to ask your moderators to sign up via the comment stream (so browse to any article, sign up), and then you can change their role.

You can also create them manually via the CLI: https://docs.coralproject.net/talk/configuration-cli-tools/#working-with-your-application%E2%80%99s-authentication

[2018-12-05 19:55] hminaeeBrunswicknews commented on #2108
@kgardnr

Thanks for the answer.
So if we have the SSO on, they cannot create a user with email/pass since SSO will do the job.
So does this mean that the only way left is cli?

[2018-12-05 19:57] kgardnr commented on #2108
Oh ok - so then you search for them in the Community > People tab, and change their permissions there.

[2018-12-05 19:59] hminaeeBrunswicknews commented on #2108
@kgardnr

Yeah I can find them there but in the admin page but  if they need to login they should use email/password but for SSO we do not have that since it is token based.

they look like this:

![image](https://user-images.githubusercontent.com/24658315/49540569-c9e09b80-f8a6-11e8-90c3-c2565c30050b.png)

[2018-12-06 14:30] hminaeeBrunswicknews commented on #2108
@wyattjoh  @kgardnr @immber

So the problem is when the moderators try to access the admin moderator console. The console is asking for username and password when their login method is through SSO.
How do we allow them to login to the console as moderator?

[2018-12-06 14:51] kgardnr commented on #2108
There are 2 options, you can extend your auth plugin to have a "Login with _____" button. You can check our Facebook and Google Auth plugins to see how to do that. (See screenshot attached)

Or you can have them login via the frontend and browse to the Admin, where they will be automatically logged in.

This is assuming you've given them a "Moderator" or "Admin" role in Community > People.

<img w

[2018-12-07 04:29] AbodyAmer opened #2111 "new client plugin injection"
hello talk people,

i am creating a new plugin to allow commenters to remove their comments. but i don't know where to inject my plugin

[code]
this is my component and this is the result

![asktalk](https://user-images.githubusercontent.com/29151700/49627753-7e033300-fa1b-11e8-8bf2-91242b284ff8.png)

delete button is below share button. I want to make on the left of share button. which slot shoul

[2018-12-07 10:23] BokiDzoki opened #2112 "Info-Tooltip always visible on recommended posts"
cc @hjanuschka

Greetings!

As it seems there is a bug, blocking part of the visible area of recommended posts on mobile devices by casting the help-tooltip without a click on the information-button.

#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
Filter by recomended posts by selecting the corresponding tab on a mobile device.

#### Actual outcome:
The

[2018-12-07 17:16] lriggle-strib opened #2113 "Question: Logout url?"
Is there an explicit URL (or query parameter) that will log the current user out of the admin whenever it is navigated to? I know there is a logout link in the gear dropdown, but it doesn't seem to be tied to a unique URL. I'm trying to implement an auth plugin for admin users w/ `passport-saml`, since that's what we use for SSO here, and it wants logout information.

Example: Talkurl.com/admin/lo

[2018-12-10 15:04] takeit commented on #1973
I'm getting the same error: `Uncaught (in promise) TypeError: Cannot read property 'fields' of undefined`. Coral Talk 4.6.0. Any idea how to workaround this?

[2018-12-10 15:59] hminaeeBrunswicknews commented on #2108
@kgardnr

If I add google plugin authentication,
 is it possible to just add it in the admin console and not the client where we insert the <script> code?
Or if we add it it is gonna be shown in both places?

[2018-12-10 18:06] wyattjoh commented on #1973
My best guess is that there is some document in your database that's causing the bug, because from a fresh install, with the exact `plugins.json` and `docker-compose.yml` file, our team is unable to reproduce the error you're experiencing.

Can you test with a fresh install if the error is occurring?

[2018-12-11 10:16] takeit commented on #1973
Sure @wyattjoh, we will try that. We imported users and assets (without comments) from 3rd party system using https://github.com/coralproject/talk-importer. In the Talk admin panel, everything loads properly. Is there a way to find out which documents make problems?

We will try with fresh install and step by step check when it fails to load the embed. Thanks.

[2018-12-14 14:35] takeit commented on #1973
FYI: We've managed to solve the issue by changing the node version from v8.12.0 to v8.9.0.

[2018-12-17 10:27] BokiDzoki opened #2129 "Accept/Reject Buttons vanish with longer strings/urls"
Greetings!

#### Do you want to request a **feature** or report a **bug**?
bug

#### Actual outcome:
when posts are premoderated the accept/reject buttons can move out of the visible area, if words with a high character count are used (usually urls). It seems the behavior is related to the fact, that longer concatenated strings are not broken into the next line.
![image](https://user-images.github

[2018-12-17 10:28] BokiDzoki commented on #2129
cc
@hjanuschka

[2018-12-17 10:57] oafx commented on #2129
I opened a PR to fix that one recently; #2128

[2018-12-17 15:43] oafx opened #2131 "Feature Idea: Pre-Mod Schedule"
Hi,

#### Do you want to request a **feature** or report a **bug**?

**feature**

#### Intended outcome:

When introducing/testing Talk it's hard to always have the human ressources to monitor Talk off-hours, editors and mods need their time off/sleep 😄 . Most of the time we're having pre-mod deactivated but on weekends our mods have decided to switch pre-mod on as they can't gurantee to be availa

[2018-12-18 21:54] sealionking opened #2134 "google js blocked in china"
noticed that when open talk without vpn, google js cannot be loaded.

any way to avoid? since many users has no vpn.

[2018-12-19 20:49] immber commented on #2129
Fix was released in v 4.6.11, closing this issue.

[2018-12-19 20:50] #2129 closed, assigned to nobody

[2018-12-19 23:00] immber commented on #2113
@lriggle-strib The sign out button triggers logout through the api by making a `DELETE` request to `/api/v1/auth` there is no logout url. The delete request contains the user's cookie to identify the session being terminated, and the response sends an expired `authorization=` cookie back to the user.

[2018-12-20 22:02] campaignupgrade opened #2137 "Implications of running in NODE_ENV=development"
I can't find NODE_ENV defined in any one place in the docs, but references to it are scattered in several locations — what are the implications of running in NODE_ENV=development?

I did read that it allows for http access. We're considering running in HTTP and using CloudFlare as the HTTPS proxy, but to do that we expect we'll need Talk to run locally in HTTP.

Otherwise we can spin up an nginx i

[2018-12-21 16:23] kgardnr commented on #2137
Hey @slamorte, this isn't a Talk specific variable, but a Node one, you can read about it here: https://stackoverflow.com/questions/16978256/what-is-node-env-in-express

[2018-12-21 16:24] kgardnr commented on #2137
Also, Talk does require https in production, so you'll need to use something Cloudflare. Locally when you run in development, it doesn't require https.

[2018-12-21 16:25] kgardnr commented on #2134
@sealionking thank you for alerting us to this! Can you explain more what you mean by "google js"? What kind of error(s) are you seeing?

[2018-12-21 16:29] wyattjoh commented on #2137
We strongly recommend running Talk in production mode always. Talk does not serve SSL certificates, but it does send HSTS headers as well as expect that the request is over TLS. So it does trust the forwarded protocol headers to infer that, which Cloudflare does send. Running Talk in development mode will turn off many performance improvements.

[2018-12-23 23:32] jqueryisamonad commented on #2112
This issue is related to `onMouseEnter` event (triggered by hover on a tab) which works on mobile like a toggle. One possible solution is to show tooltip only on `info-icon` hover but hover area will be very small for the mobile users' convenience

[2018-12-25 07:45] StevenYuysy opened #2140 "unique identifier get the comment list"
#### Do you want to request a **feature** or report a **bug**?

bug, maybe not.

#### Intended outcome:

I want to pull a list of comments with a unique identifier instead of assets url, because my url will change as the title of the article changes. I am not sure if there are other ways to help me achieve my goal.

#### Actual outcome:

every time url changes and comment list was "lost" on the fr

[2018-12-25 10:23] oafx commented on #2140
Hi @StevenYuysy

there is a plugin for that purpose: https://github.com/coralproject/talk-plugin-custom-asset-id

and i think these docs might be helpful:

https://docs.coralproject.net/talk/integrating/cms-integration/

if you enable the plugin mentioned above it should be sufficient to modify your embed code like described on the bottom of the page:

[code]

hope this helps!
Chris

[2018-12-26 10:28] StevenYuysy commented on #2140
Thx, it works perfectly!

[2018-12-26 10:28] #2140 closed, assigned to nobody

[2018-12-27 05:44] gerardogalvez opened #2141 "Typos in spanish translations"
#### Do you want to request a **feature** or report a **bug**?
Bug.

#### Intended outcome:

- Correct translations in for filter_users.
- Suspended and Banned have the same translations ("Suspendido") and they seem to be two different things.
- moderator isn't translated.

#### Actual outcome:

![image](https://user-images.githubusercontent.com/8509232/50467148-2e9f8b00-0967-11e9-8a88-7a33a11701b

[2019-01-01 20:00] gerardogalvez commented on #2030
@vipulbhj are you looking into this? If not, can I take it?

[2019-01-02 04:12] vipulbhj commented on #2030
Actually I am not at the moment. So you can take it

[2019-01-04 18:09] lriggle-strib opened #2143 ""Load More" in People tab does not apply filter to returned results"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
After filtering users by role, clicking "Load More" should display more users of that role

#### Actual outcome:
After filtering users by role, clicking "Load More" does not display more users of that role, it displays users of any role.

#### How to reproduce the issue:
1. Filtered all people so only Admini

[2019-01-04 19:05] lriggle-strib commented on #2108
@hminaeeBrunswicknews We also have SSO set up on our application for front-end users. What we ended up doing when adding new moderators was:
1. Log into the main website and browse to a page with the commenting interface on it
   - This creates them in the Talk application
2. An admin finds them in the Talk admin interface and promotes them to moderator.
3. New moderator goes to the Talk admin int

[2019-01-04 19:24] immber commented on #2108
@hminaeeBrunswicknews If you add the google auth plugin, the default behavior is that it would be shown in both places. However if you're already creating users with SSO and just need a way for them to log in, I don't think adding the google plugin will be helpful for you.

@kgardnr  was suggesting that you could implement a custom SSO integration that would give you a "log in with ___" that would

[2019-01-04 19:30] lriggle-strib commented on #2108
We did remove the talk auth plugins, so that makes sense. All user creation on our end is silent as long as the user is logged into our main website.

[2019-01-04 19:37] immber commented on #2143
This looks related to a similar bug ticket we have open for an issue with the Assets (Stories) page pagination. I've added a note to that bug ticket to investigate this at the same time. https://www.pivotaltracker.com/story/show/162740247

[2019-01-07 15:47] lriggle-strib opened #2146 "Question: What does "Internal Error" mean?"
## Description
Bugsnag is receiving a bunch of exceptions from the GraphQL API that just read "Internal Error". In this particular situation I think it is related to whether or not an asset exists, but since the message is extremely generic it is hard to be certain.

<img width="1380" alt="screen shot 2019-01-07 at 9 37 15 am" src="https://user-images.githubusercontent.com/7051012/50777206-96f0458

[2019-01-07 15:54] lriggle-strib commented on #2113
Thanks @immber!

[2019-01-07 15:54] #2113 closed, assigned to nobody

[2019-01-07 16:59] wyattjoh commented on #2146
When you see an internal error like that, it's because an error occurred that was designated "sensitive". You can take the uuid that's presented there (the `33f...17`) and search your logs for it, as a stack trace will be associated with that particular error.

[2019-01-07 17:52] lriggle-strib commented on #2146
@wyattjoh I'm confused as to why "I can't find an asset to get a comment count for" would be considered sensitive, considering the query itself doesn't require a login and therefore the data is open to the public.

Where is "sensitivity" determined? Is there a way to adjust it?

[2019-01-07 18:43] lriggle-strib commented on #2146
@wyattjoh Additionally, what's really unusual is that the bugsnag reporting within Talk (via plugin) is not catching any of these "internal error" messages and passing them along. Shouldn't that end at least catch it?

How we're reporting to bugsnag: https://github.com/coralproject/talk/issues/2000#issuecomment-430386406

[2019-01-08 08:45] j-norwood-young commented on #1914
I was still struggling with this issue despite it being marked as "closed". I fixed it with the following CSS:
[code]

[2019-01-08 18:47] wyattjoh commented on #2146
I don't think that retrieving the comment count via this method would be "protected", but it depends on what error is actually occurring. Did you see what error was referenced on the server?

Sensitivity can not be adjusted, as it's a feature baked into the core product.

Related to some messages not being reported properly through bugsnag, it's tricky. Depending on the type of error, Talk v4 has

[2019-01-08 19:52] lriggle-strib commented on #2146
@wyattjoh When I run the query through postman on my local environment (i.e. not a production environment), here is the error that is generated:

[code]

I will keep an eye out for places where logger can be integrated, though I'm not sure about the best way to go about integrating it. It looks like all GraphQL errors are handled via this file: https://github.com/coralproject/talk/blob/master/grap

[2019-01-08 19:55] lriggle-strib commented on #2146
@wyattjoh As an alternative, is there a baked in way to query the existence of an asset before trying to query data about it? Something that won't return an error if the asset doesn't exist, basically. If not I can try and get a research ticket added to our local roadmap over here.

[2019-01-08 20:58] lriggle-strib opened #2147 "Bug: NODE_ENV value in .env file ignored"
#### Do you want to request a **feature** or report a **bug**?
bug

#### Intended outcome:
NODE_ENV to have the value specified in my .env file (or docker-compose or wherever a user is specifying their environment variables)

#### Actual outcome:
NODE_ENV has a value specified in:
* the yarn command used to run the application
* the Dockerfile pulled in from Github

#### How to reproduce the issue

[2019-01-08 23:22] wyattjoh commented on #2147
This is by design. We wanted to make it "difficult" to deploy the application in development mode in environments like Docker.

You can see in our `package.json` file:

https://github.com/coralproject/talk/blob/dd0601a80132d2849c53ef7eaf12ff382f3920b9/package.json#L13-L14

That you can change the start behavior using `yarn start` or `yarn start:development`. If you want to change how this works by

[2019-01-09 21:17] oafx opened #2149 "User role isn't updated/inconsistent on comments"
Hi,

#### Do you want to request a **feature** or report a **bug**?

Bug, probably?
#### Intended outcome:

When changing the user role to staff i expect every comment that was posted by the user to show the staff badge.

#### Actual outcome:

The user badge is only displayed for comments created after changing the role, old comments, created prior to the role change, aren't updated.. this could r

[2019-01-09 21:20] kgardnr commented on #2149
Hey Chris (@oafx), this is actually by design! If someone makes comments when they are not a staff member, and then become a staff member, we want to ensure that's clear. Because news orgs often have staff come and go, and still be active community members, we feel like this is an especially important delineation.

[2019-01-09 21:22] oafx commented on #2147
Hi, maybe it's worth mentioning that changing the docker command to something that depends on the devDependencies of the package.json will result in a failing container as the images are built without devDependencies. Stumbled over this a bit ago, if i recall correctly.

[2019-01-09 21:24] #2149 closed, assigned to nobody

[2019-01-09 21:25] kgardnr commented on #2141
Hi @gerardogalvez! Would you like to contribute the corrections for these in a PR? We'd love it if you would!

[2019-01-09 21:27] kgardnr commented on #2111
Hi @AbodyAmer! You'll need to override the existing CSS to make this work. You can read more here: https://docs.coralproject.net/talk/integrating/styling-css/

[2019-01-09 21:27] #2111 closed, assigned to nobody

[2019-01-09 21:35] wyattjoh commented on #2147
Great point @oafx. If that's the case, you'll also have to ensure that you install the full set of dependencies as a separate step. You can always create your own `Dockerfile` based off of the `coralproject/talk:4` image which would allow you to install the dependencies for development:

[code]

[2019-01-10 15:22] #2147 closed, assigned to nobody

[2019-01-10 21:07] losowsky opened #2150 "Feature idea: Remove comments with links that are on Google's Safe Browsing malware list"
#### Do you want to request a **feature** or report a **bug**?

feature

#### Intended outcome:
Test shared links in comments against Google Safe Browsing API https://developers.google.com/safe-browsing/

#### Actual outcome:
If anyone tries to share a link that is on a domain in Google's Safe Browsing list, it auto-rejects the comment or auto-reports it so that moderators can see who is trying to

[2019-01-11 03:54] mkonikov commented on #1927
Hey @kgardnr - I encounter this consistently on iOS. Maybe we can reopen and investigate there?
Possibly related to other click event handler issues that previously were reported and fixed on iPad?

[2019-01-11 04:05] mkonikov commented on #2140
This is awesome! Gotta check it out

[2019-01-11 14:48] kgardnr commented on #1927
Thanks @mkonikov! Is there any chance you could take a stab submitting a fix for this?

[2019-01-11 15:58] mkonikov commented on #1927
I'll bring it up at our next grooming meeting and see if we can fit in an upcoming sprint. Thanks @kgardnr!

[2019-01-16 19:18] lriggle-strib commented on #2146
@wyattjoh

[2019-01-16 20:01] wyattjoh commented on #2146
You can query based on the ID of the Asset, but the default behavior of the Asset resolver in v4 is to create/retrieve it. You can override the `Query.asset` resolver if you want to change this behavior!

[2019-01-16 20:37] immber opened #2156 "Supporting multiple site languages"
#### Coral Community Question
This question was originally submitted to our Coral Community forum, but could better be answered here:

[2019-01-16 20:42] immber commented on #2156
Talk supports selecting a single "default" language and has been translated into many languages.

Here's some documentation on that:

#### how to set the default language
https://docs.coralproject.net/talk/integrating/translations-i18n/

#### locales/languages supported by Talk
https://github.com/coralproject/talk/tree/master/locales

Talk does not currently support using different languages on di

[2019-01-17 05:30] clintabrown opened #2158 "Admin Stories /api/v1/assets request returns 500 error for large JSON response sizes"
#### Do you want to request a **feature** or report a **bug**?

Bug

#### Intended outcome:

In Talk admin load all assets in the Stories tab

#### Actual outcome:

In our Talk environment (75,000+ assets) upon load of the Stories tab in Talk admin the following GraphQL request returns a `500` error response -

/api/v1/assets?value=&asc=false&filter=all&limit=undefined

After testing this request

[2019-01-17 18:31] #2146 closed, assigned to nobody

[2019-01-18 22:10] wyattjoh commented on #2158
It is a known issue that the Stories tab is... unwieldy with large lists. We are planning on directly addressing this in Talk v5, but are currently unsure as to the status of resolving this for v4. We'll get back on the status of this soon.

If you are pointing out the specific endpoint as you'd like to use it in API requests, there is a `Query.assets` GraphQL edge you can query against that shoul

[2019-01-20 22:58] clintabrown commented on #2158
Thanks for the update @wyattjoh - (as search is working) this isn't really impacting our moderators at all.

[2019-01-21 22:17] mkonikov commented on #2158
This does seem to be a regression - as it was working fine as recently as in version 4.4.3.

[2019-01-22 12:33] tomascrespo opened #2160 "No way to enable facebook plugin"
### Expected behavior

We should be able to login via Facebook

### Actual behavior
![imagen](https://user-images.githubusercontent.com/3028295/51535237-2a706b80-1e48-11e9-82ce-8a8286f65b8f.png)
url of this window is  `https://www.facebook.com/dialog/oauth?display=popup&auth_type=rerequest&response_type=code&redirect_uri=https%3A%2F%2Ftalk.tomascrespo.com%2Fapi%2Fv1%2Fauth%2Ffacebook%2Fcallback&sc

[2019-01-23 05:54] mkonikov opened #2162 "YAML issues adding new RTL language"
Hey!

So as a pet project of mine, I spent time translating Coral for a new language - Hebrew.

I've finally got all the translations in there - as you can see on a branch here: https://github.com/coralproject/talk/compare/master...mkonikov:hebrew

I'm now encountering issues when trying to build with `yarn build` such as this one:

[code]

Nothing seems off about this YML line so not quite sure w

[2019-01-23 10:22] ghost opened #2164 "Enable support for injecting js, e.g., Mathjax or Katex"
Hi,

First off, thanks for this project.

#### Do you want to request a **feature** or report a **bug**?
Feature.

#### Intended outcome:
I am trying to use Coral Talk on my website, and am anticipating people using latex in their comments. I would like to be able to include mathjax or katex script in the Talk subdomain iframe, so that math in the comments is properly rendered. Including the scrip

[2019-01-23 14:00] kgardnr commented on #2162
Hey @mkonikov! Wow, thank you so much for this - we're so excited to add Hebrew!!

We will look into this error for you!

[2019-01-23 14:58] kgardnr commented on #2160
Hey @tomascrespo, you'll need to set the Redirect URI to be:
`https://talk.tomascrespo.com/api/v1/auth/facebook/callback`

[2019-01-23 14:58] #2160 closed, assigned to nobody

[2019-01-23 15:00] kgardnr commented on #2164
Thank you @fosshelper for your kind words! This sounds like a unique use case, and would probably be best suited to be a plugin (probably an adaptation of our `talk-plugin-rich-text`). If you'd like to take this on, you can host this on your own repo and let us know and we can help you with code reviews/questions.

Thank you again!

[2019-01-23 19:46] tomascrespo commented on #2160
Perfect! I worked!
I should know that, sorry
In your docs, in google auth plugin is specified the Redirect UI. In facebook auth plugin documentation doesn't say anything about Redirect URI.

Thanks Kim

[2019-01-24 10:23] ghost commented on #2164
Thanks for considering. I might take this on, but probably after a while (website is still in infancy and busy with other work at the moment). In particular, if you already have a plugin for similar functionality, it shouldn't be too difficult.

[2019-01-24 18:10] wyattjoh commented on #2162
Found the issue @mkonikov!

Take a look here:

https://github.com/coralproject/talk/compare/master...mkonikov:hebrew#diff-bbce3306fd2cbce22b2debd9e239ec6eR431

You need to escape that `"` inside the translation, and that should fix it!

[2019-01-24 18:13] wyattjoh commented on #2158
When you experience the `500` error @clintabrown, what error was logged by the server?

[2019-01-24 18:57] mkonikov commented on #2162
Sorry @wyattjoh the link doesn't seem to be working for me:
![image](https://user-images.githubusercontent.com/7562285/51701686-f465ef80-1fdf-11e9-9a73-ab0ed81c0ee8.png)

[2019-01-24 20:25] wyattjoh commented on #2162
Try this one:

https://github.com/mkonikov/talk/blob/fa42c028dfba924679ae3ebb15599c938462824a/plugins/talk-plugin-profile-data/client/translations.yml#L157

Essentially, double check that any `"` inside a string is properly escaped with a `\`.

[2019-01-25 03:36] mkonikov commented on #2162
@wyattjoh I believe I removed all the `"` and still no luck.
Also - are unescaped `"` and issue when enclosed within strings marked with `'`?

[2019-01-25 18:04] wyattjoh commented on #2162
@mkonikov I was able to clone your repo (https://github.com/mkonikov/talk) and it built successfully, what error are you getting?

[2019-01-26 00:55] campaignupgrade commented on #2137
Thanks for the info. We ended up running in production mode and handling HTTPS on the production server as per your recommendations.

[2019-01-26 00:55] #2137 closed, assigned to nobody

[2019-01-26 00:56] #2074 closed, assigned to nobody

[2019-01-27 02:41] mkonikov commented on #2162
Actually does seem to all be in working order now. Will open PR now.

Thanks @wyattjoh!

[2019-01-27 02:41] #2162 closed, assigned to kgardnr

[2019-01-27 02:55] mkonikov opened #2166 "Text Direction for RTL languages (CSS)"
Currently for RTL languages (believe Arabic is currently the only one), text is not specifically set to RTL in the styling. This causes issues when a line includes a mix of both the for language and english/Latin ABC, such as this:
[code]

Ideally, there should be some way to apply `direction: rtl;` for defined languages that are RTL.

May take a stab at implementing if you have ideas on best way

[2019-01-28 08:36] StevenYuysy opened #2167 "auto login/register with custom user"
#### Do you want to request a **feature** or report a **bug**?

neither

#### Intended outcome:

user auto register (if not register) and login when user login in our site.

#### Actual outcome:

user need to click button with oAuth popup window to sign in.

#### How to reproduce the issue:

#### Version and environment

4.7.0

I thought I can write a plugin which expose a router for my site appli

[2019-01-28 22:57] immber commented on #2167
@StevenYuysy For SSO integrations with an external auth systems, it works the other way around. The external auth provider signs and sends an Auth token to Talk which Talk validates and uses to create and/or login a user.
If your external auth provider is already capable of auto registration then you'd want to maintain that user experience by creating and logging in the user through your auth syst

[2019-01-29 00:02] immber commented on #2143
May be related to #2158, which is also reported as being and issue with Assets, but could be hitting the same issue of query missing limit.

[2019-01-29 03:39] StevenYuysy commented on #2167
how can I get this valid token, by writing a plugin and exposing a router for auth systems ?

[2019-01-30 10:42] freder opened #2169 "Requesting comments by `author_id` returns too much"
#### Do you want to request a **feature** or report a **bug**?

bug

#### Intended outcome:
I want to get all comments by a specific user, using the graphql API.

#### Actual outcome:
query seems to ignore `author_id` and return _all_ comments.

#### How to reproduce the issue:
[code]

![image](https://user-images.githubusercontent.com/724844/51976051-0a622d00-2484-11e9-9148-e8617488587e.png)

###

[2019-01-30 12:20] freder commented on #2169
**update:** the above request was made as a _~commenter~ admin_. using this user's id as `author_id`, works as expected. however, when using any other value, _all_ comments are returned.

---

I'm not super familiar with the codebase. what happens, when https://github.com/coralproject/talk/blob/master/graph/loaders/comments.js#L394 is not the case?

[2019-01-30 18:29] wyattjoh commented on #2169
Great question!

It's by design that only administrative users can retrieve comments written by a specific users. If you want to perform those queries, it must be done with an admin token, otherwise the `author_id` filter won't be applied.

[2019-01-30 18:56] immber commented on #2167
You'd need to create a service in your existing auth system to generate and send the token to Talk. This process is outlined in our documentation here: https://docs.coralproject.net/talk/integrating/authentication/#custom-token-integration

[2019-01-31 00:42] mkonikov opened #2171 "Snackbar too short for longer messages"
We're finding for some of the Snackbar messaging, we'd like to extend the length of time the Snackbar appears on screen.

Wondering the teams thoughts on adding a small close (X) button and extending it a bit longer.

[2019-01-31 10:45] skolhustick commented on #2156
We had this issue, and decided to host Talk on two separate instances. Both instances were parked under different subdomains. For e.g, talk.xxxxx.com, and talkzh.xxxxx.com (this would be for the ZH_CN ) version of Talk. For the ZH instance, we have a different .env, which only allows ZH_CN. This way, we have multiple languages on the same site.

In our article site, we make sure the ZH articles ca

[2019-01-31 11:58] eshwarenm opened #2172 "Change Default Stream Sort"
Hi Team!

How do I change the default sorting order for the stream?
For some reason, we need to have 'Oldest First' as the default.
If no, is there a way to persist user's sorting preferences?

Thanks!

[2019-01-31 14:07] kgardnr commented on #2172
Hey @eshwarenm, you can't change the default sorting order, but you can enable `talk-plugin-remember-sort` and it will persist the user's sorting choice.

Where are you going to be using Talk? We'd love to see it!

[2019-01-31 14:08] kgardnr commented on #2171
Hey @mkonikov! I don't think we'd have any problem if you wanted to do this in core - I think it's a good idea to extend the display time and adding an X.

[2019-01-31 18:10] freder commented on #2169
I see. thanks @wyattjoh

[2019-01-31 18:10] #2169 closed, assigned to nobody

[2019-02-01 01:37] eshwarenm commented on #2172
@kgardnr Oh! How did I miss that! Very convenient. Thanks for the swift reply.

We have recently launched Talk on our site, www.malaysiakini.com. Malaysiakini is an independent online news portal in Malaysia. You can see Talk in action on our English and Chinese articles. But only paid subscribers would be able to comment.

Our subscribers are loving the their new comment system, which is a great

[2019-02-01 03:49] #2172 closed, assigned to nobody

[2019-02-01 06:02] clintabrown commented on #2158
@wyattjoh Very sorry for the delay getting back, I believe this is the error logged -

`{"name":"talk","version":"4.6.11","revision":"08f579225b13e4d0c41367ca262ff097d416a76a","hostname":"wtilt-talk-69b59878bc-hcp98","pid":27,"level":50,"err":{"message":"Executor error during find command: OperationFailed: Sort operation used more than the maximum 33554432 bytes of RAM. Add an index, or specify a

[2019-02-01 16:21] kgardnr commented on #2172
Wow, awesome @eshwarenm! So happy to have you on board using Talk!

[2019-02-01 19:07] wyattjoh commented on #2158
We might be able to "improve" this operation by adding some indexes... I've created #2174 to address this, let me know if you're able to test that out @clintabrown!

[2019-02-03 01:35] StevenYuysy commented on #2167
Great! I tried set auth token to local storage and figure out it is not work on safari, after changing it to talk render function, it works crossing different browsers.

[2019-02-03 01:35] #2167 closed, assigned to nobody

[2019-02-03 03:53] kaichristiansen commented on #1720
Sorry, not sure if I should open a new issue or comment here as it is perfectly relevant to this thread:

I am having the same issue but I have installed the plugin which I can see in the node_modules folder inside the talk docker container installation. When I test this locally, I get a "Graph QL: error: Internal Error" popup at the bottom of the viewport and then a spinning waiter in the blank c

[2019-02-03 04:08] kaichristiansen opened #2176 "Passing asset_id to Coral.Talk.render() hangs"
I am having a similar issue to this older closed issue. I commented there and maybe should reopen that? Not sure of the best protocol. https://github.com/coralproject/talk/issues/1720

I am trying to pass an asset_id to the render method and it hangs.I have installed the plugin which I can see in the node_modules folder inside the talk docker container installation. When I test this locally, I get

[2019-02-03 23:02] clintabrown commented on #2158
Thanks @wyattjoh! Just tried applying the indexes and can confirm these requests now return `200` status -

<img width="1680" alt="production - stories asset graphql queries" src="https://user-images.githubusercontent.com/1551632/52184161-dd3ac380-2863-11e9-868a-0561fe40f799.png">

[2019-02-04 21:15] wyattjoh commented on #2176
What does the logs referencing the internal error show?

[2019-02-04 21:16] wyattjoh commented on #2158
Wonderful! As soon as we get that merged, it'll auto-close this issue.

[2019-02-05 14:27] mkonikov commented on #1927
With #2159 merged in, I think we can close.

[2019-02-05 21:06] #2158 closed, assigned to nobody

[2019-02-05 21:17] kgardnr commented on #2143
Fixed in https://github.com/coralproject/talk/pull/2174 @lriggle-strib!

[2019-02-05 21:18] #1927 closed, assigned to nobody

[2019-02-09 06:15] kaichristiansen commented on #2176
I am not sure which logs you are referring to. I checked the docker logs for the talk container and nothing out of the ordinary. The error message appears in the browser in a black div at the bottom of the view point. Can you point me to a relevant log? Thanks.

[2019-02-09 06:21] kaichristiansen opened #2188 "Implementing tokenUserNotFound for custom authentication: comment stream does not appear"
I have implemented a very simple tokenUserNotFound method based on the documentation. It simply takes the relevant values from the token (jwt argument) and returns them as a profile object. (That is, I am not yet bothering to do a real service call to my external database). A new record is properly inserted in mongoDB the first time, but the commenting widget just "hangs". There is no specific err

[2019-02-11 18:19] immber opened #2190 "Test issue"
This issue is a test and only a test. If a real issue had occurred I would have been notified.

[2019-02-11 18:37] immber commented on #2190
This was a test! It was only a test!

[2019-02-11 18:37] #2190 closed, assigned to nobody

[2019-02-12 09:51] kaichristiansen commented on #2188
Per an email from support about using a custom auth plugin such as this, I have disabled ALL OTHER plugins that I had active (e.g. I had started from the onbuild image and used the plugins.default file as the initial set). So, the ONLY plugin that is enabled in mine, with this tokenUserNotFound method. I had asked about how to get the email associated as well and, per support, added the email prop

[2019-02-13 21:36] immber commented on #2188
The error **"GraphGL error: Cannot return null for non-nullable field UsernameStatus.status"** is caused by a failure to set  `UsernameStatus.status`. It's recommended in our doc's to use upsertExternalUser for custom SSO integrations as that method automatically handles the username status.

For reference, details about what is triggering the UsernameStatus error can be found here: https://docs.c

[2019-02-13 21:49] immber commented on #2176
@kaichristiansen The `talk-plugin-custom-asset-id` plugin isn't included with the base distribution of Talk, but is available as a separate open source plugin. How have added the plugin to Talk? Are you using docker onbuild to include it as an external plugin?

[2019-02-13 21:50] immber commented on #1720
I've replied on the new issue. Keeping this closed as the new issue is a different issue.

[2019-02-13 22:31] kaichristiansen commented on #2176
Yes. I have included it. I am using the docker onbuild image and including it as a server plugin.

[2019-02-13 23:03] kaichristiansen commented on #2176
Ah. I think I found the problem. The doc for the plugin on git (https://github.com/coralproject/talk-plugin-custom-asset-id)  shows adding the plugin with a line like this:

{"@coralproject/talk-plugin-custom-asset-id": "^1.1.0"}

which works for installing the plugin but does not work at runtime.  I changed it to:

"talk-plugin-custom-asset-id",

and then installed the plugin directly using git c

[2019-02-13 23:03] #2176 closed, assigned to nobody

[2019-02-17 22:13] gerardogalvez commented on #2030
@kgardnr I think this issue can be closed now that #2145 is merged.

[2019-02-18 11:01] brocawernicke opened #2198 "container build error with 4.7-onbuild"
#### Do you want to request a **feature** or report a **bug**?
bug or question

#### Intended outcome:

tried to build docker container image with 4.7-onbuild tag.

#### Actual outcome:

Step 1/1 : RUN cli plugins reconcile &&             yarn &&             yarn build &&             yarn cache clean
 ---> Running in 21969ba69a86

['1/2'] 🔍 Reconciling plugins...

 +local     (l)  packages in your

[2019-02-18 23:42] brocawernicke commented on #2198
I just tried to follow build instruction on https://docs.coralproject.net/talk/installation-from-docker/, but I got the same error.

**Dockerfile**:
  _FROM coralproject/talk:4.5-onbuild_

**shell**:
  _docker build -t my-talk-image --build-arg TALK_DEFAULT_LANG=es ._

[2019-02-19 04:35] brocawernicke commented on #2198
I just make it work by building from source code. thanks.

[2019-02-19 04:35] #2198 closed, assigned to nobody

[2019-02-19 15:58] lriggle-strib commented on #2143
Thanks @kgardnr!

[2019-02-20 07:59] j-norwood-young opened #2199 "Feature Idea: Comment action history"
We would like to be able to see the history of actions taken on a comment, specifically who approved or rejected the comment. These data seem to be in the `actions` collection.

[2019-02-22 13:01] tomaszrondio opened #2200 "list of events embed can listen to?"
is there a list of events coral embed can listen to?
 eg:
`coralEmbed.on('query.CoralEmbedStream_Embed.ready', ...)`

To be more specific. I need to listen to user login/logout events. But in general it would be nice to see all possibilities.

[2019-02-25 16:58] wyattjoh commented on #2199
Hi @j-norwood-young! We actually have that planned and currently implemented in the `next` branch of Talk that's planned to be released as v5!

[2019-02-25 16:58] #2199 closed, assigned to nobody

[2019-02-25 17:03] #2030 closed, assigned to nobody

[2019-02-25 20:17] jpcors opened #2202 "tokenUserNotFound: unable to logout"
After logging out and refreshing the page, It appears I'm logged backed in. When I try to comment I get the error "You are not authorized to perform this action".

[code]

plugins
[code]

[2019-02-25 22:33] #2141 closed, assigned to nobody

[2019-02-25 22:35] kgardnr commented on #2166
I'm going to tag @cvle here, as he was going to look into some possible solutions for this.

[2019-02-26 16:48] #2156 closed, assigned to nobody

[2019-02-26 20:11] #2202 closed, assigned to nobody

[2019-02-26 22:30] dudeman opened #2207 "What's the recommended development setup?"
Thanks for the great work on this project, we would love to get our development environment running smoother so we can contribute and take advantage of all the latest work that's been contributed.

We're having trouble figuring out the best development setup for talk, and it feels like we're missing something.

Using the -onbulid dockerfile, plugins reconcile, but then when talk starts in the cont

[2019-02-27 11:29] tomascrespo opened #2208 "`TALK_SMTP_FROM_ADDRESS` configuration"
In [documentation ](https://docs.coralproject.net/talk/advanced-configuration/) put this example of SMTP configuration:

`TALK_SMTP_FROM_ADDRESS="The Coral Project" <support@coralproject.net>`

However if I use that format like this:
`TALK_SMTP_FROM_ADDRESS="Verde Pistacho" <comentariosverdepistacho@gmail.com>`

I get this error
[code]

But if I use any of these two formats, sending emails works p

[2019-02-27 14:10] tomascrespo opened #2209 "Email notify on reply enabled by default"
Is there any way to enable notification emails by default?

A configuration option in .env for that will be a good idea, or a option in admin panel to enable notifications manually for each registered user

[2019-02-28 22:12] mazzi commented on #1918
Hi @kgardnr @wyattjoh !
Some questions about this bug/gap:
* How many Administrators can exist per talk installation? Assuming more than one, the expected behavior then is that administrators cannot ban _any_ administrator or only himself?
* An administrator cannot do any action on the user detail drawer  (`/admin/moderate/`) to himself but to the rest of the users with comments. That's correct?
*

[2019-03-01 16:59] wyattjoh commented on #2209
Unfortunately, without forking the plugin related to that particular notification type, no.

We've taken quite a principled stance on opt-in for these types of notifications as they could unintentionally be used as tools for harassment.

Another possible solution could be using our GraphQL API to toggle the setting based on some user feedback if you're integrating Talk into an existing user manage

[2019-03-01 18:34] #2034 closed, assigned to cvle

[2019-03-05 04:08] mkonikov commented on #2171
With https://github.com/coralproject/talk/pull/2182 merged in, will close now.

[2019-03-05 04:08] #2171 closed, assigned to nobody

[2019-03-05 13:29] juhaniahola opened #2214 "Feature Idea: Add list for most commented assets, sorted by publication_date in API"
Would it be a viable feature to implement possibility to request such list from the api?

This wouldn't probably be necessary to be implemented anywhere in Talks front-end but for the purpose of the using site, so we could show the list of most commented assets within a time period by using Talks own api instead of making our own.

Sorting the assets by created_at key won't work in this case, as a

[2019-03-05 16:42] wyattjoh commented on #2214
Unfortunately, this feature is not very easy to accomplish in version 4 of Talk, as we don't store the number of comments on each of the Assets, it would involve some pretty expensive aggregation operations.

We do however have this possible in version 5, and will keep it in mind during the development.

[2019-03-06 03:52] mkonikov commented on #2214
Cool. What is the rough timeline for v5?

[2019-03-06 16:47] wyattjoh commented on #2214
We're aiming to have a beta available by the end of March @mkonikov.

[2019-03-06 19:58] wyattjoh opened #2215 "Google+ API Shutdown"
This issue is being created to track the issue in an upstream repository we're using related to the [Google+ API Shutdown](https://developers.google.com/+/api-shutdown): https://github.com/mstade/passport-google-oauth2/pull/15

Once this PR is merged and a new version of published, we will release a new bug release of Talk that will upgrade this particular package.

We don't expect it to affect ex

[2019-03-06 23:51] mstade commented on #2215
FWIW – the PR was merged and v0.2.0 of the library published to npm.

[2019-03-07 01:12] #2215 closed, assigned to nobody

[2019-03-11 19:03] losowsky commented on #2108
@hminaeeBrunswicknews Hey Hamed - do you have all you need? Are you looking to go live at any point soon?

[2019-03-14 14:17] mkonikov commented on #2143
Hey @immber -

I'm still finding this to be an issue in v4.8.0

[2019-03-14 17:07] immber commented on #2143
@kgardnr You closed this as fixed in #2174, however that PR only addressed the issue on the Stories view, I believe this is still an issue on the People tab, so I'm re-opening. We might need to apply the same or similar fixes to Users as were done to Assets.

[2019-03-14 17:41] kgardnr commented on #2143
Thanks @immber!

@mkonikov and/or @lriggle-strib would you mind submitting a fix for this potentially? Our team is heads down on v5 the next few weeks so it would really help us out if you could!

[2019-03-15 18:07] #2207 closed, assigned to nobody

[2019-03-18 20:28] lriggle-strib opened #2230 ""Failed login" settings"
## Description
I'm trying to find settings around handling failed login attempts to the moderator tool. Specifically I'd like to know how to set the number of attempts, how long the user has to wait, and where an admin can go to end the wait prematurely.

I'm not able to find any information about that in the docs or the interface. We're currently on 4.6.5.

![image](https://user-images.githubuser

[2019-03-18 22:01] wyattjoh commented on #2230
A bit confusing, but it's related to the following configuration:

- [TALK_RECAPTCHA_WINDOW](https://docs.coralproject.net/talk/advanced-configuration/#talk-recaptcha-window)
- [TALK_RECAPTCHA_INCORRECT_TRIGGER](https://docs.coralproject.net/talk/advanced-configuration/#talk-recaptcha-incorrect-trigger)

Please reopen if this didn't answer the question!

[2019-03-18 22:01] #2230 closed, assigned to nobody

[2019-03-19 22:19] jpcors opened #2234 "troubleshooting help: rerender comment from plugin slot"
## troubleshooting help

I'm trying to implement a plugin to delete comments and have hit a wall with trying to get the deleted comment to rerender as a tombstone.

I'm using a button in the commentInfoBar slot and the comment is successfully deleted on click but I have to reload the comments manually for the tombstone to appear. I'm pretty new to most of the stack so maybe this is fairly obvious

[2019-03-20 17:43] hminaeeBrunswicknews opened #2235 "[IE11 only] Talk defaults to Spanish in IE11"
Hello support,

We are using talk coral in our project and recently we noticed that only in Internet explorer the talk language is set as spanish:

![image](https://user-images.githubusercontent.com/24658315/54706545-f353c900-4b1d-11e9-9ab5-da4edd6eadaa.png)

When we check the same page in other browsers they are all in English.
Also it is noteworthy that our default language is set to English so

[2019-03-20 17:45] kgardnr commented on #2235
Hey @hminaeeBrunswicknews, could you test with 2 different computers, so we can see if it might be the IE browser settings on your machine, or if this is widespread?

If you can't test on another machine, could you check your IE language settings and also clear your cookies and cache, and try again?

[2019-03-20 17:48] hminaeeBrunswicknews commented on #2235
@kgardnr

Thanks for the answer.
we already tested it in different machines and after clearing the cache the same issue happens.
So I think it is widespread.
Also I checked my setting and here is my default language setting:

![image](https://user-images.githubusercontent.com/24658315/54707150-2fd3f480-4b1f-11e9-85b0-65032eb23f13.png)

[2019-03-20 17:50] kgardnr commented on #2235
Ok great @hminaeeBrunswicknews, could you also check your install of Talk and see if any language settings are configured? It would be these: https://docs.coralproject.net/talk/advanced-configuration/#talk-default-lang

[2019-03-20 18:29] hminaeeBrunswicknews commented on #2235
@kgardnr Yes the configured language at the build time was set to English and all the browsers except IE respect that.

[2019-03-20 18:30] kgardnr commented on #2235
@hminaeeBrunswicknews ok cool, could you send me the url of the site so I can test on our side and try and diagnose?

[2019-03-20 18:30] kgardnr commented on #2235
If you need to send us credentials/etc, you can email support at coralproject.net and we can go from there.

[2019-03-20 18:48] hminaeeBrunswicknews commented on #2235
@kgardnr
Email sent :)
Thanks

[2019-03-21 13:11] GlynnPhillips opened #2237 "Remove the use of Source sans pro font"
## Potential improvement

I have noticed that the Source sans pro web font is downloaded for all views rendered by Talk because it is included in the [base template](https://github.com/coralproject/talk/blob/master/views/templates/base.njk#L21). This results in it get loaded during the render of the embed component.

As far as I can tell this font is then only ever referenced in an [admin styleshe

[2019-03-21 14:30] #2235 closed, assigned to nobody

[2019-03-21 14:33] kgardnr commented on #2235
Bug is related to newsroom-specific setup. Closing as it's not a widespread issue.

[2019-03-26 12:57] #2209 closed, assigned to nobody

[2019-03-26 12:58] kgardnr commented on #2208
Thank you @tomascrespo! This is great feedback. We'll get that fixed in our docs.

[2019-03-26 13:00] #2188 closed, assigned to immber

[2019-03-27 23:52] immber commented on #2200
@tomaszrondio You can get a list by following the instructions here: https://docs.coralproject.net/talk/integrating/event-tracking-metrics/

[2019-03-28 00:05] immber commented on #2208
I've added this change to open Doc's PR https://github.com/coralproject/talk/pull/2249

[2019-03-28 21:43] jpcors opened #2250 "No spinner on sign in"
**Bug**

#### Intended outcome:
When clicking Sign in or Sign up using the talk-plugin-auth login workflow, a spinner should appear to indicate the request has been made.

#### Actual outcome:
No spinner appears and after the response is received you either sign in/up successfully or get an error message.

#### Possible Solution

Set loading state to true before request in withSignUp.js and withSi

[2019-04-04 18:25] immber opened #2256 "Chrome Edit Comments Bug"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
When editing a comment in Chrome browser, backspace should delete text in the Edit Comment field.

#### Actual outcome:
*Only happens in Chrome browser, no issue in FF or Safari*
After clicking edit, and clicking into the text area of the comment box, backspace will delete chars until the last one. When pres

[2019-04-04 21:10] brvaland commented on #1974
@oafx - I am struggling to build docker image for local development on Windows 10 and getting error as below:-
`$ npm-run-all clean generate-introspection
$ rm -rf dist client/coral-framework/graphql/introspection.json docs/source/_data/introspection.json
$ WEBPACK=TRUE NODE_ENV=test ./scripts/generateIntrospectionResult.js
': No such file or directory
error Command failed with exit code 127.`

Ar

[2019-04-04 21:50] brvaland commented on #2041
@thiennhank9 - I am getting exactly same error, did you manage to resolve ?

[2019-04-04 23:42] immber commented on #2041
I've seen this error on mac when using a different version of node. Are you using node Node 8?

[2019-04-05 07:42] brvaland commented on #2041
@immber - The node version i am using is v10.11.0. Do i have to use Node 8 ?

[2019-04-05 17:13] immber commented on #2041
@brvaland If you try it with 8.0.0 I suspect you'll have better luck! I also recommend trying nvm if you're not using it already.

[2019-04-05 17:14] jhardingmmfa opened #2258 "Load Balancing Best Practices"
#### Question about running multiple Talk servers for load balancing?

Hey I'm new to Talk and Docker. I have a single instance of Talk running on a cloud server. I want to add multiple servers for load balancing. The customer expects 1000+ comments per day once in production. Talk, Redis, Mongo are docker containers. If I wanted three Talk servers running, what would be the best approach? Docker

[2019-04-05 17:21] brvaland commented on #2041
Thanks - I am using nvm and tried to get v8.15.1 but still facing the same error.

I have updated package.json and updated docker-compose and docker file as per https://github.com/coralproject/talk/issues/1974 but now getting error and container keep restarting.

`talk_1   | yarn run v1.12.3
talk_1   | error Couldn't find a package.json file in "/usr/src/app"`

Package.json updated as below
From
`

[2019-04-05 18:07] immber commented on #2041
Are you trying to run Talk from source, or from docker?

You shouldn't have both a `docker-compose` and a `dockerfile`. If you're running from docker, you should either be using `docker-compose` or using our `onbuild` images and docker strategy as outlined in our docs  https://docs.coralproject.net/talk/installation-from-docker/

You also shouldn't need to edit package.json unless you're specifica

[2019-04-05 18:42] brvaland commented on #2041
I want to run from source via docker. I got Windows 10 machine, so
basically I cloned master branch and updated Dockerfile and added
docker-compose as #1974.

Then I run the command docker-compose build but got error no such file or
directory.

After that I updated package.json and allowed me to build but now error and
container restarting.

How can I run Talk from source on Windows 10.

Sent from

[2019-04-05 20:11] wyattjoh commented on #2041
Currently, running Talk via source is not supported in Windows.

You may have luck running it via the [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/about), but that's not been tested.

Can you provide the exact `Dockerfile` you're using after modifications?

[2019-04-05 20:37] brvaland commented on #2041
@wyattjoh - Here is the link to files that have changed - https://github.com/brvaland/talk.

[2019-04-05 21:29] wyattjoh commented on #2041
If you want to use it like that, you'd need to clone Talk to support it, the lines:

https://github.com/brvaland/talk/blob/d0e42dbccf9809b4f46171dcdb6688945a9fae10/Dockerfile#L12-L13

Copy files from your local directory into the Docker container, hence why it's been failing, as none of the files that Talk needs are in that directory.

[2019-04-05 22:01] brvaland commented on #2041
@wyattjoh - i have cloned talk 4.8.3 but on my github repo i have only uploaded the files that i have changed for your reference, so docker container should have all the files needed.

[2019-04-05 22:14] brvaland commented on #2041
Also if i try `yarn start:development`

[code]

[2019-04-06 13:50] brvaland commented on #2041
@wyattjoh - i have found some success using cross-env in package.json and talk works fine on windows using `yarn start` but unable to build docker image getting error as below. Updated files on my repo.

Docker Build Logs

[2019-04-08 04:34] oafx commented on #2041
~not quite sure about this but how did you install cross-env? is it listed as dependency in your package.json or did you install it globally?~ if you keep getting errors that aren't helpful to you while building the docker container you might be more lucky running a clean node:8-alpine image attached to /bin/sh and run the commands of the dockerfile step by step manually (you need to mount the tal

[2019-04-08 04:42] oafx commented on #1974
hi @brvaland,

sorry I was on vacation :) you did manage it by now by yourself, right?

[2019-04-08 07:39] brvaland commented on #2041
@oafx - did you manage to build and run the container without cross-env as when i change package.json file to `set` instead of `cross-env` ?

I tried and docker build works but unable to run container as it keeps restarting.

[2019-04-08 13:24] #2234 closed, assigned to nobody

[2019-04-08 13:25] #2250 closed, assigned to nobody

[2019-04-08 13:48] kgardnr commented on #2258
Hey @jhardingmmfa! There's a couple different approaches we can take here. You can check out our docs for some high level guidance (see: https://docs.coralproject.net/talk/planning-architecture/) - or you can email our support and we can try and give you some more in depth help: just email support at coralproject dot net. Let us know what works best!

[2019-04-08 14:17] kgardnr commented on #2208
Fixed in #2249

[2019-04-08 14:17] #2208 closed, assigned to immber

[2019-04-08 14:17] #2031 closed, assigned to nobody

[2019-04-08 14:19] #2075 closed, assigned to nobody

[2019-04-08 14:19] #2085 closed, assigned to nobody

[2019-04-08 14:21] #2108 closed, assigned to nobody

[2019-04-08 14:21] kgardnr commented on #2112
This should be fixed now!

[2019-04-08 14:21] #2112 closed, assigned to nobody

[2019-04-08 14:21] #2134 closed, assigned to nobody

[2019-04-08 14:22] #2164 closed, assigned to nobody

[2019-04-08 16:05] #2214 closed, assigned to nobody

[2019-04-08 16:42] kgardnr commented on #2200
Hey @tomaszrondio! I've added some more details at the bottom of our event tracking docs page.

Fixed in https://github.com/coralproject/talk/pull/2262

[2019-04-08 17:01] #2200 closed, assigned to kgardnr

[2019-04-09 08:39] freder opened #2263 "Is it possible to disable scraping?"
hi,

I was wondering if there is a way to disable scraping.

scraping from within a docker container fails, and I am using a custom mutation to add metadata to an asset anyway, so I would simply like to disable it entirely, if possible.

[2019-04-09 20:26] brvaland commented on #1974
@oafx - still having issue with building docker image on windows 10 with cross-env or without it. did you manage to build docker on windows ? I have pushed all to my repo if you have a chance let me know what i might be missing.

https://github.com/brvaland/talk

[2019-04-11 07:43] mkonikov opened #2268 "Scrolling is janky in Admin panel"
I'm finding the scrolling through comments in the admin panel to be quite janky. You can be scrolling and a comment can suddenly move up or down significantly making it hard to keep place.
I'd imagine it's related to how the comments are added and removed via JS to the viewport.

[2019-04-11 07:46] mkonikov opened #2269 "Filter comments in Mod queue by section"
Our moderators have shown an interest in being able to moderate comments and filter specifically by section.

The benefit would seem to be that it's easier to say factor in context when you're moderating say `Sports` articles vs. `US Politics`.

As the assets don't have any section data in the first place - and only basic metadata from the scraper - wondering thoughts on if possible and/or if othe

[2019-04-11 15:42] #2143 closed, assigned to nobody

[2019-04-15 16:09] wyattjoh commented on #2263
You can!

Check out https://docs.coralproject.net/talk/integrating/cms-integration/#customizing-the-integration-with-a-plugin for documentation on how to do that.

[2019-04-15 16:09] #2263 closed, assigned to nobody

[2019-04-17 06:39] brvaland commented on #1974
@oafx - let me know if you find any issue with my repo.

[2019-04-17 11:54] maveonair opened #2273 "SSO with external authentication provider"
I have the following situation that I want to use Talk with an external SSO provider which is able to issue JWT tokens with the RSA256 algorithm. But I have the following limitations:

1. I have only access to the public key to validate the JWT tokens of the provider, but there is no way to self-sign JWT tokens with the private key of the provider. The provider is the only one who has the private

[2019-04-17 18:22] willogura opened #2274 "Comments are editable for an additional 30 seconds when using IE 11"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
Setting the Edit Comment Timeframe to zero in order to have comments un-editable.
#### Actual outcome:
When using Windows IE 11 the comment is editable for 30 seconds.

#### How to reproduce the issue:
- Set the 'Edit Comment Timeframe' to zero seconds in the admin.
- Post a comment while using IE 11 and att

[2019-04-17 18:51] willogura opened #2275 "Question: Is there a better way to get Premod status comments into the moderator stream using a plugin"
Hello,

I am hoping someone might be able to give me a little help with getting premod comments to the embed stream so that when premod is enabled globally, moderators are still able to see premod comments in the embed stream. Ideally, both on page load and in realtime as new comments are added. And it is necessary to do this from entirely within the plugin.

I am currently able to achieve the des

[2019-04-18 15:54] wyattjoh commented on #2273
When your provider generates a JWT, you can check it's contents by pasting it into https://jwt.io/ which would tell you what the `TALK_JWT_ISSUER` (the `iss` claim), `TALK_JWT_AUDIENCE` (the `aud` claim) should be set to.

If the token does not have those claims, you can disable them via the [TALK_JWT_ISSUER](https://docs.coralproject.net/talk/advanced-configuration/#talk-jwt-disable-issuer) and [

[2019-04-18 17:45] #2275 closed, assigned to nobody

[2019-04-18 17:51] kgardnr commented on #2275
Hey @willogura! I saw you just closed this ticket before we could respond. Did you figure out what you needed?

[2019-04-18 17:51] kgardnr commented on #2274
Thank you @willogura! We will test this and get back to you. Thank you for reporting it!

[2019-04-18 17:53] kgardnr commented on #2269
Hey @mkonikov - this is a great request and we've definitely heard it before. We have some plans to review for v5, because we think the work required to add it to v4 might be too complex. I can keep you posted on this!

[2019-04-18 17:54] kgardnr commented on #2268
Thanks @mkonikov!

[2019-04-19 14:27] willogura commented on #2275
@kgardnr I did work this out. Thanks for checking up.

[2019-04-22 14:50] HectorNM opened #2276 "Make available/public development roadmap"
Thank you all for the great development on this project!

It looks like there's a `next` branch under development and that it will change completely the folder structure of Talk project. Since it looks like breaking changes will occur, we were wondering if there's a development roadmap or something like that so we can foresee what kind of changes to expect and even try to develop a few features be

[2019-04-22 18:56] kgardnr commented on #2276
Hey @HectorNM! Thanks for writing in. We've actually been in touch with Carlos from your team to help on some of these pieces, and I've shared our roadmap with him.

Currently, we don't have a public roadmap, but are looking at a way to make this happen easily in the future. I'll update that broken link, thank you!

For our `next` branch is not yet released, we do have some preliminary docs in the

[2019-04-22 19:31] HectorNM commented on #2276
Hi @kgardnr ! Thank you for your reply.

I see, I understand it must be difficult to have a public roadmap while the project is still being planned, so I'll check with @caeugusmao those new information you've been exchanging with him.

Thank you for your help!

[2019-04-23 06:40] maveonair commented on #2273
@wyattjoh Thank you very much! Now it works as expected!

But is it ok to only provide the public key in `TALK_JWT_SECRETS` without any private key specified? Will Coral then use the other key generated with `coralcert` to create JWT tokens for the internal use?

[2019-04-23 15:24] wyattjoh commented on #2273
That's correct! The second key can be a public key, which will allow verification. Ensure however that JWT's signed by your external auth provider include a `kid` header, and that the header value is also mirrored in the `TALK_JWT_SECRETS` config.

[2019-04-23 15:26] maveonair commented on #2273
You made my day!

[2019-04-23 15:26] #2273 closed, assigned to nobody

[2019-04-23 20:04] wyattjoh commented on #2273
Out of curiosity, does your external auth provider also implement OIDC?

[2019-04-25 04:54] jakubito opened #2284 "Loading Coral admin in iframe results in blank page"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:

I am trying to load Coral Talk admin moderation page (`/admin/moderate`) in `iframe`.

#### Actual outcome:

Iframe loads the page but it doesn't render anything; `<div id="root"></div>` stays empty. It works fine in separate window/tab, the problem only occurs when trying to load the admin page in iframe.

[2019-04-25 13:05] brvaland opened #2285 "Custom SSO with Okta authentication provider."
Hi

I would like to integration coral talk with Okta for SSO and it is not working. I am newbie to talk and plugins. I am not sure what i need to specify for TALK_JWT_SECRET as OKTA using JSON Web Key Set - https://developer.okta.com/code/dotnet/jwt-validation/

I have done the following setups

- Added the following to .env file
TALK_JWT_ISSUER=https://<account>.oktapreview.com/oauth2/default
TAL

[2019-04-25 15:00] brvaland commented on #2273
@maveonair - are you able share some code snippet for custom-auth plugin and *.env variable.? I am having same issue and tokenUserNotFound does not call.

I have raised a seperate issue if kindly help share some light. https://github.com/coralproject/talk/issues/2285

[2019-04-25 15:14] brvaland commented on #2285
Further update on my issue, i have managed to get public signing key from okta - https://developer.okta.com/docs/api/resources/oidc/#keys

I have converted JWK to PEM using this tool - https://8gwifi.org/jwkconvertfunctions.jsp

Replaced `TALK_JWT_SECRET` with `TALK_JWT_SECRETS` as below

[code]

I have verified token (jwt.io) as below.

[code]

[2019-04-25 15:25] wyattjoh commented on #2285
Great questions. What might be happening is it seems you don't have a private key associated in the `TALK_JWT_SECRETS` variable, which should have a private key in the first element of the JSON array as mentioned in https://github.com/coralproject/talk/issues/2273.

Are you also sure that you've included your plugin in the `server` portion of the `plugins.json` file? You can add a `console.log` to

[2019-04-25 16:42] brvaland commented on #2285
@wyattjoh - i add try to add two keys as below but got an error
[code]
Once i add above to .env file i am getting the folllowing error.

[code]

Thanks for pointing out the plugins.json file but is there any issue with TALK_JWT_SECRETS

[2019-04-26 10:47] maveonair commented on #2273
Unfortunately not, its kind of a custom login logic where we get an JWT Token in the end.

[2019-04-26 10:49] maveonair commented on #2285
@brvaland Could you please post your whole `.env` file?

[2019-04-26 10:50] maveonair commented on #2273
Let's continue the discussion in #2285

[2019-04-26 12:53] brvaland commented on #2285
@wyattjoh, @maveonair  I have managed to get above error resolved typo for 'TALK_JWT_ALG' but still `tokenUserNotFound` is not called.

I can see my plugin get executed as i get output from the console.log that i added `router.post`.

Here is updated .env file content and i now have private key in first element.

[code]

Here is log from console and added console.log in services/jwt.js - veriy met

[2019-04-26 14:03] brvaland commented on #2285
Apologizes it is now working fine. it was my bad type `RSA256` instead `RS256`.

On my test client i get a prompt to add an email address, insert and confirm password. I am using SSO so I should not be required to setup password.

I have updated `tokenUserNotFound` as in okta username is same as email address.

[code]

[2019-04-26 14:28] wyattjoh commented on #2285
It isn't highlighted well, but you should disable the following plugins to support SSO:

[code]

[2019-04-26 14:33] wyattjoh commented on #2284
We don't currently support loading the admin panel through an iFrame. You're likely running into a storage exception, which is a browser security feature designed to prevent storage access from iFrames. We've added specific mitigation to support our comment stream, but haven't added support for the Admin panel yet.

[2019-04-26 14:33] #2284 closed, assigned to nobody

[2019-04-26 16:03] brvaland commented on #2285
thanks it works fine now.

I have change password option in `my profile > settings`. Is there a way to remove it as not sure if it is required for SSO.?

[2019-04-26 16:56] brvaland opened #2287 "Talk integration to multiple application with SSO OKTA"
Hi,

I would like to integration talk with number of internal applications (web based) and we would like to use talk project for commenting for applications.

We are using Okta for SSO and i have tried to integration with single application and it works fine (https://github.com/coralproject/talk/issues/2285) but unable to integration with second application as we have different `TALK_JWT_ISSUER` a

[2019-04-26 22:41] wyattjoh commented on #2287
You can disable the issuer and audience check within Talk via the `TALK_JWT_DISABLE_AUDIENCE` and `TALK_JWT_DISABLE_ISSUER` vars: https://docs.coralproject.net/talk/advanced-configuration/.

[2019-04-26 22:43] wyattjoh commented on #2285
Are you sure you've removed those options from the client? The change password UI lives exclusively in the `talk-plugin-local-auth` and `talk-plugin-auth` plugins.

[2019-04-27 09:41] brvaland commented on #2285
@wyattjoh Thanks - it works now. I missed to remove `talk-plugin-local-auth` from  client section.

With reference to key rotation that is not supported in v4. Can i update key programmatically via a plugins if the kid is not found in `TALK_JWT_SECRETS`? I have checked okta it have api to get the current keys - https://developer.okta.com/docs/api/resources/oidc/#keys

Let me know your thoughts ?

[2019-04-28 09:48] brvaland opened #2290 "Enable authorization for all graphql apis"
Hi

I have been trying graphql apis and discovered that some of the queries returns 200 OK with response without bearer token required.

The query worked without auth are `asset, comments`. The create comment mutation returns "NOT_AUTHORIZED".

Is it possible to protect all api's except selected ones like acccount creation with authorisation ?

Let me know ?

Thanks
Bhavesh

[2019-04-28 14:38] brvaland commented on #1995
@freder - I am newbie to talk and server plugin so are you able to share code snippet for custom mutation for asset creation.

[2019-04-29 08:33] brvaland commented on #2287
@wyattjoh - is it possible to integrate with custom authorisation service to validate the token and hook to `tokenUserNotFound` for user account creation with jwt token.? I would like to avoid storing public key as we already have a service that handles it.

[2019-04-29 15:55] wyattjoh commented on #2290
Talk uses the GraphQL api's to serve all the comments across the platform.

If we required authorization for all routes, not logged in users would not be able to view comments.

[2019-04-29 15:55] #2290 closed, assigned to nobody

[2019-04-29 15:57] wyattjoh commented on #2287
Unfortunatly in the current version of Talk (v4) it will not allow that.

In our next version, we directly support OIDC, which should be a better match for a service like Okta.

[2019-04-29 15:57] wyattjoh commented on #1995
Take a look here @brvaland: https://docs.coralproject.net/talk/integrating/cms-integration/

[2019-04-29 15:58] wyattjoh commented on #2285
Unfortunately not, you can orchestrate outside of Talk to rotate the keys and restart the Talk server, but Talk currently does not support rotating keys at runtime or via API's.

Closing as it seems your primary issue is resolved.

[2019-04-29 15:58] #2285 closed, assigned to nobody

[2019-04-29 16:30] brvaland commented on #2290
Yes we require all routes to have authorization and only logged in users would be able to see comments as assest will only be visible to logged in user. Is it possible to add a plugin to achieve it ?

[2019-04-30 19:31] emilyyount opened #2292 "Comment count not updating to reflect rejected comments"
#### Do you want to request a **feature** or report a **bug**?
Report a bug

#### Intended outcome:
Update comment count after comments are rejected.

#### Actual outcome:
I visited [this page](https://www.texastribune.org/2019/04/30/trumps-new-asylum-rules-seek-fees-immigrants-bans-some-work-visas/) and noticed it shows the comment count as "1" but there aren't any comments in the stream. The jux

[2019-05-01 21:23] wyattjoh commented on #2292
Hi @emilyyount!

I tried to replicate your issue, but was unable to do so. Have you enabled any plugins that would affect the comment count, such as https://docs.coralproject.net/talk/plugin/talk-plugin-deep-reply-count?

We also perform some caching on the comment count data, if data was modified directly, or an error occurred, the count may not be updated. You can adjust the https://docs.coralpr

[2019-05-02 15:38] emilyyount commented on #2292
Thank you. We haven't enabled any plugins that could affect the comment count. I think adjusting the cache expiry would do the trick.

[2019-05-02 15:38] #2292 closed, assigned to nobody

[2019-05-02 22:08] gerardogalvez commented on #1951
Is this one taken?

Also, should the moderator only see the original comment or, if a comment has been edited multiple times, all the edits?

[2019-05-02 22:32] mkonikov commented on #1015
Somewhat similar: https://github.com/coralproject/talk/issues/2269

[2019-05-02 22:40] wyattjoh commented on #1951
Ideally, we'd like to see all the previous edits, as they're all stored on the comment. Feel free to take a stab at it @gerardogalvez!

[2019-05-04 17:29] gerardogalvez commented on #1951
Opened a PR for this: #2299

[2019-05-05 06:57] gerardogalvez commented on #2256
So I started to look into this and I think figured out what's causing this behavior.

In Safari and Firefox, ContentEditable inserts a `<br>` element when the text area is empty, Chrome doesn't do this. I tested this using the [demo](https://codesandbox.io/s/4rlw34mnk7) directly from the `react-contenteditable` [repo](https://github.com/lovasoa/react-contenteditable)

### Safari (note how a `<br>`

[2019-05-06 16:44] kgardnr commented on #2256
Thank you so much for this detailed report @gerardogalvez! We will take a look and get back about your proposed fix. Thank you again!

[2019-05-06 16:57] #2276 closed, assigned to nobody

[2019-05-06 16:57] #2258 closed, assigned to nobody

[2019-05-08 14:46] brvaland opened #2305 "Amazon DocumentDB (with MongoDB compatibility) is it supported."
I am trying to use Amazon DocumentDB (Mongodb 3.6) - https://aws.amazon.com/documentdb/ but when i run talk i am getting below error message.

[code]
Any help will be appreciated ?

[2019-05-08 14:58] kgardnr commented on #2305
Hi @brvaland we do not currently support DocumentDB. If you'd like to contribute this support, we'd love to include it!

[2019-05-08 14:58] #2287 closed, assigned to nobody

[2019-05-08 15:02] brvaland commented on #2305
@kgardnr - Thanks

[2019-05-09 21:14] alinhle commented on #2256
Hi @gerardogalvez, thanks for your analysis! It turns out to be a bad falsey comparison, see: https://github.com/coralproject/talk/pull/2308/files. The PR should fix it :-)

[2019-05-09 21:22] #2256 closed, assigned to nobody

[2019-05-09 22:18] kgardnr commented on #1780
Featured added in #2279

[2019-05-09 22:18] #1780 closed, assigned to nobody

[2019-05-14 13:27] brvaland opened #2313 "Performance issue - graphql query"
Hi

Talk: v4.7.0

I have noticed performance issue when i call get asset query against development instance of coral talk which is currently on 1 container hosted in kubernetes. At some time i am getting response under 100ms but some are taking over 1000ms.

On dev environment we don't have huge data or traffic so was expecting return to really quick.

Call logs
[code]

Postman
Pre-request script

[2019-05-14 13:45] kgardnr commented on #2313
Hi @brvaland! For more advanced troubleshooting like this, we'd suggest you get in touch with our support team and they can give you a quote to assist you. You can email them at support at coralproject dot net.

[2019-05-17 20:49] ianwelsh opened #2316 "Disable Talk Email Authentication"
We would like to disable "Talk Email Authentication" and only allow users to sign in via Facebook. Is this possible? We tried removing the talk-plugin-local-auth plugin but the Email and Password fields still show in the Login pop up.

Here is the output of `./bin/cli plugins list`, talk-plugin-local-auth is not in the list of installed plugins:
[code]

[2019-05-21 23:00] immber commented on #2316
It's possible, however if you have any Admin or Moderator users that will not be using FB for authentication, it might not be advisable, as those users will still need to use email/pwd for login.

The email and password sign in dialog and it's components are a part of talk-plugin-auth, however, because the talk-plugin-facebook-auth depends on some other stuff in talk-plugin-auth, it will not work

[2019-05-22 21:35] Chavao opened #2321 "Multiple tenant domains"
Hello,

We are working on branch `next` and we realized the need to have a domain defined by tenant.

We need to have a domain to provide the tool on the internet and another one to restricted access through our corporate network.

The public domain must have admin routes blocked in nginx and the internal domain will may access the same tenant with all resources allowed.

We think about making `do

[2019-05-22 22:18] kgardnr commented on #2321
Hi @Chavao! Thank you for writing this up! I will discuss this with the team and we will get back to you.

[2019-05-23 15:09] ianwelsh commented on #2316
I'm getting the client-side error below when opening the log in pop up using a custom auth plugin. I get this output even if the contents of my custom plugin are identical to the talk-plugin-auth (I copied contents of plugins/talk-plugin-auth to plugins/talk-plugin-custom-auth and replaced talk-plugin-auth with talk-plugin-custom-auth in plugins.json and rebuilt). Is there something I'm missing he

[2019-05-24 01:34] skolhustick commented on #1914
@j-norwood-young Your solution somehow did not work for me.

My solution was these :

// Stream.css ( Change padding-bottom 50px to 0px )

`.tabContainer {
  position: relative;
  margin-top: 28px;
  padding-bottom: 0px;
}`

// default.css ( Change 'padding 0px 0px 100px 0px' to 'padding 0px 0px 0px 0px' )

`body {
  font-family: Helvetica, 'Helvetica Neue', Verdana, sans-serif;
  width: 100%;
  f

[2019-05-27 15:59] wyattjoh commented on #2321
This is a common problem with applications that rely on domain based tenant sharding. I'd suggest using a feature in nginx such as:

[code]

Though this configuration is untested as we don't use Nginx ourselves.

We aren't planning on expanding on the `domain` feature though as this isn't a usecase we plan to support going forward, especially because the `admin` routes are simply serving static vi

[2019-05-28 20:23] cristiandean opened #2329 "HTML links sanitize"
Hello, I wold like know what you think about HTML links sanitization in the comments body. I believe that in some scenarios it isn't interesting to show HTML links in the comments. And there are other scenarios that the use of links causes the comment to be treated as suspicious.

Maybe we could make this behavior optional or follow some other approach. I could help with a PR.

Thanks

[2019-05-28 21:52] AndrewGibson27 opened #2330 "Feature Idea: Add hash option to permalink plugin's "Share" link"
The permalink plugin is quite handy. Our only issue is the link created when you click "Share" doesn't contain a hash allowing you to jump users down to where the Talk embed actually is. Having the option to include one would be fantastic ... and could (maybe) be accomplished using some text in a `translations.yml` file?

![Screen Shot 2019-05-28 at 4 44 59 PM](https://user-images.githubuserconten

[2019-05-28 23:17] wyattjoh commented on #2329
When you have the [talk-plugin-rich-text](https://docs.coralproject.net/talk/plugin/talk-plugin-rich-text) plugin enabled, it automatically handles links for you. It was a conscious security decision to only allow links that show their entire address. Like this:

[code]

This is a feature we are unlikely to change.

You can however also turn on link premod to automatically place any comment with a

[2019-05-29 05:20] vadim-berman opened #2331 "Plug-in: distinction between root comments and replies"
Hello Coral Talk team,

We're building a plug-in, and at some point, we need to differentiate between a comment which is at the root level vs a reply to another comment.

We can't find it in the API reference.

In hooks.js, we link it to editComment / createComment, and the parameters are _context and _info. Is the root / not root distinction available there?

#### Do you want to request a **featu

[2019-05-29 11:22] Chavao commented on #2321
OK, thanks! I'll try with nginx.

[2019-05-29 11:22] #2321 closed, assigned to nobody

[2019-05-29 11:36] Chavao commented on #2329
@wyattjoh, Cristian forgot to mention we are working on branch `next`, and it seems like this branch doesn't have an option to premod comments with links.

The suggestion would be allow sanitisation/strip tags throught configuration and not hard-coded, like nowadays.

[2019-05-29 11:45] kgardnr commented on #2329
Thanks @Chavao! We have premod comments with links at the article-level and will be adding it soon for the site-wide level.

However, we don't foresee a feature allowing sanitization as a configuration option. v5's goal is to simplify a lot of the configuration, and unless we hear this request from several others, I don't think we would add it.

Does that make sense?

[2019-05-29 17:29] jarrett-pon commented on #2071
Is amp being currently worked on now? I saw this PR recently: https://github.com/coralproject/talk/pull/2324

[2019-05-29 17:40] wyattjoh commented on #2071
Preliminary AMP support is being added in our next release yes!

[2019-05-29 17:40] #2071 closed, assigned to nobody

[2019-05-29 20:32] cristiandean commented on #2329
Thanks @kgardnr! If the comments with link will be premod ,that already would be enough for our case =)

[2019-05-29 22:23] kgardnr commented on #2329
Awesome @cristiandean! 🎉

[2019-05-29 22:23] #2329 closed, assigned to nobody

[2019-05-30 19:13] irhughes opened #2334 "app/v1/auth and api/v1/graph/ql 504 errors"
#### Do you want to request a **feature** or report a **bug**?
Bug?

#### Intended outcome:

Upgrade to a newer version of Talk

#### Actual outcome:

Using any version of Talk from 4.6.7 and above the embed js returns 504 errors calling:
 https://my-server/api/v1/auth and  then https://my-server/api/v1/graph/ql.  As a result of this the box that would encompass the comments does not show up and I

[2019-05-30 22:48] wyattjoh commented on #2334
Did you set `TALK_ROOT_URL` to the correct parameter?

If I leave `TALK_ROOT_URL=http://127.0.0.1:3000` as it is in the docs, you must only access it from that URL.

If you are accessing it from https://my-server/, you should set `TALK_ROOT_URL=https://my-server`.

[2019-05-30 23:06] irhughes commented on #2334
It is based on an existing config. With the docker-compose.yml pointing to 4.6.6 it works.

[2019-05-31 15:49] wyattjoh commented on #2334
Talk itself never throws a 504 error, that would be thrown by a proxy you have inbetween (such as Nginx, Caddy). Check the server logs from both your web proxy and Talk to see if there's any information as we were unable to reproduce that specific condition using the `docker-compose.yml` file from the docs with the default config.

[2019-06-02 11:37] irhughes commented on #2334
The 504 is thrown by the load balancer instantly, not after the expected timeout has passed. This implies that the server running Talk immediately closes the connection and the load balancer then treats it as a timeout.

I did further testing with Postman sending all of the headers and cookies that the website sends and I received the same error as the website. We are sending several large cookies

[2019-06-02 11:58] kgardnr commented on #2334
@irhughes For more advanced troubleshooting help and consulting on how best to set up and configure Talk, we can provide you with paid support. Just email support at coralproject dot net and someone from our team will get back to you!

In the meantime, I'll close this issue. Thank you!

[2019-06-02 12:08] irhughes commented on #2334
We know how to configure Talk. We have had it running in production for several months now. The problem is that you have introduced a change that will break us when we try and upgrade.

[2019-06-02 12:11] kgardnr commented on #2334
Where is Talk running in production?

[2019-06-02 12:19] irhughes commented on #2334
I am with Brunswick News. I believe that we spoke back in the fall. It is running on our tj.news website.

[2019-06-03 16:49] kgardnr commented on #2334
Hey @irhughes I spoke with the team today, we have another suggestion you can try which we'll be posting here shortly, but since this is also tied to your setup, beyond that we would need to explore other options to offer support. Stay tuned!

[2019-06-03 16:49] wyattjoh commented on #2334
You can experiment with adding the environment variable of:

[code]

To see if you can get any better progress with it. That may allow a mitigation.

[2019-06-03 17:57] irhughes commented on #2334
So with 4.6.7 it won't work because the Node version doesn't support the --max-http-header-size option.

I went straight to 4.8.7 which has a higher node version that supports the --max-http-header-size option and things are working now.

It might be useful to rename this issue to something about "Requests with large header sizes may fail in versions 4.6.7 and above" so other people can find the i

[2019-06-04 20:42] #2334 closed, assigned to nobody

[2019-06-05 18:08] kaichristiansen opened #2343 "CoralTalk MongoDB occasionally loses all data and returns to "initialize" state"
I am running the latest Coraltalk on Digital Ocean closely following your docs and examples with a very vanilla docker-compose setup. Everything works great in general except for a show-stopping mystery. Coral support directed me to create an issue here.

Sporadically (like once every few weeks), all the comment data disappears. When I login to the admin interface, Coral Talk presents the install

[2019-06-07 17:54] sangeraj opened #2347 "Installing talk with Kerberos support"
Hi - anyone have luck installing Talk either from the docker image or from the sources while pointing to a enterprise mongo that needs to have Kerberos authentication enabled? Thanks

[2019-06-14 09:22] schwabing opened #2360 "Extending Coral 5.0 without plugin system?"
#### **feature request** and **question**
I want to extend Coral 5.x, but the plugin system seems to have vanished

Plugins have been moved to core, Coral is now super fast and consumes less CPU, which is great. But I can't see how extensions of Coral will be done in the future, with plugin-api gone and all.

What are the plans for plugins/extensions?

#### Version and environment
Coral 5.0.2 Beta

[2019-06-14 13:33] kgardnr commented on #2360
Hey @schwabing! Welcome to Coral :) What site(s) are you aiming to use it for?

[2019-06-14 14:23] lriggle-strib opened #2362 "Notifications Settings in My Profile not displaying"
## Description
I feel like I'm missing a setting or something when trying to include `talk-plugin-notifications` and some of the plugins that are dependent on that.

Here's what I've done
- Activated `talk-plugins-notifications`
- Activated `talk-plugin-notifications-digest-daily`
- Activated `talk-plugin-notifications-digest-hourly`
- Added `TALK_CLIENT_FORCE_NOTIFICATION_SETTINGS=true` to .env
-

[2019-06-14 14:37] kgardnr commented on #2362
Hey @lriggle-strib you'll need to enable the notification categories you want.

They are entitled `talk-plugin-notifications-category-*CATEGORY*`

Examples:
https://docs.coralproject.net/talk/plugin/talk-plugin-notifications-category-reply
https://docs.coralproject.net/talk/plugin/talk-plugin-notifications-category-featured
https://docs.coralproject.net/talk/plugin/talk-plugin-notifications-catego

[2019-06-14 14:38] kgardnr commented on #2362
More info here too https://docs.coralproject.net/talk/plugin/talk-plugin-notifications

[2019-06-14 19:01] lriggle-strib commented on #2362
@kgardnr Thanks Kim! I'll pass it along.

[2019-06-16 23:03] evannagle opened #2365 "Close comments after <period> does not appear to close comments."
#### Do you want to request a **feature** or report a **bug**?

bug

#### Intended outcome:

Setting "Close Comment Timeframe" to 1 week.

#### Actual outcome:

Comments are still open on articles older than 1 week.

#### How to reproduce the issue:

Talk hosted via https://www.cmnt.xyz/admin/ and visible on civilbeat.org

Here's a post from May 29th with comments still open: https://www.civilbeat

[2019-06-17 14:55] #2362 closed, assigned to nobody

[2019-06-19 14:08] TrevorNT opened #2370 "Bug Report: comment count TTL's in Redis 1000x higher than value set in Talk envs"
#### Do you want to request a **feature** or report a **bug**?

Report a bug

#### Intended outcome:

On our production deployments of Coral Talk, we set `TALK_CACHE_EXPIRY_COMMENT_COUNT=60s`, looking for the comment counts to refresh after 60 seconds.

#### Actual outcome:

When viewing the relevant comment count in Redis, we ran `TTL` on the cached comment count and noted that it had over 59900

[2019-06-23 08:26] vadim-berman opened #2376 "dist/manifest.json error"
Hello Coral Project team,

We installed a fresh copy of Talk, and upon attempts to get to the /admin/moderate, we get the error:

[code]
What could be the issue? I see there's a `public/manifest.json` but I am wondering whether it's the same.

#### Do you want to request a **feature** or report a **bug**?

**bug**

#### Intended outcome:

#### Actual outcome:

#### How to reproduce the issue:

###

[2019-06-24 00:42] mkonikov commented on #2330
FWIW On our site we do load the comments section when `commentId` query is present.

[2019-06-24 00:44] mkonikov commented on #2365
IIRC, the change only applies to assets created after the change was made.

[2019-06-24 13:44] schwabing commented on #2360
Hi @kgardnr, thanks :)
German editorial sites, one about gadgets, one about cooking, one local news site.
I'd like to add features such as

- reactions (similar to fb reactions)
- a user login widget for the page header, including a notification center (new comments/replies)
- E-mail notifications etc.

[2019-06-24 15:46] kgardnr commented on #2365
Hey @evannagle! As per @mkonikov's comment, did you just recently turn this on?

[2019-06-24 17:41] evannagle commented on #2365
Thanks, guys! The setting has been on for awhile, but I just upgraded to 4.9.0. I do see that comment streams from June 16th have been closed, so I'm just checking with the editor to confirm that those were auto-closed and not updated manually.

[2019-06-24 17:45] kgardnr commented on #2365
Sounds great @evannagle!

[2019-06-24 19:14] cristiandean opened #2377 "[Next] Custom CSS"
Hello, we are working with Coral Talk (next branch) and we feel it’s hard to customize the default embed stream using the **Custom CSS** feature. It would be nice if the components had more friendly selectors. What do you think? I can help with a PR if necessary.

Thank you

[2019-06-24 19:22] kgardnr commented on #2377
Hey @cristiandean! We would LOVE if you would help us out with this, it's on our list but hasn't been prioritized yet, it would be really helpful! 🥇

[2019-06-24 20:20] kgardnr commented on #2377
Hey @cristiandean we are going to get some info together for you from the team on naming conventions that should be helpful for you!

[2019-06-24 20:54] cristiandean commented on #2377
Ok @kgardnr

[2019-06-24 21:26] kgardnr commented on #2377
Alright, @cristiandean, we're good to go! So the only thing you need to do is prefix every classname with `coral-`, so for example, `coral-featured-comments-tab-header`.

[2019-06-24 22:43] alinhle commented on #2377
Hey @cristiandean, thanks for wanting to help us. To put this into scope, you could make a PR that adds the selectors for your own customization needs. That way we'll see what you need and we'll work something out together.

Did you have a different idea besides using `classnames` as selectors?

In case of using classnames, here are some guidelines for the naming of the classnames:
- The classname

[2019-06-25 12:38] cristiandean commented on #2377
Alright, @kgardnr and @cvle, thanks for your support. I'll open the PR and any questions I'll post there.

[2019-06-26 03:11] evannagle commented on #2365
Alright, editors have confirmed that this is working. Thanks for the quick reply, guys!

[2019-06-26 03:11] #2365 closed, assigned to nobody

[2019-06-27 13:12] sangeraj opened #2380 "Talk assets support for SPA"
Hi - looking for guidance on integrating Talk with our React SPA. Currently having issue with unique asset title being set on the Talk asset. Any workaround for this as it seems like a common pattern? Thanks

[2019-06-27 15:13] kgardnr commented on #2380
Hi @sangeraj! What site/sites are you running Talk on or looking to run it on?

[2019-06-28 11:15] AuroraEscapes opened #2381 "Talk API Get All Assets and their comments?"
Hi, Looking for guidance on getting all assets and their comments from talk.
There is the v1/assets API but that doesn't return comments. Is there a way to pull this too?

[2019-06-28 14:24] stargazer33 opened #2382 "login with Twitter and/or GitHub credentials"
#### Do you want to request a **feature** or report a **bug**?
Feature

#### Intended outcome:
I would like to be able to login with Twitter and/or GitHub credentials (for community of developers login with GitHub credentials is great).

**Implementation hints**: There might be different ways to implement it:

1. Add Twitter and GitHub authentication to coralproject

2. Use kind of Custom SSO Toke

[2019-06-28 16:32] kgardnr commented on #2381
Hi @AuroraEscapes, thank you for getting in touch! Where are you currently running Talk?

[2019-06-28 16:33] kgardnr commented on #2382
Hi Dmitri (@stargazer33)! Great to be in touch and thank you for suggesting this feature. Where are you currently using Talk? Or if you're not using it currently, where do you plan to?

[2019-06-28 17:28] stargazer33 commented on #2382
Hi Kim,
I would like to use Talk to add comments to job ads listed on remote4me.com
For example here: https://remote4me.com/remote-frontend-jobs

The site audience -- developers -- they all have Github accounts... so it make sense to give them Github login. Twitter also make sense

UPDATE:
Prio N1: Github login
Prio N2: Twitter login (could be added later)

[2019-07-01 13:43] sangeraj commented on #2380
Hi @kgardnr - unfortunately I’m unable to share the link to our app here as it is inside company firewall. It’s a single page react app that embeds a locally hosted instance of Talk. We use the “@coralproject/talk-plugin-custom-asset-id: 1.1.0” in the Talk instance as a plugin.

[2019-07-01 14:35] kgardnr commented on #2380
Hi @sangeraj, that's fine! In that case, just shed some more light on what your organization's name is and what you're using Talk for; that will help us give you appropriate advice here

[2019-07-01 14:56] sangeraj commented on #2380
We’re creating a intranet blogging platform and integrating Talk for the commenting feature.

[2019-07-01 15:06] kgardnr commented on #2380
And what's the name of your company/organization @sangeraj?

[2019-07-02 04:55] stargazer33 commented on #2382
Hi Kim (@kgardnr) what do you think?
I need this Github login.
If you/Coral developers guide me a bit -- may be I will build something working or create a PR or a working example (again a PR?)

[2019-07-02 21:50] kgardnr commented on #2382
Hey Dmitri! In this case, we'd highly advise to create your own auth plugin and use SSO with Firebase. You can follow the Auth Docs you linked to above, and also use our SSO plugin recipe, which can act as a template: https://github.com/coralproject/talk-recipes/tree/master/plugins/custom-auth

If you'd rather create 2 social login plugins separately, one for Github and one for Twitter, you can us

[2019-07-02 21:58] stargazer33 commented on #2382
Kim, I looked into it... OMG... looks like a task for a good JS developer, and I'm more backend developer

[2019-07-02 22:08] kgardnr commented on #2382
You're only a backend developer until you write your first line of JS, as they say ;) A lot of folks who are limited in their JS experience or even dev experience have been able to build plugins, and we have some tutorials in our docs. That's all to say, it might be worth trying!

[2019-07-03 00:53] tucson-tom commented on #2382
I'm with @stargazer33 on this simple observation:  Coral looks "pretty" but is a complete mess from a design and engineering backend perspective.  Its backend is a disaster (i.e. requiring Docker is always wrong), the documentation for actually customizing it is basically non-existent, and the example for "custom" SSO shows how to do JWT but is meaningless since it lacks demonstrating true custom

[2019-07-03 01:09] kgardnr commented on #2382
Hey @tucson-tom, thank you for the feedback and being so frank, we're always open to other developers' opinions - especially those with your experience.

There's a couple different options we can offer you if you're stuck. First off, we're more than happy to host Coral for you; if you're interested, you can fill out this form for a quote: https://airtable.com/shrL2EtHR1zvJv4gw.

Secondly, we'd be

[2019-07-03 05:28] stargazer33 commented on #2382
Hi @tucson-tom,
well, I only can judge about Java code and Coral is not Java.
And I see two things:
- (almost) all required functionality is there (OK, no logins with other social networks)
- **there are tests**

In case the test coverage is good... than... a well known approach can be applied: REFACTOR IT, step by step! Rely on tests... add more tests if necessary... REFACTOR AGAIN ))) And so on.

[2019-07-03 11:41] eyalzek opened #2388 "Run setup non-interactively?"
I'm running talk on kubernetes and would like to run the setup using an `initContainer`. Is there a way at the moment to do this (besides using `--defaults`) ? It looks like the dynamic set up is updating `talk.settings` & `talk.users`. I tried to break it down to commands in order to run it non-interactively, e.g:
- `bin/cli db createIndexes`
 `bin/cli migrations run -y` (not sure this one is nec

[2019-07-03 12:01] leeeandroo commented on #2382
Hi @stargazer33 ,

If you just need one more auth provider, like facebook, you can use the `talk-plugin-facebook-auth` as base and create your own. In the plugin itself, It's not a lot of code to read and understand... The most hard think, the strategy, you can use an external lib like Facebook does ([see here](https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-facebook-auth/serv

[2019-07-03 18:03] wyattjoh commented on #2388
While less idea, we would strongly recommend using the Web/UI to configure Talk, as in v5 we're planning on deprecating the CLI for setup.

[2019-07-03 18:11] eyalzek commented on #2388
Thanks for the info. Is this use case something that you considered? I can't imagine I'm the first one to run talk on k8s. Reading from environment variables on start up or something similar would be ideal.

Otherwise, what would the recommended flow? Deploying initially, running manual setup, setting `TALK_INSTALL_LOCK` then restarting the instance?

[2019-07-04 11:24] schwabing commented on #2360
Any news on plugins and custom extensions of coral next/5.x? *bump*

[2019-07-04 16:03] wyattjoh commented on #2360
At present, we are planning on re-introducing plugin-like features down the line, but it will not be included in v5.0.x, though this is likely to take the form of webhooks and API integrations rather than the plugin system you saw in v4.

[2019-07-04 16:07] wyattjoh commented on #2388
We've certainly considered k8s (as we deploy to it ourselves!) but expect that anyone setting up a new Talk install will want to go through the installation steps once, sort of how you would go through the wordpress install once on setup.

As a note as well, while the `TALK_INSTALL_LOCK` does help short circuit any installation attempts, it is not explicitly required. Once an installation has been

[2019-07-05 11:58] eyalzek commented on #2388
I see, thank you. We will go with the manual setup for the moment, but I do think that exposing a way to do this non-interactively would be valuable - even just for the sake of having a full definition of the app in your code base (possibly with different configuration per environment).

[2019-07-09 20:07] mkonikov opened #2397 "iOS Copy Permalink"
Generally the permalink overlay closes when clicking / tapping outside the overlay area but on iOS it does not.

Nothing pressing but an observation from our QA team that I thought to share.

![image](https://user-images.githubusercontent.com/7562285/60919437-b265f880-a263-11e9-9e8c-b11a7f451674.png)

[2019-07-12 17:57] lriggle-strib opened #2403 "Cannot turn off email verification in My Profile"
## Description
We are continuing to do testing with notifications plugins within the Talk application, but we are running into an issue around email verification within the My Profile tab. We are unable to turn it off.

#### Plugins Installed
- `talk-plugin-notifications`
- `talk-plugin-notifications-digest-daily`
- `talk-plugin-notifications-digest-hourly`
- `talk-plugin-notifications-category-re

[2019-07-12 19:07] wyattjoh commented on #2403
Hey @lriggle-strib 👋! It looks like the case of your booleans are lowercase, Talk requires that they are uppercase:

[code]

Let me know if that resolves the issue!

[2019-07-12 19:25] lriggle-strib commented on #2403
@wyattjoh That fixes it, thanks!

[2019-07-12 19:25] #2403 closed, assigned to nobody

[2019-07-15 16:14] kgardnr commented on #2377
Hey @cristiandean, are you still planning on working on this? It will become a blocker for us by next week, so if you can't get to it this week, let us know!

[2019-07-16 20:19] cristiandean commented on #2377
Hey @kgardnr, I've been kind of busy the last few days, but I plan to start developing this feature tomorrow. I can't say that it will be ready until next week, because other things may happen along the way. What are you planning to do may hinder a future merge?

[2019-07-17 08:59] mrhein commented on #2360
subscripe the redis>pub/sub over graphql => wss://YOURDOMAIN/api/graphql/live
how it works can be adapted from the admin console => /admin/moderate/reported
initial values need to be extracted over graphql

in this way it is very easy to extend talk with your own microservices

[2019-07-17 14:30] kgardnr commented on #2377
Hey @cristiandean! That sounds good. We're looking to cut the official v5.0.0 by end of this month and will need that in there. So I think it might be better if we just do it, unless you think you'll be able to?

[2019-07-17 14:42] cristiandean commented on #2377
@kgardnr  If it's not a problem for you, it's fine with me you do it. I was already in about 20% of the task and had to stop because of another more prioritized task of our backlog :/

Anyway, thanks for the support. =)

[2019-07-17 22:46] gjtorikian commented on #2377
Wrong person. 😀

[2019-07-18 00:10] cristiandean commented on #2377
I'm sorry @gjtorikian :)

[2019-07-22 23:27] kgardnr commented on #2377
Hey @cristiandean we have a PR for this - wanna take a look and give us your feedback? Feel free to add on if you'd like! https://github.com/coralproject/talk/pull/2414

[2019-07-24 18:41] cristiandean commented on #2377
Hello @kgardnr, at first it looks good to me. As soon as we start customizing our widget, if we see something else needed, we can submit a PR =)

Thank you!

[2019-07-25 10:29] mehdignu opened #2417 "review admin comments"
#### Do you want to request a **feature** or report a **bug**?
report a bug

#### Intended outcome:
review the admin comments

#### Actual outcome:
admin comments could not be reviewed on the backend

#### How to reproduce the issue:
upgrade coral to the latest version

#### Version and environment
v5.0.0-beta.4

[2019-07-25 14:22] kgardnr commented on #2417
Hey @mehdignu! This is by design actually, we assume that admin/moderator/staff comments do not need to be moderated.

Can you tell us where you're planning to use Coral?

[2019-07-25 19:35] ianwelsh opened #2421 "Facebook ID not stored"
#### Do you want to request a **feature** or report a **bug**?
Bug

#### Intended outcome:
We only allow users to login via the facebook auth plugin by hiding the other login form options. We would expect the Facebook user's Facebook ID to show beside the Facebook ID field in the UI.

#### Actual outcome:
The Facebook ID value in the UI is the same as the Talk ID value. It doesn't seem to be a val

[2019-07-26 10:14] #2417 closed, assigned to nobody

[2019-07-26 15:54] wyattjoh commented on #2421
The Facebook User ID being stored is the App Scoped User ID. Facebook's API's do not provide the actual Facebook User ID any more as per some privacy changes made in their new API. See [here](https://www.hellotecho.com/facebook-app-scoped-user-ids-in-api-v2) for a little explainer on it.

[2019-07-26 15:54] #2421 closed, assigned to nobody

[2019-07-26 16:28] kgardnr commented on #2421
Hey @ianwelsh what newsroom or organization are you with? Just curious where you're using Coral :) Thanks!

[2019-07-26 17:51] lriggle-strib opened #2424 "HTML emails from Talk"
## Description
What is the recommended way for implementing custom email templates that include HTML? We are looking to include branding in the emails Talk generates so they look less like junk mail.

## Background Information
I remember briefly touching on the idea of custom email templates during our Talk implementation but I do not remember what the response was. Additionally, I am unsure how H

[2019-07-26 18:05] kgardnr commented on #2424
Hey @lriggle-strib you should be able to find information on this here: https://docs.coralproject.net/talk/integrating/notifications#customizing-notifications

Let us know if that helps!

[2019-07-26 18:08] lriggle-strib commented on #2424
~~@kgardnr It says on that doc that email templates are text-based, does that mean Talk doesn't support HTML email template at all?~~

[2019-07-26 19:30] ianwelsh commented on #2421
@kgardnr We're using Coral Talk for comments at [WRAL.com](https://www.wral.com/).

@wyattjoh Thanks for the response. It looks like Facebook used to allow accessing the user's profile via the `https://www.facebook.com/app_scoped_user_id/xxxxxxxxxxxxx` endpoint, but they have disabled it (source: https://developers.facebook.com/blog/post/2018/04/19/facebook-login-changes-address-abuse/). Is there

[2019-07-26 21:04] wyattjoh commented on #2421
Unfortunately, as per the url you linked, it doesn't seem possible to resolve the app scoped user profile.

We had initially looked at having the facebook plugin pull the email address, but it was a design decision to instead have the email address populated by the user directly. You are free however to create your own facebook plugin for Talk that implements your desired behaviour, but it would b

[2019-07-29 18:20] lriggle-strib commented on #2424
@kgardnr Ok, strike that previous comment, I see that one of the notification templates being registered has an HTML extension. However what I'm still struggling to understand is how to make the application actually utilize the HTML template, because it appears that all the emails out of our talk application are being sent in plain text. Am I missing something?

[2019-07-29 20:36] cristiandean opened #2430 "[Next] Popup too small for some providers"
I'm using OIDC for my talk instance but I've a problem with popup height. It looks this way:

![image](https://user-images.githubusercontent.com/25023177/62080445-0b9fc700-b227-11e9-8fc2-be0f769031be.png)

The same with google login:
![image](https://user-images.githubusercontent.com/25023177/62080521-368a1b00-b227-11e9-8e37-c3988a84af7e.png)

What do you think if we have the option to set popup s

[2019-07-29 22:00] wyattjoh commented on #2430
We are aware of resizing issues affecting that popup, a bug fix is in the queue!

[2019-07-31 18:45] davistrent commented on #2376
I had the same issue. I ran `yarn build` again (on a slightly larger machine) and it worked. If the `build` script is hanging or not completing correctly, your server may be undersized.

[2019-07-31 19:52] lriggle-strib commented on #2424
@kgardnr Is there something additional that I need to do to ensure that the correct HTML template is used on the email?

[2019-08-01 09:20] musically-ut opened #2441 "[BUG] Code duplication."
#### Do you want to request a **feature** or report a **bug**?

Likely a merge artifact.

It seems that the code for creation of an index is duplicated here:

https://github.com/coralproject/talk/blob/73040b1314e6dea5b53a8550f99291cdad798768/plugin-api/beta/server/getReactionConfig.js#L14-L34

However, since the method is idempotent, the second call is a NOP.

[2019-08-02 18:54] cristiandean opened #2443 "[next] Admin login with OIDC"
Hello, we found a bug in Talk admin login with Open ID Connect.

To reproduce:

1. Enable OIDC on admin
2. Try log in to admin dashboard

**Expected behavior:**
Redirect to admin dashboard

**Current behavior:**
Redirect to `/embed/auth/callback`
![image](https://user-images.githubusercontent.com/25023177/62392269-6b56e480-b53d-11e9-835c-8b1a98698356.png)

---

The user is authenticated, but the r

[2019-08-02 20:28] kgardnr commented on #2443
Hey @cristiandean! Another person just logged this bug with us yesterday, funny enough! We've got it prioritized to fix! Thank you! 🐞

[2019-08-02 20:31] kgardnr commented on #2424
Hey @mkonikov how did you all address this? If you have a moment, would you help explain to @lriggle-strib? Thank you!

[2019-08-05 14:57] mkonikov commented on #2424
@lriggle-strib

You can override the default email templates with your own as noted here: https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-notifications/server/connect.js#L16-L18

So we have a custom plugin that `connect`s our template overrides - something like this:
[code]

We then simply have custom notification templates like this:
[code]

Also notice that we add the helper

[2019-08-05 15:19] lriggle-strib commented on #2424
Thank you @mkonikov!

[2019-08-09 08:45] bderen opened #2454 "[NEXT] GraphQLError invalid operator $objectToArray"
I'm receiving the graphql error on the "moderate" page

I have Coral Next and MongoDB 3.2.11

Nodejs error log:
`
"tenantID":"f5777e76-f8ef-4e79-8a0d-52f091029f45","context":"graph","contextID":"d2524ce0-ba80-11e9-8746-09aca8900a2e","level":50,"err":{"message":"invalid operator '$objectToArray'","name":"GraphQLError","originalError":{"message":"invalid operator '$objectToArray'","name":"MongoError

[2019-08-09 15:23] wyattjoh commented on #2454
Coral requires at least MongoDB 3.6, `$objectToArray` was introduced in 3.4.4. Upgrading your database version should resolve that issue.

[2019-08-09 15:23] #2454 closed, assigned to nobody

[2019-08-16 07:49] mzch opened #2480 "Comment Stream is not shown"
#### Do you want to request a **feature** or report a **bug**?
**bug**

#### Intended outcome:

#### Actual outcome:

Only busy circle is shown instead of comment steam. I've got an error on browser console as below:
https://gist.github.com/mzch/31dd83d075346b56b7dbf4b3dc9ff38f

#### How to reproduce the issue:

updating from 4.10.1 to 4.10.2
#### Version and environment

Node.js: v10.16.2
yarn: 1

[2019-08-16 08:16] bderen opened #2481 "[Next] Admin create user account (feature request)"
Hello,
Would be great if admin can create admin/moderator accounts and reset user passwords

Thank you.

[2019-08-16 09:04] mzch commented on #2480
Sorry, this issue is fixed by removing 'Like plugin'

[2019-08-16 09:04] #2480 closed, assigned to nobody

[2019-08-16 18:07] wyattjoh commented on #2481
Our v5.0.0 actually has an invite user feature! When local authentication is enabled on the admin, and email has been configured, you can find a `Invite Users` button in the Community tab of the Admin.

[2019-08-16 18:07] #2481 closed, assigned to nobody

[2019-08-17 12:13] vadim-berman commented on #2376
Thanks, it worked.

[2019-08-17 12:13] #2376 closed, assigned to nobody

[2019-08-18 14:58] cristiandean opened #2485 "Mixed Pre/Post moderation tenant support"
Hello, I'd like to know what you think about a feature that would allow a mixed pre/post moderation scenario based on article category for example.  So we could customize which categories could be pre-moderated and which would be post-moderated maybe using `article:section` of Open Graph Protocol.

[2019-08-20 11:15] bderen opened #2489 "[Next] IE11 support"
The embed doesn't work in IE11. Are you aware of this? Will be IE11 supported?

[2019-08-20 14:36] cristiandean opened #2491 "[Next] [Bug] Namespace name generated from index name is too long (127 byte max)"
Depending on the length of mongo's database name we could not initialize the application due to an error creating the indexes. We have the following error:

[code]

[2019-08-20 16:43] wyattjoh commented on #2489
With the introduction of our new translation framework, https://projectfluent.org/, we're dropping support for Internet Explorer since v5.0.0 of Coral.

[2019-08-20 16:43] #2489 closed, assigned to nobody

[2019-08-20 16:45] wyattjoh commented on #2485
We already have a feature in the works that would support exactly this use case! For now, we'd recommend using the `createStory` mutation with an Admin token to create stories with the desired moderation state instead of relying on the lazy asset creation until the feature lands.

[2019-08-20 18:38] cristiandean commented on #2485
Thanks @wyattjoh!

[2019-08-20 19:25] wyattjoh commented on #2491
I have confirmed this issue. For the time being @cristiandean, it should be possible to reduce the length of the database name to get it to work for now.

[2019-08-21 17:10] leeeandroo opened #2494 "Changed email and unconfirmed when requireEmailConfirmation is true should not allow user to do comment."
Hello,

I just found a probably a bug on Talk. The description is below.
I have some ideas to fix that and I'd like to know if its ok for you.

#### Do you want to request a **feature** or report a **bug**?
Probably a bug.

#### Intended outcome:
If talk settings `requireEmailConfirmation=true` and user change his email, talk should not allow them to make comments and when they try to do this, sho

[2019-08-21 22:14] wyattjoh commented on #2494
Thanks for highlighting this @leeeandroo! We've actually planned on implementing this behaviour in v5 of Talk, given that's where our focus is thus far.

[2019-08-22 06:34] leeeandroo commented on #2494
Hello @wyattjoh,

Fine, makes sense the team stay focused on v5 as the release of the final version will be soon, but we have Talk running on v4 and would be great to fix on that too. That's why I asked a feedback about to my proposed solution.

if you are not keen to accept a pull request on v4 about it, then I will need to think about what I can do to not have problems about maintenance in the f

[2019-08-23 10:32] leonkunert opened #2501 "Comments without a user"
#### Feature?
I Would like to show just the comments without the possibility to comment.
Is there an easy way to do so?

#### Intended outcome:
Just show the comments of a certain asset, without the form for commenting.

#### Version and environment
Talk 4.8.2

[2019-08-23 14:27] leonkunert commented on #2501
Closing this because I have too much custom stuff to realize this is a standard feature.

[2019-08-23 14:27] #2501 closed, assigned to nobody

[2019-08-23 18:26] kgardnr commented on #2443
@cristiandean this is fixed here: https://github.com/coralproject/talk/pull/2493

Let us know if it works for you as well!

[2019-08-23 18:26] #2443 closed, assigned to nobody

[2019-08-23 18:28] kgardnr commented on #1824
@hjanuschka this feature is brought back in our upcoming v5 release, closing this for now!

[2019-08-23 18:28] #1824 closed, assigned to nobody

[2019-08-23 18:29] kgardnr commented on #1825
@hjanuschka, we will be adding this in our upcoming v5 release, closing this for now!

[2019-08-23 18:29] #1825 closed, assigned to nobody

[2019-08-23 18:29] kgardnr commented on #1774
Hey @aguilarm, we won't be moving in this direction, but we do have some improvements for Edit Comment coming in our upcoming v5 release!

[2019-08-23 18:29] #1774 closed, assigned to nobody

[2019-08-23 18:30] kgardnr commented on #1711
@leeeandroo this is fixed in our upcoming v5 release!

[2019-08-23 18:30] #1711 closed, assigned to nobody

[2019-08-23 18:31] #1567 closed, assigned to nobody

[2019-08-23 18:32] kgardnr commented on #1567
Hey @davisshaver I think you will find that auth/SSO is very improved and simpler to implement in v5, would love your feedback! v5 official release is coming first week of September 🎉

[2019-08-23 18:33] kgardnr commented on #1396
Hey @leeeandroo this is now support in v5, so I'm closing this issue

[2019-08-23 18:33] #1396 closed, assigned to nobody

[2019-08-23 18:33] davisshaver commented on #1567
Sounds good, sorry! Didn't see your comment before I posted.

[2019-08-23 18:33] #1031 closed, assigned to nobody

[2019-08-23 18:34] #2382 closed, assigned to nobody

[2019-08-23 18:35] kgardnr commented on #2381
Closing issue as we never heard back

[2019-08-23 18:35] #2381 closed, assigned to nobody

[2019-08-23 18:35] kgardnr commented on #2377
Hey @cristiandean we'll have a new PR for additional classnames coming next week - stay tuned! 🎉

[2019-08-23 18:35] #2377 closed, assigned to nobody

[2019-08-23 18:36] kgardnr commented on #2343
Hey @kaichristiansen are you still experiencing this issue?

[2019-08-23 18:36] kgardnr commented on #2331
Hey @vadim-berman were you able to get it working?

[2019-08-23 18:37] kgardnr commented on #2330
Whoops lol

[2019-08-23 18:38] kgardnr commented on #2316
Hey @ianwelsh are you still experiencing this issue?

[2019-08-23 18:38] #2313 closed, assigned to nobody

[2019-08-23 18:39] kgardnr commented on #2268
Hey @mkonikov we have a fix for this in v5! We'll be in touch about upgrading when we're ready.

[2019-08-23 18:39] #2268 closed, assigned to nobody

[2019-08-23 18:44] jonathanstegall opened #2504 "Feature idea: documentation for how to connect WordPress authentication to Talk v5"
I'm hoping that with the upcoming release of v5, there could be some documentation about how to connect WordPress authentication so users who are signed in to WordPress would also be signed in to Talk.

I was reading #1567 (which was just closed), and there's a comment (hoping this warrants making a separate issue):

This is of course exciting, and maybe we could see how this would work, specifica

[2019-08-23 18:45] #1934 closed, assigned to nobody

[2019-08-23 18:47] kgardnr commented on #1932
This will be addressed in v5

[2019-08-23 18:47] #1932 closed, assigned to nobody

[2019-08-23 18:47] kgardnr commented on #1931
This will be addressed in v5

[2019-08-23 18:47] #1931 closed, assigned to nobody

[2019-08-23 18:47] kgardnr commented on #1930
This will be addressed in v5

[2019-08-23 18:47] #1930 closed, assigned to nobody

[2019-08-23 18:47] kgardnr commented on #1929
This is addressed in v5

[2019-08-23 18:47] #1929 closed, assigned to nobody

[2019-08-23 18:48] kgardnr commented on #1928
This will be addressed in v5

[2019-08-23 18:48] #1928 closed, assigned to nobody

[2019-08-23 18:48] #1926 closed, assigned to nobody

[2019-08-23 18:48] #1925 closed, assigned to nobody

[2019-08-23 18:48] kgardnr commented on #1923
This will be addressed in v5

[2019-08-23 18:48] #1923 closed, assigned to nobody

[2019-08-23 18:48] #1922 closed, assigned to nobody

[2019-08-23 18:48] #1921 closed, assigned to nobody

[2019-08-23 18:48] #1920 closed, assigned to nobody

[2019-08-23 18:48] #1919 closed, assigned to nobody

[2019-08-23 18:49] kgardnr commented on #1918
This is addressed in v5

[2019-08-23 18:49] #1918 closed, assigned to nobody

[2019-08-23 18:49] kgardnr commented on #1915
This is addressed in v5

[2019-08-23 18:49] #1915 closed, assigned to nobody

[2019-08-23 18:49] #1876 closed, assigned to nobody

[2019-08-23 18:50] kgardnr commented on #1838
This will be addressed in v5

[2019-08-23 18:50] #1838 closed, assigned to nobody

[2019-08-23 18:50] kgardnr commented on #1826
@hjanuschka this will be addressed in v5

[2019-08-23 18:50] #1826 closed, assigned to nobody

[2019-08-23 18:50] kgardnr commented on #1779
@franciclo this will be addressed in v5! It's on our roadmap!

[2019-08-23 18:50] #1779 closed, assigned to nobody

[2019-08-23 18:52] kgardnr commented on #1936
This will be addressed in v5 and beyond

[2019-08-23 18:52] #1936 closed, assigned to nobody

[2019-08-23 18:53] kgardnr commented on #2040
This is addressed in v5

[2019-08-23 18:53] #2040 closed, assigned to nobody

[2019-08-23 18:53] #2029 closed, assigned to nobody

[2019-08-23 18:54] #2027 closed, assigned to nobody

[2019-08-23 18:54] kgardnr commented on #2022
Hey @lriggle-strib, closing this one out!

[2019-08-23 18:54] #2022 closed, assigned to nobody

[2019-08-23 18:55] kgardnr commented on #1996
hey @freder, this is addressed in v5! Check it out and let us know what you think, you can see v5 in the `next` branch currently 🎉

[2019-08-23 18:55] #1996 closed, assigned to nobody