[2016-11-03 23:58] wyattjoh opened #12 "Remove `'use strict;'` from server source code"

[2016-11-03 23:58] wyattjoh opened #13 "Remove non-standard eslint rules unless defined in devDependencies in package.json"

[2016-11-04 15:28] wyattjoh commented on #13
Seems that my editor was bonked, my bad!

[2016-11-04 15:28] #13 closed, assigned to riley

[2016-11-07 20:10] wyattjoh commented on #12
Resolved.

[2016-11-07 20:10] #12 closed, assigned to nobody

[2016-11-09 21:55] jde opened #47 "Embed link does not execute js"
When I copy an embed tag from here:

```https://talk-stg.coralproject.net/admin/configure```

And hit it with my browser, the js is shown in the iframe.

Embed Block:
[code]

This is what I see:

![unspecified-1](https://cloud.githubusercontent.com/assets/259957/20156194/4db3641e-a69d-11e6-98c3-fa75da92a62c.png)

[2016-11-09 21:56] jde commented on #47
This may have been caused by shifts in the way we're building/serving the files. If this is the case, let's meet as a team and make a final decision on how we are going to build/serve embeds.

[2016-11-09 21:58] davidgljay commented on #47
@wyattjoh I'm following your vision here, it seems like having an index.html causes problems, which is how we were handling this before. How would you like embeds to be handled?

[2016-11-09 22:07] jde opened #48 "Incorporate bin/init.js into application startup"
Currently we need to run bin/init.js to start up settings. Failure to do so leads to an opaque error and lots of debugging. I'd like to avoid extra steps that we need to know to do whenever possible.

Move the init.js step into the bootstrapping part of the server start. In this case, we can check to see if settings have been initialized and initialize them if they have not yet been initialized.

[2016-11-10 20:35] jde commented on #48
Fixed by #55

[2016-11-10 20:35] #48 closed, assigned to riley

[2016-11-11 18:57] davidgljay commented on #47
Is this resolved?

[2016-11-16 18:06] jde opened #70 "Ensure that notifications and popups aren't clipped by the stream iframe"
There are several cases where notifications and other pop-up interfaces are clipped off due to the size of the iframe.

Suggested simple fix: add a buffer of space to the bottom of the stream and have notifications appear in there. This will create space for overlays as well.

More robust fix may be to have pym react to the size of all notifications so that the iframe grows naturally to accommodat

[2016-11-16 22:36] jde commented on #47
Resolved.  Sorry for the late close!

[2016-11-16 22:36] #47 closed, assigned to davidgljay

[2016-11-18 15:58] jde opened #75 "Add meaningful error message when hitting embed/stream without iframe"
### Expected behavior

/embed/steam needs to be hit with an iframe as it needs to be passed the url of the parent page via pym. People are bound to navigate to that page, however. Currently, the display is left in a broken 'loading..' state and an opaque JS error is thrown.

Create a meaningful error message to display on the page;

"Talk Embed Stream must be embedded in a page. See http://github.

[2016-11-18 16:28] jde opened #76 "Enable facebook login for https://talk-stg.coralproject.net"
### Expected behavior

We should be able to login via Facebook from our staging server.

### Actual behavior

![screen shot 2016-11-18 at 11 27 00 am](https://cloud.githubusercontent.com/assets/259957/20437443/f6fa2450-ad81-11e6-8561-c3de782965f5.png)

### Steps to reproduce behavior

Go to https://talk-stg.coralproject.net/
Click Sign In
Click Facebook
Error shows in popup

[2016-11-18 17:17] #76 closed, assigned to jde

[2016-11-18 17:43] jde opened #78 "Comment stream: clicking logout doesn't immediately change ui"
### Expected behavior

Clicking Logout should immediately log out the user.

### Actual behavior

When clicking log out, the user is logged out but the UI is unchanged. Refreshing the page shows the user as logged out.

### Steps to reproduce behavior

Log into a comment stream
Click Logout
note that it still look like you're logged in
Refresh
You're logged out

[2016-11-21 16:55] jde commented on #78
Fixed in https://github.com/coralproject/talk/pull/79

[2016-11-21 16:55] #78 closed, assigned to nobody

[2016-11-21 16:57] jde commented on #70
Example of a short stream clipping the login box:

![screen shot 2016-11-21 at 11 56 42 am](https://cloud.githubusercontent.com/assets/259957/20492132/9d1d5bd4-afe1-11e6-901b-1c8feb8a8fbe.png)

[2016-11-22 22:18] jde commented on #70
Resolved!

[2016-11-22 22:18] #70 closed, assigned to davidgljay

[2016-11-22 22:20] jde opened #89 "All comments are shown as flagged in mod queues."
### Expected behavior

Only comments that have been flagged should show as flagged in the mod queues.

### Actual behavior

All comments are shown as flagged.

### Steps to reproduce behavior

* Create a comment on an asset no one will see to flag.
* Go to the mod queue.
* See that it is flagged.

[2016-11-22 22:32] jde opened #90 "iframe embed headers prevent cross domain iframes"
### Expected behavior

We should be able to embed an iframe anywhere. (In the future we may want to create a whitelist)

### Actual behavior

Embedding iframes across domains causes an error:

'''Refused to display 'https://talk-stg.coralproject.net/embed/stream?initialWidth=1596&childId=co…eamEmbed&parentTitle=&parentUrl=http%3A%2F%2Flocalhost%3A7777%2Fembed.html' in a frame because it set 'X-Fra

[2016-11-23 01:17] gabelula commented on #89
PR:
https://github.com/coralproject/talk/pull/94

[2016-11-25 21:14] wyattjoh opened #96 "Embed should not perform a http call to the settings endpoint"
### Expected behaviour

Settings should be injected server side when rendering the html page for the iframe of the embed.

### Actual behaviour

Loading via an http call.

[2016-11-25 21:14] wyattjoh commented on #90
This is related to the helmet package that's in use:

https://github.com/helmetjs/helmet

We should create a whitelist of embeddable domains that would add the right headers.

[2016-11-25 21:15] wyattjoh commented on #89
Resolved as #94 was merged.

[2016-11-25 21:15] #89 closed, assigned to gabelula

[2016-11-28 16:41] jde opened #98 "All comments in queues are showing as Anonymous"
### Expected behavior

### Actual behavior

Comments created by logged in users are showing as anonymous in the moderation queues.

The moderation queue feed isn't returning the user information for the author_ids:

https://talk-stg.coralproject.net/api/v1/queue/comments/pending

![screenshot 2016-11-28 11 42 40](https://cloud.githubusercontent.com/assets/259957/20677046/da3cc26a-b55f-11e6-9378-dd

[2016-11-28 17:16] jde commented on #90
In order to allow people to control where their community embeds can be places, we can add a White List for allowed domains.  Keeping this issue open to track this problem as we build out the settings.

[2016-11-28 17:52] jde opened #100 "Update Settings call not sending sid cookie"
### Expected behavior

When we update settings from the admin app, the front end should send the cookie.

### Actual behavior

The cookie isn't in the header, so the backend is sending a 401.

### Steps to reproduce behavior

Log into the admin app.
Click Settings.
Click Save Settings.
See the 401.

[2016-11-28 20:14] jde opened #105 "SPIKE: Host all assets ourselves?"
Should we host all of our assets ourselves?

If so, how should we publish them?

[2016-11-28 20:16] wyattjoh commented on #105
+1 for hosting it ourselves. We'll control the environment + versions + integrity. If the user wants to worry about performance they can put cloudfront in front of it to add a cache layer.

[2016-11-28 20:25] riley commented on #105
👍 definitely host it ourselves. we'll save ourselves a lot of headaches with dumb stuff that randomly comes up. And I don't think a big publisher is going to want to depend on npr's hosting for pym.js (just as one example) in prod.

[2016-11-28 21:32] wyattjoh commented on #100
The fetch call should include the option `credentials: 'same-origin'` if it doesn't already.

[2016-11-28 21:39] gabelula opened #107 "Failed to load resource when Privacy Badger extension is enabled."
### Expected behavior

All styles should be loaded correctly in the Chrome browser with the privacy-badger enabled.

### Actual behavior

There is a 'Failed to load resource: net::ERR_BLOCKED_BY_CLIENT' error when trying to load some styles.

[2016-11-28 22:26] davidgljay commented on #96
Handled in PR https://github.com/coralproject/talk/pull/109

[2016-11-28 22:51] jde opened #110 "Cannot update roles in community screen"
### Expected behavior

Toggling roles in the community screen should update the user.

### Actual behavior

Changing to Moderator or Administrator does nots ave (I get a 200 response but refreshing shows that the change hasn't stuck)
Changing to the empty role throws a 500.

![unspecified-2](https://cloud.githubusercontent.com/assets/259957/20689380/23d3dfc0-b593-11e6-8ff8-62b0bdfd1b64.png)

### S

[2016-11-28 22:54] wyattjoh commented on #110
Seems that the backend is trying to send back a blank role, hence the message.

[2016-11-28 23:16] wyattjoh commented on #110
Currently as well, the roles are implemented as an array of roles rather than a single role. The FE needs to implement the ability to remove and add specific roles rather than simply "setting" the role which is what's being done now. The BE doesn't have a method for this yet, but I'd expect to see something like:

[code]

[2016-11-29 15:16] davidgljay commented on #98
Addressed in PR https://github.com/coralproject/talk/pull/113

[2016-11-29 16:15] #96 closed, assigned to davidgljay

[2016-11-29 16:56] #90 closed, assigned to impronunciable

[2016-11-30 22:41] #98 closed, assigned to gabelula, davidgljay

[2016-12-02 20:48] jde commented on #100
Fixed!

[2016-12-02 20:48] #100 closed, assigned to riley

[2016-12-08 21:46] jde opened #141 "New comments show immediately in the comment stream when premod is on"
### Expected behavior

When premod is set and a user enters a comment they should not see the comment and see a message saying that the comment is in for moderation.

### Actual behavior

The comment is shown.
No message is shown.
On refresh, the comment disappears (as it should.)

### Steps to reproduce behavior

Make sure premod is on.
Leave a comment.
See the behavior described above.

[2016-12-08 21:51] wyattjoh commented on #141
Wait until https://github.com/coralproject/talk/pull/137 merges then test to see if this resolves it. Note that comments that are created when `{moderation: pre}` is set in settings will have the status of `premod`. Comment created when `{moderation: post}` is set in settings will have no status.

[2016-12-08 21:51] jde commented on #110
Where to put the functionality to set a single role is an interesting question.

My instinct is to create an endpoint that clears a users roles then adds the one that is sent, effectively modeling the single role behavior.

The other option is to handle this on the front end, but asking the front end to send multiple requests to remove and add seems inefficient.

[2016-12-08 21:53] wyattjoh commented on #110
As multiple roles can have different responsibilities (Even with overlapping responsibilities) I think that the model that we have supports this already.

I spoke with Emma regarding the UX/UI for this and I had suggested changing the role change screen to be similar to the "add a label" component for Github issues, where a dropdown shows all the possible roles, and you click to enable/disable the

[2016-12-08 22:22] jde commented on #110
I like that solution more. Moving this to a pivotal story: https://www.pivotaltracker.com/story/show/135814307

[2016-12-08 22:22] #110 closed, assigned to nobody

[2016-12-08 23:35] gabelula commented on #141
I just merged #137 and is not fixing it.

Also, the comment is shown AND the message is also shown at the bottom of the page.

[2016-12-09 12:04] okbel opened #147 "Move linting to webpack config"
### Problem
Linting is sometimes omitted or it takes a lot to run. Running it with webpack will decrease the wait and improve the developer experience.

### Solution

This could easily be arranged by adding this to our webpack.config file.

[code]

This way we can remove the linting hooks, only leaving the tests.

Thoughts?

[2016-12-09 19:21] jde opened #148 "With Firefox, cannot click on comment box after login modal has been closed"
### Expected behavior

Clicking in the comment box anytime should give me a cursor and let me type!

### Actual behavior

In firefox, I cannot bring focus to the comment dialog after the login box has opened and closed.

### Steps to reproduce behavior

Open a stream with firefox
click login
do the login thing
after the modal closes click on the comment box
note that it doesn't give you a cursor o

[2016-12-09 20:05] jde opened #149 "Configure Stream tab should not be visible for non admins"
### Expected behavior

Users who don't have the admin role (including non-logged in users), should not see or have any way of gaining access to the Configure Stream tab in the comment stream.

### Actual behavior

The tab is visible for everyone, but if you don't have access we see this:

![configure](https://cloud.githubusercontent.com/assets/259957/21062932/32648d0c-bdf7-11e6-9a00-a45311177c8f.p

[2016-12-09 23:49] jde opened #153 ""Historical" items"
The purpose of this discussion to accomplish two things:

1. Simple and standard way of knowing the current `status` of an item (aka, asset, comment or user)
1. A standard way of knowing everything that's happened in the lifecycle of an item, who (if anyone) took the action to make it so, and when it happened.

Proposal:
Current Status:
To know current status, each field has a `status` field (stri

[2016-12-10 00:14] jde opened #154 "Multiple reply boxes stack up"
### Expected behavior

We should only ever see more than one reply box. The top comment box is always open. At most, no matter how may reply buttons users clicks, they should never see more than 2 boxes (the top box and the reply box for the last reply button clicked.)

Clicking on reply for another comment while a reply box is already open should close the other reply box (content in it can be lo

[2016-12-10 00:30] gabelula opened #155 "Not commenting in post-moderation."
In Chrome

### Expected behavior

When in post-moderation, the comments show up right away in the comment stream.

### Actual behavior

The comments are not showing up and there is an error in the console.

<img width="1253" alt="screen shot 2016-12-09 at 2 26 56 pm" src="https://cloud.githubusercontent.com/assets/28330/21069226/f3efbe6e-be1b-11e6-90da-2986d4a5524d.png">

### Steps to reproduce be

[2016-12-10 00:32] gabelula commented on #141
Fixed.

[2016-12-10 00:32] #141 closed, assigned to davidgljay

[2016-12-10 00:44] kgardnr opened #157 "Bug: Banned word list is not preventing comments from showing up in the comment stream"
### Expected behavior
1. Add "foobar" to banned worst list in Admin
2. Comment with word "foobar" in text
3. Comment does not show up in stream and instead automatically in the Rejected queue

### Actual behavior
Comment shows up as normal in the comment stream

### Steps to reproduce behavior
See above

[2016-12-10 00:45] kgardnr commented on #105
Will be addressed here: https://www.pivotaltracker.com/story/show/135142971

[2016-12-10 01:06] gabelula opened #159 "Close/Open Comments"
Story: https://www.pivotaltracker.com/n/projects/1863625/stories/134297345

### Expected behavior

- The 'Close Stream' button in the 'Configure Stream' should have a box to write down the close message. (Otherwise we should have the Asset.closedMessage field not in the Asset but in Settings).
- The endpoint for changing the status of an Asset should change to use closedAt, closedMessage instead o

[2016-12-12 02:16] okbel commented on #149
Ready to be tested! https://github.com/coralproject/talk/pull/160 // cc @kgardnr

[2016-12-12 17:32] wyattjoh commented on #159
I added a comment on a related PR: #161 (comment)

I just don't think that an asset holds the same responsibilities that a comment has, so I don't think that we necessarily need to break out the functionality from the closedAt field already provides

The status of a asset is based on a temporal value (the time) and not the "most recent status" so the determination of the current status becomes muc

[2016-12-12 18:25] gabelula commented on #159
How do you open back the asset with the closedAt approach? Just null back the field?  I'm ok with that for now actually. We just needed to fix the backend to have it working with the frontend. I can modify the PR for that.

@jde any thoughts about this?

[2016-12-12 18:38] wyattjoh commented on #159
`closedAt: null` or `closedAt: false` would do the same thing there I think @gabelula

[2016-12-13 06:35] gabelula commented on #159
It get resolved in the PR https://github.com/coralproject/talk/pull/161 ready for review.

[2016-12-13 17:07] okbel commented on #149
Merged!

[2016-12-13 17:07] #149 closed, assigned to okbel

[2016-12-13 18:13] wyattjoh opened #166 "Fails to build assets on Node v7.2.1"
### Expected behavior

It builds.

### Actual behavior

It certainly does not:

[code]

### Steps to reproduce behavior

Run in a docker container with:

[code]

Then you should see an error!

[2016-12-13 20:01] #159 closed, assigned to gabelula

[2016-12-13 20:01] #155 closed, assigned to gabelula

[2016-12-13 23:24] #166 closed, assigned to davidgljay

[2016-12-15 17:35] #157 closed, assigned to davidgljay

[2016-12-16 17:29] kgardnr opened #178 "When you're on the Settings tab, the Total Comments number shows "0""
It should show the correct Total Comments number, as it does on the other tabs.

<img width="1280" alt="fullscreen_12_16_16__12_28_pm" src="https://cloud.githubusercontent.com/assets/1077300/21271966/3fc74d6a-c38b-11e6-8345-6f4b2a7897b2.png">

[2016-12-17 00:41] kgardnr opened #186 "Error when you click Show Shortcuts (2 errors on staging in console and 1 on local)"
- Go to the /admin on the Moderate tab
- Click on Show Shortcuts button in the menu
- On staging, it blocks the modal and throws 2 errors in the console
- On local, it doesn't block the modal but throws 1 error in the console

<img width="1280" alt="fullscreen_12_16_16__4_05_pm" src="https://cloud.githubusercontent.com/assets/1077300/21282832/a25a33b6-c3c7-11e6-97f9-ab82067cd896.png">

[2016-12-19 15:13] impronunciable commented on #105
Which assets are we talking about?

[2016-12-19 17:08] riley commented on #105
stuff like pym.js and materialize.css

[2016-12-19 17:39] wyattjoh commented on #147
I think we can definitely add this to the webpack pipeline but it makes sense to me to keep the project wide linting in place as a "catch-all".

[2016-12-19 17:41] wyattjoh commented on #107
Can you see what is necessary to reproduce this? I would assume that only resources that are considered "trackers" would be blocked...

[2016-12-19 17:45] gabelula commented on #107
Yes. Right now is https://code.getmdl.io/1.2.1/material.indigo-pink.min.css

<img width="1280" alt="screen shot 2016-12-19 at 9 43 47 am" src="https://cloud.githubusercontent.com/assets/28330/21322845/bfcf4c92-c5cf-11e6-99df-d7e5091d8aa2.png">

[2016-12-19 17:48] wyattjoh commented on #107
This will be resolved by https://github.com/coralproject/talk/issues/105

[2016-12-19 17:49] wyattjoh commented on #105
Seems that a MDL css lib that is externally loaded is causing the following issue: https://github.com/coralproject/talk/issues/107

[2016-12-19 17:49] gabelula commented on #107
Yes. Perfect!

[2016-12-20 17:47] jde opened #189 "Refactor Optimistic updates in comment stream ourside the comment box"
There is a lot of logic in the comment box that deals with the various states returned by the api. Refactor this logic into it's own place and design an api to access it.

[2016-12-20 20:47] gabelula opened #191 "Banned users can flag comments"
### Expected behavior

When a banned user is log-in, they should not be able to flag comments or usernames.

### Actual behavior

Banned users can flag items.

### Steps to reproduce behavior

* Log-in with a banned user account
* Try to flag a comment

[2016-12-22 00:09] gabelula opened #198 "Move tests from plugins into tests folder"

[2016-12-23 15:57] #186 closed, assigned to gabelula

[2016-12-23 15:57] #178 closed, assigned to nobody

[2016-12-23 16:00] jde opened #202 "Clicking user history removes comments in stream"
### Expected behavior

User should be able to toggle back and forth between the stream and their history.

### Actual behavior

User is on stream with, say, 3 comments.
Toggles to User History.
The number of comments in the stream updates to the number of comments in their user history.
Toggling back to the stream the stream is no longer there.

### Steps to reproduce behavior

Go to a stream, htt

[2016-12-23 16:10] jde opened #203 "If a user has no comments and clicks settings, the loading message persists"
### Expected behavior

If a user has no messages, we should say something along the lines of "You have not commented."

### Actual behavior

Loading message persists.
![unspecified](https://cloud.githubusercontent.com/assets/259957/21457851/4eb48fde-c900-11e6-8522-5dc8a3f17977.png)

### Steps to reproduce behavior

Create a new user (or login as a user who hasn't commented)
Click 'Settings'

[2016-12-23 16:11] jde commented on #203
@losowsky, what message should we show when a user has no comments? Or should we leave the area blank?

[2016-12-23 16:13] jde commented on #202
Redux state history:
[code]

Let me know if providing this history is valuable and I'll keep including it in reports!

[2016-12-23 16:49] losowsky commented on #203
"You have not yet left a comment"
or "This user has not yet left a comment"

[2017-01-03 18:14] gabelula commented on #191
AND banned users can comment.

[2017-01-04 19:17] #203 closed, assigned to gabelula

[2017-01-06 17:47] gabelula commented on #191
Done.

[2017-01-06 17:47] #191 closed, assigned to gabelula

[2017-01-06 17:48] gabelula opened #216 "Not able to comment when login."
### Expected behavior

- Comment right after login into Talk.

### Actual behavior

- Log In.
- Not Able to comment.
- Refresh the page.
- Able to Comment.

[2017-01-06 17:50] gabelula commented on #216
It is already filled in https://github.com/coralproject/talk/issues/148

[2017-01-06 17:50] #216 closed, assigned to gabelula

[2017-01-06 17:59] theysamtheirs opened #217 "Replies and reply button should be disabled when a comment stream is closed."
When comment streams are closed ability to reply should be disabled - button is disabled, and nothing appears if clicked.

Flagging and liking still remains available.

![replies issue](https://cloud.githubusercontent.com/assets/12632662/21727479/a8af0f0e-d40f-11e6-9562-d95189642c70.gif)

[2017-01-09 20:10] kgardnr opened #220 "Clicking on Settings tab and then clicking back to Comments tab, sets Stream closed and the setting is `null`"
### Expected behavior
Clicking different tabs if the stream is set to Open - you should be able to comment, take actions, see your history, and see settings (if you have appropriate permissions)

### Actual behavior
Clicking on Settings and then back to Comments, seems to clear the Settings which results in the stream being Closed.

### Steps to reproduce behavior
1. Go to comment stream, click on

[2017-01-10 06:49] wyattjoh commented on #220
I don't think that this is a backend issue @kgardnr. Might be related to the stream expiry setting, but I think these are separate tickets.

[2017-01-12 21:33] #220 closed, assigned to wyattjoh

[2017-01-12 22:36] jde opened #232 "Users can load any user's comments"
### Expected behavior

The endpoint that loads all the comments for a user should only allow users to see their own comments.

### Actual behavior

Users can load any user's comments.

https://github.com/coralproject/talk/blob/31b7dac48adc57a6fae916cc663e9d8387fc3ae5/routes/api/comments/index.js#L51

By convention, all endpoints that allow a logged in user to access their own data should be under

[2017-01-12 22:38] wyattjoh commented on #232
Actually, it's blocked by a previous check for this specific situation here: https://github.com/coralproject/talk/blob/31b7dac48adc57a6fae916cc663e9d8387fc3ae5/routes/api/comments/index.js#L28-L32

[2017-01-12 22:41] jde commented on #232
@wyattjoh That is correct, I missed that.  Closing.

[2017-01-12 22:41] #232 closed, assigned to nobody

[2017-01-13 22:39] gabelula opened #238 "Admin/Configure not working."
### Expected behavior

Enable Pre-modeartion switch in admin/configure should display the configuration.

### Actual behavior

Comment Settings in http://localhost:3000/admin/configure is not working. The only way to change the pre or post moderation for the stream is in the Configure Stream.

### Steps to reproduce behavior

- Change the pre-moderation in the configure stream.
- Go to admin/confi

[2017-01-13 22:43] gabelula opened #239 "Pre-moderate comments containing links not working"
### Expected behavior

When 'Pre-Moderate Comments Containing Links' is ON then all the comments that contain links go to the moderation queue.

### Actual behavior

Comments are being displayed.

### Steps to reproduce behavior

- click on 'Pre-Moderate Comments Containing Links'
- add a comment with a link

[2017-01-13 23:26] gabelula commented on #238
Actually this is fine. The configuration for the stream overwrites the global configuration.

[2017-01-13 23:26] #238 closed, assigned to nobody

[2017-01-17 15:35] jde opened #240 "Register User: incorrect error states block process"
### Expected behavior

Correct error states.

### Actual behavior

When the "pass and confirm pass" error state triggers, it causes the display name and password states to trigger even though the content is correct.

![register-bug](https://cloud.githubusercontent.com/assets/259957/22027048/8c792f92-dca0-11e6-90dc-610a2df5f869.gif)

### Steps to reproduce behavior

* register new user
* fill in va

[2017-01-17 15:51] jde opened #241 "Configure Stream tab doesn't appear when logging into stream"
### Expected behavior

If you are logged in as an admin, you should always have the Configure Stream tab available.

### Actual behavior

Admins need to log in, then refresh the stream to see the tab.

![stream-settings-tab-needs-refresh](https://cloud.githubusercontent.com/assets/259957/22027769/e1099874-dca2-11e6-845f-1f26a714393c.gif)

### Steps to reproduce behavior

* Log in as an admin
* Not

[2017-01-17 15:56] okbel commented on #241
I can't reproduce this. This is how I see it:

![out](https://cloud.githubusercontent.com/assets/1401559/22027965/4a1e727e-dcb4-11e6-8283-b275e45f026d.gif)

[2017-01-17 15:58] okbel commented on #241
The only thing different I see is that you are login in with Facebook. Odd.

[2017-01-17 17:00] jde opened #243 "User comment history not showing in Settings tab"
### Expected behavior

All published comments should show under Settings in the user tab.

### Actual behavior

Comments are not showing.

Note in this image that they _are_ being returned from the api with the appropriate statuses.

![unspecified](https://cloud.githubusercontent.com/assets/259957/22030716/821eec92-dcac-11e6-8bdb-08a03f39400a.jpg)

### Steps to reproduce behavior

* Add comments a

[2017-01-17 18:08] jde commented on #202
Fixed

[2017-01-17 18:08] #202 closed, assigned to riley

[2017-01-17 18:16] jde commented on #148
Firefox shows an error in the element tree that is not reported in the Console:

![firefox-textarea-error](https://cloud.githubusercontent.com/assets/259957/22033605/30bd311e-dcb7-11e6-8e5f-0f57d2d39f93.png)

[2017-01-17 21:28] kgardnr commented on #241
This is working again! Closing :)

[2017-01-17 21:28] #241 closed, assigned to nobody

[2017-01-17 21:28] kgardnr commented on #243
This is also fixed in @riley's PR. Closing.

[2017-01-17 21:28] #243 closed, assigned to nobody

[2017-01-19 21:39] kgardnr commented on #243
Fixed in https://github.com/coralproject/talk/pull/250

[2017-01-19 21:45] jde commented on #240
Fixed. We were not allowing capital usernames and not messaging properly. This was more of a messaging issue than a bug.

[2017-01-19 21:45] #240 closed, assigned to riley

[2017-01-24 20:08] jde opened #252 "Cli tool should initialize settings"
### Expected behavior

Settings should always be initialized no matter how we access the app.

We should be able to use the cli tool before running the server.

### Actual behavior

Currently, settings init only happens when we run the server, so if we try to do something with the cli first, we get errors.

### Steps to reproduce behavior

drop your db
try to run `bin/cli users create`

[2017-01-24 20:58] jde opened #253 "Admin Community: User roles should be additive, not toggling"
We have a mismatch between the element in the community page and the user role concept on the backend.  The backend is configured to allow users to have any number of roles.  The frontend has a dropdown toggle which only sends one role, adding it to the list.

My recommendation is to update our front end code to use a checkbox/tag widget to allows us to have more than one role.

Limiting users to

[2017-01-24 23:44] wyattjoh commented on #252
This is currently implemented with the `bin/cli settings init` action.

[2017-01-25 16:30] jde commented on #252
Is there an argument for keeping this initialization step explicit? As far as I can see, there is not case in which the cli or the server should ever be run without an initialized settings object.

My thought is to lazy initialize settings with the same mechanism that checks each time we start the app. This will prevent the need for an extra step that doesn't take any configuration and potential c

[2017-01-26 15:39] jde commented on #239
This story has been reprioritized. Hiding the UI component until we get around to adding the feature.

[2017-01-26 15:48] jde commented on #239
https://github.com/coralproject/talk/pull/260

[2017-01-26 15:48] #239 closed, assigned to nobody

[2017-01-26 15:49] jde commented on #198
Please provide more context for this change.

[2017-01-26 15:49] jde commented on #189
This has been done as part of our move to graphql.

[2017-01-26 15:49] #189 closed, assigned to davidgljay

[2017-01-26 15:54] jde commented on #147
+1 to keeping our linting rules in a single place since they apply to both FE and node code. @okbel, how much faster would it be to have linting in webpack? Do you think the performance gains you speak of are worth forking the linting rules?

[2017-01-26 15:54] #107 closed, assigned to nobody

[2017-01-26 15:57] jde commented on #105
At this point we are only loading external fonts. Loading without them falls back to defaults which are acceptable to me.

Should we host fonts / use defaults?

[2017-01-26 15:58] jde commented on #75
This can be rolled into a larger refactor decoupling the stream from the current iframe implementation.

[2017-01-26 15:58] #75 closed, assigned to davidgljay

[2017-01-26 22:29] jde opened #262 "Store flag data fields on backend."
Flags need multiple fields for context which are currently not being captured on the backend. @davidgljay can coordinate on the precise field needs for flags.

[2017-01-27 15:07] jde commented on #153
We are moving away from 'item level' architecture and will be addressing historicity at a type by type basis.  Closing.

[2017-01-27 15:07] #153 closed, assigned to nobody

[2017-01-27 16:15] jde opened #266 "Consolidate settings defaults."
We currently have the default settings in 3 places: https://github.com/coralproject/talk/pull/264/files

Your mission if you choose to accept it is to consolidate them into a single place.

[2017-01-27 16:17] wyattjoh commented on #266
This should be handled when we get to the "first time setup" story.

[2017-01-27 16:19] wyattjoh commented on #252
Really, this should be handled when we get to the "first time setup" story, to mirror tech like "wordpress" and what not. The cli could complain that you must run the "first time setup" instead of actually initializing it each time.

[2017-01-31 17:11] wyattjoh commented on #262
@davidgljay can you list here specifically what fields we need to add (as metadata)?

[2017-01-31 17:47] #252 closed, assigned to wyattjoh

[2017-01-31 17:47] #266 closed, assigned to nobody

[2017-01-31 18:02] jde commented on #154
Fixed

[2017-01-31 18:02] #154 closed, assigned to nobody

[2017-02-01 16:51] davidgljay opened #278 "Signin dialog appears on Settings page in stream when a user is signed in."
### Expected behavior

Once I'm logged in, the settings page should let me edit my settings.

### Actual behavior

![screen shot 2017-02-01 at 11 50 02 am](https://cloud.githubusercontent.com/assets/680687/22516734/c017f164-e874-11e6-9c80-4b3c43b0e51d.png)

### Steps to reproduce behavior

1. Log in on stream
2. Click "Settings" tab

[2017-02-02 19:16] wyattjoh opened #285 "When a admin enabled "require email confirmation", they themselves are locked out."
### Expected behaviour

**Need to check with product**

### Actual behaviour

- Email's now need to be verified, new logins are locked out

### Steps to reproduce behaviour

1. Install talk
2. Create user
3. Enable the requirement for email confirmations
4. Log out
5. Try to login

[2017-02-02 19:16] wyattjoh commented on #285
@kgardnr could you weigh in on this?

[2017-02-02 19:50] jde commented on #285
Two thoughts _if we apply email verification retroactively_:

As far as I understand, this shouldn't lock out the admin. The admin should try to log in, see they need to register, request a verification link, then be able to log in.

This move would force all users to do the same, and should be widely communicated to the user base well prior to the action.

Another option:

We could also only appl

[2017-02-02 19:53] losowsky commented on #285
I like the first option. But for the beta would it save a lot of design/dev time to have this be something set up on install and not be changed?

[2017-02-02 20:23] wyattjoh commented on #285
Another option, send the verification email always. That way when you turn it on, users always have the chance to verify it then.

[2017-02-02 20:33] kgardnr commented on #285
I'm making the executive decision to go with @wyattjoh's suggestion above. We will break out any advanced functionality separately. Questions/concerns, please come directly to me.

[2017-02-10 19:55] jde opened #301 "Edge case like count error"
### Expected behavior

Clicking the like button should toggle whether you've liked it in all circumstances.

### Actual behavior

If you:
- like a comment
- refresh
- click that same like button (removes comment correctly)
- click it again (like count goes up by 2)
- click it again and again to see an odd cycles of like counts

[2017-02-10 19:58] jde commented on #301
I would timebox this fix to 30 mins. We are going to address this button probably in March when we pick up plugins and will likely refactor the optimistic updates then.

[2017-02-10 21:35] #301 closed, assigned to riley

[2017-02-10 21:54] jde opened #303 "Edge case Like bug"
### Expected behavior

Clicking like always toggles as expected.

### Steps to reproduce behavior

1. Log in as a user
2. like a comment
3. log out (don't refresh)
4. log in as another user
5. like the comment (you will actually unlike it, then liking again shows +2)

This is a major edge case, but will likely lead to more bugs in the future.

The local state implementation of optimistic updating

[2017-02-15 23:18] wyattjoh commented on #303
Same behaviour with flagging.

[2017-02-15 23:20] wyattjoh commented on #285
Resolved as of f488b0e02d8255b603f6e3ac6076b2a36b131500

[2017-02-15 23:20] #285 closed, assigned to wyattjoh

[2017-02-15 23:20] wyattjoh commented on #262
Resolved as of https://github.com/coralproject/talk/pull/297

[2017-02-15 23:20] #262 closed, assigned to wyattjoh

[2017-02-22 22:01] wyattjoh opened #337 "Users can always edit their username when logging in via social providers"
### Expected behaviour

1. User is permitted the ability to edit their username when they sign up using a social provider
1.1 If a user chooses to change their username, do that and disable username editing
1.2 If a user chooses not to change their username, still disable username editing

2. User when signing in via a social provider does not get the ability to change their username

### Actual b

[2017-02-24 19:10] wyattjoh opened #342 "Setup does not prompt for whitelisted domain"
### Expected behaviour

- During the setup wizard, it should prompt to whitelist the current domain as safe, or recommend you enter the whitelisted domain

### Actual behaviour

- It does not

[2017-02-24 20:45] jde commented on #342
This is a good point. I think we need to rethink the entire concept of how we fake out assets as it is confusing. I'm not sure if we want to support fake threads, or if we do we need to be very specific about what's going on.

[2017-02-24 20:46] wyattjoh opened #344 "Apollo Client not using addTypename"
### Expected behaviour

No error after production deploy.

### Actual behaviour

Got the following while viewing a comment in the console:

true option set in Apollo Client. Please turn on that option so that we can accurately
match fragments.

### Steps to reproduce behaviour

1. Build for production
2. Create account
3. Post comment
4. Observe warning in console.

[2017-02-24 21:04] davidgljay commented on #344
Adding this directly doesn't effect the error, and there is no Apollo
documentation that I can find that mentions addTypeName in this way.

On Fri, Feb 24, 2017, 3:46 PM Wyatt Johnson <notifications@github.com>
wrote:

[2017-03-01 17:25] wyattjoh commented on #342
Resolved with https://github.com/coralproject/talk/pull/348

[2017-03-01 17:25] #342 closed, assigned to okbel

[2017-03-01 17:26] wyattjoh commented on #337
Resolved with https://github.com/coralproject/talk/commit/5d0ea6a880c20e0655e2df080adbd3caefd24a22

[2017-03-01 17:26] #337 closed, assigned to gabelula

[2017-03-01 18:38] wyattjoh opened #357 "Revert version pinning on node 7.6.0"
Currently experiencing an upstream issue with node ~7.7 https://github.com/nodejs/node/issues/11628

We should remove the version pin when the issue is resolved.

[2017-03-01 21:24] wyattjoh opened #362 "Revert node-gyp fix when upstream issue is resolved"
https://github.com/coralproject/talk/commit/4461f47428f75cf69d268d2c5daae5a08d5620b3#diff-3254677a7917c6c01f55212f86c57fbfR4 must be removed when https://github.com/nodejs/docker-node/issues/346 is resolved.

[2017-03-02 19:47] #362 closed, assigned to wyattjoh

[2017-03-11 02:15] gobengo commented on #357
Looks like 7.7.1 is now released with a fix? https://github.com/nodejs/node/issues/11628#issuecomment-283587919

7.7.2 is out too, as are corresponding Docker Hub tags.

[2017-03-13 15:44] wyattjoh commented on #357
Awesome @gobengo, I've pushed this for review.

[2017-03-13 16:01] #357 closed, assigned to wyattjoh

[2017-03-17 13:07] #148 closed, assigned to okbel

[2017-03-17 13:09] kgardnr commented on #253
@jde Isn't this same thing solved if the roles themselves are additive/hierarchical?

Eg.
contributor - can do X
moderator - can do everything a contributor can, plus Y
admin - can do everything a moderator can, plus Z

[2017-03-29 02:29] pablocubico opened #449 "Suspected profanity dialog (?) on account creation"
### Expected behavior
I should be able to register.

### Actual behavior
Can't register because of a "suspected profanity" error (?).
There are also some typos/artifacts on the error message, and some missing translations (screenshot attached).

### Steps to reproduce behavior
Test the registration form on https://blog.coralproject.net/the-empty-box/

Example:

<img width="304" alt="captura de pan

[2017-03-29 13:06] kgardnr commented on #449
Hey @pablocubico this is fixed now! Thank you for bringing it to our attention! An emoji was breaking the banned words list, so we're creating a new issue to support emojis.

[2017-03-29 13:06] #449 closed, assigned to nobody

[2017-04-06 13:37] #147 closed, assigned to okbel

[2017-04-06 13:37] #198 closed, assigned to gabelula

[2017-04-06 14:19] jde commented on #303
This behavior is fixed

[2017-04-06 14:19] #303 closed, assigned to nobody

[2017-04-06 14:20] jde commented on #278
Fixed

[2017-04-06 14:20] #278 closed, assigned to nobody

[2017-04-06 14:20] jde commented on #217
Fixed

[2017-04-06 14:20] #217 closed, assigned to riley, theysamtheirs

[2017-04-06 14:22] #105 closed, assigned to nobody

[2017-04-07 03:10] marcosnils opened #471 "Local / Remote plugin require is not consistent"
### Expected behavior
Consistency while using `require` to use a Talk dependency in the plugin

### Actual behavior
`require` works differently depending if the plugin is local or remote.

### Steps to reproduce behavior
If you use the following plugin (https://github.com/mantika/sherloq-talk/blob/master/index.js) locally by copying the index.js in the proper folder, `require` works as expected. H

[2017-04-07 14:02] wyattjoh commented on #471
I'll take a look at this today @marcosnils!

[2017-04-07 16:27] #471 closed, assigned to wyattjoh, okbel

[2017-04-27 09:01] petitpress1 opened #541 "EBADCSRFTOKEN on install page"
I have just install docker version and have problems setting it up. I'm getting bad csrftoken exception while specifying domain list in last step on:

http://localhost:5000/admin/install

Can you please help me find out what am I missing?

[code]

[2017-04-27 16:59] wyattjoh commented on #541
What you're likely running into @petitpress is when you run the application in production mode, the application requires that you serve the application with HTTPS. You can use a tool like ngrok or a web server like Caddy to provide an SSL certificate for testing.

[2017-04-28 14:44] wyattjoh opened #551 "Build broken when plugins.json is an empty object"
### Expected behaviour

- Displays the stream

### Actual behaviour

- Displays the following error:

![screen shot 2017-04-28 at 8 38 14 am](https://cloud.githubusercontent.com/assets/633002/25533762/e3eec82a-2bee-11e7-9510-7aa11b6cf1e0.png)

### Steps to reproduce behaviour

- Create a `plugins.json` file with contents `{}`
- Build bundle
- Run server + view stream

[2017-04-28 14:54] wyattjoh commented on #551
This is also the same beheviour when the `plugins.json` file contains: `{"client": []}`

[2017-04-28 15:04] #551 closed, assigned to nobody

[2017-05-01 14:03] #541 closed, assigned to nobody

[2017-05-17 06:45] egeland opened #594 "1.6.0 Fails to connect to non-local redis"
### Expected behaviour
Webapp homepage should load, including the `/api/v1/graph/ql` call.

### Actual behaviour
Running 1.6.0 in kubernetes, the site fails with a spinner, rather than loading the comment stream.
The `ql` call fails with a `400` error.

### Steps to reproduce behaviour
Run 1.5.x in kubernetes, then change the `deployment` to have 1.6.0.
Try to reload the page - spinner/`400` error

[2017-05-17 17:10] StephanieDClark opened #595 "Provide enable: (true|false) switch for all plugins"
The request is to include a config property named "enable" for all plugins.  This can be passed in through the plugin.config

### Expected behavior
If enabled === true, then the plugin renders as normal.  If enabled === false,then the plugin does nothing.

### Actual behavior

### Steps to reproduce behavior

[2017-05-17 19:49] kgardnr commented on #594
Thank you for reporting this @egeland! We will take a look.

[2017-05-23 17:20] StephanieDClark opened #606 "Provide Slot below CommentBox, above stream"
### Expected behavior
This Slot would be available at the very top of the stream, above the NewCount div.

This would allow us to add a filter for Off-topic comments, in addition to other design elements, as discussed by @IAmSamHankins and @egrdina .

This slot would generally have filter tabs in it, but could have anything.

### Actual behavior

### Steps to reproduce behavior

[2017-05-25 16:40] #253 closed, assigned to nobody

[2017-05-31 15:19] Charlie73 opened #620 "Getting: Invalid csrf token"
I'm running talk via an nginx proxy using letsencrypt for HTTPS

The admin site is loading fine over https but all POST requests are meet with the error 'Invalid csrf token'

I figure it is most likely an issue with something being missed out or mangled by the proxy. My nginx location config looks like this:-

        location / {
            proxy_set_header            Host    $host;

[2017-05-31 20:07] kgardnr commented on #620
Hey @Charlie73, thanks for reporting this! What version of Talk are you seeing this with?

[2017-05-31 20:14] kgardnr commented on #620
Also can you send us the URL you are using for production?

[2017-06-01 08:26] Charlie73 commented on #620
Hi @kgardnr I'm using the docker installation method and the docker-compose.yml example from the install page, so it looks like it's using coralproject/talk:1.5

My production url is https://surnamedb.ugcserver.org I'm planning on using talk to replace the comments on http://www.surnamedb.com

Ahhh ha...

Just updated to 1.7 and it's all working now. I should have checked that sorry!

[2017-06-01 09:07] Charlie73 opened #625 "Comment Importing"
Are there currently any guidelines or suggestions on the best way to import existing comments into Talk?

[2017-06-01 14:59] kgardnr commented on #620
No worries at all! Would love to hear your feedback as you start using Talk, @Charlie73! Thanks for your interest and support :)

Kim & The Coral Team

[2017-06-01 14:59] #620 closed, assigned to nobody

[2017-06-01 15:00] kgardnr commented on #595
Hey @StephanieDClark, we will look at this enhancement in the future. Currently, the mode to turn plugins on or off is to use the plugins.json file. Let me know if that works for you in the interim.

[2017-06-01 15:03] kgardnr commented on #594
Hi @egeland, could you try updating to 1.7.0 and see if you're still experiencing this issue?

[2017-06-01 15:25] StephanieDClark commented on #595
Well, the issue with turning plugins on/off in the plugins.json file is that this requires rebuild/redeployment.  Ideally, we would like to not even have the plugin run if it is not enabled.

E.g., most pages don't have off-topic, so it doesn't need to even run.

However, for the time being, we will just include a switch in the plugin config.

[2017-06-01 16:32] gabelula commented on #625
Hi @Charlie73 !

We have been working on an import tool (https://github.com/coralproject/talk/tree/import-data/bin) that you can find in the import-data branch. It translated data from a mongodb db to Talk based on a mapping file. So far we do not have any guidelines.

What is your source comments database?

[2017-06-01 17:53] losowsky opened #633 "Broken/incomplete link on docs"
The link here goes nowhere:

https://coralproject.github.io/talk/client-architecture.html#test

(https://coralproject.github.io/tools.html)

[2017-06-01 17:55] losowsky opened #634 "Text improvement on docs"
https://coralproject.github.io/talk/install-setup.html

This part:

Needs a link to the Terminology doc as users can't find it easily from here.

[2017-06-01 18:22] kgardnr commented on #595
OK, great!

[2017-06-02 04:58] egeland commented on #594
I just tried `1.8.0` since it's the latest, and still getting the `400` and thus the infinite spinner...

[2017-06-02 08:44] Charlie73 commented on #625
Thanks @gabelula

My comments are stored in a ReThinkDB database, so it's probably going to be a custom migration job. But I think I'm going to just insert them into the database directly and see how that goes... Unless there is an API endpoint that handles the insertion of old comments?

Also where is the best place to chat with you guys about this stuff?

[2017-06-02 13:59] gabelula commented on #625
Awesome!

There is an API to insert comments (and users and actions).
https://coralproject.github.io/talk/faq.html#where-are-your-http-api-docs

You can join Slack and talk with us there: https://coralprojectslackin.herokuapp.com/

[2017-06-02 14:44] Charlie73 commented on #625
Thanks :-)

I have tried to join the slack community but I'm getting 'ura_limit_reached' .

[2017-06-07 15:57] Charlie73 opened #659 "API errors with 1.8"
### Expected behavior
Running the GraphQL query in 1.7 produced the expected results -
[code]

### Actual behavior

But in 1.8 it now produces -

[code]

### Steps to reproduce behavior

Just switching between versions in docker

[2017-06-07 16:00] kgardnr commented on #606
This is resolved in https://github.com/coralproject/talk/pull/654.

[2017-06-07 16:00] #606 closed, assigned to nobody

[2017-06-07 18:52] jde commented on #659
Hey @Charlie73,

Between 1.7 and 1.8 we cleaned up a lot of issues surrounding how comments were queried and returned. We went from a flat query/response to a more formal CommentQuery / CommentConnection pattern.

You can see the new definition for `comments(query: CommentsQuery!): CommentConnection` here: https://github.com/coralproject/talk/blob/master/graph/typeDefs.graphql#L595 or in the Graph

[2017-06-07 18:52] #659 closed, assigned to nobody

[2017-06-08 13:16] jtnelson commented on #625
@Charlie73 you should be able to join the slack community now, let me know if you're still having trouble

[2017-06-08 14:51] wyattjoh commented on #594
Are you sure @egeland that there isn't an issue with the k8s setup? We've deployed Talk to various environments where mongodb/redis were located elsewhere and/or linked with docker links + docker compose.

If you set `DEBUG=talk:redis`, what do you see in the output from the server?

[2017-06-08 14:53] #344 closed, assigned to nobody

[2017-06-08 14:53] kgardnr commented on #625
Closing this issue, @Charlie73 let us know if you have additional questions!

[2017-06-08 14:53] #625 closed, assigned to nobody

[2017-06-08 14:55] kgardnr commented on #595
@StephanieDClark I'm going to close this for now and we will look at addressing this in more advanced ways in the future.

[2017-06-08 14:55] #595 closed, assigned to nobody

[2017-06-08 14:56] wyattjoh commented on #594
Our redis connection is also very simple, using the `redis` package in a very standard and well supported way: https://github.com/coralproject/talk/blob/master/services/redis.js#L35

[2017-06-09 02:30] egeland commented on #594
I'm off work today, so I'll try it again next week, with the debug setting.

The weird thing is that the older version, using the same redis config, works fine. It just fails when I change to use docker image 1.6.0 or above..

[2017-06-13 09:08] Goyapa opened #676 "Permitted domains are not set "Domain Whitelist""
[//]: # (Permitted domains are not set "Domain Whitelist")

### Expected behavior
Type(Set) the permitted domain e.g. "localhost:3000" at http://localhost:3000/admin/install
-> Step 3 (Domain Whitelist) and click "Finish Install".
The permission should be reflected and set in,
Configure -> Tech Settings -> Permitted Domains at http://localhost:3000/admin/configure.

### Actual behavior
There are t

[2017-06-13 10:40] Goyapa commented on #676
Hello, I would like to take this issue and convert it into my first pull request at Talk project.

There are different ways to solve this issue, and I do not know which one Talk designers and developers would prefer.

But I have one suggestion to create a concise behavior at the

Admin setup and configure workflow.

At http://localhost:3000/admin/configure -> "Tech Settings" -> "Permitted Domains"

[2017-06-16 13:31] wyattjoh commented on #594
I've attempted, but cannot reproduce the error you are encountering. We have many developers and production environments using non-local redis installs.

Closing for now.

[2017-06-16 13:31] #594 closed, assigned to wyattjoh

[2017-06-22 16:47] davisshaver opened #701 "Upgrade path when using Docker containers"
### Expected behavior
Here's the post I wrote last time I updated. https://davisshaver.com/2017/05/17/setting-up-the-coral-projects-talk-product-on-aws/

<details>

[code]

</details>

### Actual behavior
This time I got an error that I needed to run a database migration first.

[code]

### Steps to reproduce behavior
See blog post, I am not sure what HEAD had been on my server before I pulled tod

[2017-06-22 17:16] ALawliet opened #702 "Selecting "Moderate →" shows no comments for that story and loses the tab"
Not sure if intended, but this seemed off to me.

### Steps to reproduce behavior
Start with comments that have not been moderated (neither Approved nor Rejected).

**Path 1 ✅**
- open search dropdown
- select story "Coral Talk"
- notice it still shows those unmoderated comments, and the tab underline indicating we're at the "All" tab (expected behavior)

(start over by opening the search dropdown

[2017-06-22 18:20] davisshaver commented on #701
Looking into this some more.

I was able to start the upgrade process with the following:

[code]

Seems to be processing now, will confirm soon...

[2017-06-22 18:34] davisshaver commented on #701
Ok after staring at the terminal for 10 mins, fixed the command to include `-it` for interactive terminal.

[code]

[2017-06-22 18:34] #701 closed, assigned to nobody

[2017-06-22 18:35] davisshaver commented on #701
Closed the issue as the above command results in upgrade! 👍

[2017-06-22 18:36] kgardnr commented on #701
Oh awesome, thanks for updating here @davisshaver!

[2017-06-22 19:45] wyattjoh commented on #701
It was by design that the update/migration was not done automatically. Some customers may have very large datasets and we didn't want to start something without warning the user that they need to backup their data first.

[2017-06-23 08:50] kgardnr opened #706 "Creating a new user via the CLI doesn't assign role"
### Expected behavior
- Create new user with role X
- List users and see that user with role X

### Actual behavior
- Create new user with role X
- New user has a blank role

[2017-06-24 19:59] ALawliet commented on #702
Fixed in: https://github.com/coralproject/talk/pull/703 https://github.com/coralproject/talk/pull/707

[2017-06-24 19:59] #702 closed, assigned to nobody

[2017-06-25 15:10] davisshaver opened #711 "JS error in client/embed/stream"
### Expected behavior
Talk comments box should load without error.

### Actual behavior
JS error. `bundle.js:25 TypeError: Cannot read property 'nodes' of undefined`. [Link to script file.](https://talk.notphilly.com/client/embed/stream/bundle.js)

[code]

### Steps to reproduce behavior
Visit page with Talk embed. [eg](https://davisshaver.com/2017/06/25/qubit-meta-analysis-on-website-optimization

[2017-06-26 08:41] #676 closed, assigned to nobody

[2017-06-26 09:09] Goyapa commented on #633
This issue seems to be fixed!?

If I got to
https://coralproject.github.io/talk/client-architecture.html#test
and click tools
it now goes to
https://coralproject.github.io/talk/tools.html
which is better than
https://coralproject.github.io/tools.html

@jde this Issue could be closed

[2017-06-26 10:11] Goyapa opened #712 "Create new "Set up talk developer environment" section under Development Docs"
A slightly edited version of the copy from the Discussion at Slack as entry point:

Hello, @jeff we talked about integrating my writings on medium to the Talk docs.
https://medium.com/@MichMach/contribution-to-oss-2a24447770c9

I asked myself how, which content and where to integrate.
I started writing at Medium about Talk because I could only find rare information specific to developers and had t

[2017-06-26 10:15] Goyapa commented on #712
@jtnelson
Ok, I'll transform my medium post into a pull-request for discussion and review.

[2017-06-26 15:20] wyattjoh commented on #712
Few notes on the article.

- We strongly recommend anyone developing Talk use Docker for their databases during development. This ensures that all databases used by all developers are the exact same version, and are isolated from existing datasets that they may have on their computer. This goes for Redis + Mongo as well.
- The environment file is a defined pattern used by anyone who has ever used

[2017-06-26 18:27] davisshaver commented on #711
I think _this_ was an issue with `bundle.js` being browser cached. Maybe version strings on internal assets would help prevent this?

[2017-06-28 20:17] Goyapa commented on #712
Thank you @wyattjoh for your notes and quick response!

Now that I am reading the docs with your notes in mind it makes much more sense to me.

Maybe this is what took me away from using Docker!?
https://github.com/coralproject/talk/blob/master/INSTALL.md

by the way, this page I found much later.
https://coralproject.github.io/talk/install-docker.html

"We currently support packaging the Talk app

[2017-06-28 21:39] wyattjoh commented on #712
Our development environment:

- Docker for Mongo + Redis
- Source for running Talk

This is because Talk already has version management via `yarn.lock`. The Docker file for Talk is removes all the development dependancies, which is why we recommend it for production only.

We are currently in the process of refining the documentation around this process now, and would love to know of any pain poin

[2017-06-29 12:52] davisshaver commented on #711
I'm still getting intermittent JavaScript errors.

Are any other organizations using Talk on `master`? Surprised I'm the only report so far...

[2017-06-29 13:22] #711 closed, assigned to nobody

[2017-06-29 13:22] davisshaver commented on #711
Sorry for the reopen/close. The issue resolved itself again. I dunno 👻

[2017-07-07 15:30] Goyapa commented on #712
@wyattjoh
Update: I cleaned up my Medium post
https://medium.com/@MichMach/contribution-to-oss-2a24447770c9
and I am figuring out how to integrate(improve) into existing docs and where are missing links.
https://coralproject.github.io/talk/faq.html (which by the way are already in a good shape)

Actually, I ask myself where to integrate my content without messing talk users up with developer conte

[2017-07-11 13:47] Goyapa opened #752 "JPEG for use in Docs GraphiQL"
This is a CDN less hosting of Images described here:
[GitHub Tricks: Upload Images](http://solutionoptimist.com/2013/12/28/awesome-github-tricks/)

![image](https://user-images.githubusercontent.com/815894/28073533-47debff6-6656-11e7-82fb-eb5aebefa350.png)

[2017-07-11 13:47] #752 closed, assigned to nobody

[2017-07-11 15:46] Goyapa opened #754 "Jpegs for the Admin Configuration Docs"
This is a CDN less hosting of Images described here:
GitHub Tricks: Upload Images

03-1-2-domain-whitelist-maually-write-domain-name-log-in-with-spinner

![03-1-2-domain-whitelist-maually-write-domain-name-log-in-with-spinner](https://user-images.githubusercontent.com/815894/28076151-049c814e-665e-11e7-8940-557bd781ae88.png)

configure_tech-settings_permitted-domain_save-changes-green

![configure

[2017-07-11 15:46] #754 closed, assigned to nobody

[2017-07-11 19:47] #706 closed, assigned to wyattjoh

[2017-07-11 19:47] #633 closed, assigned to jde

[2017-07-11 19:48] #634 closed, assigned to jde

[2017-07-24 17:28] offensivepolitics opened #789 "User IDs included in URLs need to be URI component encoded"
### Expected behavior
The admin panel (at the very least) uses the UserID in a URL to ban a community member, but if the userId contains non url safe characters (like forward slash) then the action fails and returns a 404. Given a user ID of "1234/56768" I expect the URL to look like this:
`https://coral-talk/api/v1/users/1234%2F5678/status`
### Actual behavior
Given a user ID of "1234/56768" the

[2017-07-24 17:33] kgardnr commented on #789
Thank you for raising this @offensivepolitics! We will review this and get back to you.

[2017-07-25 02:25] wyattjoh commented on #789
This should hopefully be resolved once we migrate that rest api to the graph..

[2017-07-26 13:49] offensivepolitics commented on #789
Is there a general timeline for that migration @wyattjoh?

[2017-07-26 13:51] kgardnr commented on #789
Hey @offensivepolitics! Looking at our roadmap we probably shouldn't count on having this done prior to the August launch unless Greg wants to deprioritize something else.

[2017-07-27 14:13] offensivepolitics opened #808 "Asset closedAt is improperly evaluated in embed stream"
### Qualifications
Asset A has a closedAt date of two weeks in the future. Asset A shows state as Open in the admin
We are using release 2.4.0

### Expected behavior
Loading the embed for Asset A should render the stream.

### Actual behavior
Loading the embed for Asset A reports the stream is closed

### Steps to reproduce behavior
1. Set the closedAt date for an asset to something in the future

[2017-07-27 14:37] davisshaver opened #809 "Another upgrade issue, redis unavailable & possibly not using config"
### Expected behavior
After stopping the Talk container, pulling the new Talk image, and running the Talk container again with the same command as had been previously used should result in the app running again (unless a migration is required).

### Actual behavior
After pulling the new image, with no other changes, get a Redis connection failure error.

<img width="566" alt="screen shot 2017-07-2

[2017-07-27 14:38] davisshaver commented on #809
I experimented by dropping the redis URL config in this command and got the same error, so it seems that the configuration may not be getting picked up?

[code]

[2017-07-27 15:07] kgardnr commented on #809
Hi @davisshaver is this what you're seeing with the latest release version, or on master? We had this issue on master actually and merged a fix this morning. I'm wondering if that might fix it?

[2017-07-27 15:39] davisshaver commented on #809
How about that! Thanks @kgardnr!! 🎉

[2017-07-27 15:39] #809 closed, assigned to nobody

[2017-07-27 15:47] kgardnr commented on #809
Nice! 🎉 Thanks @davisshaver!

[2017-07-28 00:53] wyattjoh commented on #808
Good catch @offensivepolitics, we should be able to resolve that client side soon.

[2017-07-31 00:58] kgardnr commented on #808
PT Ref: https://www.pivotaltracker.com/story/show/149789244

[2017-07-31 19:18] kgardnr commented on #712
The Core Team will take this on and pull the best pieces that are most useful for our clients, users, and contributors.

Thank you again, @Goyapa!

[2017-07-31 19:18] #712 closed, assigned to nobody

[2017-08-03 15:40] kgardnr commented on #808
PR: https://github.com/coralproject/talk/pull/827

[2017-08-06 22:52] wyattjoh commented on #808
The PR which resolved this issue was merged @offensivepolitics, re-open if this particular issue still exists.

[2017-08-06 22:52] #808 closed, assigned to cvle

[2017-08-08 15:38] erikreyna opened #841 "Docs: Tools link is broken"
### Expected behavior
Should go to a page.

### Actual behavior
404's

### Steps to reproduce behavior
Go to https://coralproject.github.io/talk/docs/development/tools/

<img width="501" alt="screen shot 2017-08-08 at 11 38 41 am" src="https://user-images.githubusercontent.com/2431045/29080602-2fc4cf1c-7c2e-11e7-938d-44b4f4ca025d.png">

[2017-08-09 09:25] #841 closed, assigned to wyattjoh

[2017-08-28 14:53] offensivepolitics opened #883 "Regex errors in the admin"
### Expected behavior
Posting a comment with text of `http://www.google.com/\` and the comment should appear in the moderation panel
### Actual behavior
The moderation panel hangs with the error in this screenshot:
![screen shot 2017-08-28 at 10 45 28 am](https://user-images.githubusercontent.com/60095/29778919-f8956f0e-8bde-11e7-926d-5aed46bfaa6e.png)

This problem occurs even if the backslash is

[2017-08-28 21:32] darkpony opened #891 "Top level domains over four characters not supported in talk user creation"
### Expected behavior
I can use any length TLD in my email address
lj@some.domain

### Actual behavior
lj@some.domain returns "Not a valid email"

### Steps to reproduce behavior
try to create a new account with an email account with the domain part longer than 4 characters.

[2017-08-28 22:46] wyattjoh commented on #891
Thanks for that @darkpony! We're submitting a change that should correct that behaviour soon.

[2017-08-29 15:24] #891 closed, assigned to nobody

[2017-08-29 20:29] thiagonache opened #901 "Redis3 cluster mode enabled"
### Expected behavior
Works normally.

### Actual behavior
Crashes when redis3 answer MOVED to the application.
More details about [MOVED](https://redis.io/topics/cluster-spec)

### Steps to reproduce behavior
Deploy application and set backend using redis3 with cluster mode enabled.

If that's expected, can you guys add it on documentation, please?

Best regards,

Thiago

[2017-08-29 22:50] wyattjoh commented on #901
Hi @thiagonache! Can you set `DEBUG=talk:services:redis` and run the application and try to reproduce the error and post the logs? Just so I know how it's failing for you.

[2017-08-29 23:15] wyattjoh commented on #901
I've poked the maintainer of our graphql pubsub client, `graphql-redis-subscriptions` about our desire to get cluster support via ioredis, which will be supported when they merge [this PR](https://github.com/davidyaha/graphql-redis-subscriptions/pull/78).

Until then we're still tied to using `node_redis` which doesn't support clustering yet.

[2017-08-30 00:13] thiagonache commented on #901
okay. I'm assuming you don't need the test anymore, is that correct?

[2017-08-30 00:15] thiagonache commented on #901
what do you think about adding a note in the documentation about it?

[2017-08-30 15:10] wyattjoh commented on #901
I've pushed ioredis support to a branch that you can test!

https://github.com/coralproject/talk/tree/ioredis

Let me know if that works for you.

[2017-08-30 15:52] thiagonache commented on #901
awesome. going to test in a few. thx for that.

[2017-08-31 09:22] alinhle commented on #883
Thanks for your report @offensivepolitics . This should be fixed in v3.3.0.

[2017-08-31 09:22] #883 closed, assigned to cvle

[2017-08-31 18:44] eduardotrova commented on #901
Hi @wyattjoh

I am a member of development team thats working with @thiagonache on our coral project talk.

We've been testing new version and apparently it's not honoring environment variables. Please, find application error and container inspect.

yarn start v0.27.5
$ ./bin/cli serve -j -w
Error connecting to redis: { Error: connect ECONNREFUSED 127.0.0.1:6379
    at Object._errnoException (util

[2017-08-31 19:14] wyattjoh commented on #901
Can you post the output when you set `DEBUG=talk:services:redis` @eduardotrova? What commit are you at?

[2017-08-31 19:16] eduardotrova commented on #901
the output is:

yarn start v0.27.5
$ ./bin/cli serve -j -w
Error connecting to redis: { Error: connect ECONNREFUSED 127.0.0.1:6379
at Object._errnoException (util.js:1041:11)
at _exceptionWithHostPort (util.js:1064:20)
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1153:14)
code: 'ECONNREFUSED',
errno: 'ECONNREFUSED',
syscall: 'connect',
address: '127.0.0.1',
port: 6379 }
events.js:182
thr

[2017-08-31 19:18] wyattjoh commented on #901
The output doesn't contain any debug logs from redis, what commit are you using?

[2017-08-31 19:18] thiagonache commented on #901
my guess is that env var is not being honored, so there's no debug output

On Thu, Aug 31, 2017 at 4:16 PM Eduardo Trova <notifications@github.com>
wrote:

[2017-08-31 19:18] wyattjoh commented on #901
If you are using docker compose, you will have to set `Environment` to `environment`, that may be the issue.

[2017-08-31 19:20] thiagonache commented on #901
no. this is the docker inspect output. that's why we have E and not e

[2017-08-31 19:26] wyattjoh commented on #901
What image are you using? What tag?

Can you post the output of:

[code]

[2017-08-31 19:35] thiagonache commented on #901
we built our own image with your branch. I'm not sure what's the idea of getting the image id.

[2017-08-31 19:37] eduardotrova commented on #901
If helps inside the package.json we see:
"name": "talk",
  "version": "3.4.0",

[2017-08-31 19:50] wyattjoh commented on #901
The issue is that I can't reproduce the problem on my side, so I'm not sure where the problems are coming up. Our configuration uses `process.env` to retrieve the variables, there isn't another way for the environment to be overridden. Have you modified the `CMD` on the Dockerfile?

[2017-09-01 00:00] thiagonache commented on #901
Execution with debug:
[code]

Variables were present:
[code]
The debug messages aren't helpful. Is there another level or something like that?

[2017-09-01 00:02] thiagonache commented on #901
Is there a process to generate a new docker or I just need to build the dockerfile as usual?

[2017-09-01 00:04] thiagonache commented on #901
there's a public image on dockerhub at thiagonache/talk:redisio

[2017-09-01 14:54] wyattjoh commented on #901
We discovered the issue @thiagonache, turns out our `ioredis` package we subbed in didn't mention a breaking change to the configuration api. We thankfully corrected the issue in master now.

[2017-09-01 14:57] thiagonache commented on #901
does it mean that I can use redis in cluster mode with the new master
branch?

On Fri, Sep 1, 2017 at 11:54 AM Wyatt Johnson <notifications@github.com>
wrote:

[2017-09-01 15:41] wyattjoh commented on #901
You should be able to, let me know if it still crashes when it gets the "MOVED" answer.

[2017-09-01 19:13] thiagonache commented on #901
I'm still facing the same error:
[code]
If you want to see the final image use tag latest of that same image (thiagonache/talk:latest)

Thank you.

[2017-09-01 19:57] thiagonache commented on #901
I can give you public endpoints to redis 3 in cluster mode if it would make easier for you.

[2017-09-07 17:15] pdehaan opened #923 "Lint .js files"
### Expected behavior

Running `npm run lint` should check for errors using ESLint.

#### Current output:

[code]

### Actual behavior

Running ESLint seems to only check JSON files. ¯\\\_(ツ)\_/¯
Offending code seems to be https://github.com/coralproject/talk/blob/856ae456f4ba3734b514fdebc275fce32d9048ac/package.json#L14

I think it's an easy fix by adding .js files back into the allowed extension

[2017-09-07 17:17] pdehaan commented on #923
Interestingly, the `lint-fix` script in package.json doesn't fiddle with extensions, so currently that _WILL_ display some errors/warnings (for things that couldn't be autofixed):

[code]

[2017-09-07 17:21] pdehaan commented on #923
I'd be happy to do the 1-liner fix for this in package.json, but unfortunately I'd probably take the easy way out and disable the `promise/catch-or-return` rule which would cause 5 CI-breaking errors.
Ignoring the warning is easy, and I guess removing unused `user` arg from https://github.com/coralproject/talk/blob/856ae456f4ba3734b514fdebc275fce32d9048ac/graph/loaders/users.js#L30

[2017-09-07 17:57] pdehaan opened #924 "Add private:true to package.json"
### Expected behavior
Add `"private": true` to package.json to prevent accidental `npm publish`, since it seems the name [**talk**](https://www.npmjs.com/package/talk) is already taken.
Alternatively, if this is something you'd eventually want to publish to npm, you'd need to give the package.json `name` something different.

### Actual behavior
No private.

### Steps to reproduce behavior
n/a

[2017-09-07 18:13] pdehaan opened #925 "Audit package.json for unused/missing dependencies"
### Steps to reproduce behavior

1. `npm i depcheck -D`
1. `$(npm bin)/depcheck --ignore-dirs=plugins --ignores=*-loader,babel-*,plugin-api,talk-plugin-*,cli-table,semver,colors,fs-extra,ejs,moment,plugins,pluginsConfig,cross-spawn,did-you-mean,inquirer,node-emoji,graphql-tag,eslint-config-*,depcheck,mocha-*,pre-git`

### Expected behavior

Fewer results.

### Actual behavior

[code]

Sorry, the c

[2017-09-07 19:24] wyattjoh commented on #923
We would love a PR @pdehaan! Wonderful catch!! If you would rather we take care of it, we can certainly do so!

[2017-09-07 19:24] wyattjoh commented on #924
I'll submit a PR in a moment!

[2017-09-07 19:26] wyattjoh commented on #925
Will take a look into these deps @pdehaan, thanks for reviewing!

[2017-09-07 21:23] wyattjoh commented on #901
I'll be taking some time next week to review this issue @thiagonache.

[2017-09-07 23:52] pdehaan opened #929 "Switch from React.PropTypes to prop-types module"
https://facebook.github.io/react/docs/typechecking-with-proptypes.html sayeth:

Searching for [`PropTypes`](https://github.com/coralproject/talk/search?utf8=%E2%9C%93&q=proptypes&type=) currently gives several results, mixing the deprecated React version, as well as the `prop-types` library.

A bit hacky, but this also shows some potential occurrences:

[code]

... And this bit should uncover inst

[2017-09-08 00:00] pdehaan commented on #929
And here's the instances of the recommended **prop-types** library usage:

[code]

[2017-09-08 05:53] #923 closed, assigned to nobody

[2017-09-08 08:33] #924 closed, assigned to nobody

[2017-09-08 11:09] #929 closed, assigned to nobody

[2017-09-08 16:53] pdehaan opened #934 "Add a11y linter"
Since you're using React/JSX already, it may be nice to use the [**eslint-plugin-jsx-a11y**](http://npm.im/eslint-plugin-jsx-a11y) ESLint plugin to flag some potential a11y rough edges.

[code]

[code]

### Results:

[code]

[2017-09-13 14:35] abattenburg opened #947 "Required Configuration Variables?"
In the **Installation** section of the documentation for **Source**, the documentation references _required configuration variables_ located in the **README.md**. However I couldn't find anything in the README or the community forums. Is there somewhere else I should be looking for what to populate my **.env** file with?

Thank you for your direction and the work on this project -- I'm excited to

[2017-09-13 18:01] wyattjoh commented on #947
Seems this was overlooked in our documentation update @abattenburg! Check out https://coralproject.github.io/talk/docs/running/configuration/ for the configuration! Thanks for the report.

[2017-09-14 08:16] #947 closed, assigned to nobody

[2017-09-14 15:30] pascalandy commented on #701
Hey folks!

I consider myself solid with Docker and I can't find any docs about how to start this project via Docker.
It looks the perfect candidate for a docker stack :-P

What am I missing?

[2017-09-14 15:34] kgardnr commented on #701
Hey @pascalandy, if you check the main docs here: https://coralproject.github.io/talk/index.html and go to Installation>Docker that should get you started. Let us know if you have recommendations on improvements, etc, or feel free to submit a PR if you'd like!

[2017-09-14 15:36] pascalandy commented on #701
Ahh! There you go :)
There is no reference to this anywhere. Maybe add this in the readme :)

Many folks a looking for a quick win via a simple Docker run.
Cheers!

[2017-09-14 15:41] kgardnr commented on #701
Ah, it's linked under Documentation, I'll see if I can bold it or make it stand out more - thank you for the feedback!

[2017-09-14 15:42] pascalandy commented on #701
I went in the docs, but could not find anything related to docker. You're welcome!

[2017-09-14 15:49] pascalandy commented on #701
Just tried the docker-compose and docker run using port 5000 and 5001 but there is nothing to see. Still don't know how to try this puppy.

Would make sense to have a repo only for the docker stack. See how I did it for Traefik and 3 webapps - https://github.com/pascalandy/docker-stack-this/tree/master/traefik-manager

[2017-09-14 16:32] wyattjoh commented on #701
Have you checked out https://coralproject.github.io/talk/docs/install/docker/ @pascalandy?

[2017-09-14 17:12] mrflos opened #953 "Typo in embed code"
### Expected behavior
the url in the embed code should be valid
`<script src="https://mydomain.com/embed.js" ..>`

### Actual behavior
one / is missing so the url isn't valid
`<script src="https:`**/**`mydomain.com/embed.js" ..>`

### Steps to reproduce behavior
just go to admin/configure and select technical parameters
version 3.5.0

[2017-09-14 17:36] pascalandy commented on #701
Yes I did and as I'm saying, I can't make the docker-compose or docker run works.
What is supposed to happen once the docker-compose is up ?

[2017-09-14 19:59] wyattjoh commented on #953
Can you check @mrflos if your `TALK_ROOT_URL` environment variable contains the `https://`? That portion of the embed is loaded from the environment.

[2017-09-14 20:26] mrflos commented on #953
Yes, it contains the full url.. :
`TALK_ROOT_URL=https://mydomain.com`

Also the second time, it is written correctly:
[code]

[2017-09-14 20:34] wyattjoh commented on #953
Great catch! Can you see if the version on this branch resolves your issue? https://github.com/coralproject/talk/pull/954

[2017-09-14 20:47] mrflos commented on #953
Yes! It solved my problem! thanks!
I let you decide when to close the issue.
Best regards and that was a quick fix! 🎉

[2017-09-15 14:40] #953 closed, assigned to nobody

[2017-09-17 12:59] kenota opened #960 "Incorrect url in "embed content stream" code after fresh installation"
### Expected behavior
There should be correct url for `embed.js` script in  "embed comment stream" field after default installation.
### Actual behavior
Second slash / is missing in url for script load. For example, in my case, instead of
`<script src="https://talk-coral.binarybuffer.com/embed.js" async onload="`
I got code
`<script src="https:/talk-coral.binarybuffer.com/embed.js" async onload="`

[2017-09-17 15:23] Mustika86 opened #961 "Deprecated use of subscriptionManager in cli-serve"
### Actual behavior
When I start up the docker container and cli-serve is ran, I get a warning/error that the deprecated subscriptionManager is used:

talk_1   | $ ./bin/cli serve -j -w
talk_1   | subscriptionManager is deprecated, use `execute` or `subscribe` directly from `graphql-js`!

I am not sure if that is the reason, but I a am not able to access the webserver via localhost:5000

### Steps

[2017-09-18 13:34] offensivepolitics opened #962 "Default security settings of Helmet"
https://github.com/coralproject/talk/blob/cd100a23cbcd42ebaa7f1ce7ae6e3d92bae771d7/app.js#L29-L31

One of the security default security settings (HSTS) on Helmet has pretty far-reaching and hard-to-reverse consequences when Talk is served from a shared domain. Our main site is of course HTTPS, but several parts are still served under HTTP. I would be hard pressed to find a large publisher who didn

[2017-09-18 15:07] wyattjoh commented on #962
Excellent points. I'll make a point to resolve this asap.

[2017-09-18 15:09] wyattjoh commented on #961
The deprecation message shouldn't interfere with the application starting. When you visit `http://localhost:5000/admin/install` do you see the installation screen? By default, the application does not host the testing routes (`/, /assets/title/...`) in production.

[2017-09-18 15:10] wyattjoh commented on #961
We're working to resolve the deprecation messages as we slowly upgrade packages.

[2017-09-18 15:13] wyattjoh commented on #960
The issue should be resolved in our new `3.5.0` release coming up soon. This was covered in #953.

[2017-09-18 15:13] #960 closed, assigned to nobody

[2017-09-18 18:09] wyattjoh commented on #962
Let me know if the linked PR makes sense @offensivepolitics!

[2017-09-18 20:50] Mustika86 commented on #961
Great! I was able to figure out why I was not able to access the webserver and as expected it was not related to the deprecation message. I use docker-machine and was not forwarding port 5000 in VirtualBox.

[2017-09-18 21:42] wyattjoh commented on #961
I'll close this issue then as we already have plans in our roadmap to perform upgrading of those packages.

[2017-09-18 21:42] #961 closed, assigned to nobody

[2017-09-19 08:11] #962 closed, assigned to nobody

[2017-09-19 13:09] offensivepolitics commented on #962
That looks like just what we'd need, thank you @wyattjoh

[2017-09-19 20:36] darkpony opened #972 "does Coral Talk require email?"
I know that Coral talk has an option to not validate an EMAIL address but does the Coral system itself always require it? We would like to have 'No Email Required' functionality.

[2017-09-19 20:56] jtnelson opened #973 "test"
### Expected behavior

### Actual behavior

### Steps to reproduce behavior

[2017-09-19 20:57] #973 closed, assigned to nobody

[2017-09-19 22:37] darkpony opened #975 "Localization of plugins"
We have seen localization of the default info in Coral Talk which is great! If we add custom plugin that has its own copy is there an easy centralized way to take advantage of the existing localization work being used for the default copy?

[2017-09-19 22:38] darkpony opened #976 "Remove facebook login"
We would like to remove the facebook login option.  Is there an easy way to do this with out doing a rewrite of the login component?

[2017-09-19 22:39] darkpony opened #977 "Can we custom style a comment?"
we would like to give a single comment (a featured comment) a custom background color or some other visual cue. Is this possible without writing a custom plugin?

[2017-09-19 22:43] wyattjoh commented on #901
A PR has been opened @thiagonache, check to see if the documentation and examples work for you.

[2017-09-20 14:26] kgardnr commented on #976
Hi @darkpony! The facebook auth is a plugin, so you can simply remove it from your `plugins.json` file and that should work.

https://github.com/coralproject/talk/blob/master/plugins.default.json

If you don't have a `plugins.json` file, it will default to the above default plugins file. So if you create a new `plugins.json` file, you can mix and match whatever plugins make sense for your use case

[2017-09-20 14:27] #976 closed, assigned to nobody

[2017-09-20 14:28] kgardnr commented on #977
Hey @darkpony, Talk allows you to use a Custom CSS file, you can link to this in the Admin via Configure>Tech Settings. All (or at least the majority of, it's a WIP) Talk elements have css classes, so you can style them easily to fit your needs.

[2017-09-20 14:28] #977 closed, assigned to nobody

[2017-09-20 14:30] kgardnr commented on #975
Awesome, thanks @darkpony! So each plugin can have its own translation files, here's an example: https://github.com/coralproject/talk/blob/master/plugins/talk-plugin-auth/client/translations.yml

Does that answer your question?

[2017-09-20 14:32] kgardnr commented on #972
Currently, the default Talk auth plugin does require email for users to signup. If you wanted to alter that auth plugin to use, say, a username and password, without email, you can certainly do that. We don't currently have removing email addresses as part of our roadmap.

[2017-09-20 14:32] kgardnr commented on #972
Let me know if that answers your questions @darkpony! :)

[2017-09-20 15:26] thiagonache commented on #901
@wyattjoh thank you so much. @eduardotrova it's all yours now.

[2017-09-20 15:30] eduardotrova commented on #901
ok @thiagonache thanks for all.  @wyattjoh I'll test this in the next days and notice.

[2017-09-20 15:57] darkpony commented on #972
Thank you! Is that a complicated change to make?

[2017-09-20 16:02] kgardnr commented on #972
Hmm, after discussing more with the team it might not be as simple as that actually. It goes against our core authentication and privacy decisions we had made previously, so you would have to somehow manage login externally.

Is there a specific reason why you don't want to offer users the ability to login via email (as well as leverage functionality like forgetting their passwords, or receiving e

[2017-09-21 16:23] darkpony commented on #972
yes, our founder has been explicit that anonymity is a core principle for our brand. It goes to the heart of our mission and we must have an explicit way to allow 100% anonymous commenting on our platform.  Right now, the current platform  supports an email field but it does nothing with it. It doesn't check or store it.

We want to be able to support an anonymous whistleblower who feels like they

[2017-09-25 20:41] darkpony commented on #975
thank you, makes sense!

[2017-09-25 20:41] darkpony commented on #972
We are talking thru this on our end, thank you!

[2017-09-26 11:27] kgardnr commented on #901
Hey @eduardotrova and @thiagonache, were you able to test this? Does it suit your needs? If so, we will go ahead and merge it :)

[2017-09-26 11:27] kgardnr commented on #975
Great, thank you @darkpony!

[2017-09-26 11:27] #975 closed, assigned to nobody

[2017-09-26 11:28] kgardnr commented on #972
Ok great, thank you @darkpony!! What's the name of your organization? We'd love to have our product folks reach out directly to you and your founder and discuss upcoming needs like this one.

[2017-09-26 16:25] #925 closed, assigned to nobody

[2017-09-26 22:33] thiagonache commented on #901
I'm facing another issue now.
$ ./bin/cli serve -j -w
2017-09-26T22:29:29.582Z talk:services:redis client created
2017-09-26T22:29:29.583Z talk:services:redis client created
2017-09-26T22:29:29.585Z talk:services:redis client created
2017-09-26T22:29:29.586Z talk:services:redis client created
2017-09-26T22:29:29.587Z talk:services:redis client created
2017-09-26T22:29:29.628Z talk:services:redis c

[2017-09-27 13:32] jtnelson opened #992 "EmbedLink component contains only one forward slash after http (e.g. http:/<host>)"
I just got the latest Talk docker image and completed initial configuration via the web interface. On the "Configure" route (admin/configure) in the "<> Tech Settings", the "Embed Comment Stream" EmbedLink component only has one forward slash in the src attribute of the script tag populated by the embedText prop: <script src="http:/localhost:5000/embed.js"... It's a small issue, but could trip up

[2017-09-27 19:59] MrPhilbert opened #993 "mobile media query text overflow gets truncated."
### Expected behavior
Text should reflow within its border on mobile devices

### Actual behavior
Text expands passed its border on the right and gets truncated.

### Steps to reproduce behavior
Observe comments on WaPo on mobile device (Galaxy Note 4 in my case).

[2017-09-27 20:04] eduardotrova commented on #901
Hello guys

We tested locally (with a localhost env) and it seemed ok, but let's re-test tomorrow in our staging environment with pods on kubernetes.

[2017-09-27 20:34] okbel commented on #993
@MrPhilbert Do you have a screenshot? Did you try this with a standalone iframe url? To check if this is on our side or on the page that its been embeded.

[2017-09-27 20:37] okbel commented on #934
@pdehaan This is great! We will take a look at it.

[2017-09-27 23:40] pdehaan opened #994 "Update dependencies"
[code]

[code]

[2017-09-28 10:57] sijomc opened #995 "Stuck on yarn start"
Please help me to solve this issue. Where should I configure these variables? Or how can I deploy coral talk without this plugin?

 yarn start
yarn start v1.0.1
$ ./bin/cli serve -j -w
/root/talk-3.5.1/plugins/talk-plugin-facebook-auth/server/passport.js:32
    throw new Error('Facebook cannot be enabled, missing one of TALK_FACEBOOK_APP_ID, TALK_FACEBOOK_APP_SECRET, TALK_ROOT_URL');
    ^

Error:

[2017-09-28 11:10] jtnelson commented on #995
1. You'll need to add the TALK_ROOT_URL as an environment variable
e.g.
[code]

2. You can also add the facebook plugin configuration via environment variables in the same way if you want to use the plugin. If you do not want to use the plugin, you can remove the `talk-plugin`facebook-auth` from https://github.com/coralproject/talk/blob/master/plugins.default.json OR create a copy of that file cal

[2017-09-28 11:11] jtnelson commented on #995
@sijomc i'm going to close this issue for now, but please re-open if the steps above don't work or you have more questions about this.

[2017-09-28 11:11] #995 closed, assigned to jtnelson

[2017-09-28 14:44] #901 closed, assigned to wyattjoh

[2017-09-28 23:42] wyattjoh commented on #992
It seems likely that the `TALK_ROOT_URL` was misconfigured. Can you post the contents of the `docker-compose.yml` file?

[2017-10-02 15:43] wyattjoh commented on #934
We're holding off adding this until we can resolve some of the larger refactors that we have planned. We'll update this issue when we're starting to work with it!

[2017-10-04 13:06] kgardnr opened #1011 "Ability to invite team members to join Talk"
Story: As a Talk admin, I want to be invite my moderation team to create Talk accounts, so I don't have to do this manually

AC:
- Admin emails a link (directly from the Talk admin) to create an account
- User gets a special link to create an account, the invitee need to add a Username and Password
- Automatically at Moderator permission level
- If email already exists, show a nice message letting

[2017-10-04 13:08] kgardnr opened #1012 "Move "Permitted Domains" to an environment variable instead of database"
AC:

- Remove UI's for domain whitelisting from the FE
- Move domain whitelisting checks to the env
- Prevent iFrame from loading on non-whitelisted domains
- Present error when attempting to load iFrame on non-allowed domain via the embed.js code

[2017-10-04 13:09] kgardnr opened #1013 "Show Staff Badge in Flag Details for Moderators"
STORY: As a moderator, I'd like to easily see if a "staff" member has flagged a comment, so that I know to "reject" that comment quickly without having to read it or think about it

[2017-10-04 13:15] kgardnr opened #1014 "Comment and user badges/tags manager in the UI"
AC:
- Ability for an Admin to create a new badge for users or a comment
- Admin chooses where it's a user tag or a comment tag (the rules for the tag would have to be set programmatically)
- Admin chooses what the name on the badge will be
- Admin chooses color of the badge in hex

Example: I want comments with the tag `best` to show up with a "BEST" badge that is #f00
Example: I want users with t

[2017-10-04 13:18] kgardnr opened #1015 "Ability to query and display comments by section/asset URL"
AC:
- Input asset or section URL in the Admin (maybe a separate Search page?)
- Examples:
  - `https://mynewssite.com/business/*`
  - `https://mynewssite.com/date/time/article-name`

[2017-10-04 13:21] kgardnr opened #1016 "[Plugin] Slackbot for Talk"
AC:
- Slackbot that automatically posts new comments to a Slack channel
- This would be useful for small newsrooms and blogs

[2017-10-04 13:28] kgardnr opened #1017 "Shortcuts help menu doesn't dismiss forever"
Steps to reproduce:
 - Go to Admin
 - See the shortcuts help menu in the bottom left
 - Click X to dismiss forever
 - Refresh page
 - Menu is back

[2017-10-04 13:31] kgardnr commented on #1017
@Goyapa it might be helpful to look at the history of these 2 files to see what may have changed that broke this functionality, since it was working before. And also to see how it was implemented before might answer your questions.

https://github.com/coralproject/talk/commits/0ecf1cedc33d8990587e822f1f55a34cfa111b44/client/coral-admin/src/actions/moderation.js

https://github.com/coralproject/tal

[2017-10-04 14:01] kgardnr opened #1018 "Setting to hide comments behind a "View Comments" button"
Story: As an admin, I want to hide the comments behind a 'View Comments' button so that the comments don't display straight away and I can track who wants to see them

AC:
- Create a Config setting to "Hide comments behind a View Comments button"
- Could make it configurable for individual streams and globally

[2017-10-04 14:02] kgardnr opened #1019 "Keyboard shortcuts pulling and fixing screen left at screen width < 1280px"
See gif below:

![keyboard-shortcuts](https://user-images.githubusercontent.com/1077300/31179834-ec0048ba-a914-11e7-98ce-975e54c6223b.gif)

[2017-10-04 14:03] kgardnr opened #1020 "Make Community people search better"
AC:
- Make full text search? (From Wapo: Eg., when looking for all usernames with “Reyna” in them, I can’t search for Reyna.  Must search for “Erik Re” to get them all.  Looks like the search is a like, not a contains.  Or something.)

[2017-10-04 14:05] kgardnr opened #1021 "Make columns sortable in Community > People"
AC:
- Currently these columns are not sortable
- Be able to toggle sort chronologically
- Have to consider large sets of data, and how this would work with pagination

[2017-10-04 14:05] kgardnr opened #1022 "Quiet logs on production mode"
Example from The Washington Post:
`bundle.js:967 WARNING: heuristic fragment matching going on!`

[2017-10-04 14:08] kgardnr opened #1023 "Don't allow readers to ignore staff members"
AC:
- If a user ignores a staff member, it gives a warning notification "Staff members cannot be ignored"
- The staff member is not ignored and not added to the user's ignore list

[2017-10-04 14:10] kgardnr opened #1024 "Password reset flow should match designs"
How it looks currently:

![screen shot 2017-05-04 at 9 01 39 am](https://user-images.githubusercontent.com/1077300/31180251-0f43d6ba-a916-11e7-8751-e3d9df82ef54.png)

How it should look:
[Reset PW_Email address not found (2).pdf](https://github.com/coralproject/talk/files/1356051/Reset.PW_Email.address.not.found.2.pdf)
[Reset PW_incorrect PW.pdf](https://github.com/coralproject/talk/files/1356053/

[2017-10-04 14:14] kgardnr opened #1025 "Add more shortcuts for Moderators"
AC:
 - Tab to switch through mod queues
 - Ctrl-Z to undo actions
 - Ctrl-F to bring up search

[2017-10-04 14:15] kgardnr opened #1026 "[Plugin] Social Share"
Story: As a comment reader, I want to be able to easily share my favorite comments through social media as well as permalinks

AC:
- Should be a plugin
- Create Share button that easily shares an article on social media
- Twitter, Facebook to start
- Clicking on the icon in the popup prompts that social site's share dialogue

Button added to the right comment actions slot:
![coral_talk_share_butto

[2017-10-04 14:17] kgardnr opened #1027 "Bulk approve/reject actions for Moderators"
AC:
- Ability to Select All comments and make an action to reject or approve
- This functionality would be located on the User History drawer

Design:
![select all comments](https://user-images.githubusercontent.com/1077300/31180677-23444234-a917-11e7-9184-0a0da65fee33.png)

[2017-10-04 14:19] kgardnr opened #1028 "Ability to search comments by keyword"
Story: As a moderator, I want to search for particular words in all the comments, so that I can see if they're being used frequently to troll/attack people

AC:
- A moderator can perform boolean searches - add a "by: user" to find if a certain user is writing the same word a lot
- A moderator can select and reject comments from the search results

[2017-10-04 14:23] kgardnr opened #1029 "Moderation nav and queue bars stop at 1280px"
### Expected behavior

Width is correct but should have overflow colors

### Actual behavior

Admin navigation bars cut off at 1280px

[2017-10-04 15:10] MuraraAllan commented on #1028
How we are working over this repository ?
Pull Request Race or pick and done?

I would like to get this one if pick and done :)

[2017-10-04 15:12] kgardnr opened #1030 "UI to customize CSS"
AC:
- Be able to update basic CSS styles via the Admin so you don't have to be a developer to customize your own Talk
- Button colors, fonts, what else?

[2017-10-04 15:15] kgardnr commented on #1028
Hi @MuraraAllan -- welcome! You can just express you intention to pick up an issue here in the comments like you did :)

[2017-10-04 15:18] kgardnr opened #1031 "Add Wordpress to the Talk Comments Importer"
The Talk Importer currently does not support importing Wordpress Comments.

More info here: https://github.com/coralproject/talk-importer

[2017-10-04 15:19] kgardnr opened #1032 "Add Livefyre to the Talk Comments Importer"
Work was started on this but wasn't finished
More info here: https://github.com/coralproject/talk-importer

[2017-10-04 15:22] kgardnr opened #1033 "Ability to run talk as a component so it can be incorporated into newsroom apps seamlessly"

[2017-10-04 15:23] kgardnr opened #1034 "Call override CSS after other CSS in embed"

[2017-10-04 15:24] kgardnr opened #1035 "When a user is suspended and tries to post, show them an informative error message"
AC:
- Currently says: "An unexpected error has occurred".
- Should say: "Your account is currently suspended. It will be reactivated in [TIME]. Please contact us if you have any questions."

[2017-10-04 15:25] kgardnr opened #1036 "Tried to resize the "Other" box when reporting a comment, if resized too far the right side of the window goes past the right side of the window. The box cuts off and cuts off the text."
<img width="703" alt="report_other_box_resize_bug" src="https://user-images.githubusercontent.com/1077300/31184189-a06c4c4e-a920-11e7-9aca-a4bbafa9e91c.png">

[2017-10-04 15:26] kgardnr opened #1037 "If you hit "return" a bunch of times, it will allow you to post a blank comment; we shouldn't allow this"

[2017-10-04 15:28] kgardnr opened #1038 "Readers and commenters should always be notified when an action has failed"
This applies to the stream-side for:
- Reactions
- Tagging
- Flagging
- Changing settings

[2017-10-04 15:29] kgardnr opened #1039 "Admins and mods should always be notified when an action has failed"
This applies to the /admin side

- Accept comment
- Reject comment
- Feature comment
- Save Configure settings
- Anything else?

[2017-10-04 15:29] rocketsalander commented on #1024
I'll like to check this one but you guys have a contribute.md?

[2017-10-04 15:31] kgardnr opened #1040 "Alert admins if their session has expired so they don't lose their work"
Story: As a moderator, I want to know when my admin session has expired so I don't try and take actions that won't save

[2017-10-04 15:32] wyattjoh commented on #1024
We do @SioJL13, check out https://github.com/coralproject/talk/blob/master/CONTRIBUTING.md

[2017-10-04 15:35] sagarvd01 commented on #1026
where do you want to add this plugin?

[2017-10-04 15:37] kgardnr opened #1041 "Make default language an optional ENV variable"
AC:
- Accept a language code as a default environment variable so non-English newsrooms can set it to be their native language out of the box

[2017-10-04 15:40] tylerbrewer2 commented on #1029
@kgardnr I can work on this, but want to get more clarification. Are you saying you want the colors in navigation bars to extend full width but the content within to remain at 1280px?

[2017-10-04 15:41] kgardnr commented on #1029
@tylerbrewer2 welcome! That sounds great. Let me get @IAmSamHankins to confirm the above for you.

[2017-10-04 15:45] theysamtheirs commented on #1029
hey @tylerbrewer2 thanks for your interest! yep! that is exactly what we need. unfortunately when we had implemented this nav, we didn't take into account any excess widths or overflow!

[2017-10-04 15:49] tylerbrewer2 commented on #1029
thanks @IAmSamHankins! Should have a PR tonight

[2017-10-04 15:52] kgardnr commented on #992
@jtnelson is this still an issue? Can you give us more details?

[2017-10-04 16:09] wyattjoh commented on #1022
To be more specific, this is related to logging from the client code.

[2017-10-04 16:14] kgardnr opened #1042 "Keyboard shortcuts to move between Mod Queues"
AC:
- Add keyboard shortcuts `1` `2` `3` `4` `5` etc to move between queues in order of queues.
- Would have to be careful with how to handle plugin-generated queues potentially?

[2017-10-04 16:15] gerardogalvez commented on #1025
I'd like to take a look at this!

[2017-10-04 16:19] wyattjoh commented on #1020
Right now we do a prefix search against `username` and `email`. Possible improvements can be made to make the search better. See https://github.com/coralproject/talk/blob/ff9ae035224865ee2ed5ae30100a5632fd9d41e2/services/users.js#L626-L658

[2017-10-04 16:20] kgardnr commented on #1025
Great @gerardogalvez! Welcome :)

[2017-10-04 16:23] wyattjoh commented on #1041
Load the language into the client via https://github.com/coralproject/talk/blob/ff9ae035224865ee2ed5ae30100a5632fd9d41e2/routes/static.js#L1-L13

And load it with https://github.com/coralproject/talk/blob/ab1f1dee3e1110e276724c103bf681054b78b7e2/client/coral-framework/services/bootstrap.js#L105

[2017-10-04 16:24] kgardnr opened #1043 "Better error message for 1 character comments"
This happens when a commenter tries to post a comment with only 1 character.

Currently it says: *Sorry! An unexpected error occurred.*

Should say: *Comments should be more than one character, please revise your comment and try again.*

[2017-10-04 16:24] wyattjoh commented on #1037
Maybe something related to newlines not being stripped when a comment is posted? Should be checked server side and client side.

[2017-10-04 16:25] wyattjoh commented on #1043
Error is thrown from: https://github.com/coralproject/talk/blob/ab1f1dee3e1110e276724c103bf681054b78b7e2/graph/mutators/comment.js#L237-L240

[2017-10-04 16:27] kgardnr opened #1044 "When I've already reported a comment, the Reported button shouldn't then be clickable"
It's not clickable, but it looks like it should be; just need to change the mouseover behavior

[2017-10-04 16:31] dusty-wil commented on #1043
Hiya, if this issue is still available, I'd be happy to take a look at it!

[2017-10-04 16:31] devAmoghS commented on #1044
@kgardnr This is my first time on Hacktoberfest. Will be happy to help you :)

[2017-10-04 16:36] kgardnr commented on #1043
@dusty-wil sure is! Welcome and thank you!

[2017-10-04 16:37] kgardnr commented on #1044
Great @devAmoghS! Welcome!

[2017-10-04 17:13] yonidor commented on #1042
Hi, i'm willing to give that a look :)

[2017-10-04 17:14] devAmoghS commented on #1044
@kgardnr how should i proceed after I am done cloning the repo ?

[2017-10-04 17:14] kgardnr opened #1046 "If the Edit Timeframe Window is set to > 59 seconds, display time remaining in minutes instead of seconds"
Currently, the edit timeframe window is always displayed in seconds. We should be clever about this and display in minutes and seconds when it's more appropriate.

E.g. "300 seconds" should display as "5 minutes"

This would only be the case in displaying this on the Comment Stream to the commenter. We can keep the Configuration setting in seconds to be 100% precise.

[2017-10-04 17:23] kgardnr commented on #1044
@devAmoghS so you'll want to create a new branch on your forked version of the repo, and then once you're done, you can submit a PR.

Here's a great guide from Github via https://opensource.guide/how-to-contribute/:

=====

- [Fork the repository](https://guides.github.com/activities/forking/) and clone it locally. Connect your local to the original “upstream” repository by adding it as a remote.

[2017-10-04 17:24] kgardnr commented on #1042
Great @yonidor! Thank you and welcome :)

[2017-10-04 17:26] Rishabh04-02 commented on #1046
I'd like to work on the issue.

[2017-10-04 17:29] kgardnr commented on #1046
Hi @Rishabh04-02! That sounds great, welcome and thank you!

[2017-10-04 17:30] fernandezpablo85 commented on #1035
I'd be happy to work on this if it's still available.

[2017-10-04 17:32] kgardnr commented on #1035
@fernandezpablo85 yes it is! Welcome and thank you! :)

[2017-10-04 17:45] PepeFranco commented on #1041
If no one is working on this yet I would like do so

[2017-10-04 17:47] kgardnr opened #1047 "Add "Undo Reject Comment" to in-stream moderation actions"
Story: As a moderator, I would like to undo a comment rejection right after I've rejected it, so I can undo a mistake

AC:
- If I'm logged in as an Admin or Moderator, I have access to the Moderation Actions dropdown on each comment
- If I click Reject Comment, the comment immediately becomes tombstoned
- We want to add an Undo button there on the tombstone in case a Moderator makes a mistake

![p

[2017-10-04 17:49] kgardnr commented on #1041
Welcome @PepeFranco! Thank you - it's all yours! :)

[2017-10-04 17:54] kgardnr opened #1048 "When a story is set to "Premoderate links", the comments with links detected should go to Reported queue"
### Expected behavior

The comment should go to Pre-Mod Queue.

### Actual behavior

The comment is going to the Reported Queue.

### Steps to reproduce behavior

1. Go to Configuration on a story/article
2. Click "Pre-moderate comments containing links" and hit Save
3. Enter a comment with a link, e.g. "www.google.com"
4. See that the comment goes to Reported; it should go to Pre-Mod

[2017-10-04 17:56] kgardnr opened #1049 "When premod is turned on site wide, it should show that pre-mod is on in the individual stream setting as well"
### Expected behavior

If "Pre-mod" is on site-wide, it should show in each individual stream's settings.

### Actual behavior

It's not reflecting the global setting in the individual settings.

### Steps to reproduce behavior

1. Turn on "Pre-mod" via Admin > Configure > Moderation Settings
2. Go to an individual article and click on the Configure tab
3. See that the "Pre-mod" setting is uncheck

[2017-10-04 18:11] kgardnr opened #1050 "Send a user an Email Notification if they are banned"
Story: As a commenter, I want to be notified by email if I've been banned, so I can proactively be aware of what's happening

AC:

- Same flow as with a Suspension -- > upon being Banned, a user is sent an email
- Subject: "[Talk] Your account has been banned"
- Message: "In accordance with The Coral Project’s community guidelines, your account has been banned. You are now longer allowed to commen

[2017-10-04 18:14] kgardnr opened #1051 "Auto-approve reported usernames of Admins, Moderators, and Staff members"
Story: As a moderator, I want usernames of admins, mods and staff members to be auto-approved, so I don't have to ever moderate them

AC:
- If someone flags a username of an admin, moderator, or staff member, the username is not shown as Reported, and the username does not to go to Flagged Usernames queue in Community

[2017-10-04 18:16] moyamanuel commented on #1050
Hello @kgardnr,

I'm trying to get up to speed with the codebase so I can start contributing. Can you explain how the ban system works?

[2017-10-04 18:19] kgardnr commented on #1050
Hi @moyamanuel - welcome!

Sure thing.

So a moderator can ban a user from the comment stream (visible only to Admins and Mods):

<img width="676" alt="ban_user_stream" src="https://user-images.githubusercontent.com/1077300/31192295-ca54ff16-a938-11e7-9eda-d6a2f32a089e.png">

Or they can click on the Actions dropdown on a particular user in the Admin - the 2 options there are Ban and Suspend.

<im

[2017-10-04 18:21] kgardnr commented on #1050
@moyamanuel added some more details above!

[2017-10-04 18:26] moyamanuel commented on #1050
Awesome, thank you for the explanation, @kgardnr. I'll submit a PR shortly.

[2017-10-04 18:26] kgardnr commented on #1050
Great @moyamanuel! 🎉

[2017-10-04 18:36] PepeFranco commented on #1041
Hey @wyattjoh ,

I have some doubts regarding this. I'm just getting familiarized with the code. I understand I need to initialize a variable on config that pulls from env variables. I can then export it on routes/static.js and load it to bootstrap via getStaticConfiguration method.

If I'm not mistaken the i18n.js file which manages translations sets a default locale from either local storage, na

[2017-10-04 18:54] vickychijwani commented on #1030
How would this interact with the existing "Custom CSS URL" option on `/admin/configure`? Both options are useful in different contexts:

- Custom CSS styles (this issue) is useful for designers and developers to quickly customize the look-n-feel
- Custom CSS URL is useful for (possibly) sharing share the same custom stylesheet across multiple Talk deployments

[2017-10-04 19:44] wyattjoh commented on #1030
Do you think that we can expand this feature @kgardnr?

[2017-10-04 19:55] wyattjoh commented on #1041
Hey @PepeFranco.

After further reviewing, I think it may be best to expose it at build time.

Checkout https://github.com/coralproject/talk/blob/1ba5fd0028517b4ec9b3e75b4371f7506082edd3/webpack.config.js#L111-L114 and add the `TALK_DEFAULT_LANG` variable, and replace https://github.com/coralproject/talk/blob/197d94ffb1978d038a641996ef1a9146c2f32133/client/coral-framework/services/i18n.js#L16 with

[2017-10-04 21:02] vickychijwani commented on #1016
I'd like to try tackling this if it's not taken :smile:

My current plan is to try to create a Talk server-side plugin (assuming the plugin API is flexible enough to support it), which, given a [Slack Webhook URL](https://api.slack.com/incoming-webhooks), posts all new comments to it as soon as they arrive.

[2017-10-04 21:08] wyattjoh commented on #1016
That sounds great @vickychijwani! Check out https://github.com/coralproject/talk/blob/ef49d9a3d2acc4d2fc03b00e0c872dfbc57f005a/docs/_docs/04-04-plugins-server.md for some documentation on the server side plugins.

[2017-10-04 21:54] kgardnr commented on #1030
Apologies @vickychijwani - this feature needs to be fleshed out a bit more. I'll add more details tomorrow! Thank you!

[2017-10-04 22:59] adamdpate opened #1055 "Support for Own User Database/ Login?"
It looks like the documentation is currently in the process of being updated, but I didn't see anything about integrating _talk_ with my own database and user authentication tokens. Is it possible to pass authenticated user tokens into the _talk comment system_ and use my current user login? Or does talk only work if users create an account through the talk signup?

I'm hoping to modify talk to be

[2017-10-05 03:55] holmberd commented on #1046
I'm sorry to butt in, but I ended up writing a PR for it, see https://github.com/coralproject/talk/pull/1058

[2017-10-05 04:22] lancekruegger commented on #1024
@SioJL13, have you cracked into this yet? If you decide you'd like to focus on something else let me know! :-)

[2017-10-05 05:24] AishaBlake commented on #1013
I'd like to get involved but could use a little more guidance in getting my development environment up and running. @kgardnr could you help me out with that? And is there anything documenting what this flag should look like?

[2017-10-05 05:27] Rishabh04-02 commented on #1046
@kgardnr Please review #1059

[2017-10-05 08:24] MisaOgura commented on #1049
I'll start working on this 👍

[2017-10-05 08:25] MisaOgura commented on #1048
I'll take this one as well, as it's quite related to https://github.com/coralproject/talk/issues/1049

[2017-10-05 09:08] kgardnr commented on #1049
Welcome @MisaOgura! That sounds great!

[2017-10-05 09:08] kgardnr commented on #1048
Great @MisaOgura! Thank you!

[2017-10-05 09:09] kgardnr commented on #1041
Fixed in #1053

[2017-10-05 09:09] #1041 closed, assigned to nobody

[2017-10-05 09:18] kgardnr commented on #1013
Welcome @AishaBlake! That sounds great.

We don't have designs for where it should show on the Moderator side, I'll see if I can get our designer @IAmSamHankins to give some guidance on that.

In regards to getting your dev env set up - here's the best place to start: https://coralproject.github.io/talk/

A few tips:
1. You can either [use Docker if you're comfortable with that](https://coralproje

[2017-10-05 09:24] kgardnr commented on #1013
I've made some edits above to clarify how the Staff badge should show:

Here are the other "Flag badges", e.g. markers that show Moderators why a comment is showing in Reported.

![reported comment markers](https://user-images.githubusercontent.com/1077300/31220109-4c6a271e-a9b7-11e7-8c99-9ddc3b0aab0c.png)

The User one shows it was flagged by a User. I think you could re-use this styling and just

[2017-10-05 09:31] kgardnr commented on #1055
Welcome @adamdpate! Thanks, this is a great question.

So yes, for custom auth/login, you will need to create your own auth plugin and attach it to your database. Here's our own auth-plugin you can certainly reference, or use as a template to make your own: https://github.com/coralproject/talk/tree/master/plugins/talk-plugin-auth

We also support a ton of token customization via Advanced Configura

[2017-10-05 09:31] kgardnr commented on #1055
And PS - thank you for the kind words! <3

[2017-10-05 09:47] devonjs commented on #1047
hi @kgardnr can i take a look at this one? mind if I take some time to get my environment up and follow-up with some questions?

[2017-10-05 09:51] kgardnr commented on #1047
Sure @devonJS! That would be great - welcome! Let us know any questions you have.

[2017-10-05 09:52] kgardnr commented on #1046
Hi @Rishabh04-02 and @holmberd! Thank you both for your efforts! I'm going to have to go with Risha's PR, Dag, because he did claim the issue first. I do hope you both continue to contribute to Talk, we would love to have you both involved :)

[2017-10-05 10:03] kgardnr opened #1060 "[Plugin] "Popular" comments moderation queue"
Story: As a moderator, I want to see a queue of comments that have received a lot of recent likes/respects, so that I can find popular comments to feature

AC:
- This should be a plugin called `talk-plugin-popular-comments` which is turned on by adding to the `plugins.json` file
- New queue called "Popular" which shows on the Admin > Moderate page
  - It should appear between Reported and Approved

[2017-10-05 10:15] kgardnr commented on #1026
Hi @sagarvd01! You can either host it in your own repo, or you could submit it to our core `plugins` directory.

@cvle do you have any preference for where this sort of plugin might live?

[2017-10-05 10:30] #1036 closed, assigned to nobody

[2017-10-05 12:00] dusty-wil commented on #1043
Thanks, @kgardnr! When I try to duplicate this, the error I get is "Your comment must have something in it" ... rather than "Sorry! An unexpected error occurred." I can still look at changing the error message to what's suggested in your original post, if you'd like.

[2017-10-05 12:22] kgardnr commented on #1043
Oh I see - you're right! Yes, could you update the error message to the above? I think it sounds better :) Thank you @dusty-wil!

[2017-10-05 13:26] holmberd commented on #1046
Haha no worries. Surprisingly similar solution ;)

[2017-10-05 13:38] dusty-wil commented on #1043
Thanks @kgardnr, PR sent. I think I accidentally scheduled the "Merge branch 'master' into master" in my PR as well... sorry, didn't mean to do that

[2017-10-05 13:41] AishaBlake commented on #1013
Thank you so much! That's exactly what I was looking for! I see now that there's a link in the main README, but that would perhaps be a good addition to `CONTRIBUTING.md` as well. Thanks also for following up on the design. I think that's everything I need to get started and I'll certainly reach out if I have questions or get stuck!

[2017-10-05 13:41] kgardnr commented on #1043
No worries, @dusty-wil! Thank you!

[2017-10-05 13:44] kgardnr commented on #1043
Fixed in #1062

[2017-10-05 13:44] #1043 closed, assigned to nobody

[2017-10-05 13:46] kgardnr commented on #1013
Amazing @AishaBlake!

[2017-10-05 13:49] holmberd commented on #1051
I wouldn't mind taking a look at this.

[2017-10-05 13:51] kgardnr commented on #1051
That would be awesome @holmberd!

[2017-10-05 14:46] wyattjoh commented on #1055
To be specific (and this will be added to the docs soon), you have to implement the https://github.com/coralproject/talk/blob/ef49d9a3d2acc4d2fc03b00e0c872dfbc57f005a/docs/_docs/04-04-plugins-server.md#field-tokenusernotfound `tokenUserNotFound` hook for your server plugin which will turn an auth token into a user.

You must also pass the token that you want to use with auth through to the talk em

[2017-10-05 15:18] yonidor commented on #1042
@kgardnr 10x!
This is my first try of open source contribution, so i might need some guidance :)

I'm trying to setup and run the Talk project, and i have an issue with loading the assets  (_bundle.js_ is loaded from a wrong path... it is generated in the _dist_ folder, but the views try to load it from the _client_ folder ).
Is it OK to discuss it here, or you prefer a more direct way?

[2017-10-05 15:30] raphaelpor opened #1064 "404 - on documentation"
Hi folks!

I can't access some URL's on the new documentation, like [this](https://coralproject.github.io/talk/docs/plugins/client/).

Could someone help me?

[2017-10-05 15:42] kgardnr commented on #1064
Hey @raphaelpor, we're in the midst of rewriting our docs. Were you looking for documentation on plugins, because you can find that here: https://coralproject.github.io/talk/plugins/

This is the docs root: https://coralproject.github.io/talk/

Let me know if that helps!

[2017-10-05 16:06] #1029 closed, assigned to nobody

[2017-10-05 16:28] kgardnr commented on #1042
Welcome @yonidor! No problem at all!

Have you followed all the setup instructions here: https://coralproject.github.io/talk/

Are you getting any errors when you run `yarn`, `yarn build` or when you start the server with `yarn start`?

[2017-10-05 17:00] raphaelpor commented on #1064
Hey @kgardnr!

Thanks for your help.
But now, I can't find a documentation for the Rest API of Coral Talk. 😕
Do you know where is it?

[2017-10-05 17:21] wyattjoh commented on #1064
Here's our existing REST API Docs @raphaelpor: https://github.com/coralproject/talk/blob/ef49d9a3d2acc4d2fc03b00e0c872dfbc57f005a/docs/swagger.yaml

Bear in mind, as we're improving our GraphQL schema, we'll eventually deprecate most if not all of the existing REST endpoints.

[2017-10-05 18:44] yonidor commented on #1042
@kgardnr
`yarn` and `yarn build` pass successfully
The instructions ("Installation from source") says to run `yarn dev-start`. when i ran that, no errors were raised, i was able to load the site, but i've encountered the assets loading issue.
When running `yarn start`, i get an error
[code]

guess it doesn't load `.env` when not in dev mode?

[2017-10-05 18:46] raphaelpor commented on #1064
Thanks @wyattjoh!

[2017-10-05 18:46] #1064 closed, assigned to nobody

[2017-10-05 20:09] wyattjoh commented on #1042
The `client` folder is mapped to the `dist` folder through express routing, so that's not the issue.

When developing, ensure you use `yarn dev-start` which will load the `.env` file.

When in production, it's expected that you've loaded the configuration into the environment through an external provider (such as a service file, or docker) and leave that configuration up to that.

`TALK_ROOT_URL`

[2017-10-05 21:27] #1016 closed, assigned to nobody

[2017-10-05 21:48] gerardogalvez commented on #1025
@kgardnr Hi! I noticed that switching between queues with tab would sometimes focus the address bar in the browser and in my opinion it felt weird while switching queues, so I used T for now. I already have the Search and Switch Queues shortcuts, but the undo one seems more complicated that the other ones, maybe include it in a separate issue?

[2017-10-05 22:35] yonidor commented on #1042
@wyattjoh thanks. i don't know what happened, but suddenly `yarn dev-start` started working. Now i have a different problem. When i try to finish the registration (The "Finish install" button) i get this message in the console:
![image](https://user-images.githubusercontent.com/6272947/31255639-7f484b96-aa36-11e7-8db3-8de76e841dfc.png)

Any idea?

[2017-10-05 22:35] wyattjoh commented on #1042
What is your value for `TALK_ROOT_URL`?

[2017-10-05 22:42] yonidor commented on #1042
`TALK_ROOT_URL=http://127.0.0.1:3000`
from my `.env` file

[2017-10-05 23:03] wyattjoh commented on #1042
I would suggest stopping the `yarn dev-start` and starting it again. The `dev-start` will not reload the `.env` every time, only once when you first load it.

[2017-10-06 00:43] lancekruegger commented on #1024
@SioJL13, I've submitted a potential fix, if you want to get the credit feel free to speak up, and to the contributors, disregard my PR. 😄

[2017-10-06 06:12] kamos1 commented on #1037
Hi, @kgardnr I'd like to take this on if there's not a solution in progress. Otherwise, I'll pick up another issue.

[2017-10-06 07:36] sagarvd01 commented on #1026
Hi @kgardnr you mentioned that you're a comment reader and want to share comments and permalinks to social media. my question is on which site? because each site have different structure. From which site you want to share comments?

[2017-10-06 10:35] Goyapa opened #1069 "Setup Debugger for Coral/talk!"
Setup debugger for attaching client and server to the running process in VS Code

tl;dr
@gabelula @cvle @okbel @wyattjoh
Does anyone use VS Code and could please share his/her `launch.json`.

[code]
Client Launch configuration does not find souremaps.
I tried different files and folders...
And I would like to change from launch to attach.

Server configuration is crashing.
I tried different settin

[2017-10-06 11:31] adamdpate commented on #1055
Perfect, those links look like a great place to start. Just wanted to see if this was supported before diving in. I'll be keeping a look out for the new documentation.

[2017-10-06 11:31] #1055 closed, assigned to nobody

[2017-10-06 14:32] kgardnr commented on #1026
Hi @sagarvd01 I've attached some designs above to explain more how this should function - let me know if you have more questions!

[2017-10-06 14:34] kgardnr commented on #1037
Hi @kamos1! It's all yours! 👍

[2017-10-06 14:37] kgardnr commented on #1042
Any luck @yonidor?

[2017-10-06 14:50] kgardnr opened #1071 "Edit message and buttons don't show on Windows/IE11"
### Expected behavior

It should look like this:

#### === Edit Countdown ===

<img width="663" alt="editing_working_correctly" src="https://user-images.githubusercontent.com/1077300/31283549-dc63380a-aaad-11e7-81b0-5b13d55f93d6.png">

#### === Close Dialogue after Timeout ===

<img width="657" alt="close_edit_working" src="https://user-images.githubusercontent.com/1077300/31283820-98ed4178-aaae-1

[2017-10-06 16:09] MuraraAllan commented on #1042
@yonidor I Got the same error with

 , we are not under a production Environment. Use dev-start, it will work.

What i suggest you in order to fix this problem you are facing in your Development environment is :
try out this sequence :
If you have MongoDbCompass, RoboMongo or any mongo client, wipe out your Mongo Database.  (Picture 1)

From main folder of talk, run this comand :
`./bin/cli -c .en

[2017-10-06 18:34] kamos1 commented on #1037
@kgardnr I just created a PR for this. https://github.com/coralproject/talk/pull/1072

[2017-10-06 19:43] #1024 closed, assigned to nobody

[2017-10-06 19:44] alinhle commented on #1037
Fixed in https://github.com/coralproject/talk/pull/1072

[2017-10-06 19:44] #1037 closed, assigned to nobody

[2017-10-06 20:41] tylerbrewer2 commented on #1060
I'd like to take a try at this, but likely wont get the chance over the weekend, so if someone else has any interest before hand feel free to take it 👍

[2017-10-06 21:13] kgardnr commented on #1060
That would be awesome! Thank you!
On Fri, Oct 6, 2017 at 9:41 PM Tyler Brewer <notifications@github.com>
wrote:

[2017-10-07 06:48] cloudkompute opened #1074 "Invite Friends feature"
A user clicks "Invite Friends" link
A dialog box appears
The user inputs a list of email addresses separated by comma and clicks a Send button
The system sends an email to all the user's friends (probably the user's email address in the From field)
A friend clicks the Invitation link and the system takes him/her to the Sign Up page.

Thanks and Regards to the development team

[2017-10-07 06:53] cloudkompute opened #1075 "Server Side Rendering (SSR) feature"
Does the system support SSR feature as of now? If not, can it be implemented? This feature has been implemented in the following popular boilerplates ...

https://github.com/zeit/next.js
https://github.com/kriasoft/react-starter-kit

[2017-10-07 07:57] sagarvd01 commented on #1026
Hi @kgardnr the layout is clear but there are many comment services like disqus. each of them have different structure. In which platform you want this button to work? I mean in disqus or some other services like that?

[2017-10-07 08:06] yonidor commented on #1042
@kgardnr no luck :(
@MuraraAllan Followed your instructions, and now i get the following screen on the homepage (http://127.0.0.1:3000)
![image](https://user-images.githubusercontent.com/6272947/31305957-3d8a56d6-ab4e-11e7-82d0-e8edd8e925bd.png)

The preloader keeps on spinning, and the console shows this error
![image](https://user-images.githubusercontent.com/6272947/31305983-d70cf3f4-ab4e-11e7-

[2017-10-07 09:05] varunzxzx commented on #1050
May I know the file where the user schema gets updated to 'BANNED'

[2017-10-07 09:59] cloudkompute opened #1076 "Upgrade to React Router version 4"
Currently it is supporting version 3

Probably, we'll need to upgrade the "history" package to 4.x too.

[2017-10-07 10:03] cloudkompute opened #1077 "No need to explicitly bind "this" to a component"
Make use of babel plugin : transform-class-properties which allows us to use arrow functions that automatically binds "this" to a component.

and by doing so, we can get rid of such kind of statements in the code:

this.handleSave = this.handleSave.bind(this);
this.handleInput = this.handleInput.bind(this);
this.handleCancel = this.handleCancel.bind(this);

[2017-10-07 14:38] MuraraAllan commented on #1042
Great to read that @yonidor... It's my mistake!

Instead of passing an array of values to your whitelist, you should pass 127.0.0.1.
I probably don't restart my environment when i sent you the picture and assumed that a array on the whitelist field will be converted in 3 values. :)
You don't need to make all the steps again, just open a mongoDB client and edit the whitelist.

db.settings.domains.w

[2017-10-07 15:52] dagjaneiro commented on #1023
Hi! I'd like to tackle this issue.

Since I'm new to the project can you clarify if by warning notification you mean the same notification system used to display errors?

Something like this:

![image](https://user-images.githubusercontent.com/10207818/31309503-0220f34e-ab7f-11e7-8e2c-abcd8b57db20.png)

[2017-10-07 21:17] gerardogalvez commented on #1021
Sortable with a button like the one in the Moderate section? I noticed that clicking in the column headers sorts the list according to the column.

You can see in the attached gif that clicking on Account Creation Date sorts them by creation date. The same happens with Status, and Username and Email.

![2017-10-07 16 15 03](https://user-images.githubusercontent.com/8509232/31311852-bfd47c08-ab7a-1

[2017-10-07 21:21] gerardogalvez commented on #1011
No Invite another team member button during install?

[2017-10-07 21:50] yonidor commented on #1042
@MuraraAllan nope, still getting the "Not logged in" error in the console. Thanks anyway :)

[2017-10-09 06:59] #1025 closed, assigned to nobody

[2017-10-09 13:46] facuesr commented on #1071
Hi! I'll take a look on this.

[2017-10-09 18:41] PepeFranco commented on #1038
I will take a look at this

[2017-10-10 04:36] PepeFranco commented on #1038
Hey @kgardnr I just submitted pull request #1081 for flagging.

When it comes to reactions it seems there is already notifications to users if I am not mistaken.

https://github.com/coralproject/talk/blob/7600ce8d262d22db40b9d931f1f55acbd675ad8f/plugin-api/beta/client/hocs/withReaction.js#L266

Same thing with tagging

https://github.com/coralproject/talk/blob/7600ce8d262d22db40b9d931f1f55acbd675a

[2017-10-10 12:05] #1019 closed, assigned to nobody

[2017-10-10 12:05] kgardnr commented on #1019
Thank you @tylerbrewer2! Great work!

[2017-10-10 12:10] kgardnr commented on #1011
@gerardogalvez yes we want to include this too!

[2017-10-10 12:11] kgardnr commented on #1021
@gerardogalvez yes, it's sort of working there. I think making it obvious that the columns are sortable - perhaps with a small icon. And also showing the mouse as a pointer so it's obvious it's clickable.

[2017-10-10 12:13] kgardnr commented on #1038
Hi @PepeFranco! For the settings, it should be if they try and Save any settings in the Configure tab. Thank you for submitting that PR, we will review it shortly.

[2017-10-10 15:45] MuraraAllan commented on #1042
There is something very weird going on @yonidor  and i would love to catch up what it is.

Look, even if localhost is a loopback to 127.0.0.1, localhost / local will not render the things in right way using Talk as long as i debug here.

localhost:3000 will not work, 127.0.0.1:3000 will work.
For some reason the address of the asset_url that your browser is assuming is "localhost", i bet you get a

[2017-10-10 15:50] wyattjoh commented on #1042
The asset url matching component isn't that smart to try and resolve ip addresses, hence why if you set the whitelist to include `127.0.0.1`, `localhost` won't work. The error in the console for `Not logged in` is fine, and is returned if the browser see's that you're not logged in.

Double check your privacy settings on your browser to ensure you aren't blocking cookies/js, as that might impact s

[2017-10-10 17:24] wyattjoh commented on #1075
We don't have any plans for now to support SSR unfortunately no. It's quite a re-engineer from our current implementation. I'll update this ticket in the future if our outlook changes.

[2017-10-10 17:24] #1075 closed, assigned to nobody

[2017-10-10 17:29] wyattjoh commented on #1074
We currently don't have plans for this feature on our roadmap, we'll update this ticket if that outlook changes.

[2017-10-10 17:29] #1074 closed, assigned to nobody

[2017-10-10 17:32] kgardnr commented on #1077
@okbel or @cvle do you have an opinion on this?

[2017-10-10 17:34] kgardnr commented on #1076
Hey @coooolers, thanks for the suggestion! Would you be interested in taking this on?

[2017-10-10 17:36] kgardnr commented on #1026
Hey @sagarvd01! This is a feature suggestion for OUR comments platform called Talk - that's the repo you're in right now 😝

[2017-10-10 22:39] gerardogalvez commented on #1021
@kgardnr Do you think something like this would be clear enough? I could submit a PR with it.
![2017-10-10 17 37 26](https://user-images.githubusercontent.com/8509232/31414090-e15c6dd6-ade1-11e7-975e-7a91449097e7.gif)

[2017-10-11 00:15] wyattjoh commented on #1021
Does this sort work when you have more than one page of data?

[2017-10-11 19:15] facuesr commented on #1027
Hi @kgardnr I'd like to work on this feature.

[2017-10-11 21:41] wyattjoh commented on #1069
We currently don't use debugging tools server side @Goyapa. We also don't provide any debugging config as we wanted to remain editor agnostic. If you are able to discover a working configuration, feel free to post the result here and we'll look at integrating it.

[2017-10-11 21:41] #1069 closed, assigned to nobody

[2017-10-11 21:41] #1071 closed, assigned to nobody

[2017-10-12 07:08] devonjs commented on #1047
@kgardnr just a quick update, got my environment up tonight, will have to play around the admin dashboard a bit

[2017-10-12 13:16] gerardogalvez commented on #1021
@wyattjoh I'll take a look a it today? What would the expected behavior be, sort every row or only the ones in the current page?

[2017-10-12 13:53] Goyapa commented on #1040
@kgardnr I'd like to tackle this issue.

[2017-10-12 19:51] cloudkompute commented on #1076
I won't be able to do it for a couple of reasons. There is a lot of work involved in it as this is a huge project. This exercise should be done by a developer who already knows about the inner workings of the system. Secondly, I do not have that much of experience.

Thank you for asking me though.

[2017-10-12 21:33] wyattjoh commented on #1076
As mentioned, this will require quite a lot of work to implement. Our team is not prioritizing upgrading without gain at the moment, so I'll close this issue for now and update when that changes.

[2017-10-12 21:33] #1076 closed, assigned to nobody

[2017-10-12 21:55] wyattjoh commented on #1021
The expectation is for large organizations with many users, it would sort across all users, not only one visible. Likely, the graph query should be adjusted to take some ordering parameters.

[2017-10-13 13:21] #1017 closed, assigned to nobody

[2017-10-13 13:27] kgardnr commented on #1048
Hey @MisaOgura how's it going? Is there anything we can do to help or support you?

[2017-10-13 13:29] kgardnr commented on #1020
Fixed in #1093

[2017-10-13 13:29] #1020 closed, assigned to nobody

[2017-10-13 13:29] kgardnr commented on #1023
Fixed in #1078

[2017-10-13 13:29] #1023 closed, assigned to nobody

[2017-10-13 13:31] kgardnr commented on #1035
Hey @fernandezpablo85 how's it going with this? Can we help or support you in any way?

[2017-10-13 13:31] kgardnr commented on #1038
Fixed in #1081

[2017-10-13 13:31] #1038 closed, assigned to nobody

[2017-10-13 13:33] kgardnr commented on #1039
Hey @PepeFranco did you wanna try this one too, as it's similar to #1038? This would be for all the Admin side actions.

[2017-10-13 13:33] kgardnr commented on #1044
Hey @devAmoghS, how's it going with this? Is there anything we can do to help or support you?

[2017-10-13 13:34] kgardnr commented on #1040
Great @Goyapa, we'd love to have your help with this!

[2017-10-13 13:35] kgardnr commented on #1047
Awesome @devonJS, let us know if there's anything we can do to help or support ya! :)

[2017-10-13 13:36] kgardnr commented on #1027
That sounds great @facuesr! We'd love to have you help with this :)

[2017-10-13 15:16] kgardnr opened #1102 "Configuration option "Pre-moderate new commenters""
Story: As an admin, I want to pre-moderate commenters who are commenting for the first time, so that I can ensure healthy dialogue in my community

AC:
- Setting on Configuration>Moderation Settings with checkbox to "Pre-moderate new commenters". This should go below the "Enable pre-moderation" setting.

<img width="624" alt="premod_new_commenters" src="https://user-images.githubusercontent.com/10

[2017-10-13 15:20] kgardnr opened #1103 "Configuration option "Hide Reports from Unreliable Flaggers""
Story:

AC:
- Setting in Configuration > Moderator Settings (this should go under Pre-mod Comments with Links setting)

<img width="631" alt="unreliableflaggers_setting" src="https://user-images.githubusercontent.com/1077300/31553408-501d7cae-b032-11e7-8371-999de4447783.png">

- Turning this setting ON ensures that Reported comments from commenters noted as "Unreliable" do not show in the Reported

[2017-10-13 16:23] jtnelson opened #1105 "Talk security issues in Firefox"
From a user:

I'm starting some tests with Talk. Maybe I've lost it on docs, the Talk just runs on HTTPS? Because I've been testing it locally and I've received "SecurityError: The operation is insecure." on some actions (embed on another page, login etc).

Can I disable this security verification on development env or something like this?

NOTE: This only happens in FF and not Chrome.

[2017-10-13 16:30] J-Wicks commented on #1102
Can I give this a shot?

[2017-10-13 16:48] kgardnr commented on #1102
Yes indeed! And reach out if you need any help Jeremy!
On Fri, Oct 13, 2017 at 5:30 PM Jeremy Wicks <notifications@github.com>
wrote:

[2017-10-13 16:48] J-Wicks commented on #1102
Thanks! I'll let you know if I get stuck!

[2017-10-13 18:59] wyattjoh commented on #1105
This may be a result of having the incorrect `TALK_ROOT_URL` variable. I'll investigate anyways.

[2017-10-14 12:50] fernandezpablo85 commented on #1035
Sorry, I had to travel for work and I'm having trouble finding free time to
setup the dev environment :(. If there's someone else that can tackle it
faster feel free to unassign me and give the issue to him/her.

On Fri, Oct 13, 2017 at 2:31 PM Kim Gardner <notifications@github.com>
wrote:

[2017-10-14 17:44] kgardnr commented on #1035
No worries @fernandezpablo85! Thanks for letting us know, but feel free to take your time and get to this when you can too :)

[2017-10-16 11:04] Goyapa commented on #1040
Hello @kgardnr, what I have found:

Client:
Toast and default pym used.
Server:
Passport and json web token(jwt).

On the client I found `info(msg)?`
/talk/client/coral-admin/src/services/notification.js
[code]

Actually I see only fragments and do not see the whole picture, could I get some more info please.

[2017-10-16 11:31] kgardnr commented on #1040
Ok great - so I think what you wanna do is detect if a session has expired for the current user, right? And then use the notification service to deliver an error message.

[2017-10-16 15:04] J-Wicks commented on #1102
@kgardnr Quick question - Do you have any suggestions for how to implement the new user premod? My first thought is to add a "premod user" setting on the user model, initialize it to true, and then switch it to false when the first comment is approved. My thought is that it could be useful in the future to selectively premod users.

[2017-10-16 15:07] kgardnr commented on #1102
@J-Wicks I like that idea - because then in the future, if say a newsroom wanted to pre-mod the users first X comments, it would be easy to make that a setting and it would just switch to false whenever that X was hit.

I'll see if @cvle, @okbel or @wyattjoh have any other additional thoughts on this too!

[2017-10-17 07:01] yonidor commented on #1042
@MuraraAllan @wyattjoh Sorry, very busy week, will try to give it another go this evening

BTW, no way i'm blocking cookies/JS, if that was the case your project would probably not be the first time i encounter issues :)

[2017-10-17 18:28] MisaOgura commented on #1048
@kgardnr hey I think I'm not experienced enough with graphql to tackle this... I'll step down from this and the other one so others can take over, sorry about it 😞

[2017-10-17 18:29] MisaOgura commented on #1049
I'm no longer working on this one, please feel free to tackle this. sorry @kgardnr 😞 really nice project though 👍

[2017-10-18 10:20] devonjs commented on #1047
@kgardnr got some of this working, do you have a preferred timeout for the undo tombstone to disappear?  or should it persist until the user navigates away?  Also, would this.props.data.refetch() be the appropriate way to reload the comments in the moderation container?  it seems to work, but does a little flash when reloading.

[2017-10-18 15:36] kgardnr commented on #1049
Awww that's a bummer @MisaOgura! If you change your mind or want us to recommend something else that might be interesting, just let us know - thanks for your support and interest!! 🎉

[2017-10-18 21:13] gcjbr opened #1114 "Dependencies installation being killed"
yarn or npm install will produce the same error

`npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
npm WARN deprecated chalk@2.0.1: Please upgrade to Chalk 2.1.0 - template literals in this version (2.0.1) are quite buggy.
npm WARN deprecated validate-commit-msg@2.14.0: Check out CommitLint whi

[2017-10-18 22:16] wyattjoh commented on #1114
This looks like it may be a RAM issue, `yarn install` typically consumes a lot of it.

[2017-10-19 01:04] gcjbr commented on #1114
Uhnnn ...

I'll edit package.json in chunks and try it .

I'll report back

[2017-10-19 11:50] Goyapa commented on #1040
What I found is that sessions expires after 24 hours.
For current user I'm not sure where to look at. Can you point me in the right direction?
Actually I try at talk/client/coral-admin/src/actions/auth.js but than i have to import
[code]
do not think that is the right way?

[2017-10-20 07:16] devonjs commented on #1047
@kgardnr added PR at #1117

[2017-10-20 13:37] Goyapa commented on #1040
@cvle with JWT debugger I am able to change "exp" and see the following errors in console.
So, set reproduceable "exp" time works as expected.

![screenshot from 2017-10-20 15-02-13](https://user-images.githubusercontent.com/815894/31822145-f5186b2c-b5a7-11e7-9096-a9803a310f48.png)

I hoped to get an error pointing me to the users "exp" settings.
Is this implemented jet? But the last times I asked

[2017-10-22 22:48] blackcathacker commented on #1103
I'd like to give this one a shot.

[2017-10-23 10:37] kgardnr commented on #1103
Awesome @blackcathacker! Let us know if you need help or have questions 💯

[2017-10-23 17:01] blackcathacker commented on #1103
I do have questions. Once into this one, its a lot more complicated than I anticipated. The query to fetch the mod-queues simply takes an action-type, which is FLAG in this case. That query on the back-end simple looks at the current counts stored in the comment model(maintained at the time of the action). In order for this config option to work either the query on the backend needs to take into a

[2017-10-23 18:36] wyattjoh commented on #1040
The `exp` claim is the definition of when the user would be logged out with that token. My suggestion, set a timeout for when that expiry time is reached to display some sort of UI reflecting the fact that their user session has expired, and prompt them to login again.

[2017-10-24 10:14] Goyapa commented on #1040
Ok, thank you @wyattjoh for your suggestion, i'm onto it again!

[2017-10-24 12:20] kgardnr commented on #1114
Any luck @souljacker?

[2017-10-24 12:21] kgardnr commented on #1103
Ah, this might be a little tricky you're right @blackcathacker - do you wanna still take a stab or pick something a little smaller as your first pr?

[2017-10-24 12:22] kgardnr commented on #1103
@blackcathacker we have a bunch of issues marked "good first issue" which should be good intros to get used to working with the codebase too! https://github.com/coralproject/talk/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2017-10-24 12:23] kgardnr commented on #1046
Fixed in #1059

[2017-10-24 12:23] #1046 closed, assigned to nobody

[2017-10-24 12:24] kgardnr commented on #1027
Fixed in #1104

[2017-10-24 12:24] #1027 closed, assigned to nobody

[2017-10-25 01:23] sidzan commented on #1114
I am also having same issue. i am using a test server just for demo which has 512MB RAM, which is low but should be okay for test , but i am unable to use `npm install` to install the packages.

Is there any solution except editing package.json into chunks ?

[2017-10-25 14:21] wyattjoh commented on #1114
Ensure you are installing the dependancies using yarn. If possible, you can add a swap partition to help prevent a system panic from installing the dependancies.

[2017-10-25 16:51] blackcathacker commented on #1103
Without some guidance on how you'd like the query refactored, I'll try to pull off an easier issue. Thanks!

[2017-10-26 06:22] gcjbr commented on #1114
No luck here, guys. Tried to split package.json in smaller chunks of dependencies, but it will still be killed.

`[1/5] Validating package.json...
[2/5] Resolving packages...
warning babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
warning validate-commit-msg@2.14.0: Check out CommitLint which provides the same fu

[2017-10-26 16:42] wyattjoh commented on #1114
Best suggestion @souljacker would be to increase the size of the VM that you're using to host the application, add more swap space (https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04) or use our pre-built Docker images available https://hub.docker.com/r/coralproject/talk/

[2017-10-27 08:09] MrBryan opened #1134 "startup, logging troubleshooting docs"
I compiled from source, I configured (on port 3590) I started it up, this is the output I get:

![image](https://user-images.githubusercontent.com/1721891/32094030-529050f2-bab3-11e7-94e6-0258234fd079.png)

If I connect with a local browser to the config address at 127.0.0.1:3590 or any other port I assign, it refuses to connect. I can't find anywhere in any docs on where log files or any further

[2017-10-27 15:30] wyattjoh commented on #1134
The output from logs is a bit vauge, it's a problem we're working on. Try setting your `DEBUG=talk:cli:serve` and monitoring the output. You should see a line that says something like:

[code]

[2017-10-27 15:59] meddy opened #1135 "Plugins Defined Through Env Variable May Not Be Available During Reconciliation"
### Expected behavior
In development, using a `.env` file,  if we rely on the env variable `TALK_PLUGIN_JSON` to define the plugins the app will use, the `plugins` cli app with the `reconcile` command should reference the plugin configuration defined in `TALK_PLUGIN_JSON` when the parent `yarn` command is executed. (`yarn` will run `package.json` install, and then `package.json` postinstall where

[2017-10-27 16:13] wyattjoh commented on #1135
This is actually expected beheviour @meddy. In production, it is the expectation that the environment variables are not defined in a `.env` file, rather, they are provided by the process manager or the runtime environment already.

If you are deploying with source, you can run your application with this simple systemd service file:

[code]

Or if using Docker Compose, you can use the `env_file` di

[2017-10-27 16:50] meddy commented on #1135
Thank you for the reply @wyattjoh . Yeah this issue is related to development. Really it's more of an inconvenience than anything, but I also thought it may potentially be an inconsistency. For development I typically run Talk from source, rather than docker, thus the .env file.

[2017-10-27 16:51] wyattjoh commented on #1135
For developement, I recommend placing your desired plugin configuration in the `plugins.json` file, so that the plugin reconciler will function as desired. This is already excluded from source control, so no issues should arise from it. When running the application in development, `yarn dev-start` will pre-select the `.env` file as the configuration value.

[2017-10-27 18:18] kardamom opened #1136 "tokenUserNotFound hook not recognised?"
Like @adamdpate in #1055, I also need to integrate Talk with my existing user database/login/registration flow.

I have talk up and running. I can pass through my own auth_token and see that talk successfully extracts my user id.

I've written a stub server plugin to implement the tokenUserNotFound hook. My plugin is loaded at startup. When I try to login, I can see that the function lookupUserNot

[2017-10-27 18:38] MrBryan commented on #1134
Thanks! looks like it was on port 3001 in spite of the config options I set in .env  But now the admin/install is a blank screen.

I do get something at 127.0.0.1:3001 which shows the local web config is running, but nothing on admin or admin/install

![image](https://user-images.githubusercontent.com/1721891/32119648-c376ccae-bb0a-11e7-92d4-10c6e7670133.png)

![image](https://user-images.githubus

[2017-10-27 18:43] MrBryan commented on #1134
AHA. I found looking at the page source that there were references to my configured port, 3590... so changing that to the port that Talk assigned to itself anyways let me load the admin page :)

[2017-10-27 19:08] meddy commented on #1135
ty

[2017-10-27 19:08] #1135 closed, assigned to nobody

[2017-10-27 19:34] MrBryan commented on #1134
I'll file a bug report  for the port preference being ignored in .env then.

[2017-10-27 19:34] #1134 closed, assigned to nobody

[2017-10-30 01:51] blackcathacker commented on #1050
@kgardnr Gave this one a try. See PR #1137.

[2017-10-30 02:49] blackcathacker commented on #1044
@kgardnr gonna give this one a try as well if thats alright.

[2017-10-30 13:24] #1044 closed, assigned to nobody

[2017-10-30 20:07] wyattjoh commented on #1136
To resolve your issue, you should import it like this:

`talk-plugin-sso-auth/server/notfound.js`

[code]

`talk-plugin-sso-auth/index.js`

[code]

Note that the exported object from your plugin (in `talk-plugin-sso-auth/index.js`) must export an object with a key of `tokenUserNotFound` and your code above exported the following:

[code]

Let me know if that helps!

[2017-10-30 20:48] kardamom commented on #1136
Great, thank you - that worked and I can see my log message when I try to sign in.

I guess this was just basic Javascript, so thanks for indulging me.

[2017-10-30 20:48] #1136 closed, assigned to nobody

[2017-11-01 11:01] #1013 closed, assigned to nobody

[2017-11-01 11:10] #1042 closed, assigned to nobody

[2017-11-01 21:53] MrBryan opened #1148 "Inability to treat directory same thread as directory/index.html"
### Expected behavior

Expect as with disqus that the platform will detect that directory index pages e.g website.com/folder/index.html  is the same content as website.com/folder/

### Actual behavior

Talk treats these two URLs as separate threads

### Steps to reproduce behavior

Load page in the two ways described above

[2017-11-01 21:54] MrBryan commented on #1148
Perhaps `<link rel="canonical" > ` tags can be the authority to be consistent with social media etc

[2017-11-02 07:21] devonjs commented on #1047
@kgardnr updated in-stream undo #1149

[2017-11-02 23:14] wyattjoh commented on #1148
When running in production @MrBryan, Talk will prefer the `<link rel="canonical" >` tag instead of inferring it from the current url in the url bar:

https://github.com/coralproject/talk/blob/ff9ae035224865ee2ed5ae30100a5632fd9d41e2/client/coral-embed/src/index.js#L75-L91

If this doesn't work for you, you can also explicitly manage the assets loaded into Talk with some of the guides here:

https:

[2017-11-02 23:14] #1148 closed, assigned to nobody

[2017-11-02 23:17] MrBryan commented on #1148
Aha ok I am in dev mode thanks

[2017-11-03 11:21] kgardnr commented on #1050
Fixed in #1137

[2017-11-03 11:21] #1050 closed, assigned to nobody

[2017-11-03 11:21] kgardnr commented on #1047
Fixed in #1149

[2017-11-11 02:52] dra777 opened #1157 "Talk Setup for HTTP sites"
Are there any settings or setup needed to be done for Talk to work on an HTTP site?

When stories from HTTP page go in to the /admin/stories it gives me a blank title and NaN/NaN/NanN for the publish date. Testing the embed on HTTPS works otherwise

Thanks

[2017-11-11 12:10] kgardnr commented on #1157
Hey @dra777! You can run Talk without https locally, is that what you're doing in this case? Make sure you check our docs that will give you details about configuration variables (see the Required ones - you will need those to run Talk) - and you will also need to add the domain during the Install, or by going to Configuration>Tech Settings.

Docs here: https://coralproject.github.io/talk/
Require

[2017-11-13 23:23] wyattjoh commented on #1157
When deployed however, you require HTTPS to run the site. Talk takes advantage of options like secure cookies to protect end users from inspection, which requires that cookies can only be set on sites protected with SSL.

There are no plans to support deploying sites in production in non HTTPS environments.

[2017-11-14 00:08] dra777 commented on #1157
Hi @wyattjoh and @kgardnr ,

The Talk platform I've set up is running on HTTPS. But it's being called/embedded on a non-SSL website. Would there be any changes needed to be done with the setup?

I've added this to the env variables:

TALK_HELMET_CONFIGURATION={"hsts": false}

Thanks for the help and quick response!

[2017-11-14 00:55] kgardnr commented on #1157
@dra777, you will need to upgrade the website you embed Talk on to be https - this is best practice, ensures your site won't be blocked by all the popular web browsers, but also otherwise you will get mixed content warnings if you have https and http assets on the same page.

[2017-11-14 01:02] dra777 commented on #1157
Thanks @kgardnr !

Hopefully, we are able to move our site to HTTPS asap. But in the meantime, I'm stuck dealing with HTTP website until early next year i think. sigh

[2017-11-14 01:05] kgardnr commented on #1157
You can make the business case for https because of security of course - but also mention that https sites are now actively being lower ranked by google and other search engines, as well as throw warnings (this site is not secure!) in all the latest browsers (most will even prevent you from accessing the site, or soon will). If you need help or guidance, let us know, we can help point you in the r

[2017-11-14 01:08] dra777 commented on #1157
Thank you very much! 😄

[2017-11-14 01:08] #1157 closed, assigned to nobody

[2017-11-14 10:42] #1105 closed, assigned to nobody

[2017-11-14 10:43] #972 closed, assigned to jtnelson

[2017-11-14 10:44] #992 closed, assigned to jtnelson

[2017-11-14 10:46] kgardnr commented on #1114
Hey @souljacker were you able to get it up and running by any chance?

[2017-11-14 10:50] #993 closed, assigned to nobody

[2017-11-14 11:50] #1047 closed, assigned to nobody

[2017-11-16 20:27] meddy opened #1168 "Accessing Environment Variables From Client Comment Stream Embed"
### Expected behavior
It would be helpful to have a system to dynamically make certain environment variables available within the client app. This is needed for things like public api keys.

### Actual behavior
A small subset of environment variables, `TALK_PLUGINS_JSON`,` TALK_THREADING_LEVEL`, `TALK_DEFAULT_STREAM_TAB`, and `TALK_DEFAULT_LANG`, are available through the Webpack define plugin at

[2017-11-17 00:08] wyattjoh commented on #1168
Love the idea. I'll update this ticket when we've taken a look.

[2017-11-17 01:54] dra777 opened #1169 "Using auth_token on Coral.Talk.render gets 401 Error on signout"
Hi,

#1055, #1136
I'm testing out auth_token when embedding Talk:

`Coral.talkStream = Coral.Talk.render(document.getElementById('coralStreamEmbed'), {
  ...
  auth_token: <token>
});`

It signs me in, but i get errors on Chrome console when i click sign out:

POST http://127.0.0.1:3000/api/v1/graph/ql 401 (Unauthorized)
bundle.js:30 Error: Server response was missing for query 'undefined'.

On te

[2017-11-17 04:51] gcjbr commented on #1114
@kgardnr As @wyattjoh suggested, it was my DO box swap space. I increased it, then yarn was able to proceed a bit further, but then stopped again. I guess it would have worked if I kept increasing my box size and power, but at that point I just gave up using it. I think it's too much resources usage for what I need

[2017-11-17 10:43] kgardnr commented on #1114
@souljacker have you tried using the pre-built Docker images? What size of Droplet are you using?

[2017-11-17 19:42] wyattjoh commented on #1114
The prebuilt docker images have all the dependencies pre-built, and should actually work better in most circumstances.

[2017-11-17 19:45] wyattjoh commented on #1169
When you use the auth_token method for connecting to Talk's auth system, Talk does not persist cookies/local storage to keep the token. Because Talk runs inside an iFrame, it's not possible without creating a popup (the original auth system) to get permission to save data to cookies/localStorage.

When you click "Sign Out", can you check to see what the network requests being sent were?

[2017-11-17 20:41] dra777 commented on #1169
Hi @wyattjoh,
I'm not sure if I'm doing this right but here are the network requests I see:

Request URL:http://127.0.0.1:3000/api/v1/auth
Request Method:DELETE
Status Code:204 No Content
Remote Address:127.0.0.1:3000
Referrer Policy:no-referrer-when-downgrade

Request URL:http://127.0.0.1:3000/api/v1/graph/ql
Request Method:POST
Status Code:401 Unauthorized
Remote Address:127.0.0.1:3000
Referrer

[2017-11-20 16:53] meddy opened #1170 "Error Received When Logging In Via Profile Link"
### Expected behavior
If you log in using the sign in button on the Comments tab, there isn't an issue.

### Actual behavior
Logging in using the link on the Profile tab:
[code]

### Steps to reproduce behavior
1. Clone Talk
1. Add .env
[code]
1. Add plugins.json
[code]
1. Configure Talk and create a test asset
1. Go to an asset while logged out, and click the Profile tab.
1. Complete the Sign In

[2017-11-20 17:00] kgardnr commented on #1170
Hey thanks @meddy! I was able to reproduce this. We will take a look!

[2017-11-20 21:31] wyattjoh commented on #1169
What is the response body from that request?

[2017-11-21 00:00] dra777 commented on #1169
Hi @wyattjoh

The response was:

`{"message":"authentication error occured","error":{"message":"authentication error occured","status":401,"translation_key":"AUTHENTICATION","metadata":{"message":"token was revoked"}}}`

[2017-11-21 19:31] kgardnr commented on #1169
Hey @dra777, thanks for this!

Are you looking to contribute to Talk as a 3rd party developer, or to set Talk up for your newsroom or blog? That will help us figure out the best way to support you here.

[2017-11-24 02:49] facuesr commented on #1035
Hi @kgardnr , hope you are doing well!! Can I take a look at this?

[2017-11-24 10:28] kgardnr commented on #1035
Sure that sounds great!
On Fri, Nov 24, 2017 at 2:49 AM Facu <notifications@github.com> wrote:

[2017-11-25 00:08] dra777 commented on #1169
Hi @kgardnr,

Sorry for the late response. I'm trying to set it up on WordPress blog locally. I've removed the sign out option on the embed as I've realized I don't really need it since I'm logging in and authenticating using Wordpress. So when they log out on WordPress, they should also be logged out on Talk.

[2017-11-28 00:40] #1169 closed, assigned to nobody

[2017-12-01 18:12] wyattjoh opened #1188 "Incorrect class for reason popup"
### Expected behavior

Class name for:

https://github.com/coralproject/talk/blob/99daa0b2c92e140894545b1820d5df680f29a5f5/client/talk-plugin-flags/components/FlagButton.js#L210

Should instead be `${name}-popup-textarea-label`.

### Actual behavior

Class name is `${name}-popup-radio-label`.

[2017-12-05 11:17] alinhle commented on #1077
We already use arrow functions to bind to this on the frontend. There mind be some older code that still does the bind manually and can easily be refactored to use the arrow functions.

[2017-12-05 17:57] #1188 closed, assigned to kgardnr

[2017-12-05 21:01] wyattjoh commented on #1168
Question @meddy, would it be sufficient to have access to these in the DOM of the loaded page or is it necessary to access this at build time?

The issue is when using the docker `*-onbuild` tags, we have to specify which params are passed in, and can't wildcard them. Passing them in the page would resolve this issue.

[2017-12-07 13:54] ppatel221 commented on #1034
Hey, I've fixed a bug similar to this before. Is it okay if I take over?

[2017-12-07 13:55] kgardnr commented on #1034
Sure!

[2017-12-12 14:56] ppatel221 commented on #1034
Can you help me get started with this? How can i get this on my local?

[2017-12-12 15:05] okbel commented on #1034
Hey @ppatel221! Here are the installation and configuration guides. https://coralproject.github.io/talk/installation-from-source/

Let me know if you have any questions!

[2017-12-12 15:08] okbel commented on #1077
Hello @coooolers! Thanks for the suggestion but we plan on doing this progressively in each refactor or PR.

[2017-12-12 15:08] #1077 closed, assigned to okbel, cvle

[2017-12-14 07:45] amalfra opened #1207 "Getting error on admin panel in fresh install"
### Expected behavior
I should be able to access admin panel when navigated to /admin
### Actual behavior
stuck in blank page due to js error
![selection_001](https://user-images.githubusercontent.com/4033256/33980689-f719578a-e0cf-11e7-9037-824cfdfa4e9d.png)
### Steps to reproduce behavior
I just brought up talk using docker image as mentioned here: https://coralproject.github.io/talk/index.html

[2017-12-14 16:16] wyattjoh commented on #1207
It looks like the `ROOT_URL` parameter set in configuration references `127.0.0.1:3000` rather than `localhost:3000`. Try accessing the dashboard there, or changing the `ROOT_URL` parameter to `http://localhost:3000`.

[2017-12-14 16:21] amalfra commented on #1207
@wyattjoh Thanks, it works now!

[2017-12-14 16:21] #1207 closed, assigned to nobody

[2017-12-19 10:48] alinhle commented on #1170
Fix merged in https://github.com/coralproject/talk/pull/1217

[2017-12-19 10:48] #1170 closed, assigned to cvle

[2017-12-20 03:06] AnneTheAgile commented on #1026
@kgardnr maybe this story could be broken up into two parts so that it is more agile? eg
- as a commenter I would like to have a permanent Url visible on each remark so I can find it again
- as a commenter I would like a button to speed up social sharing of a link so I don't have to go to another page
//on WSJ there are already links, so maybe that part is done?

[2017-12-20 03:20] AnneTheAgile commented on #1049
@kgardnr I see here that the variable 'moderation' is used but not  defined anywhere previously in this file.
https://github.com/coralproject/talk/blob/9e486f3a9dfeca857a55c8a19819fb960378284c/graph/mutators/comment.js#L393
Would there be global variables lurking? Or would this indicate the fix is to initialize 'moderation'?

[2017-12-20 04:23] tom10271 opened #1228 "Is it possible to have flow.js or Typescript definition files support?"

[2017-12-20 14:24] kgardnr commented on #1026
Hi @AnneTheAgile! Thank you for this feedback! Yes, we already have a permalink link, it looks like this:

<img width="637" alt="permalink_share" src="https://user-images.githubusercontent.com/1077300/34211564-789c394e-e567-11e7-9651-8cc9704c5508.png">

So the story here is enhancing that link to make it easy to share (like on Twitter and Facebook) as per the image attached above.

What do you thi

[2017-12-20 14:26] kgardnr commented on #1049
Hi @AnneTheAgile! It's a configuration variable yes called `PREMOD` - you can see that here:

https://github.com/coralproject/talk/blob/99daa0b2c92e140894545b1820d5df680f29a5f5/graph/typeDefs.graphql#L244

[2017-12-20 15:31] gakhov opened #1229 "Live stream WebSocket connection fails"
While all other functionality of CoralTalk works quite good for me, the WebSockets requests to `/api/v1/live` fails (doesn't matter if user is logged in or not)

### Expected behavior

Websocket connection for the live stream `/api/v1/live` is established

[code]

### Actual behavior

[code]

### Steps to reproduce behavior

Well, with WebSockets it's always a bit tricky to reproduce the issue. My

[2017-12-20 15:53] wyattjoh commented on #1229
We have many newsrooms using Talk in Docker successfully at this point, so I'm just guessing that the curl request is unable to properly simulate the websocket handshake.

What I would recommend, is that your nginx config contains something along the lines of:

[code]

Which is assuming that you have Talk running on port 7777. That's the configuration that we have in production for our own blog at

[2017-12-20 15:54] wyattjoh commented on #1228
We have plans in the future to support Typescript/flow.js, but not anytime soon. I'll update here if anything changes!

[2017-12-20 15:54] #1228 closed, assigned to nobody

[2017-12-20 16:06] gakhov commented on #1229
Weird... This is how my Nginx is configured as well. The `curl` was just a simulation, as I said. But both of them fail with the same 400 Bad Request.

Also weird that I don't see `/api/v1/live` requests in the container's logs (neither when I call via Nginx, nor via curl), but all other requests are there. Is this something that you experience in your production configuration as well? Does that `

[2017-12-20 17:32] wyattjoh commented on #1229
I was able to run your curl command directly from our console and it worked:

[code]

[2017-12-20 21:57] gakhov commented on #1229
Thank you, then I will try to start with completely fresh system to check where it was misconfigured in my case. I'll let you know if find something that can useful for other users.

[2017-12-21 13:12] gakhov commented on #1229
Thank you again for the input. I think, finally, I've figured out that was the reason and I have an explanation why it worked for you, but not for me.

## The problem

The problem was my `TALK_ROOT_URL` isn't root URL, so it had a `/test/` subpath:
[code]
In my configuration, I didn't specify `TALK_ROOT_URL_MOUNT_PATH=TRUE` that by default is `FALSE`.

Thus, all non-WebSocket requests are rooted t

[2017-12-21 14:10] rajeshraazi opened #1233 "Not able to open login window using the embed object."
Trying to adding a login button which opens the talk internal login popup on click.

Here is my code:

var ctalk = Coral.Talk.render(document.getElementById('coral_talk_61862106'), {talk: '<server address>'});
ctalk.login();

Please share how can we externally open the talk login window using object 'ctalk'.

[2017-12-21 20:27] jheasly opened #1235 "Can't log in using http & iOS 11.2.1, v3.8.2 on Safari, Firefox or Chrome"
### Expected behavior
After submitting proper credentials, user is authenticated.

### Actual behavior
No error, but no authentication either.

### Steps to reproduce behavior
Try to log in using Safari, Firefox or Chrome and iOS 11.2.1 into a v3.8.2 install over http.

[2017-12-21 20:37] kgardnr commented on #1235
@jheasly unfortunately we don't support http at all in production; you must use https.

[2017-12-21 20:40] kgardnr commented on #1233
Hi @rajeshraazi, thanks for writing! Are you trying to include a login button somewhere outside of Talk, is that it?

[2017-12-21 20:41] jheasly commented on #1235
Oh. Is that in the docs?
(And is it likely the issue?)

[2017-12-21 20:46] kgardnr commented on #1235
I don't think we specifically call it out in the docs, but I will add it! I'm sure that's the issue.

[2017-12-21 20:55] rajeshraazi commented on #1233
@kgardnr - Yes, I am trying to place it outside talk configurable based embed; at a click of button on top of my page. Right now comments are calling using iframe based code.

[2017-12-21 20:57] kgardnr commented on #1233
Are you integrating it into another auth system of some sort? Or you just wanna have a one-off login button?

[2017-12-21 20:58] rajeshraazi commented on #1233
@kgardnr  - I am using Talk integrated login/signup which is part of Coral talk package.

[2017-12-21 20:58] #1235 closed, assigned to nobody

[2017-12-21 21:00] kgardnr commented on #1233
Oh awesome. I'm actually not sure if this is supported at the moment. We are about to go on break for the holidays, so I can check back with the team first week of January and see what they say.

In the meantime, were you able to get the out of the box install of Talk up and running successfully? If you can share where you're hosting it, we'd love to see!

[2017-12-21 21:01] rajeshraazi commented on #1233
@kgardnr  - Is there any way that I can call it using configured events like?:
myObj = Coral.Talk({}); //Object initiated.
myObj.trigger('loginWindow') - will open login dialogue.

[2017-12-21 21:02] kgardnr commented on #1233
I don't think so right now - we have everything managed inside the embed/iframe. You can access certain elements of the graph, but I'm not sure about the login functionality.

[2017-12-21 21:03] rajeshraazi commented on #1233
@kgardnr - We are currently hosted it under private machine(pre-production). I will share you the link once it goes live. Thanks..Happy holidays.

[2017-12-21 21:08] kgardnr commented on #1233
Awesome @rajeshraazi - we will be back in touch in January! :)

[2017-12-29 16:23] gakhov opened #1241 "Incorrect URL for "Ask Readers a Question" in the Configure tab"
### Expected behavior

_Configure Comment Stream_ -> _Ask Readers a Question_ should call  `/${MOUNT_PATH}/client/0.js`

### Actual behavior

_Configure Comment Stream_ -> _Ask Readers a Question_ calls  `/client/0.js`

### Steps to reproduce behavior

1. Setup a CoralTalk Instance

[code]
2. Initialize the instance (`/test/admin/install`)
3. Create a test page that is accessible under `https://ex

[2017-12-31 02:19] wyattjoh commented on #1241
This is related to this line here:

https://github.com/coralproject/talk/blob/0af8a3115477a96ea58761f669276a71f2cb1d1e/webpack.config.js#L39

We might be able to patch it without requiring a rebuild however.

[2018-01-02 16:36] meddy commented on #1168
Yeah, that would work.

[2018-01-02 16:49] meddy opened #1242 "Undefined object property access in cli-jobs."
### Expected behavior
The cleanup command in the cli-jobs bin script should clean up jobs that have been stuck.

### Actual behavior
[code]

### Steps to reproduce behavior
[code]

Glancing at the code, it looks like the problem is that this line:

https://github.com/coralproject/talk/blob/master/bin/cli-jobs#L59

Is incorrectly expecting the variable `kue` to be a reference to the Kue library exp

[2018-01-02 17:01] meddy commented on #1242
😞

This was fixed.

https://github.com/coralproject/talk/blame/0af8a3115477a96ea58761f669276a71f2cb1d1e/services/kue.js#L173

My bad!

[2018-01-02 17:01] #1242 closed, assigned to nobody

[2018-01-06 22:25] DHorse2 opened #1247 "Incorrect word (staging) in body of text."
https://coralproject.github.io/talk/commenter-features/

Note the following text:

Ban
When a commenter has been banned, they will see a message **at the top of their streams staging this.**

[2018-01-06 22:33] DHorse2 opened #1248 "The "suggest edits" button at the top of the page requires I fork the project."
Talk
[Commenter Features](https://coralproject.github.io/talk/commenter-features/)
Suggest Edits button

### Expected behavior
I expected to arrive at the issues page (here)

### Actual behavior
https://github.com/coralproject/talk/edit/master/docs/_docs/03-02-product-guide-commenter-features.md

You need to fork this repository to propose changes.
Sorry, you’re not able to edit this repository di

[2018-01-06 23:01] DHorse2 opened #1249 "Implementation staff are not creating issues/feature requests here. It's an issues issue."
### Expected behavior
The various feature requests found on the TI site implementation were not created here.

### Actual behavior
Andrew politely acknowledged the feedback. He probably made some notes. ;)

### Steps to reproduce behavior
You can observe the issue here:
The Intercept
[Comment Sections Are Essential for News Sites. We’re Making Changes to Improve Ours.](https://theintercept.com/201

[2018-01-08 01:54] DHorse2 opened #1250 "Add "responding to X" (user) when comment nesting is flattened or always add this info."
### Expected behavior
When I am reading a long thread of comments I need to know which commenter is being responded to. The conversation in the threads completely lose context.
### Actual behavior
Users on the TI site are now adding the specific person they are responding to at the top of their comment. When they remember.
### Steps to reproduce behavior
You can observe this on most any article.

[2018-01-08 02:40] DHorse2 opened #1251 "Replies (?count?) not showing for my posts in My Profile"
### Expected behavior
Showing if there are replies to posts is standard comments UI.
### Actual behavior

### Steps to reproduce behavior

[2018-01-08 02:54] DHorse2 opened #1252 "View Conversation button does not navigate to my post."
### Expected behavior
In the commenters user interface.
My Profile
My Comments
View Conversation button
Navigation should end with my comments showing
### Actual behavior
Navigation show the comment you replied to.
(This is good in that number of comments should be "loaded" and gives context.)
I must repeatedly click the "show more replies" button to locate my comment.
This would not be an issue e

[2018-01-08 03:02] DHorse2 opened #1253 "complaints re Show More Replies"
### Expected behavior
There have been a number of complaints about the need to be **constantly be clicking Show More Replies.**
### Actual behavior

### Steps to reproduce behavior
Many users on TI's site prefer to have all the comments loaded so that it is searchable.
As the design appears to be paging data to the browser the normal solution to this is:
1) Display more comments per browser load.

[2018-01-08 03:45] DHorse2 opened #1254 "Comment Flagging status Flag/Flagged/?Moderated?"
### Expected behavior
Once a moderator has actioned a flag it should show a change in status.
For example, having flagged my own post I would like to know it was seen by a moderator.
### Actual behavior
I suspect it (my flag action) remains permanently flagged so that I don't do it again by mistake.
### Steps to reproduce behavior
This would have to be tested by moderation staff.
Could I get a lin

[2018-01-08 16:28] kgardnr commented on #1247
Hi @DHorse2! Thanks for letting us know, it will be fixed in our next release.

Fixed in #1256.

[2018-01-08 16:33] kgardnr commented on #1248
Hey @DHorse2, you can submit a pull request directly on Github without having to fork the project, by:

1. Clicking Suggest Edits
2. Make the edits in the markdown file on your screen
3. Add a subject to explain the changes you're making (as well as any other useful information)
4. Click "Commit Changes"

Here's an example for you:

<img width="1025" alt="suggest_edits" src="https://user-images.gi

[2018-01-08 16:33] #1248 closed, assigned to nobody

[2018-01-08 16:36] kgardnr commented on #1249
Hi @DHorse2, thank you! We do collect feedback from all of our newsrooms and from their readers and commenters, but we don't necessarily log every single piece of feedback until we've had a discussion with the newsroom and with our team/product folks to determine what we will be acting on. We track work in progress, ideas, bugs and backlog items here: https://www.pivotaltracker.com/n/projects/1863

[2018-01-08 16:36] #1249 closed, assigned to nobody

[2018-01-08 16:41] kgardnr commented on #1254
Hey @DHorse2! So the behavior here is that once a comment is Reported, it shows as reported, you can see that here:

<img width="529" alt="reported" src="https://user-images.githubusercontent.com/1077300/34680998-86b6cffc-f468-11e7-94f4-30a57e448332.png">

A comment that is reported shows in the Reported queue for moderation.

<img width="1273" alt="reported_queue" src="https://user-images.githubu

[2018-01-08 16:41] #1254 closed, assigned to nobody

[2018-01-08 16:44] kgardnr commented on #1251
@DHorse2 this should be showing there, we show counts of Reactions and counts of Replies in My Profile:

<img width="538" alt="reply_count_my_profile" src="https://user-images.githubusercontent.com/1077300/34681261-54c01b6a-f469-11e7-8d48-af39228e6830.png">

Are you not seeing this on TI?

[2018-01-08 16:45] kgardnr commented on #1252
@DHorse2 yes - this is a known issue on TI that we discovered last week. We are working with TI to get this fixed.

[2018-01-08 16:49] kgardnr commented on #1253
Hey @DHorse2, thanks, yes we did hear this feedback too. It's a point that will be discussed with TI.

As it stands now, the reason we made that product decision was to help with load times on the browser and to aid in readability. But we can circle back on that and I can update you when we know.

[2018-01-08 16:53] kgardnr commented on #1254
Confirmed this is also working as expected on TI:

<img width="709" alt="reported_ti" src="https://user-images.githubusercontent.com/1077300/34681654-8d0493ba-f46a-11e7-9df2-c6cca5f37cda.png">

[2018-01-08 18:40] DHorse2 commented on #1251
Thanks @kgardnr. No I am not seeing this on TI and thought surely that would be an option in Talk.

Would I contact TI directly about this. It is their implementation options apparently.

[2018-01-08 18:48] kgardnr commented on #1251
Yes, don't worry, I'll talk to the TI team about this and report back @DHorse2!

[2018-01-08 18:49] kgardnr commented on #1252
@DHorse2 confirmed with the TI team that this will be fixed in the new upgrade which should come out this week! :) Thanks for reporting this.

[2018-01-08 18:50] #1252 closed, assigned to nobody

[2018-01-09 00:33] DHorse2 commented on #1251
Thank you. I am getting a better understanding of how you are working with TI and their launch. I will **spend some time in the Pivotal Tracker and hold off a bit on posting more issues.** I plan to lobby TI and Andrew to open up a topic on the Coral Site specific to their experience and community.  ;-)

[2018-01-09 16:49] #1247 closed, assigned to nobody

[2018-01-09 16:49] kgardnr commented on #1251
Awesome @DHorse2, sounds like a plan!

[2018-01-09 16:50] kgardnr commented on #1251
Also for this particular issue, I confirmed with their dev team that this will also be fixed in the new release this week :)

[2018-01-09 16:50] #1251 closed, assigned to nobody

[2018-01-10 14:59] jonwinton opened #1263 "Error Viewing User's Comments When Role Is Assigned To Staff"
### Expected behavior
Can view a user's comments whose role has been marked as `STAFF`.

### Actual behavior
Cannot view comments for user and the following error appears in the console (screenshot also attached).

[code]

![screen shot 2018-01-10 at 9 51 05 am](https://user-images.githubusercontent.com/4906712/34778680-0715dc22-f5ec-11e7-99c0-596a1ee14aa1.png)

### Steps to reproduce behavior
- M

[2018-01-10 15:03] jonwinton commented on #1263
Does a user need a `local` profile to have a newsroom role assigned?

[2018-01-10 22:32] Jetbo opened #1268 "How to handle redirects"
Story: As a client, I want to be able to generate streams with custom `asset_id` uuids or by a group of `asset_url`s in order to handle redirects.

Example:
An editor creates a page with a comment stream at `www.somedomain.com/coral-tak-is-cool` and notices there's a typo in the slug later.  The page already has comments and decent traffic, but they would prefer a better url for SEO.  They create

[2018-01-10 22:44] wyattjoh commented on #1268
You can handle this with a plugin that hooks into the graph which is what I've seen in the past as a great solution to this.

I'll update when I find that code 😄

[2018-01-11 21:30] kgardnr commented on #1263
Hey @jonwinton, I'm going to leave this bug as pending. We can't reproduce it on our end with 3.9.0.

With that said though, we are doing a huge refactor of user roles and statuses for 4.0.0, so if it is an issue, it will definitely be fixed in our upcoming release :)

Thank you for alerting us to this though!

[2018-01-12 01:13] kgardnr commented on #1233
Happy 2018 @rajeshraazi, just wanted to follow up on this with you!

[2018-01-12 01:14] kgardnr commented on #1114
Hey @souljacker, happy 2018! Were you able to get this working on your end?

[2018-01-12 01:15] kgardnr commented on #1032
This will be resolved here: https://github.com/coralproject/talk-importer-livefyre

[2018-01-12 01:15] #1032 closed, assigned to nobody

[2018-01-12 01:28] wyattjoh commented on #1268
Updates! We just open sourced a plugin for exactly this!

https://github.com/coralproject/talk-plugin-custom-asset-id

Let me know if that fits your needs 😄

[2018-01-12 09:48] rajeshraazi commented on #1233
@kgardnr  - Very happy new year 2018.
Here is our integration - https://talk.businessinsider.in and still looking the way to get all properties and events(login/user  info/register etc.) just outside the scope of that iframe.

As below line give us flexibility to access few object properties.
Coral.Talk.render(document.getElementById('coral_talk_61862106'), {talk: ''});

[2018-01-12 17:48] meddy opened #1282 "Race Condition Sending Messages To Comment Stream"
### Expected behavior
Calling the stream embed public methods, such as `embed.login(token)`, are handled as expected.

### Actual behavior
The bootstrap logic of the [coral embed app](https://github.com/coralproject/talk/blob/master/client/coral-embed-stream/src/index.js#L56) is asynchronous, and there isn't an obvious way to determine if the embed is ready to receive messages from the parent wind

[2018-01-12 17:52] Jetbo commented on #1268
Yup, this will work beautifully, thank you so much!

[2018-01-12 17:52] #1268 closed, assigned to nobody

[2018-01-12 21:15] wyattjoh commented on #1282
For the use case you're describing, you should instead use the `access_token` as an option on the

[code]
which will pass the access token to the embed on init. The `login()` method is designed to login the user _after_ the user has already rendered the stream.

[2018-01-12 23:43] DHorse2 opened #1285 "Is there an avatar button for the top of a page? Ie. with number of notifications/replies."
### Expected behavior
As a commenter, when I arrive on a Talk site I want my avatar showing at the top of the page.
### Actual behavior
?Does this exist as an option/embed?
### Steps to reproduce behavior
n/a

[2018-01-15 14:00] meddy commented on #1282
Thank you for that info @wyattjoh . That makes sense. Unfortunately for my situation we are using the talk-wp-plugin which controls and handles the render call automatically for articles. I will confer and see if we can figure out a way to make it so that can be handled manually when needed, so that we can pass in the authentication token like you mentioned.

[2018-01-15 14:00] #1282 closed, assigned to nobody

[2018-01-16 18:19] wyattjoh commented on #1285
We currently only offer avatar support through integration with an external authentication system. See our [Avatar Plugin Recipe](https://github.com/coralproject/talk-recipes/tree/master/plugins/avatar) for answers on how to support this.

We don't however show the avatar at the top as you indicated, but would show it beside the comments using that recipe.

[2018-01-16 18:19] #1285 closed, assigned to nobody

[2018-01-16 22:38] DHorse2 opened #1289 "How do [I] communicate to your staff?"
I got this post:
Wyatt Johnson <notifications@github.com>
Tue 2018-01-16, 2:02 PM
coralproject/talk;Subscribed;

What does this PR do?
When a reply is made against a comment that is not visible or has been deleted, the comment will be rejected.
**How do I test this PR?
Create a comment.
In another tab, reject that comment.
In the first tab, try replying to that comment.**
See the error!
Tracking:

[2018-01-16 23:30] losowsky commented on #1289
Hi David

What are you trying to do?

Thanks

Andrew

[2018-01-16 23:31] losowsky commented on #1289
If you got that message via email, it's probably because you clicked on 'subscribe' on the right hand side on an existing PR.

[2018-01-16 23:32] losowsky commented on #1289
(If you're trying to improve the Pivotal ticket, thanks for the heads up! We're on top of it.)

[2018-01-17 01:35] DHorse2 commented on #1289
Yes I was trying to improve/add a task (Id#153522862) . Could you see that above scenario I had a problem with gets covered. Many thanks.

[2018-01-17 01:35] #1289 closed, assigned to nobody

[2018-01-17 22:06] kgardnr commented on #1289
Hi @DHorse2! Just to let you know, we've accounted for your feedback in that story, it will be included in release 4.1.0, which will come out in a few weeks or so. Thank you for your input!

[2018-01-17 22:10] DHorse2 commented on #1289
Thanks Kim that's great. My post felt a little disruptive to me. I'm giving some thought to how to communicate (as a commenter) without interrupting a development team using Pivotal.

Twitter: https://twitter.com/DHorse1
Facebook: https://www.facebook.com/DHorse1
Gmail: mailto:dhorse2@gmail.com
Hotmail: mailto:david_horsman@hotmail.com
________________________________
From: Kim Gardner <notificati

[2018-01-17 22:14] kgardnr commented on #1289
No, it's great @DHorse2 we love to receive feedback and we're always using Github so that definitely works for us! We try to reply within a few days max, depending on the week :)

[2018-01-17 23:28] DHorse2 commented on #1289
Well that helps with my own task. Lol, excuse the tag. I'm working at #CommentsSoftwareEnhancement(s). As a #TechnologyEvaluator. So I will post again in the same fashion but only when it is relevant. Keep up the good work. 😊

Twitter: https://twitter.com/DHorse1
Facebook: https://www.facebook.com/DHorse1
Gmail: mailto:dhorse2@gmail.com
Hotmail: mailto:david_horsman@hotmail.com
___________________

[2018-01-17 23:31] kgardnr commented on #1289
Hahaha, thank you!

[2018-01-18 02:27] Jetbo opened #1295 "Users with username.status of "UNSET" cannot comment (4.0.0)"
### Expected behavior

Users that login with a non-local provider (like Facebook) get a value of "UNSET" under `user.status.username.status`.  User can run `CreateComment` mutation when logged in.
https://github.com/coralproject/talk/blob/93bda87ad061a2dc5eb8dc5b65a579a20efb76f7/services/users.js#L390-L402  Note this worked fine in 3.9.X

### Actual behavior

Users with "UNSET" cannot comment due

[2018-01-18 16:40] wyattjoh commented on #1295
This behavior is intentional. Users who signup using the Facebook provide must confirm or set their username before they are permitted to comment.

[2018-01-18 16:40] kgardnr commented on #1295
Hi @Jetbo, thanks for posting this!

To clarify, a user with an UNSET username is one who has signed up with Facebook but not yet set a username. Usernames are required in order to comment, and are the second part of the Facebook registration flow.

4.0.0 is a major refactor of how user statuses and abilities function, and this is a change that was made to better this part of Talk.

Let me know if

[2018-01-18 16:42] #1295 closed, assigned to nobody

[2018-01-18 17:44] kgardnr commented on #1263
Can you test this with 4.0.0 and let us know if you're still seeing this issue @jonwinton? Thank you!

[2018-01-18 18:32] jonwinton commented on #1263
👍 will do

[2018-01-21 21:44] DHorse2 commented on #1254
This is going to sound bizarre, but do my View Options include an alphabetical list?

[2018-01-23 14:00] leeeandroo opened #1304 "Login/Register with Facebook"
After some changes a few days ago ([commit reference](https://github.com/coralproject/talk/commit/8f1d9f051e306314d4c77c067b1879cd86c9dc12#diff-f6c0c59286f493f642ae6f4af30d49fc)), the functionality to register/login with Facebook does not work anymore.

### Expected behavior
I can click on Sign in with facebook/Sign up with Facebook and the system create/authenticate the user.

### Actual behavior

[2018-01-23 14:13] kgardnr commented on #1304
Hi Leandro! Are you running a version of master in production? We highly recommend using our releases instead.

That said, can you point us to the website this is happening on so we can try and reproduce? Thanks!

[2018-01-23 15:11] leeeandroo commented on #1304
Hi Kim,

You are right, I'm using the `latest` docker image. I've changed to the `4.0.0` and It works again.
Unfortunately I can't send to you the website because right now I'm running it locally.

This problem happens only on the master. If this is WIP, then you can ignore my issue. But the solution proposed code fix this, if you think It's a good way to solve it.

Thanks!

[2018-01-23 15:53] kgardnr commented on #1304
Yes please only use designated versions. Master should only be used for
development. Thanks!
On Tue, Jan 23, 2018 at 10:12 AM Leandro <notifications@github.com> wrote:

[2018-01-23 15:58] kgardnr commented on #1304
Also make sure you ran all the migrations and following the upgrade path
for 4.0.0. If you have it working locally I assume you did but just wanted
to check.
On Tue, Jan 23, 2018 at 10:53 AM Kim Gardner <kgardnr@gmail.com> wrote:

[2018-01-23 17:29] wyattjoh commented on #1304
Hey @leeeandroo, this is a confirmed bug. Will update when we have a fix.

[2018-01-23 21:39] wyattjoh commented on #1304
Hey @leeeandroo, I've created this PR https://github.com/coralproject/talk/pull/1305 that should resolve the issue. If you are able to test that it resolves the issue, we should be good :)

[2018-01-23 22:38] caeugusmao opened #1307 "External Plugins issue"
Hi,

I am trying to install an external client plugin in talks project. I tried to install my plugin from my internal repository and when I ran **./bin/cli plugins reconcile**, the follow error was returned:

[code]
After this, I tried other approach to install. I tried through "npm" passing my repository and it worked but when I loaded my page, I received a syntax error, caused by react syntax.

[2018-01-24 08:20] leeeandroo commented on #1304
Hi @wyattjoh, I can confirm it works!

Thanks,

[2018-01-24 17:18] #1304 closed, assigned to nobody

[2018-01-24 17:30] wyattjoh commented on #1307
Hi @caeugusmao!

I think you might have been caught by a few weird issues. The 404 is a common issue on yarnpkg.com unfortunately, so re-trying that process should help it out.

When specifying an external plugin, you should only need to include:

[code]

And it should load correctly when you run the cli tool.

[2018-01-26 01:37] jheasly opened #1314 "Slack integration users list command throws error, v4.0.0"
### Expected behavior
Return list of users in order to find or create a moderator user that can be used as the basis for the token
### Actual behavior
`./bin/cli users list` (and `cli-users list`) produces this error:
[code]
### Steps to reproduce behavior
At first step of Slack integration run `./bin/cli users list` (or `docker-compose run --rm talk cli users list`).

[2018-01-26 13:49] #1307 closed, assigned to nobody

[2018-01-26 19:18] #1021 closed, assigned to nobody

[2018-01-26 19:22] kgardnr commented on #1035
Hey @facuesr did you still want to work on this by chance? If so, make sure you go through the upgrade instructions for 4.0.0 https://coralproject.github.io/talk/migration/4/ - let us know if you need anything!

[2018-01-26 19:22] kgardnr commented on #1034
Hey @ppatel221! Did you still wanna look into this? If so, make sure you go through the upgrade instructions for 4.0.0 https://coralproject.github.io/talk/migration/4/ - let us know if you need anything!

[2018-01-26 19:25] kgardnr commented on #1051
@holmberd Did you still wanna look into this? If so, make sure you go through the upgrade instructions for 4.0.0 https://coralproject.github.io/talk/migration/4/ - let us know if you need anything!

[2018-01-26 19:34] kgardnr commented on #1026
Hey @AnneTheAgile and @sagarvd01 if either of you still wants to work on this, just make sure you follow the upgrade instructions for v4.0.0: https://coralproject.github.io/talk/migration/4/

[2018-01-26 19:34] #789 closed, assigned to nobody

[2018-01-26 19:34] #1028 closed, assigned to nobody

[2018-01-26 19:34] #1030 closed, assigned to nobody

[2018-01-26 19:34] #1033 closed, assigned to nobody

[2018-01-26 19:35] kgardnr commented on #1040
Hey @Goyapa if you still wants to work on this, just make sure you follow the upgrade instructions for v4.0.0: https://coralproject.github.io/talk/migration/4/

[2018-01-26 19:36] #1048 closed, assigned to nobody

[2018-01-26 19:36] kgardnr commented on #1049
Hey @AnneTheAgile! If you still wants to work on this, just make sure you follow the upgrade instructions for v4.0.0: https://coralproject.github.io/talk/migration/4/

[2018-01-26 19:37] kgardnr commented on #789
Hey @offensivepolitics this is fixed as of 4.0.0!

[2018-01-26 19:48] wyattjoh commented on #1314
This was fixed already, and should be released in 4.1.

[2018-01-26 19:48] #1314 closed, assigned to nobody

[2018-01-26 20:36] kgardnr commented on #994
@pdehaan I'm going to close this as currently on master, there are no vulnerabilities found, and our packages are up to date. Thank you!

[2018-01-26 20:36] #994 closed, assigned to nobody

[2018-01-26 20:38] kgardnr commented on #1229
Hi @gakhov, can you upgrade to the latest version (v4.0.0), and let us know if you're still experiencing this problem? The step by step upgrade instructions are here: https://coralproject.github.io/talk/migration/4/

[2018-01-26 20:39] kgardnr commented on #1114
Hi @souljacker can you upgrade to the latest version (v4.0.0), and let us know if you're still experiencing this problem? The step by step upgrade instructions are here: https://coralproject.github.io/talk/migration/4/

In the meantime, I will close this ticket but feel free to re-open it if you're still experiencing issues!

[2018-01-26 20:39] #1114 closed, assigned to nobody

[2018-01-26 20:41] kgardnr commented on #1233
Hey @rajeshraazi! Just wanted to share with you our latest version of v4.0.0 is released. The step by step upgrade instructions are here: https://coralproject.github.io/talk/migration/4/

Let us know if you have any issues! Happy to have you and your team on board!

[2018-01-26 20:41] #1233 closed, assigned to nobody

[2018-01-30 03:50] michaelfavia commented on #1229
Just started from scratch with docker-compose install and can confirm WS connects correctly FWIW.

[2018-01-30 22:32] #1229 closed, assigned to nobody

[2018-01-31 19:33] #1241 closed, assigned to nobody

[2018-02-01 22:23] Jetbo opened #1337 "External Usernames: Only Accepts Letters"
Hello, I was wondering why external logins only accept usernames with letters in them.  Anything else in the username gets trashed:

https://github.com/coralproject/talk/blob/86f4ae4b6da2eae020fa1d6b2a593eb0739df1bd/services/users.js#L387

https://github.com/coralproject/talk/blob/86f4ae4b6da2eae020fa1d6b2a593eb0739df1bd/services/users.js#L361-L363

Why does this just happen silently instead of re

[2018-02-01 22:59] wyattjoh commented on #1337
The function `findOrCreateExternalUser` was originally created for us to use with providers like Facebook + Google, and was not intended to integrate with external authentication systems. Facebook allows you to create a username, and this was to "cast" that username down.

If you are writing a plugin to handle your own auth system, or an importer to move external data into Talk you should instead

[2018-02-02 02:10] Jetbo commented on #1337
Is this moving to the Facebook plugin then?  Otherwise it's awfully confusing.

[2018-02-02 14:35] TBeijen opened #1340 "Probes / Health checks"
### Expected behavior

``/probes/liveness`` returning a 200 OK as long as the talk process runs and handles requests (so is not in crashed state without the process having terminated)

``/probes/readiness`` returning a 200 OK as long as the application operates correctly, meaning it can reach required components like redis and mongodb.

### Actual behavior

No dedicated health check uri, so resort

[2018-02-02 16:34] wyattjoh commented on #1340
You can hit the `/api/v1/` route to get the "current version" sent back to you.

[code]

Does that satisfy your requirements? It will respond when the application is alive and accepting requests as it will exit when the process cannot start.

[2018-02-02 16:35] wyattjoh commented on #1337
Fair point! We can move that code off to our `talk-plugin-facebook-auth`.

[2018-02-02 17:11] wyattjoh commented on #1337
As a recommendation as well, typically when external newsrooms integrate auth with their own internal usernames they store them in the metadata field, as the username field we use includes indexes on uniqueness which isn't always the same for all orgs.

[2018-02-02 17:33] Jetbo commented on #1337
Roger, thanks for the info!

[2018-02-02 17:33] #1337 closed, assigned to nobody

[2018-02-03 00:01] mattmontgomery opened #1342 "Yarn on Node v9.2.0 fails"
### Expected behavior

`yarn` installs properly

### Actual behavior

`yarn` fails to install properly, and the following error is produced:

[code]

### Steps to reproduce behavior

Attempt to run `yarn` with Node v9.2.0 installed.

[2018-02-03 21:01] #1342 closed, assigned to nobody

[2018-02-04 10:53] TBeijen commented on #1340
Yes, that would do for our current needs. It looks like a good monitoring endpoint.
We're not (yet) using Kubernetes so will cross that bridge when we get there.

So, I'd be ok with closing it. Would also be ok with keeping it open if there's other parties interested in probes following the Kubernetes pattern. But considering we're for now covered it won't be on the top of our priority list now.

[2018-02-05 16:31] wyattjoh commented on #1340
We're in the process of moving all our REST based API's over to GraphQL, which you can browse (in development) at: http://localhost:3000/api/v1/graph/iql

[2018-02-05 16:31] #1340 closed, assigned to nobody

[2018-02-06 06:31] KaivG opened #1347 "Permission error when deploying on AWS"
### Expected behavior
I tried deploying talk on AWS via docker and Beanstalk as well as from source, after running it successfully locally.

### Actual behavior
No matter what approach, I kept getting timeouts and failures, when trying to debug it seems to come down to a permission error:

$ ./bin/cli plugins reconcile --skip-remote
': No such file or directory

### Steps to reproduce behavior

-

[2018-02-06 20:38] wyattjoh commented on #1347
What version are you trying to deploy to EB?

[2018-02-07 09:43] KaivG commented on #1347
I tried with version v4.0.0. I noticed that it may be related to out of memory error that happens while webpack runs possibly because of a memory leak with postcss-loader v1.3.x that talk uses: https://github.com/webpack/webpack/issues/1914 It was apparently fixed in v2.x

I also noticed that AWS Elastic beanstalk by default spins up a t2.micro instance with 1GB of ram, which together with the mem

[2018-02-07 17:42] wyattjoh commented on #1347
Unfortunately, we can't control how much memory some of the build processes takes until it's patched upstream.

A possible solution is to avoid the issue entirely, by running a Docker container instead of the raw application itself. This seems like a guide to doing just that with EB:

https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.html

[2018-02-12 12:41] hellp opened #1357 "i18n framework should use English as a fallback for missing translations"
## Expected behavior

When a new version of Talk is released, containing new translatable strings (i.e. code using `t('foo.greeting')`), and these strings have entries in `en.yml` (e.g. `foo.greeting: Hello`), then using Talk in a different language for which the language files have not been completely updated, these new strings should appear as English in the UI.
## Actual behavior

Currently the

[2018-02-12 12:44] hellp commented on #1357
I'm putting this here for discussion. I haven't found the time to implement this yet. I assume that it could be done in a 30-50 lines change PR in i18n.js.

But first I wanted to hear if this is actually desired or if you even have considered switching to a more sophisticated translation framework. Personally I do not have experiences with i18n in the nodejs world. The current YAML-based solutions

[2018-02-12 20:36] #1035 closed, assigned to nobody

[2018-02-12 22:53] wyattjoh commented on #1357
We certainly have plans to use a more sophisticated framework in the future, just a matter of time :)

We've implemented your suggestion! https://github.com/coralproject/talk/pull/1359

[2018-02-13 02:42] #1357 closed, assigned to nobody

[2018-02-13 09:31] hellp commented on #1357
Wow, that was quick :) Looks like my 30+ lines guess was also a bit conservative. Thank you!

[2018-02-15 14:59] nikoferro commented on #1022
Hey, if this one is not taken, i would like to contribute to the project :)
Just to double check, does this means suppressing all logging on the client side (on production mode), or are there any logs that should still appear after the change and just hide warnings and errors?

[2018-02-16 04:58] tomasdev opened #1370 "Plugins: Missing up-to-date documentation?"
Hi!

I am trying to build a plugin for Talk, and I would like some settings to be set up in the admin. The talk-recipes and this repo don't have most of the options of plugins documented. But doing some reverse engineering and checking the old docs, I was able to use a Slot.

Stay with me, as I try to describe my issue. I have the following in my component:
[code]

Translations are good (thank Bel

[2018-02-16 17:54] wyattjoh commented on #1370
It's a known issue the lack of documentation around the plugin system. We will updated soon on how to fix what you're working on :)

[2018-02-16 20:01] kitwestneat opened #1372 "Add Google as a SSO provider"
As a Google user, I'd like to be able to create a Talk account using the Google SSO system.